.stack{
    &-apps{
        margin-bottom: 15px;
        @include transition(opacity 100ms ease-in-out);

        &:after{
            content: '';
            display: table;
            clear: both;
        }

        &.active{
            pointer-events: auto;
            opacity: 1;
        }

        span{
            font-size: 1.2rem;
            line-height: 60px;
            pointer-events: none;
            display: inline-block;
            vertical-align: middle;
        }
        
        svg{
            width: 30px;
            height: 30px;
            display: inline-block;
            vertical-align: middle;
            margin: 15px 15px 15px 0;

            use{
                stroke: $blackc;
                stroke-width: 0.6;
                fill: $transparent;
                @include transition(fill 100ms ease-in-out);
            }

            &.c{
                &-white{
                    use{
                        stroke: $white;
                    }
                }
                &-black{
                    use{
                        stroke: $blackc;
                    }
                }
                &-blue{
                    use{
                        stroke: $shiftBlue;
                    }
                }
                &-red{
                    use{
                        stroke: $pastelRed;
                    }
                }
                &-green{
                    use{
                        stroke: $shiftGreen;
                    }
                }
                &-yellow{
                    use{
                        stroke: $pastelYellow;
                    }
                }
            }
        }

        >div{
            white-space: nowrap;
            width: 33.33%;
            float: left;
            height: 60px;

            &.active,
            &:hover{
                svg{
                    &.c{
                        &-white{
                            use{
                                fill: $white;
                            }
                        }
                        &-black{
                            use{
                                fill: $blackc;
                            }
                        }
                        &-blue{
                            use{
                                fill: $shiftBlue;
                            }
                        }
                        &-red{
                            use{
                                fill: $pastelRed;
                            }
                        }
                        &-green{
                            use{
                                fill: $shiftGreen;
                            }
                        }
                        &-yellow{
                            use{
                                fill: $pastelYellow;
                            }
                        }
                    }
                }
            }
        }
    }
    
    &-tech{
        margin-bottom: 90px;
        width: 100%;
        height: 400px;
        position: relative;
        box-shadow: inset 0 0 0 1px #fff;
        overflow: hidden;

        .dummy{
            float: left;
        }

        .layers{
            position: absolute;
            top: 10px;
            right: 20px;

            .up{
                text-align: center;
                font-size: 0.9rem;
                display: block;
                height: 40px;
                width: 40px;
                line-height: 40px;
                position: absolute;
                left: 0;
                top: 30px;
                opacity: 0;
                pointer-events: none;
                white-space: nowrap;
                @include transition(top 100ms ease-in-out, opacity 100ms ease-in-out);

                &.active{
                    cursor: pointer;
                    opacity: 1;
                    pointer-events: auto;
                }

                &:active{
                    i{
                        @include transform(translateX(-5px) translateY(-5px));
                    }
                }

                i{
                    display: inline-block;
                    @include transition(transform 100ms ease-in-out);
                }
            }

            >div{
                cursor: pointer;
                background-color: $white;
                width: 40px;
                height: 40px;
                position: relative;
                opacity: 0;
                pointer-events: none;
                @include transform(rotateX(60deg) rotateZ(45deg));
                @include transition(opacity 100ms ease-in-out);

                &:after{
                    content: attr(data-depth);
                    text-align: center;
                    color: $brandGreen;
                    font-size: 0.8rem;
                    text-align: center;
                    width: 100%;
                    height: 1rem;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                +div{
                    height: 20px;
                    transform-origin: 50% 0;

                    &:before{
                        content: '';
                        width: 20px;
                        height: 40px;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-color: inherit;
                        z-index: -1;
                    }
                }

                @for $i from 2 through 10 {
                    &:nth-child(#{$i}){
                        top: ((-$i+1)*5)+px;

                        &.active{
                            ~.up{
                                top: 30px + ($i * 10px);
                            }
                        }
                    }
                }

                &.active{
                    opacity: 1;
                    pointer-events: auto;
                }

                &:hover{
                    opacity: 0.6;
                }
            }
        }
    }

    &-children{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        @include transition(opacity 100ms ease-in-out);

        >.parent{
            &[data-depth="1"]{
                height: 33.33%;

                &:nth-child(2){
                    padding: 0 0 0 1px;
                    margin: 0 0 0 -1px;
                }
                &:nth-child(3),
                &:nth-child(5){
                    padding: 1px 0 0 0;
                    margin: -1px 0 0 0;
                }
                &:nth-child(4),
                &:nth-child(6),
                &:nth-child(7){
                    padding: 1px 0 0 1px;
                    margin: -1px 0 0 -1px;
                }
            }

            >.stack-children{
                >.stack-block{
                    position: relative;
                    float: left;

                    >.label{
                        font-size: 0.35rem;
                        line-height: 0.4rem;
                        padding: 0 0.2rem;
                    }
                    
                    >.description{
                        font-size: 0.2rem;
                        line-height: 0.3rem;
                    }
                }
            }
            
            .description{
                opacity: 0;
                font-size: 0.8rem;
                line-height: 0.9rem;
                pointer-events: none;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0 0.6rem 0.5rem 0.6rem;
                @include transition(opacity 100ms ease-in-out, font-size 100ms ease-in-out, line-height 100ms ease-in-out);
            }
        }
    }

    &-block{
        position: absolute;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        @include transition(opacity 100ms ease-in-out, box-shadow 100ms ease-in-out, width 100ms ease-in-out, height 100ms ease-in-out, top 100ms ease-in-out, left 100ms ease-in-out, background-color 100ms ease-in-out);

        &[data-clickable="true"]{
            &:not(.active){
                cursor: pointer;
            }
        }

        .content{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            font-size: 0.2rem;
            opacity: 0.3;
            @include transition(font-size 100ms ease-in-out, opacity 100ms ease-in-out);

            .code{
                float: left;

                pre{
                    text-align: left;
                    display: inline-block;
                    vertical-align: middle;
                    font-family: 'Courier New', Courier, monospace;
                    white-space: pre-wrap;
                    color: $pastelYellow;

                    .light{
                        color: $pastelRed;
                    }

                    .white{
                        color: $white;
                    }
                }

                &-snippet{
                    height: 100%;
                    
                    >div{
                        box-sizing: border-box;
                        width: 50%;
                        height: 100%;
                        padding: 2.5%;
                        text-align: center;
                        white-space: nowrap;

                        &:before{
                            content: '';
                            display: inline-block;
                            height: 100%;
                            vertical-align: middle;
                        }
                    }

                    .notes{
                        float: right;

                        p{
                            width: 100%;
                            line-height: 0.4rem;
                            text-align: left;
                            display: inline-block;
                            vertical-align: middle;
                            white-space: normal;
                            @include transition(line-height 100ms ease-in-out);
                        }
                    }
                }
            }
        }

        &[data-colour="c-white"]{
            background-color: $white;
        }
        &[data-colour="c-black"]{
            background-color: $blackc;
        }
        &[data-colour="c-blue"]{
            background-color: $brandBlue;
        }
        &[data-colour="c-green"]{
            background-color: $brandGreen;
        }
        &[data-colour="c-red"]{
            background-color: $pastelRed;
        }
        &[data-colour="c-yellow"]{
            background-color: $pastelYellow;
        }

        &.active{
            box-shadow: inset 0 0 0 1px #fff;

            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
            position: absolute !important;
            float: none !important;

            >.content{
                font-size: 1rem;
                opacity: 1;

                .code-snippet{
                    .notes{
                        p{
                            line-height: 1.2rem;
                        }
                    }
                }
            }

            >.stack-children{
                opacity: 1;

                >.stack-block{
                    >.label{
                        font-size: 1rem;
                        line-height: 1.2rem;
                    }
                    >.description{
                        font-size: 0.8rem;
                        line-height: 0.9rem;
                    }

                    &[data-colour="c-white"]{
                        background-color: rgba($white, 0.3);
                    }
                    &[data-colour="c-black"]{
                        background-color: rgba($blackc, 0.3);
                    }
                    &[data-colour="c-blue"]{
                        background-color: rgba($brandBlue, 0.3);
                    }
                    &[data-colour="c-red"]{
                        background-color: rgba($pastelRed, 0.3);
                    }
                    &[data-colour="c-green"]{
                        background-color: rgba($brandGreen, 0.3);
                    }
                    &[data-colour="c-yellow"]{
                        background-color: rgba($pastelYellow, 0.3);
                    }
                }
            }

            >.label{
                opacity: 0;
            }
            >.description{
                opacity: 0;
            }

            >.stack-children{
                >.stack-block{
                    &:not(.active){
                        &:hover{
                            box-shadow: inset 0 0 0 1px #fff;
                            
                            >.description{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        &.inactive{
            opacity: 0;
            pointer-events: none;
        }

        >.label{
            pointer-events: none;
            text-align: center;
            height: 100%;
            font-size: 1rem;
            line-height: 1.2rem;
            padding: 0 0.5rem;
            @include transition(opacity 100ms ease-in-out, font-size 100ms ease-in-out, line-height 100ms ease-in-out);

            &:before{
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
            span{
                display: inline-block;
                vertical-align: middle;
                width: 100%;
            }
        }
        
        &[data-name="mindmaps-main"]{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            >.label{
                font-size: 2rem;
            }

            >.stack-children{
                [data-name="knowledge-graph-api"]{
                    top: 0;
                    left: 0;
                    width: 100%;

                    .stack-children{
                        .stack-block{
                            height: 50%;

                            &:nth-child(-n+5){
                                width: 20%;
                            }
                            &:nth-child(n+6){
                                width: 25%;
                            }
                            &:nth-child(-n+5){
                                &:not(:nth-child(1)){
                                    padding: 0 0 0 1px;
                                    margin: 0 0 0 -1px;
                                }
                            }
                            &:nth-child(n+6){
                                padding: 1px 0 0 0;
                                margin: -1px 0 0 0;
                                
                                &:not(:nth-child(6)){
                                    padding: 1px 0 0 1px;
                                    margin: -1px 0 0 -1px;
                                }
                            }
                        }
                    }
                }

                [data-name="graph-user-interface"]{
                    top: 33.33%;
                    left: 0;
                    width: 60%;

                    .stack-children{
                        .stack-block{
                            height: 50%;
                            width: 25%;

                            &:nth-child(-n+4){
                                &:not(:nth-child(1)){
                                    padding: 0 0 0 1px;
                                    margin: 0 0 0 -1px;
                                }
                            }
                            &:nth-child(n+5){
                                padding: 1px 0 0 0;
                                margin: -1px 0 0 0;
                                
                                &:not(:nth-child(5)){
                                    padding: 1px 0 0 1px;
                                    margin: -1px 0 0 -1px;
                                }
                            }
                        }
                    }
                }
                [data-name="migration"]{
                    top: 33.33%;
                    left: 60%;
                    width: 40%;

                    .stack-children{
                        .stack-block{
                            height: 100%;
                            width: 50%;

                            &:nth-child(2){
                                padding: 0 0 0 1px;
                                margin: 0 0 0 -1px;
                            }
                        }
                    }
                }

                [data-name="graph-query-language"]{
                    top: 66.66%;
                    left: 0;
                    width: 30%;

                    .stack-children{
                        .stack-block{
                            height: 50%;

                            &:nth-child(-n+3){
                                width: 33.33%;
                            }
                            &:nth-child(n+4){
                                width: 50%;
                            }
                            &:nth-child(-n+3){
                                &:not(:nth-child(1)){
                                    padding: 0 0 0 1px;
                                    margin: 0 0 0 -1px;

                                    &:nth-child(3){
                                        padding: 0 1px;
                                        margin: 0 -1px;
                                    }
                                }
                            }
                            &:nth-child(n+4){
                                padding: 1px 0 0 0;
                                margin: -1px 0 0 0;
                                
                                &:not(:nth-child(4)){
                                    padding: 1px 0 0 1px;
                                    margin: -1px 0 0 -1px;
                                }
                            }
                        }
                    }
                }
                [data-name="automated-reasoner"]{
                    top: 66.66%;
                    left: 30%;
                    width: 35%;

                    .stack-children{
                        .stack-block{
                            height: 100%;
                            width: 50%;

                            &:nth-child(2){
                                padding: 0 0 0 1px;
                                margin: 0 0 0 -1px;
                            }
                        }
                    }
                }
                [data-name="graph-analytics"]{
                    top: 66.66%;
                    left: 65%;
                    width: 35%;

                    .stack-children{
                        .stack-block{
                            height: 50%;
                            width: 50%;

                            &:nth-child(-n+2){
                                &:not(:nth-child(1)){
                                    padding: 0 0 0 1px;
                                    margin: 0 0 0 -1px;
                                }
                            }
                            &:nth-child(n+3){
                                padding: 1px 0 0 0;
                                margin: -1px 0 0 0;
                                
                                &:not(:nth-child(3)){
                                    padding: 1px 0 0 1px;
                                    margin: -1px 0 0 -1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen
    and (max-width: 339px) {
    
    .stack{
        
        &-apps{
            
            span{
                font-size: 0.9rem;
                line-height: 30px;
            }
            
            svg{
                width: 20px;
                height: 20px;
                margin: 5px 5px 5px 0;

                use{
                    stroke-width: 0.9;
                }
            }

            >div{
                width: 100%;
                float: none;
                height: 30px;
            }
        }

        &-tech{
            margin-bottom: 15px;
            height: 240px;

            .layers{
                top: 0;
                right: 0;
                
                >div{
                    display: none;
                }

                .up{
                    font-size: 0.7rem;
                    position: relative;
                    top: 0 !important;
                }
            }
        }

        &-block{
            &.active{
                >.content{
                    font-size: 0.5rem;

                    .code-snippet{
                        .notes{
                            p{
                                line-height: 0.7rem;
                            }
                        }
                    }
                }
                
                >.stack-children{
                    >.stack-block{
                        >.label{
                            font-size: 0.8rem;
                            line-height: 0.9rem;
                        }
                        >.description{
                            font-size: 0.6rem;
                            line-height: 0.65rem;
                        }

                        &:hover{
                            >.label{
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen
    and (min-width: 340px)
    and (max-width: 559px) {
    
    .stack{
        
        &-apps{
            
            span{
                font-size: 1rem;
                line-height: 30px;
            }
            
            svg{
                width: 20px;
                height: 20px;
                margin: 5px 5px 5px 0;

                use{
                    stroke-width: 0.9;
                }
            }

            >div{
                width: 100%;
                float: none;
                height: 30px;
            }
        }

        &-tech{
            margin-bottom: 30px;
            height: 320px;

            .layers{
                top: 0;
                right: 0;
                
                >div{
                    display: none;
                }

                .up{
                    font-size: 0.8rem;
                    position: relative;
                    top: 0 !important;
                }
            }
        }

        &-block{
            &.active{
                >.content{
                    font-size: 0.7rem;

                    .code-snippet{
                        .notes{
                            p{
                                line-height: 0.9rem;
                            }
                        }
                    }
                }
                
                >.stack-children{
                    >.stack-block{
                        >.label{
                            font-size: 0.9rem;
                            line-height: 1rem;
                        }
                        >.description{
                            font-size: 0.7rem;
                            line-height: 0.75rem;
                        }

                        &:hover{
                            >.label{
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen
    and (min-width: 560px)
    and (max-width: 719px) {
    
    .stack{
        
        &-apps{
            
            span{
                font-size: 0.9rem;
                line-height: 40px;
            }
            
            svg{
                width: 24px;
                height: 24px;
                margin: 8px 5px 8px 0;

                use{
                    stroke-width: 0.9;
                }
            }

            >div{
                width: 50%;
                height: 40px;
            }
        }

        &-tech{
            margin-bottom: 60px;
            height: 380px;
        }

        &-block{
            &.active{
                >.content{
                    font-size: 0.8rem;

                    .code-snippet{
                        .notes{
                            p{
                                line-height: 0.95rem;
                            }
                        }
                    }
                }
                
                >.stack-children{
                    >.stack-block{
                        >.label{
                            font-size: 0.8rem;
                            line-height: 0.9rem;
                        }
                        >.description{
                            font-size: 0.8rem;
                            line-height: 0.85rem;
                        }

                        &:hover{
                            >.label{
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen
    and (min-width: 720px)
    and (max-width: 999px) {
    
    .stack{
        
        &-apps{
            
            span{
                font-size: 1.1rem;
                line-height: 60px;
            }
            
            svg{
                width: 28px;
                height: 28px;
                margin: 16px 10px 16px 0;

                use{
                    stroke-width: 0.7;
                }
            }

            >div{
                width: 50%;
                height: 60px;
            }
        }

        &-tech{
            margin-bottom: 90px;
            height: 420px;
        }

        &-block{
            &.active{
                >.content{
                    font-size: 1rem;

                    .code-snippet{
                        .notes{
                            p{
                                line-height: 1.2rem;
                            }
                        }
                    }
                }
                
                >.stack-children{
                    >.stack-block{
                        >.label{
                            font-size: 0.9rem;
                            line-height: 1rem;
                        }
                        >.description{
                            font-size: 0.9rem;
                            line-height: 1rem;
                        }

                        &:hover{
                            >.label{
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen
    and (min-width: 1000px)
    and (max-width: 1319px) {
    
    .stack{
        
        &-apps{
            
            span{
                font-size: 1rem;
                line-height: 60px;
            }
            
            svg{
                width: 28px;
                height: 28px;
                margin: 16px 10px 16px 0;

                use{
                    stroke-width: 0.7;
                }
            }

            >div{
                width: 33.33%;
                height: 60px;
            }
        }

        &-tech{
            margin-bottom: 90px;
            height: 420px;
        }

        &-block{
            &.active{
                >.stack-children{
                    >.stack-block{
                        >.description{
                            font-size: 0.9rem;
                            line-height: 1rem;
                        }

                        &:hover{
                            >.label{
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen
    and (min-width: 1320px) {
    
    .stack{
        
        &-apps{
            
            span{
                font-size: 1.1rem;
                line-height: 60px;
            }
            
            svg{
                width: 30px;
                height: 30px;
                margin: 15px 10px 15px 0;

                use{
                    stroke-width: 0.7;
                }
            }

            >div{
                width: 33.33%;
                height: 60px;
            }
        }

        &-tech{
            margin-bottom: 90px;
            height: 460px;
        }

        &-block{
            &.active{
                >.stack-children{
                    >.stack-block{
                        >.description{
                            font-size: 1rem;
                            line-height: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen
    and (min-width: 1600px) {
    
    .stack{
        
        &-apps{
            
            span{
                font-size: 1rem;
                line-height: 60px;
            }
            
            svg{
                width: 32px;
                height: 32px;
                margin: 14px 10px 14px 0;

                use{
                    stroke-width: 0.7;
                }
            }

            >div{
                width: 33.33%;
                height: 60px;
            }
        }

        &-tech{
            margin-bottom: 90px;
            height: 520px;
        }

        &-block{
            &.active{
                >.stack-children{
                    >.stack-block{
                        >.description{
                            font-size: 0.8rem;
                            line-height: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}