$white: #ffffff;
$lightGray: #f1f2f2;
$gray425C: #54585a;
$gray4c: #bbbcbc;
$blackc: #040000;
$transparent: rgba(0,0,0,0);
$brandBlue: #5bc2e7;
$brandGreen: #a1d884;
$yellow: #ffff00;
$pastelYellow: #fffccc;
$pastelBlue: #d5d6e9;
$pastelRed: #ff7878;
$pastelGreen: #77dd77;
$shiftGreen: #ffed00;
$shiftBlue: #009fe3;