@import "../../styles/colors";
@import "../../styles/sizes";

a {
    display: flex;
    height: 48px;
    width: 202px;
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius;
    justify-content: center;
    align-items: center;
    font-size: $font-size-xs;
    font-weight: 600;
    line-height: $line-height-xs;
    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.primary {
        border-color: transparent;
        background: $color-green;
        color: $color-purple;

        &:hover, &:focus {
            background-color: #0B939F;
        }
    }

    &.secondary {
        border-color: $color-green;
        background: transparent;
        color: $color-green;

        &:hover, &:focus {
            background-color: $color-green;
            color: $color-purple;
        }
    }
}
