<td-tooltip
  *ngIf="button.comingSoon && !noComingSoonTooltip"
  text="Coming soon!"
  [visible]="comingSoonPopupVisible"
></td-tooltip>

<a
  tabindex="0"
  class="text-p2"
  [ngClass]="rootNgClass"
  [attr.role]="isDisabled ? 'button' : undefined"
  [attr.aria-disabled]="isDisabled || undefined"
  [tdLink]="linkButton && !linkButton.comingSoon ? linkButton.link : undefined"
  (click)="button.onClick ? button.onClick() : undefined"
  [download]="linkButton?.download ? linkButton!.download!.filename || '' : undefined"
  [ngStyle]="{ width: buttonWidth }"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)"
>
  {{ button.text }}
</a>
