@import "../../styles/colors";
@import "../../styles/sizes";

:host {
    position: relative;
}

a {
    display: flex;
    height: 48px;
    width: 202px;
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius;
    justify-content: center;
    align-items: center;
    font-size: $font-size-xs;
    font-weight: $font-weight-semi-bold;
    line-height: $line-height-xs;
    transition-property: background-color, border, box-shadow, opacity;
    transition-duration: 100ms;
    transition-timing-function: ease;

    &.bt-disabled {
        opacity: 50%;
        cursor: default;
    }

    &.primary {
        border-color: transparent;
        background: $color-vaticle-green;
        color: $color-vaticle-purple;

        &:hover:not(.bt-disabled) {
            box-shadow: 0 3px 26px 0 rgba($color-vaticle-green, .4);
        }

        &:active:not(.bt-disabled) {
            background-color: rgb((2 + 26) / 2, (218 + 24) / 2, (201 + 42) / 2); // = lerp(green, purple, .5)
        }
    }

    &.secondary {
        border-color: $color-vaticle-green;
        background: transparent;
        color: $color-vaticle-green;

        &:hover:not(.bt-disabled) {
            background-color: $color-vaticle-green;
            color: $color-vaticle-purple;
        }
    }

    &.bt-size-s {
        height: 40px;
    }
}
