@if (data.title) {
  <td-heading-with-highlights level="h3" [value]="data.title" />
}

@for (row of data.rows; track row) {
  <div class="fg-grid-row" [class]="'grid-row-size-' + row.cells.length">
    @for (feature of row.cells; track feature) {
      @let layout = getEffectiveLayoutDirection(feature, row);
      <div class="fg-grid-item card-padding" [class.fg-layout-row]="layout === 'row'" [class.fg-layout-column]="layout === 'column'">
        <div class="fg-grid-item-text">
          @if (feature.title) {
            <div class="fg-feature-title-section">
              <h4 class="text-h3">{{ feature.title }}</h4>
              <div class="flex"></div>
              <td-tag-chips [tags]="feature.tags" [sectionId]="sectionId" />
            </div>
          }
          @if (feature.body) {
            <td-rich-text [value]="feature.body" />
          }
          @if (feature.links?.length) {
            <div class="fg-links-section">
              @for (link of feature.links; track link) {
                <a class="link-tertiary" [tdLink]="link" [attr.id]="linkId(feature, link)">{{ link.text }}</a>
              }
            </div>
          }
        </div>
        @if (hasGraphVizIllustration(feature)) {
          <td-aspect-ratio ratio="16:9">
            <td-illustration [illustration]="$any(feature.illustration)" [isBlurred]="feature.isIllustrationBlurred" />
          </td-aspect-ratio>
        }
        @if (hasMediaIllustration(feature)) {
<!--          <td-aspect-ratio [ratio]="row.cells.length > 3 ? '1:1' : '16:9'">-->
            <td-illustration class="fg-media" [illustration]="$any(feature.illustration)" [isBlurred]="feature.isIllustrationBlurred" />
<!--          </td-aspect-ratio>-->
        }
        @if (hasShortCodeSnippet(feature)) {
          <div class="fg-code-short-container">
            <div
              class="fg-code-short"
              [class.fg-blur]="feature.isIllustrationBlurred"
              tdSyntaxHighlight
              [language]="$any(feature.illustration).language"
              [code]="$any(feature.illustration).code"
            ></div>
            @if (!feature.isIllustrationBlurred) {
              <button
                class="fg-copy-button"
                title="Copy to clipboard"
                (click)="writeToClipboard($event, $any(feature.illustration).code)"
              >
                <div class="fg-copy-icon"></div>
                <span class="fg-copy-toast">Copied!</span>
              </button>
            }
          </div>
        }
        @if (hasCodeSnippetIllustration(feature)) {
          <td-illustration
            class="fg-code-snippet fg-code-snippet-short"
            [illustration]="$any(feature.illustration)"
            [isBlurred]="feature.isIllustrationBlurred"
          />
        }
      </div>
    }
  </div>
}

@if (illustration) {
  <div class="fg-illustration-row card-padding">
    <td-illustration [illustration]="illustration" />
  </div>
}
