<!-- TODO: remove 3.0 roadmap handling once 3.0 is out -->
@for (tag of tags; track tag) {
  @if (tag === '3.0 Roadmap') {
    <aside [style.background]="getTagColor(tag).bg" [style.color]="getTagColor(tag).text">
      <a href="/blog/typedb-3-roadmap" routerLink="/blog/typedb-3-roadmap" [attr.id]="chipId(tag)" [style.color]="getTagColor(tag).text">{{ tag }}</a>
    </aside>
  } @else {
    <aside [style.background]="getTagColor(tag).bg" [style.color]="getTagColor(tag).text">{{ tag }}</aside>
  }
}
