@use "shapes";

td-tag-chips {
    display: flex;
    flex-direction: row;
    gap: 8px;

    aside {
        padding: 2px 8px;
        border: shapes.$border;
        border-radius: var(--border-radius);
        white-space: nowrap;

        &, a, a:visited {
            font-weight: var(--font-weight-light);
            text-decoration: none;
        }
    }
}
