@use "shapes";

:host {
    display: flex;
    flex-direction: row;
    gap: 8px;

    aside {
        padding: 2px 8px;
        background: var(--color-purple);
        border: shapes.$border;
        border-radius: var(--border-radius);

        &, a, a:visited {
            color: var(--color-secondary-pink);
            font-weight: var(--font-weight-light);
        }
    }
}
