:host {
    width: 100%;
    min-height: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 144px;
    font-weight: 600;
}

p {
    font-size: 40px;
    line-height: 54px;
}
