<ng-container [ngSwitch]="!!person.linkedInURL">
  <a *ngSwitchCase="true" [href]="person.linkedInURL" target="_blank" class="pi-speaker">
    <ng-container *ngTemplateOutlet="content" />
  </a>
  <div *ngSwitchCase="false" class="pi-speaker">
    <ng-container *ngTemplateOutlet="content" />
  </div>
</ng-container>

<ng-template #content>
  <div class="pi-speaker-image-container">
    <img [src]="getPersonImage(person)" alt="" />
    <div class="pi-speaker-image-cover">
      <mat-icon svgIcon="linkedin" />
    </div>
  </div>
  <div>
    <h3 class="text-18-26 text-12-18-mobile">
      {{ person.name }}
    </h3>
    <p class="text-14-21 text-10-12-mobile text-quiet">{{ person.jobTitle }},<br />{{ person.organisation.name }}</p>
  </div>
</ng-template>
