<ng-container [ngSwitch]="displayAsLink">
  <a *ngSwitchCase="true" [href]="person.linkedInURL" target="_blank" class="pi-person">
    <ng-container *ngTemplateOutlet="content" />
  </a>
  <div *ngSwitchCase="false" class="pi-person">
    <ng-container *ngTemplateOutlet="content" />
  </div>
</ng-container>

<ng-template #content>
  <div class="pi-person-image-container">
    <img [src]="getPersonImage(person)" alt="" />
    <div class="pi-person-image-cover">
      <mat-icon svgIcon="linkedin" />
    </div>
  </div>
  <div class="pi-person-text">
    <p class="pi-person-name">
      <strong>{{ person.name }}</strong>
    </p>
    <aside class="pi-person-details">
      {{ person.jobTitle }},<br *ngIf="variant === 'event'" />
      {{ person.organisation.name }}
    </aside>
  </div>
</ng-template>
