@import "colors";
@import "sizes";

.pi-speaker {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    @media (max-width: $media-max-width-mobile) {
        gap: 8px;
    }

    img {
        display: block;
        width: 88px;
        height: 88px;

        @media (max-width: $media-max-width-mobile) {
            width: 54px;
            height: 54px;
        }
    }
}

@media (hover: hover) {
    a.pi-speaker {
        .pi-speaker-image-container {
            position: relative;
        }

        .pi-speaker-image-cover {
            position: absolute;
            inset: 0;
            opacity: 0;
            background: rgba($color-black-purple, 0.4);
            color: var(--color-white);
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
        }

        &:hover {
            color: var(--color-green);

            .pi-speaker-image-container {
                border-color: var(--color-green);
            }

            .pi-speaker-image-cover {
                opacity: 1;
            }

            .pi-person-name {
                color: inherit;
            }
        }
    }
}

.pi-speaker-image-container {
    flex-shrink: 0;
    border: 1px solid var(--content-border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.pi-speaker-image-cover {
    display: none;
}

.pi-person-name {
    color: var(--color-white);
}

@media (max-width: $media-max-width-tablet) {
    a.pi-speaker {
        color: var(--color-green);

        .pi-person-name {
            color: inherit;
        }
    }
}
