@import "colors";
@import "sizes";

.gv-root {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-primary-black-purple);
    z-index: 25;
    border-radius: var(--border-radius);
}
