<article tdPageBackground nebula="features" planet="yellow_green">
  <div *ngIf="page" class="article-content">
    <div class="section">
      <td-title-body-actions-section
        [isIntroSection]="true"
        [title]="page.introSection.title"
        [body]="page.introSection.body"
      />
      <div class="card subsection-margin wp-primary-webinar">
        <div *ngIf="!primaryWebinar" class="wp-primary-placeholder"></div>
        <ng-container *ngIf="primaryWebinar">
          <td-aspect-ratio ratio="16:9">
            <img [src]="primaryWebinar.imageURL" class="wp-img wp-img-primary" alt="" />
          </td-aspect-ratio>
          <div class="wp-primary-webinar-summary">
            <h3 class="wp-webinar-title-container">
              <span class="wp-webinar-title">{{ primaryWebinar.title | plainText }}</span>
              <span class="wp-title-separator">|</span>
              <span *ngIf="primaryWebinar.isFinished()">On-Demand</span>
              <time *ngIf="!primaryWebinar.isFinished()" [dateTime]="primaryWebinar.datetime.toISOString()">
                {{ primaryWebinar.datetime | ordinalDate }}
              </time>
            </h3>
            <div class="wp-webinar-text-container">
              <td-rich-text class="wp-webinar-description" [value]="primaryWebinar.description" />
              <td-button [button]="primaryWebinar.registrationButton()" />
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="page.featuredWebinarsSection && secondaryWebinars && secondaryWebinars.length">
      <td-technicolor-block [block]="page.featuredWebinarsSection" [index]="1" [noUpperLine]="true" />
      <td-webinar-panels [webinars]="secondaryWebinars" />
    </ng-container>
    <ng-container *ngIf="page.exploreWebinarsSection">
      <td-technicolor-block [block]="page.exploreWebinarsSection" [index]="2" />
      <section class="card-appearance">
        <ul class="wp-webinar-list">
          <li *ngFor="let webinar of allWebinars" class="wp-webinar-list-item">
            <div class="wp-img-tertiary-container">
              <td-aspect-ratio ratio="16:9" class="wp-img-tertiary">
                <img [src]="webinar.imageURL" class="wp-img" alt="" />
              </td-aspect-ratio>
              <h3 class="wp-webinar-title hide-gt-mobile">{{ webinar.title | plainText }}</h3>
            </div>
            <div class="wp-webinar-text">
              <h3 class="wp-webinar-title hide-mobile">{{ webinar.title | plainText }}</h3>
              <p class="wp-speaker">
                <span *ngFor="let speaker of webinar.speakers">
                  <span class="text-important">{{ speaker.name }}, </span>{{ speaker.jobDescription() }}
                </span>
              </p>
              <aside class="wp-timing">
                <span class="wp-webinar-datetime">
                  <mat-icon svgIcon="calendar" />
                  <span class="cdk-visually-hidden">Date/Time:</span>
                  <ng-container *ngIf="webinar.isFinished()">On-Demand</ng-container>
                  <ng-container *ngIf="!webinar.isFinished()">
                    <time [dateTime]="webinar.datetime.toISOString()">
                      {{ webinar.datetime | ordinalDate }},
                      {{ webinar.datetime | date: "shortTime" }}
                      {{ localTimezoneAbbreviation(webinar) }}
                    </time>
                  </ng-container>
                </span>
                <span>
                  <mat-icon svgIcon="time" />
                  <span class="cdk-visually-hidden">Duration:</span>
                  {{ webinar.durationMins | eventDuration }}
                </span>
              </aside>
            </div>
            <div class="hide-mobile flex"></div>
            <td-button [button]="webinar.registrationButton()" buttonWidth="100%" size="small"></td-button>
          </li>
        </ul>
      </section>
    </ng-container>
  </div>
</article>
