.community {
  padding-top: $navHeight;
 
  &__splash {
    height: 400px;
    background-image: linear-gradient(91deg, #4d5575, #36405a);
    &__container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      background-image: url('/assets/img/graknmap.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      > span {
        display: block;
        font-size: 42px;
        text-align: center;
        color: white;
        @media screen and (max-width: $smallScreen) {
          font-size: 32px;
        }
      }
    }
  }
  &__content {
    padding: 50px 0;
    &__header {
      display: block;      
      text-align: center;
      font-size: 32px;
      padding-bottom: 30px;
      @media screen and (max-width: $smallScreen) {
        font-size: 24px;
      }
    }
    &__form {
      text-align: center;
      padding-bottom: 1rem;
      > span {
        font-size: 18px;
        display: block;
        padding-bottom: 0.8rem;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
        }
      }
      > input,
      > button {
        display: inline-block;
        vertical-align: middle;
        height: 2rem;
        margin-bottom: 1rem;

      }
      > input {
        min-width: 200px;
        margin-right: 1rem;
        outline: none;
        border: 1px solid $borderColor;
        padding: 0 0.5rem;
        font-size: 0.8rem;
        height: 34px;
      }
      > button {
        font-size: 1rem;
        min-width: 120px;
        height: 38px;
        border: none;
        border-radius: 5px;
      }
    }
    &__links {
      padding: 30px 0;
      &__col:nth-child(1) {
        width: 60%;
        margin-right: 10%;
        @media screen and (max-width: $smallScreen) {
          margin-right: 0;
          width: 100%;
        }
      }
      &__col:nth-child(2) {
        width: 30%;
        @media screen and (max-width: $smallScreen) {
          width: 100% !important;
        }
      }
      &__col {
        display: inline-block;
        vertical-align: top;
        @media screen and (max-width: $smallScreen) {
          display: block;
        }
        &__item {
          padding-bottom: 2.5rem;
          > span {
            display: block;
            font-size: 16px;
            @media screen and (max-width: $smallScreen) {
              font-size: 14px;
            }
            > a {
              color: $textPurple;              
            }
          }
          &__header {
            font-size: 24px !important;
            padding-bottom: 1rem;
            @media screen and (max-width: $smallScreen) {
              font-size: 20px !important;;
            }
          }
        }
      }
    }
  }
}