.community {
  padding-top: $navHeight;

  &__splash {
    height: 450px;
    background-image: url('/assets/svg/community-splash.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    @media screen and (max-width: $smallScreen) {
      background-position: 10% center;
      height: 300px;
    }
    &__container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start;
      position: relative;
      > h1 {
        display: block;
        font-size: 42px;
        text-align: left;
        color: white;
        width: 50%;
        line-height: 1.5;
        font-weight: 300;
        > strong {
          font-weight: 600;
        }
        @media screen and (max-width: $smallScreen) {
          font-size: 24px;
          width: 100%;
          text-align: center;
        }
      }

    }
    &__form {
      text-align: center;
      padding-bottom: 1rem;
      position: absolute;
      right: 0;
      bottom: -350px;
      width: 45%;
      right: 0;
      background-color: #f5f7fb;
      z-index: 1;
      border: solid 1px #e6e8f4;
      padding: 50px;
      box-sizing: border-box;
      border-radius: 6px;
      @media screen and (max-width: $smallScreen) {
        bottom: -540px;
        width: 100%;
      }
      @media screen and (max-width: $extraSmallScreen) {
        bottom: -580px;
      }
      &__header {
        font-size: 28px;
        display: block;
        color: $textCharcoal;
        padding-bottom: 1rem;
        font-weight: 600;
        @media screen and (max-width: $smallScreen) {
          font-size: 20px;
        }
      }
      &__tag {
        font-size: 18px;
        display: block;
        padding-bottom: 30px;
        color: $textLight;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
        }
      }
      > input,
      > button {
        display: block;
        height: 50px;
        margin-bottom: 1rem;
        width: 100%;
        box-sizing: border-box;
        border: solid 1px #dde1ed;
        border-radius: 6px;
      }
      > input {
        outline: none;
        padding: 0 0.5rem;
        font-size: 0.8rem;
        margin-bottom: 30px;
      }
      > button {
        margin-top: 50px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        margin-bottom: 0;
      }
    }
  }
  &__content {
    padding: 90px 0;
    @media screen and (max-width: $smallScreen) {
      padding-top: 590px;
    }
    @media screen and (max-width: $extraSmallScreen) {
      padding-top: 630px;
    }
    &__links {
      &__col:nth-child(1) {
        width: 50%;
        @media screen and (max-width: $smallScreen) {
          margin-right: 0;
          width: 100%;
        }
      }
      &__col {
        display: inline-block;
        vertical-align: top;
        @media screen and (max-width: $smallScreen) {
          display: block;
        }
        &__item {
          padding-bottom: 2.5rem;
          > span {
            display: block;
            font-size: 16px;
            width: 90%;
            color: $textLight;
            font-weight: 400;
            line-height: 1.8;
            @media screen and (max-width: $smallScreen) {
              font-size: 14px;
              width: 100%;
            }
            > a {
              color: $textPurple;
            }
          }
          &__header {
            font-size: 22px !important;
            padding-bottom: 1rem;
            color: $textCharcoal !important;
            font-weight: 600 !important;
            width: 100% !important;
            @media screen and (max-width: $smallScreen) {
              font-size: 20px !important;;
            }
            > img {
              display: inline-block;
              height: 30px;
              vertical-align: middle;
              padding-right: 1rem;
            }
            > .fa {
              padding-right: 1rem;
              font-size: 30px;
              &-facebook {
                color: #3b5999;
              }
              &-github {
                color: black;
              }
              &-file-text {
                color: #f6b93b;
              }
              &-comments {
                color: #1e3799;
              }
            }
          }
        }
      }

      &__row {
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        @media screen and (max-width: $smallScreen) {
          flex-direction: column;
          padding-top: 0;
        }
        &__col {
          flex-basis: 0;
          flex-grow: 1;
        }
      }
    }
  }

  &__fancy {
    position: relative;
    padding: 90px 0;
    background-image: url('/assets/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: $smallScreen) {
      padding: 50px 0;
    }
    &__container {
      padding-bottom: 0 !important;
      @media screen and (max-width: $mediumScreenWidth) {
        width: 90% !important;
      }
      > .kgms-page__features__header {
        padding-bottom: 0 !important;
        color: white;
        > br {
          display: none;
          @media screen and (max-width: $smallScreen){
            display: inline;
          }
        }
      }
    }
    &__newlink {
      width: 220px;
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      text-align: center;
    }
    &__item {
      height: 157px;
      border-radius: 5px;
      background-color: #fefefe;
      margin-bottom: 20px;

      > a {
        display: block;
        position: relative;
        height: 100%;
        overflow: hidden;
      }
      > a > img {
        min-width: 100%;
        min-height: 100%;
        display: block;
        border-radius: 5px;
      }
      > a > span {
        color: white;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: none !important;
        position: absolute;
        bottom: -24px;
        width: 100%;
        padding: 5px 0;
        background-color: rgba(0,0,0, 0.5);
        border-radius: 0 0 5px 5px;
        transform: translate(-50%, -50%);

      }
    }
  }
  &__events {
    padding: 90px 0;
    @media screen and (max-width: $smallScreen) {
      padding: 50px 0;
    }
    &--upcoming {
      background-color: #f3f4fa;
    }
    &__container {
      > .kgms-page__features__header {
        padding-bottom: 50px !important;
      }
    }
    &__items {
      padding-top: 0px !important;
      text-align: center;
    }
    &__item {
      text-decoration: none !important;
      cursor: pointer;
      height: 310px;
      border-radius: 5px;
      background-color: #fefefe;

      &--active {
        border: 1px solid $borderColor;
      }

      &__link {
        font-size: 13px;
        text-align: left;
        display: block;
        margin: 4px 25px 0 25px;
      }
      &__title {
        display: block;
        font-size: 14px;
        color: $textCharcoal;
        font-weight: 600;
        text-align: left;
        padding: 15px 15px 5px 15px;
        height: calc(2rem + 12px);
        @media screen and (max-width: $smallScreen) {
          font-size: 12px;
        }
      }

      &__description {
        display: -webkit-box;
        font-size: 13px;
        color: $textLight;
        text-align: left;
        padding: 0 15px;
        max-height: 3rem;
        line-height: 1.7;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        @media screen and (max-width: $smallScreen) {
          font-size: 11px;
        }
      }
      &__img {
        height: 135px;
        width: 100%;
        border-bottom: 1px solid $borderColor;
        overflow: hidden;
        > img {
          display: block;
          border-radius: 5px 5px 0 0;
          width: 100%;
          min-height: 135px;
        }
        &--none {
          width: auto !important;
          max-width: 100%;
          margin: 0 auto;
          height: 100px !important;
          padding-top: 5%;
        }
      }
      &__place {
        display: block;
        font-size: 13px;
        color: $textLight;
        text-align: left;
        padding: 10px 15px 15px 15px;
        > strong {
          color: #21b5fb;
          font-weight: 400;
        }
        @media screen and (max-width: $smallScreen) {
          font-size: 12px;
        }
      }
    }
  }
}