.deployment-page {
  padding-top: $navHeight;
  &__splash {
    height: 500px;
    width: 100%;
    background-image: url('/assets/svg/deployment-splash.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    @media screen and (max-width: $smallScreen) {
      height: 400px;
    }
    &__text {
      padding-top: 85px;
      text-align: center;
      @media screen and (max-width: $smallScreen) {
        padding-top: 50px;
      }
      > span {
        display: block;
        margin: 0 auto;
      }
      &__header {
        font-size: 42px;
        color: $textCharcoal;
        font-weight: 300;
        > strong {
          font-weight: 600;
        }
        @media screen and (max-width: $smallScreen) {
          font-size: 28px;
        }
      }
      &__tag {
        padding-top: 0;
        font-size: 20px;
        color: $textCharcoal;
        font-weight: 300;
        line-height: 1.4;
        width: 50%;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
          font-weight: 400;
          width: 100%;
        }
      }
    }
  }

  &__info {
    padding: 90px 0;
    @media screen and (max-width: $smallScreen) {
      padding: 50px 0;
    }
    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      @media screen and (max-width: $smallScreen) {
        flex-direction: column;
        > div {
          width: 100%;
        }
      }
    }
    

    &__details {
      width: 45%;
      &__button {
        display: block;
        margin: 1rem 0 0 0 !important;
        font-size: 16px;
        @media screen and (max-width: $smallScreen) {
          font-size: 12px;
          margin: 1rem auto 0 auto !important;
        }
      }
      &__text {
        color: $textLight;
        line-height: 1.8;
        font-size: 20px;
        > strong {
          color: $textCharcoal;
          font-weight: 600;
        }
        @media screen and (max-width: $smallScreen) {
          font-size: 16px;
        }
      }
      @media screen and (max-width: $smallScreen) {
        order: 2;
        margin-top: 30px;
      }
      &__buttons {
        width: fit-content;
        display: flex;
        margin-top: 20px;
        box-sizing: border-box;
        @media screen and (max-width: $mediumScreen) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
        > * {
          text-align: center;
          box-sizing: border-box;
          font-size: 14px;
        }
        > :nth-child(1) {
          margin-right: 10px;
          @media screen and (max-width: $mediumScreen) {
            margin: 0 auto 1rem auto;
            width: 100%;
          }
        }
        > :nth-child(2) {
          margin-left: 10px;
          @media screen and (max-width: $mediumScreen) {
            margin: 0 auto;
            width: 100%;
          }
        }
      }
    }
    &__img {
      width: 45%;
      margin-left: 10%;
      > img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }
      @media screen and (max-width: $smallScreen) {
        order: 1;
        margin: 0;
      }
    }
  }

  &__kgms {
    position: relative;
    padding: 0 0 90px 0;
    display: none !important;
    > img {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
    }
    &__buttons {
      width: fit-content;
      margin: 0 auto;
      display: flex;
      @media screen and (max-width: $smallScreen) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      > * {
        min-width: 100px;
        text-align: center;
      }
      > :nth-child(1) {
        margin-right: 10px;
        @media screen and (max-width: $smallScreen) {
          margin: 0 auto 1rem auto;
        }
      }
      > :nth-child(2) {
        margin-left: 10px;
        @media screen and (max-width: $smallScreen) {
          margin: 0 auto;
        }
      }
    }
  }

  &__deploy {
    padding: 110px 0 90px 0;
    position: relative;
    background-image: url('/assets/img/deployment-deploy-bg.png');
    @media screen and (max-width: $smallScreen) {
      padding: 70px 0 50px 0;
    }

    &__container {
      > .button {
        min-width: 180px;
        text-align: center;
      }
    }
    &__tag {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 20px;
      color: $textCharcoal;
      font-weight: 300;
      padding-bottom: 30px;
      width: 80%;
      @media screen and (max-width: $smallScreen) {
        font-size: 18px;
      }
    }
    &__header {
      display: block;
      margin: 0 auto;
      font-weight: 300;
      color: #4a4c52;
      font-size: 40px;
      text-align: center;
      width: 80%;
      > strong {
        font-weight: 600;
      }
      @media screen and (max-width: $smallScreen) {
        font-size: 24px;
        width: 100%;
      }
    }
    
    &__col {
      width: 47%;
      display: inline-block;
      vertical-align: top;
      margin-top: 30px;
      margin-bottom: 30px;
      @media screen and (max-width: $mediumScreen) {
        width: 100%;
        display: block;
      }
    
      @media screen and (max-width: $mediumScreen) {
        width: 100%;
      }
      &__divider {
        width: 6%;
        display: inline-block;
        vertical-align: middle;
        @media screen and (max-width: $mediumScreen) {
          width: 100%;
          display: block;
        }
        > img {
          display: block;
          margin: 0 auto;
          max-width: 50%;
        }
        @media screen and (max-width: $mediumScreen) {
          display: none !important;
        }
      }
      &__item {
        width: auto;
        padding: 10px;
        box-sizing: border-box;
        background-color: white;
        border: solid 1px #e6e8f4;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;
        margin-bottom: 50px;
        @media screen and (max-width: $mediumScreen) {
          margin-bottom: 30px;
          height: 180px;
        }
        &--purple {
          border: 1px solid #8f85e8;
        }
        &--red {
          border: 1px solid #fa7677;
        }
        &--yellow {
          border: 1px solid #93ecc3;
        }
        &--green {
          border: 1px solid #fccb94;
        }
        &--blue {
          border: 1px solid #93dcff;
        }

        &__img {
          width: 15%;
          margin-right: 5%;
          > img {
            max-width: 90%;
            display: block;
            margin: 0 auto;
          }
        }
        &__details {
          width: 50%;
          text-align: left;
          &__header {
            display: block;
            font-weight: 600;
            color: $textCharcoal;
            font-size: 20px;
            @media screen and (max-width: $smallScreen) {
              font-size: 16px;
            }
          }
          &__text {
            font-size: 16px;
            color: $textLight;
            @media screen and (max-width: $smallScreen) {
              font-size: 14px;
            }
            > a {
              display: inline-block;
              vertical-align: bottom;
              width: fit-content;
            }
          }
        }
        &__deploy-button{
        }
      }
    }
  }
}