.downloads {
  padding-top: $navHeight;
  &__splash {
    position: relative;
    width: 100%;
    min-height: 700px;
    > img {
      position: absolute;
      z-index: -1;
      top: 0;
      width: 100%;
      @media screen and (max-width: $largeScreen){
        width: auto;
      }
    }
    &__text {
      padding-top: 110px;
      text-align: center;
      > span {
        display: block;
        margin: 0 auto;
      }
      &__header {
        font-size: 42px;
        color: $textCharcoal;
        font-weight: 300;
        > strong {
          font-weight: 600;
        }
        @media screen and (max-width: $smallScreen) {
          font-size: 28px;
        }
      }
      &__tag {
        padding-top: 0;
        font-size: 20px;
        color: $textLight;
        font-weight: 300;
        line-height: 1.7;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
          font-weight: 400;
          width: 100%;
        }
      }
    }

    &__main {
      width: 100%;
      border-radius: 7px;
      border: solid 1px #e8eaf4;
      margin-top: 110px;
      &__tablist {
        width: 100%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        height: 60px;
        background-color: #c0c6e6;
        border-radius: 6px 6px 0 0;
        list-style: none;
        @media screen and (max-width: $smallScreen) {
          flex-direction: column;
          background-color: transparent;
          height: 100%;
        }
        &__tab {
          flex-grow: 1;
          flex-basis: 0;
          height: 60px;
          color: white;
          background-color: #c0c6e6;
          font-size: 18px;
          text-align: center;
          line-height: 60px;
          font-weight: 600;
          cursor: pointer;
          border-radius: 6px 6px 0 0;
          border-right: 1px solid #e8eaf4;
          @media screen and (max-width: $smallScreen) {
            border-radius: 0;
            border-bottom: 1px solid #e8eaf4;
          }
          &--active {
            color: $textCharcoal;
            background-color: #f3f4fa;
            outline: none;
            border: none;
          }
        }
      }
      &__tabpanel {
        background-color: #f3f4fa;
        &__content {
          padding: 40px;
          @media screen and (max-width: $smallScreen){
            padding: 40px 20px;
          }
          &__text {
            color: #80889e;
            font-size: 18px;
            display: block;
            line-height: 1.67;
            margin-bottom: 1rem;
            width: 100%;
            @media screen and (max-width: $smallScreen){
              font-size: 14px;
            }
          }
          &__release {
            color: #80889e;
            font-size: 18px;
            display: block;
            > strong {
              color: $textCharcoal;
              font-weight: 400;
            }
            @media screen and (max-width: $smallScreen){
              width: 100%;
              font-size: 14px;
            }
          }
          &__button {
            min-width: 180px;
            text-align: center;
          }
          &__download {
            text-align: center;
            &--disabled {
              background-color: #f75e6180;
              &:hover {
                background-color: #f75e6180;
                cursor: not-allowed;
              }
            }
          }
          &__core {
            
            &__col {
              margin-top: 50px;
              width: 50%;
              box-sizing: border-box;
              display: inline-block;
              vertical-align: top;
              height: 630px;
              background-color: white;
              border-radius: 6px 6px 0 0;
              @media screen and (max-width: $smallScreen) {
                width: 100%;
                display: block;
                margin-bottom: 1rem;
                height: 100%;
              }
              &--first {
                  border-right: solid 1px #e8eaf4;
              }
              &__header {
                height: 55px;
                font-size: 18px;
                color: white;
                line-height: 55px;
                text-align: center;
                border-radius: 6px 6px 0 0;
                &--purple {
                  background-color: #796de3;
                }
                &--green {
                  background-color: #3dce8c;
                }
              }
              &__content {
                background-color: white;
                padding: 30px;
                @media screen and (max-width: $smallScreen){
                  padding: 30px 15px;
                }
                > .button {
                  margin-top: 1rem;
                  min-width: 200px;
                  box-sizing: border-box;
                  
                }
                &__github {
                  border: solid 1px #c3c8d2;
                  font-weight: 300;
                  color: $textCharcoal;
                  margin-left: 35px;
                  margin-top: 0 !important;
                  > i {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 5px;
                  }
                  &:hover {
                    background-color: white;
                    border: solid 1px #c3c8d2;
                    color: $textCharcoal;
                  }
                  @media screen and (max-width: $smallScreen) {
                    margin-left: 0;
                  }
                }
                &__selectgroup {
                  padding-bottom: 30px;
                  > div:nth-child(1) {
                    margin-right: 5%;
                    @media screen and (max-width: $smallScreen) {
                      margin-right: 0;
                      margin-bottom: 1rem;
                      
                    }
                  }
                  > div {
                    display: inline-block;
                    width: 47.5%;
                    position: relative;
                    box-sizing: border-box;
                    @media screen and (max-width: $smallScreen) {
                      display: block;
                      width: 100%;
                      
                    }
                    &:before {
                      content: '\f0d7';
                      font-family: FontAwesome;
                      color: $supportFormColor;
                      display: inline-block;
                      position: absolute;
                      right: 18px;
                      top: 18px;
                      pointer-events: none;
                    }
                    > select {
                      display: block;
                      height: 50px;
                      border: 1px solid $borderColor;
                      border-radius: 5px;
                      font-size: 14px;
                      width: 100%;
                      outline: none;
                      padding: 0 1rem;
                      color: $textCharcoal;
                      background-color: white;
                      appearance: none;
                      &::placeholder{
                        color: $textCharcoal;
                      }
                    }
                  }
                }
                &__packagemanager {
                  padding: 50px 0 55px 0;
                  > span {
                    font-size: 18px;
                    color: $textCharcoal;
                    font-weight: 400;
                    display: block;
                    margin-bottom: 8px;
                    @media screen and (max-width: $smallScreen) {
                      font-size: 16px;
                    }
                  }
                  > a {
                    font-size: 16px;
                    display: block;
                    line-height: 1.67;
                    @media screen and (max-width: $smallScreen) {
                      font-size: 14px;
                    }

                  }
                }
                &__checkbox {
                  padding-bottom: 1rem;
                  > i {
                    margin-right: 10px;
                    padding: 4px;
                    border-radius: 50%;
                    font-weight: 300;
                    display: inline-block;
                  }
                  > div {
                    display: inline-block;
                    vertical-align: top;
                    width: calc(100% - 35px);
                    > strong {
                      display: block;
                      font-size: 20px;
                      color: $textCharcoal;
                      font-weight: 600;
                      padding-bottom: 5px;
                      @media screen and (max-width: $smallScreen) {
                        font-size: 16px;
                      }
                    }
                    > span {
                      display: block;
                      color: $textLight;
                      font-size: 16px;
                      @media screen and (max-width: $smallScreen) {
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &__language {
    padding-top: 90px;
    padding-bottom: 50px;
    @media screen and (max-width: $smallScreen) {
       padding-top: 50px;      
     }
    &__headline {
      width: 50%;
      text-align: center;
      @media screen and (max-width: $smallScreen){
        width: 100%;
      }
    }
    &__items {
      &--desktop {
        padding: 50px 0;
        width: 100%;
        @media screen and (max-width: $smallScreen) {
          padding: 30px 0;
        }
        &__row {
          display: flex;
          flex-direction: row;
          > :nth-child(2) {
            border-left: 1px solid #f2f6fa;
            border-right: 1px solid #f2f6fa;
          }
        }
      }
 
      &__item {
        height: 150px;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        flex-basis: 0;
        flex-grow: 1;
        border: 1px solid white;        
        > img {
          align-self: center;
          max-width: 80%;
          max-height: 90%;
        }
        &:hover {
          border: 1px solid $borderColor;
        } 
      }
    }
  }
}