.grakn-page {
  padding-top: $navHeight;
  &__splash {
    height: 800px;
    width: 100%;
    background-image: url('/assets/svg/grakn-splash.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: $smallScreen) {
      height: 400px;
    }
    &__text {
      padding-top: 85px;
      text-align: center;
      @media screen and (max-width: $smallScreen) {
        padding-top: 50px;
      }
      > span {
        display: block;
        margin: 0 auto;
      }
      &__header {
        font-size: 42px;
        color: $textCharcoal;
        font-weight: 600;
        > strong {
          font-weight: 600;
        }
        @media screen and (max-width: $smallScreen) {
          font-size: 28px;
        }
      }
      &__tag {
        padding-top: 0;
        font-size: 20px;
        color: $textLight;
        font-weight: 300;
        line-height: 1.4;
        width: 60%;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
          font-weight: 400;
          width: 100%;
        }
      }
    }
  }

  &__links {
    padding-bottom: 180px;
    position: relative;
    // > img {
    //   position: absolute;
    //   top: 0;
    //   z-index: -1;
    //   width: 100%;
    //   overflow-x: hidden;
    //   bottom: 0;
    // }
    background-image: url('/assets/svg/grakn-links-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    @media screen and (max-width: $smallScreen) {
      padding-bottom: 90px;
      background-position: right;
    }
    &__grid {
      margin: 0 auto;
      min-height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      @media screen and (max-width: $smallScreen) {
        flex-direction: column;
      }
      > div {
        display: block; 
        width: calc(50% - 20px);  
        margin: 10px;
        @media screen and (max-width: $smallScreen) {
          max-width: 500px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &__paging {
      display: none;
      @media screen and (max-width: $smallScreen) {
        display: block;
      }
    }
    &__item {
      width: auto;
      padding: 30px;
      box-sizing: border-box;
      background-color: white;
      border: solid 1px #e6e8f4;
      border-radius: 5px;
  
      &--paging {
        display: inline-block;
      }
      > div {
        display: inline-block;
        vertical-align: middle;
      }
      &__img {
        width: 25%;
        margin-right: 5%;
        > img {
          max-width: 90%;
        }
      }
      &__details {
        width: 70%;
        text-align: left;
        &__header {
          display: block;
          font-weight: 600;
          color: $textCharcoal;
          font-size: 20px;
          padding-bottom: 0.5rem;
          @media screen and (max-width: $smallScreen) {
            font-size: 16px;
          }
        }
        &__text {
          font-size: 16px;
          color: $textLight;
          @media screen and (max-width: $smallScreen) {
            font-size: 14px;
          }
          > a {
            display: inline-block;
            vertical-align: bottom;
            width: fit-content;
          }
        }
      }
    }
  }

  &__graql {
    padding-bottom: 90px;
   // background-color: white;
    &__container {
      > div {
        display: inline-block;
        vertical-align: middle;
        width: calc(50% - 20px);
        @media screen and (max-width: $smallScreen) {
          width: 100%;
          display: block;
        }
      }
    }
    &__text {
      margin-right: 20px;
      @media screen and (max-width: $smallScreen) {
        padding-bottom: 30px;
        margin-right: 0;
      }
      &__header {
        display: block;
        font-size: 30px;
        color: $textCharcoal;
        font-weight: 600;
        padding-bottom: 1rem;
        @media screen and (max-width: $smallScreen) {
          font-size: 20px;
        }
      }
      &__paragraph {
        display: block;
        font-size: 18px;
        color: $textLight;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
        }
      }
    }
    &__img {
     > img {
      max-width: 100%;
     }
    }
  }

  &__features {
    padding-top: 150px;
    padding-bottom: 90px;
    background-image: url('/assets/svg/grakn-features-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    &__circle {
      width: 120px;
      height: 120px;
      background-color: #ffffff;
      box-shadow: 2px 2px 10px 0 rgba(150, 134, 255, 0.2);
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      > img {
          width: 48px;
          top: 60px;
          display: block;
          margin: 0 auto;
          margin-top: 36px;
      }
    }
    &__container {
      padding-bottom: 90px;
      > div {
        display: inline-block;
        vertical-align: middle;
        @media screen and (max-width: $mediumScreen) {
          width: 100%;
          display: block;
        }
      }
      > div:nth-child(1) {
        @media screen and (max-width: $mediumScreen) {
          margin-bottom: 50px;
        }
      }
    }
    &__col {
      width: 40%;
      display: flex;
      flex-direction: column;
      div:nth-child(1) {
        margin-bottom: 50px;
      }
      @media screen and (max-width: $mediumScreen) {
        width: 100%;
      }
      &__divider {
        width: 20%;
        > img {
          display: block;
          margin: 0 auto;
          max-width: 50%;
        }
        @media screen and (max-width: $mediumScreen) {
          display: none !important;
        }
      }
      &__item {
        width: 100%;
        border-radius: 5px;
        background-color: white;
        position: relative;
        padding: 45px 30px;
        box-sizing: border-box;
        @media screen and (max-width: $mediumScreen) {
          max-width: 450px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
        &--red {
          border: solid 1px #ffadaf;
        }
        &--blue {
          border: solid 1px #87d9ff;
        }
        &--purple {
          border: solid 1px #bcb6ef;
        }
        &--green {
          border: solid 1px #a3edcc;
        }
        
        &__img {
          position: absolute;
          top: -30px;
          left: 50%;
          transform: translateX(-50%);
        }

        &__header {
          font-size: 20px;
          font-weight: 600;
          display: block;
          padding-bottom: 1rem;
          color: $textCharcoal;
          @media screen and (max-width: $mediumScreen) {
            font-size: 16px;
          }
        }

        &__text {
          font-size: 16px;
          color: $textLight;
          line-height: 1.6;
          @media screen and (max-width: $mediumScreen) {
            font-size: 14px;
          }
        }
      }
    }
  }
}