.grakn-page {
  padding-top: $navHeight;
  &__splash {
    height: 800px;  
    width: 100%;
    background-image: url('/assets/svg/grakn-splash.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    @media screen and (max-width: $smallScreen) {
      height: 600px;
    }
    &__container {
      height: inherit;
    }
    &__text {
      padding-top: 85px;
      text-align: center;
      @media screen and (max-width: $smallScreen) {
        padding-top: 50px;
      }
      > span {
        display: block;
        margin: 0 auto;
      }
      &__header {
        font-size: 42px;
        color: $textCharcoal;
        font-weight: 600;
        > strong {
          font-weight: 600;
        }
        @media screen and (max-width: $smallScreen) {
          font-size: 28px;
        }
      }
      &__tag {
        padding-top: 0;
        font-size: 20px;
        color: $textLight;
        font-weight: 300;
        line-height: 1.4;
        width: 60%;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
          font-weight: 400;
          width: 100%;
        }
      }
    }
  }

  &__github {
    padding: 240px 0 90px 0;
    @media screen and (max-width: $mediumScreen) {
      padding: 630px 0 50px 0;
    }

    @media screen and (max-width: $smallScreen) {
      padding: 830px 0 50px 0;
    }
    &__header {
      font-size: 32px;
      color: $textCharcoal;
      text-align: center;
      display: block;
      > strong {
        font-weight: 600;
      }
      @media screen and (max-width: $smallScreen) {
        font-size: 20px;
      }
    }
    &__buttons {
      display: block;
      text-align: center;
      padding: 30px 0 0 0;
      @media screen and (max-width: $smallScreen){
        width: fit-content;
        margin: 0 auto;
      }
      > * {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        text-align: center;
        font-size: 16px;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
        }
        @media screen and (max-width: $smallScreen){
          display: block;
        }
      }
      a:nth-child(1) {
        margin-right: 10px;
        @media screen and (max-width: $smallScreen){
          margin: 0;
          margin-bottom: 20px;
        }
      }
      a:nth-child(2) {
        margin-left: 10px;
        color:  #393f4c;
        border: solid 1px #c3c8d2;
        &:hover {
          background-color: white;
        }
        @media screen and (max-width: $smallScreen){
          margin: 0;
        }
        > i {
          padding-left: 5px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
  &__links {
    padding: 90px 0;
    position: relative;
    // > img {
    //   position: absolute;
    //   top: 0;
    //   z-index: -1;
    //   width: 100%;
    //   overflow-x: hidden;
    //   bottom: 0;
    // }
    // background-image: url('/assets/svg/grakn-links-bg.svg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: right bottom;
    background-color: $backgroundPurple;
    @media screen and (max-width: $smallScreen) {
      padding: 50px 0;
      //background-position: right;
    }
    &__grid {
      margin: 0 auto;
      min-height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      @media screen and (max-width: $smallScreen) {
        flex-direction: column;
      }
      > div {
        display: block; 
        width: calc(50% - 20px);  
        margin: 10px;
        @media screen and (max-width: $smallScreen) {
          max-width: 500px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &__item {
      width: auto;
      padding: 30px;
      box-sizing: border-box;
      background-color: white;
      border: solid 1px #e6e8f4;
      border-radius: 5px;
  
      > div {
        display: inline-block;
        vertical-align: middle;
      }
      &__img {
        width: 25%;
        margin-right: 5%;
        > img {
          max-width: 90%;
          display: block;
          margin: 0 auto;
        }
      }
      &__details {
        width: 70%;
        text-align: left;
        &__header {
          display: block;
          font-weight: 600;
          color: $textCharcoal;
          font-size: 20px;
          padding-bottom: 0.5rem;
          @media screen and (max-width: $smallScreen) {
            font-size: 16px;
          }
        }
        &__text {
          font-size: 16px;
          color: $textLight;
          @media screen and (max-width: $smallScreen) {
            font-size: 14px;
          }
          > a {
            display: inline-block;
            vertical-align: bottom;
            width: fit-content;
          }
        }
      }
    }
  }

  &__graql {
    padding: 90px 0;
   // background-color: white;
   @media screen and (max-width: $smallScreen) {
      padding: 50px 0;
    }
    &__container {
      @media screen and (max-width: $smallScreen) {
        display: flex;
        flex-direction: column;
      }
      > div {
        display: inline-block;
        vertical-align: middle;
        width: calc(50% - 20px);
        @media screen and (max-width: $smallScreen) {
          width: 100%;
          display: block;
        }
      }
    }
    &__text {
      margin-right: 20px;
      @media screen and (max-width: $smallScreen) {
        padding-bottom: 30px;
        margin-right: 0;
      }
      &__header {
        display: block;
        font-size: 30px;
        color: $textCharcoal;
        font-weight: 600;
        padding-bottom: 1rem;
        @media screen and (max-width: $smallScreen) {
          font-size: 20px;
        }
      }
      &__paragraph {
        display: block;
        font-size: 18px;
        color: $textLight;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
        }
      }
      @media screen and (max-width: $smallScreen) {
        order: 2;
        }
    }
    &__img {
     > img {
      max-width: 100%;
     }
     @media screen and (max-width: $smallScreen) {
        margin-bottom: 40px;
        order: 1;
      }
    }
  }

  &__features {
    padding-top: 150px;
    background-image: url('/assets/img/grakn-features-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    &__circle {
      width: 120px;
      height: 120px;
      background-color: #ffffff;
      box-shadow: 2px 2px 10px 0 rgba(150, 134, 255, 0.2);
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      > img {
          width: 48px;
          top: 60px;
          display: block;
          margin: 0 auto;
          margin-top: 36px;
      }
      &--kbms {
        > img {
          margin-top: 20px;
        }
      }
    }
    &__container {
      padding-bottom: 150px;
      > div {
        display: inline-block;
        vertical-align: middle;
        @media screen and (max-width: $mediumScreen) {
          width: 100%;
          display: block;
        }
      }
      > div:nth-child(1) {
        @media screen and (max-width: $mediumScreen) {
          margin-bottom: 50px;
        }
      }
    }
    &__col {
      width: 40%;
      display: flex;
      flex-direction: column;
      div:nth-child(1) {
        margin-bottom: 50px;
      }
      @media screen and (max-width: $mediumScreen) {
        width: 100%;
      }
      &__divider {
        width: 20%;
        > img {
          display: block;
          margin: 0 auto;
          max-width: 50%;
        }
        @media screen and (max-width: $mediumScreen) {
          display: none !important;
        }
      }
      &__item {
        width: 100%;
        border-radius: 5px;
        background-color: white;
        position: relative;
        padding: 45px 30px;
        box-sizing: border-box;
        @media screen and (max-width: $mediumScreen) {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
        &--red {
          border: solid 1px #ffadaf;
        }
        &--blue {
          border: solid 1px #87d9ff;
        }
        &--purple {
          border: solid 1px #bcb6ef;
        }
        &--green {
          border: solid 1px #a3edcc;
        }
        
        &__img {
          position: absolute;
          top: -30px;
          left: 50%;
          transform: translateX(-50%);
        }

        &__header {
          font-size: 20px;
          font-weight: 600;
          display: block;
          padding-bottom: 1rem;
          color: $textCharcoal;
          @media screen and (max-width: $mediumScreen) {
            font-size: 16px;
          }
        }

        &__text {
          font-size: 16px;
          color: $textLight;
          line-height: 1.6;
          @media screen and (max-width: $mediumScreen) {
            font-size: 14px;
          }
        }
      }
    }
  }

  &__kbms {
    background-image: url('/assets/img/grakn-kbms-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 450px;
    position: relative;
    &__container {
      padding-top: 120px;
      padding-bottom: 90px;
      text-align: center;
      color: white;
    }
    &__header {
      display: block;
      font-weight: 600;
      font-size: 30px;
      text-transform: uppercase;
      padding-bottom: 1rem;
      @media screen and (max-width: $mediumScreen) {
        font-size: 16px;
      }
    }
    &__text {
      display: block;
      font-size: 18px;
      line-height: 1.8;
      width: 70%;
      margin: 0 auto;
      @media screen and (max-width: $mediumScreen) {
        font-size: 14px;
      }
    }
    &__button {
      margin-top: 2rem;
      width: 160px;
    }
  }

  // Grakn Page Codeblock code
  &-code {
    position: absolute;
    bottom: -180px;
    min-height: 480px;
    width: 100%;
    border-radius: 8px;
	  background-color: #f3f4fa;
    border: solid 1px #e8eaf4;
    z-index: 2;

    @media screen and (max-width: $mediumScreen) {
      bottom: -570px;
    }

    @media screen and (max-width: $smallScreen) {
      bottom: -770px;
    }
    &__header {
      background-color: #ffffff;
      width: 100%;
      height: 40px;
      border-radius: 8px 8px 0 0;
      padding-left: 14px;
      box-sizing: border-box;
      &__fake-btn {
        width: 18px;
        height: 18px;
        border: solid 1px #d7d9e1;
        border-radius: 50%;
        display: inline-block;
        margin: 11px 5px;
        &:after
        {
            content: '.';
            visibility: hidden;
        }

      }
    }
    &__content {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      padding: 0 60px;
      min-height: 400px;
      @media screen and (max-width: $mediumScreen) {
        padding: 0 30px;
      }
      &__editor {
        position: absolute;
        height: 520px;
        top: -80px;
        width: calc(50% - 60px);
        left: 50%;
        border-radius: 8px 8px 0 0;
        @media screen and (max-width: $mediumScreen) {
          position: relative;
          width: 100%;
          top: 0;
          left: 0;
          padding: 40px 0;
        }
        &__header {
          width: 100%;
          height: 40px;
          border-radius: 8px 8px 0 0;
          padding-left: 14px;
          box-sizing: border-box;
          line-height: 1;
          background-color: #545573;
          &__fake-btn {
            width: 12px;
            height: 12px;
            border: solid 1px #d7d9e1;
            border-radius: 50%;
            display: inline-block;
            margin: 13px 5px;
            &:after
            {
                content: '.';
                visibility: hidden;
            }
    
          }
          &__fake-btn:nth-child(1) {
            background-color: #f75e62;
            border: none;
          } 
          &__fake-btn:nth-child(2) {
            background-color: #fece60;
            border: none;
          } 
          &__fake-btn:nth-child(3) {
            background-color: #46cd90;
            border: none;
          } 
          &__file {
            display: inline-block;
            text-align: center;
            color: $textLight;
            width: calc(50% + 66px);
          }
        }

        &__content {
          position: relative;
          width: 100%;
          box-sizing: border-box;
          height: calc(100% - 40px);
          background-color: #2f3544;
          color: white;

          > pre {
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
            overflow-x: scroll;
            height: 100%;
            font-family: 'Ubuntu' !important;
            > code {
              font-family: 'Ubuntu' !important;
            }
          }
        }
      }
      &__dets {
        display: inline-block;
        width: 50%;
        height: inherit;
        vertical-align: top;
        height: 400px;
        @media screen and (max-width: $mediumScreen) {
          display: block;
          width: 100%;
          height: 300px;
        }
        @media screen and (max-width: $smallScreen) {
          height: 400px;
        }
        &__text {
          height: calc(100% - 40px);
          display: flex;
          flex-direction: column;
          justify-content: center;
          &__header {
            line-height: 1.1;
            color: $textPurple;
            font-size: 24px;
            font-weight: 600;
            padding-bottom: 1rem;
            @media screen and (max-width: $mediumScreen) {
              font-size: 20px;
            }
          }
          &__paragraph {
            line-height: 1.67;
            font-size: 16px;
            color: $textLight;
            width: 90%;
            @media screen and (max-width: $mediumScreen) {
              font-size: 14px;
            }
            @media screen and (max-width: $smallScreen) {
              font-size: 12px;
            }
          }
        }
        &__buttons {
          height: 40px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          &__item {
            width: 34px;
            height: 34px;
            border-radius: 4px;
	          background-color: #ffffff;
            border: solid 1px #e8eaf4;
            margin-right: 8px;
            text-align: center;
            line-height: 34px;
            color: $textLight;
            cursor: pointer;
            &--active {
              height: 38px;
              width: 38px;
              background-color: #2f3544;
              color: white;
              line-height: 38px;
            }
          }
        }
      }
    }
  }
}