.home {
  width: 100%;
  height: 100%;
  &__splash {
    min-height:900px;
    background-image: url('/assets/img/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__text {
      padding-top: 180px;
      text-align: center;
      > span {
        display: block;
        margin: 0 auto;
      }
      &__headline {
        font-weight: 300;
        font-size: 42px;
        color: $textCharcoal;
        letter-spacing: 2.5px;
        > strong {
          font-weight: 600;
        }
      }
      &__tag {
        width: 80%;
        padding-top: 1rem;
        font-size: 20px;
        color: $textLight;
        font-weight: 300;
        line-height: 1.8;
      }
      &__install {
        text-decoration: none;
        font-size: 16px;
        background-color: $backgroundCharcoal;
        color: white;
        width: 210px;
        display: block;
        margin: 37px auto 0 auto;
        padding: 0.8rem 0;
        border-radius: 5px;
        > .fa {
          margin-left: 1rem;
          color: #92a7b4;
        }
      }
      &__community {
        display: block;
        color: #50bcf4;
        padding-top: 1rem;        
      }
    }
  }

  &__links {
    position: relative;
    min-height: 500px;
    &__container {
      width: 60%;
      padding-top: 380px;
      @media screen and (max-width: $smallScreen) {
        display: none; // For the moment will replace with a carousel soon
      }
      &__item {
        width: 33.33%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        > img {
          display: block;
          max-width: 60px;
          margin: 0 auto;
        }
        > span {
          display: block;
          padding-top: 0.5rem;
          font-size: 16px;
          color: $textExtraLight;
          > a {
            font-weight: 600;
          }
          > .github-link {
            color: black;
          }
          > .slack-link {
            color: #d30d0c;            
          }
          > .twitter-link {
            color: #52abeb;
          }
        }
      }
    }
  }
}