.privacy-policy {
  padding-top: $navHeight;
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__header {
    font-size: 32px;
    color: $textCharcoal;
    display: block;
    font-weight: 600;
    @media screen and (max-width: $smallScreen) {
      font-size: 24px;
    }
  }
  &__text {
    font-size: 16px;
    color: $textLight;
    display: block;
    padding: 20px 0 40px 0;
    @media screen and (max-width: $smallScreen) {
      font-size: 14px;
    }
  }
  &__link {
    display: block;
    line-height: 1.67;
  }
  .support-page__comparisson__table__row__item__mod {
    height: auto;
    line-height: 1.67;
    padding: 10px;
    text-align: left;
  }
  .support-page__comparisson__table__row__item__mod:nth-child(3n) {
    border-right: 1px solid #eceef7;
  }
  .support-page__comparisson__table__mobile__row__item__mod {
    height: 100%;
    line-height: 1.67;
    padding: 10px 0;
    > span {
      box-sizing: border-box;
      text-align: left;
    }
    >span:nth-child(1) {
      padding-left: 10px;
    }
    >span:nth-child(2) {
      padding-right: 10px;
    }
  }
}