.services {
  padding-top: $navHeight;
  &__splash {
    height: 750px;
    width: 100%;
    background-image: url('/assets/svg/services-splash.svg');
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    margin: 0;
    @media screen and (max-width: $smallScreen) {
      height: 400px;
    }
    &__text {
      padding-top: 85px;
      text-align: center;
      @media screen and (max-width: $smallScreen) {
        padding-top: 50px;
      }
      > span {
        display: block;
        margin: 0 auto;
      }
      &__header {
        font-size: 42px;
        color: $textCharcoal;
        font-weight: 300;
        > strong {
          font-weight: 600;
        }
        @media screen and (max-width: $smallScreen) {
          font-size: 28px;
        }
      }
      &__tag {
        padding-top: 0;
        font-size: 20px;
        color: $textLight;
        font-weight: 300;
        line-height: 1.4;
        width: 50%;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
          font-weight: 400;
          width: 100%;
        }
      }
    }
  }

  &__features {
    position: relative;
    padding: 90px 0;
    @media screen and (max-width: $smallScreen) {
      padding: 50px 0;
    }
    &--nopad {
      padding: 0 0 90px 0;
      @media screen and (max-width: $smallScreen) {
        padding: 0 0 50px 0;
      }
    }
    &--alternate {
      background-image: url('/assets/svg/services_features.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    &--single {
      padding-bottom: 120px;
    }
    &__circle {
      width: 120px;
      height: 120px;
      background-color: #ffffff;
      box-shadow: 2px 2px 10px 0 rgba(150, 134, 255, 0.2);
      border-radius: 50%;
      position: absolute;
      bottom: -60px;
      left: calc(50% - 60px);
      z-index: 5;
      > img {
          width: 48px;
          top: 60px;
          display: block;
          margin: 0 auto;
          margin-top: 36px;
      }
    }
    &__container {
      > :nth-child(1) {
        padding-top: 0;
      }
    }
    &__item {
      display: block;
      padding-top: 100px;
      @media screen and (max-width: $smallScreen) {
        padding-top: 35px;
        display: flex;
        flex-flow: column;
      }
      > div {
        display: inline-block;
        vertical-align: middle;
      }
      > div:nth-child(2) {
        margin-left: 10%;
        @media screen and (max-width: $smallScreen) {
          margin-left: 0;
        }
      }
      &__text {
        width: 60%;
        @media screen and (max-width: $smallScreen) {
          width: 100%;
          display: block;
        }
        &__headline {
          display: block;
          margin-top: 30px;
          margin-bottom: 10px;
          font-size: 22px;
          font-weight: 600;
          color: $textCharcoal;
          @media screen and (max-width: $smallScreen) {
            margin-top: 20px;
            font-size: 16px;
          }
        }
        &__paragraph {
          display: block;
          font-size: 18px;
          color: $textLight;
          text-align: left;
          line-height: 1.8;
          @media screen and (max-width: $smallScreen) {
            font-size: 14px;
          }
        }
        &__button {
          margin-top: 1.5rem;
          margin-left: 0;
          height: 44px;
          line-height: 44px;
        }
        &__list {
          padding-top: 1rem;
          &__col {
            display: inline-block;
            vertical-align: top;
            width: 47.5%;
            @media screen and (max-width: $smallScreen) {
              width: 100%;
              display: block;
            }
            &:nth-child(2) {
              margin-left: 5%;
              @media screen and (max-width: $smallScreen) {
                margin-left: 0;
              }
            }
            &__item {
              display: block;
              color: $textLight;
              font-size: 16px;
              padding-bottom: 0.5rem;
              @media screen and (max-width: $smallScreen) {
                font-size: 14px;
              }
              > * {
                display: inline-block;
                vertical-align: top;
              }
              > i {
                margin-right: 10px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                &::before {
                  font-size: 12px;
                  margin-left: 4px;
                  line-height: 20px;
                }
              }
              > span {
                width: calc(100% - 30px);
              }
              &--green {
                > i {
                  background-color: #cbf3e1;
                  &::before {
                    color: #3dce8c;
                  }
                }
              }
              &--yellow {
                > i {
                  background-color: #ffefcb;
                  &::before {
                    color: #fece60;
                  }
                }
              }
              &--red {
                > i {
                  background-color: #ffd8d9;
                  &::before {
                    color: #f75e62;
                  }
                }
              }
              &--blue {
                > i {
                  background-color: #dfddff;
                  &::before {
                    color: #7d72e5;
                  }
                }
              }
              &--light-blue {
                > i {
                  background-color: #d7f2ff;
                  &::before {
                    color: #21b5fb;
                  }
                }
              }
            }
          }
        }
        @media screen and (max-width: $smallScreen) {
          order: 2;
        }
      }
      &__img {
        width: 30%;
        @media screen and (max-width: $smallScreen) {
          width: 100%;
          display: block;
        }
        > img {
          max-width: 80%;
          margin: 0 auto;
          display: block;
        }
        @media screen and (max-width: $smallScreen) {
          margin-bottom: 40px;          
          order: 1;
        }
      }
    }
  }
  &__alive {
    position: relative;
    padding-top: 110px;
    height: 300px;
    > img {
      position: absolute;
      top: 0;
      width: 100%;
      @media screen and (max-width: $smallScreen) {
        height: 100%;
        width: auto;
      }
    }
    @media screen and (max-width: $smallScreen) {
      padding-top: 90px;
      height: 300px;
    }
    &__header {
      text-align: center;
      display: block;
      font-weight: 600;
      color: $textCharcoal;
      font-size: 30px;
      @media screen and (max-width: $smallScreen) {
        font-size: 22px;
      }
    }
    &__tag {
      text-align: center;
      display: block;
      padding-top: 0.8rem;
      width: 60%;
      color: $textLight;
      font-size: 18px;
      margin: 0 auto;
      line-height: 1.8;
      @media screen and (max-width: $smallScreen) {
        width: 100%;
        font-size: 14px;
      }
    }
    &__button {
      display: block;
      margin-top: 2rem;
    }
  }
}