.slackPage iframe {
  margin-top: $navHeight;
  min-height: calc(100vh - #{$navHeight});
  width: 100%;
  border: none;
  overflow-y: hidden;
  @media screen and (max-width: $smallScreen) {
    min-height: 700px;
  }
}