<article>
    <div *ngIf="page">
        <section class="page-section page-intro-section" *ngIf="page.introSection">
            <td-h1-with-highlights [value]="page.introSection.title" class="text-xxl narrow-section"></td-h1-with-highlights>
            <td-rich-text [value]="page.introSection.body" class="subsection text-m uc-intro-body"></td-rich-text>
            <td-link-panels class="subsection" [panels]="page.introSection.links"></td-link-panels>
        </section>
        <ng-container *ngIf="page.requirementsSection">
            <td-use-case-page-technicolor-block [block]="page.requirementsSection" [page]="page"></td-use-case-page-technicolor-block>
            <td-key-point-panels-2x2 [keyPoints]="page.requirementsSection.keyPoints"></td-key-point-panels-2x2>
        </ng-container>
        <div class="yellow-green planet"></div>
    </div>
</article>
