// Page Component Styles Index
// These styles are imported globally to avoid inline CSS in SSR output

@use "404/404-page.component" as page-404;
@use "blog/blog.component";
@use "blog/blog-authorship-bar.component";
@use "blog/blog-category-chips.component";
@use "blog/blog-navbar.component";
@use "blog/blog-post-page.component";
@use "blog/blog-row.component";
@use "features/features-page.component";
@use "generic/generic-page.component";
@use "home/home-page.component";
@use "lectures/lecture-details-page.component";
@use "lectures/lectures-page.component";
@use "legal/legal-document.component";
@use "papers/paper-details-page.component";
@use "papers/papers-page.component";
@use "pricing/pricing-page.component";
@use "resource-hub/learning-article.component";
@use "resource-hub/resource-hub.component";
@use "startup-program/startup-program-page.component";
@use "tech-talk/request-tech-talk-page.component";
@use "use-cases/use-case-page.component";
