@use "colors";

:host {
    display: block;
    position: relative;
    overflow: hidden;
}

.ss-container {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.ss-left,
.ss-right,
.ss-top,
.ss-bottom {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.ss-left,
.ss-right {
    top: 0;
    bottom: 0;
    width: 13px;
}

.ss-top,
.ss-bottom {
    left: 0;
    right: 0;
    height: 13px;
}

.ss-left {
    left: 0;
    background: linear-gradient(90deg, colors.$deep-purple 0%, rgba(colors.$deep-purple, 0) 100%);
}

.ss-right {
    right: 0;
    background: linear-gradient(-90deg, colors.$deep-purple 0%, rgba(colors.$deep-purple, 0) 100%);
}

.ss-top {
    top: 0;
    background: linear-gradient(180deg, colors.$deep-purple 0%, rgba(colors.$deep-purple, 0) 100%);
}

.ss-bottom {
    bottom: 0;
    background: linear-gradient(0deg, colors.$deep-purple 0%, rgba(colors.$deep-purple, 0) 100%);
}
