@use "colors";

:host {
    display: block;
    position: relative;
    overflow: hidden;
    --shadow-size: 13px;

    $colors: (
        "deep-purple": colors.$deep-purple,
        "black-purple": colors.$black-purple,
    );

    @each $name, $value in $colors {
        &.#{$name} {
            .ss-left {
                background: linear-gradient(90deg, $value 0%, rgba($value, 0) 100%);
            }

            .ss-right {
                background: linear-gradient(-90deg, $value 0%, rgba($value, 0) 100%);
            }

            .ss-top {
                background: linear-gradient(180deg, $value 0%, rgba($value, 0) 100%);
            }

            .ss-bottom {
                background: linear-gradient(0deg, $value 0%, rgba($value, 0) 100%);
            }
        }
    }
}

.ss-container {
    overflow: auto;
    width: 100%;
    height: 100%;
    cursor: grab;
    user-select: none;

    &.dragging {
        cursor: grabbing;
    }
}

.ss-left,
.ss-right,
.ss-top,
.ss-bottom {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.ss-left,
.ss-right {
    top: 0;
    bottom: 0;
    width: var(--shadow-size);
}

.ss-top,
.ss-bottom {
    left: 0;
    right: 0;
    height: var(--shadow-size);
}

.ss-left {
    left: 0;
}

.ss-right {
    right: 0;
}

.ss-top {
    top: 0;
}

.ss-bottom {
    bottom: 0;
}
