@use "media";
@use "mixins";

:host {
    display: flex;
    flex-direction: row;
    gap: 40px;
    @include mixins.section-width();

    @media (max-width: media.$max-width-tablet) {
        gap: 32px;
    }

    @media (max-width: media.$max-width-mobile) {
        gap: var(--subsection-margin);
        flex-wrap: wrap;
    }
}

.kpp-panel {
    flex: 1 1 660px;
}

td-rich-text {
    margin-top: 8px;
}
