@import "colors";
@import "mixins";
@import "sizes";

.kpt-table {
    tr {
        height: 137px;
    }

    th,
    td {
        @include card-padding;
    }

    th {
        background: var(--color-primary-deep-purple);
        width: 140px;

        @media (max-width: $media-max-width-mobile) {
            width: 72px;
            vertical-align: top;
            padding-top: 31px;
        }

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    td > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
    }

    img {
        width: 48px;
        height: 48px;

        @media (max-width: $media-max-width-mobile) {
            width: 32px;
            height: 32px;
        }
    }
}
