@import "../../styles/colors";
@import "../../styles/sizes";

.kpp-root {
    display: grid;
    grid-template-columns: repeat(2, 560px);
    gap: 40px;
}

.kpp-panel {
    background: $color-vaticle-purple;
    border: 1px solid $color-vaticle-light-purple;
    border-radius: $border-radius;
    padding: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

.kpp-image-block img {
    width: 48px;
    height: 48px;
}

.kpp-text-block td-rich-text {
    display: block;
}
