@import "../../styles/colors";
@import "../../styles/sizes";

.kpp-root {
    display: grid;
    gap: 40px;
}

.kpp-panel {
    background: $color-purple;
    border: 1px solid $color-light-purple;
    border-radius: $border-radius;
    padding: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
