@import "../../styles/colors";
@import "../../styles/sizes";

.kpt-table {
    tr {
        height: 132px;
    }

    th,
    td {
        padding: 32px;

        @media (max-width: $media-max-width-mobile) {
            padding: 16px;
        }
    }

    th {
        background: $color-vaticle-deep-purple;

        @media (min-width: $media-min-width-tablet) {
            width: 140px;
        }

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    td > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: $text-margin-xs;
    }

    img {
        width: 48px;
        height: 48px;

        @media (max-width: $media-max-width-mobile) {
            width: 32px;
            height: 32px;
        }
    }
}
