# OSX files
.DS_Store

# IDE folders
.vscode
.idea
.ijwb

# Bazel
bazel-*

node_modules

local
dist
lib

target
Cargo.lock
Cargo.toml

# Terraform and Terraform credentials
infrastructure/credentials/*
!infrastructure/credentials/.gitkeep
**/.terraform
**/terraform.tfstate*
.local/**

# Sanity
sanity/data.json
sanity/scripts/credentials/**/*
!sanity/scripts/credentials/.gitkeep

# Schema
schema/**/*.js

# Server
server/Cargo.lock
server/Cargo.toml

# Website - Angular
website/.angular
website/src/service/credentials/**/*
!website/src/service/credentials/.gitkeep

# Website - Scully
website/scully.log
website/scully/**/*.js
website/scully/**/*.js.map
website/scully/plugins/credentials/**/*
!website/scully/plugins/credentials/.gitkeep
