# OSX files
.DS_Store

# IDE folders
.vscode
.idea
.ijwb

# Bazel
bazel-*

node_modules

local
dist

# Common
common/lib

# Customer.io
customerio/**/*.html

# PostHog
posthog/credential/*
!posthog/credential/apiKey.template.mjs

# Sanity
sanity/data.json
sanity/scripts/credentials/**/*
!sanity/scripts/credentials/token.template.js

# Schema
schema/lib

# Website - Angular
main/.angular
main/src/service/credentials/**/*
!main/src/service/credentials/.gitkeep

# Website - Scully
main/src/assets/scully-routes.json
main/src/main-routes.js
main/src/main-routes.js.map
main/scully.log
main/scully/**/*.js
main/scully/**/*.js.map
main/scully/plugins/credentials/**/*
!main/scully/plugins/credentials/.gitkeep

# Local Netlify folder
.netlify
