# OSX files
.DS_Store

# IDE folders
.vscode
.idea
.ijwb

# Bazel
bazel-*

# PNPM
node_modules
pnpm-audit.json

local
dist

# Common
common/lib

# Customer.io
customerio/**/*.html

# PostHog
posthog/credential/*
!posthog/credential/apiKey.template.mjs

# Sanity
sanity/data.json
sanity/scripts/credentials/**/*
!sanity/scripts/credentials/token.template.js

# Schema
schema/lib

# Main Site
main/.angular
main/src/service/credentials/**/*
!main/src/service/credentials/.gitkeep

# Netlify
.netlify
