@use "media";
@use "shapes";

:host {
    height: 44px;
    margin-bottom: 8px;
    margin-top: 0;
    padding-top: 4px;
    border-radius: 0;

    @media (max-width: media.$max-width-mobile) {
        height: 40px;
        margin-bottom: 0;
    }

    &.bn-variant-post-page {
        margin-bottom: 40px;
    }
}

td-scroll-pane {
    height: 100%;
    --shadow-size: 24px;
}

ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style: none;
    white-space: nowrap;

    @media (max-width: media.$max-width-mobile) {
        padding: 0 8px;
    }

    h3 {
        font-weight: var(--font-weight-regular);
    }
}

a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    border-bottom: 2px solid transparent;

    @media (max-width: media.$max-width-mobile) {
        padding: 0 16px;
    }

    &:hover {
        color: var(--color-green);
    }

    &.td-active {
        color: var(--color-green);
        border-bottom-color: var(--color-green);
    }
}

hr {
    margin: 0;
}
