@use "media";
@use "shapes";

td-blog-category-chips {
    font-weight: var(--font-weight-regular);
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 4px;

    .chip {
        padding: 2px 8px;
        background: var(--color-purple);
        border: shapes.$border;
        border-radius: var(--border-radius);
        color: var(--color-secondary-pink) !important;
    }

    @media (max-width: media.$max-width-mobile) {
        margin-top: 16px;
    }
}
