@use "colors";
@use "media";

:host {
    display: block;
    margin-top: 16px;
    font-weight: var(--font-weight-light);

    &[size="medium"] {
        margin-top: 24px;

        @media (max-width: media.$max-width-mobile) {
            margin-top: 16px;
        }
    }
}

.bp-post-date {
    flex-shrink: 0;
}
