@use "colors";
@use "media";

:host {
    display: block;
    margin-top: 16px;

    &[size="medium"] {
        margin-top: 24px;

        @media (max-width: media.$max-width-mobile) {
            margin-top: 16px;
        }
    }
}

.bp-post-date {
    flex-shrink: 0;
}

td-person-info {
    display: block;
    margin-bottom: 8px;
}
