@import "src/styles/colors";
@import "src/styles/mixins";
@import "src/styles/sizes";

.wp-primary-whitepaper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 40px;

    @media (max-width: $media-max-width-tablet) {
        gap: 32px;
    }

    @media (max-width: $media-max-width-mobile) {
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
    }

    td-ratio-container {
        flex: 0 0 50%;

        @media (max-width: $media-max-width-mobile) {
            flex-basis: auto;
        }
    }
}

.wp-primary-whitepaper-summary {
    td-button {
        display: block;
        margin-top: 40px;

        @media (max-width: $media-max-width-tablet) {
            margin-top: 32px;
        }

        @media (max-width: $media-max-width-mobile) {
            margin-top: 12px;
        }
    }
}

.wp-whitepaper-title {
    font-weight: $font-weight-semi-bold;
}

.wp-primary-whitepaper-description {
    margin-top: 16px;
    font-weight: $font-weight-light;

    @media (max-width: $media-max-width-tablet) {
        margin-top: 8px;
    }
}

.wp-img {
    border: 1px solid $color-vaticle-light-purple;
    border-radius: $border-radius;
}

.wp-grid {
    display: flex;
    flex-flow: row wrap;
}

.wp-grid-item {
    flex: 1 1 400px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: solid $color-vaticle-light-purple;
    border-width: 1px 0 0 1px;
    margin: -1px 0 0 -1px;

    @media (max-width: $media-max-width-mobile) {
        padding: 12px;
        gap: 12px;
    }
}

.wp-img-and-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: auto;

    @media (max-width: $media-max-width-mobile) {
        flex-direction: row;
        align-items: flex-start;
        gap: 12px;
    }
}

.wp-img-secondary-container {
    @media (max-width: $media-max-width-mobile) {
        width: 100px;
        flex-shrink: 0;
    }
}

.wp-grid-item-description {
    margin-top: -8px;
    @include line-clamp(2);
    max-height: 28px * 2;

    @media (max-width: $media-max-width-tablet) {
        max-height: 24px * 2;
    }

    @media (max-width: $media-max-width-mobile) {
        margin-top: 0;
        @include line-clamp(3);
        max-height: 21px * 3;
    }
}
