<article tdPageBackground nebula="studio" planet="pink">
  <div *ngIf="page" class="article-content">
    <div class="section">
      <td-title-body-actions-section
        [isIntroSection]="true"
        [title]="page.introSection.title"
        [body]="page.introSection.body"
      />
      <div class="subsection-margin card wp-primary-whitepaper">
        <td-aspect-ratio ratio="16:9" class="hide-gt-mobile">
          <img [src]="page.featuredWhitePaper.landscapeImageURL" class="wp-img" alt="" />
        </td-aspect-ratio>
        <td-aspect-ratio ratio="17:22" class="hide-mobile">
          <img [src]="page.featuredWhitePaper.portraitImageURL" class="wp-img" alt="" />
        </td-aspect-ratio>
        <div class="wp-primary-whitepaper-summary">
          <h2 class="wp-whitepaper-title">{{ page.featuredWhitePaper.title | plainText }}</h2>
          <td-rich-text class="wp-primary-whitepaper-description" [value]="page.featuredWhitePaper.description" />
          <div class="flex"></div>
          <td-button [button]="accessResourceButton(page.featuredWhitePaper, 'primary', 'Read Now')"></td-button>
        </div>
      </div>
      <div class="subsection-margin card-appearance wp-grid">
        <div *ngFor="let whitePaper of page.whitePapersList" class="wp-grid-item">
          <div class="wp-img-and-text">
            <td-aspect-ratio ratio="16:9" class="wp-img-secondary-container">
              <img [src]="whitePaper.landscapeImageURL" class="wp-img" alt="" />
            </td-aspect-ratio>
            <div>
              <h3 class="wp-whitepaper-title wp-grid-item-title">{{ whitePaper.title | plainText }}</h3>
            </div>
          </div>
          <td-rich-text class="wp-grid-item-description" [value]="whitePaper.description" />
          <td-button [button]="accessResourceButton(whitePaper, 'secondary', 'Read')" size="small" buttonWidth="100%" />
        </div>
      </div>
    </div>
  </div>
</article>
