@import "../../styles/sizes";
@import "../../styles/colors";
@import "../background";

article {
    @include page-background("studio_02june (5) 1.png", "planet-yellow-green.png");
}

.wp-primary-whitepaper {
    padding: 40px;
    display: flex;
    gap: 32px;
    flex-direction: row;
}

.wp-primary-whitepaper-summary {
    display: flex;
    flex-direction: column;
}

.wp-primary-whitepaper-title {
    font-weight: $font-weight-semi-bold;
}

.wp-img {
    border: 1px solid $color-vaticle-light-purple;
    border-radius: $border-radius;
}