@use "media";
@import "mixins";

:host > * + * {
    border-top: 1px solid var(--content-border-color);
}

$number-of-lines: 20;
$number-of-lines-short: 13;
$number-of-lines-mobile: 12;

.pp-content-row {
    @include card-padding();
}

.pp-content-row-body {
    display: flex;
    flex-direction: row;
    gap: 24px;

    @media (min-width: media.$min-width-desktop) {
        &:not(&:first-child) {
            margin-top: 24px;
        }
    }

    > * {
        flex: 1;
    }

    ::ng-deep td-illustration > td-code-snippet,
    ::ng-deep td-illustration > td-polyglot-snippet {
        max-width: 100%;
        height: calc(var(--font-size-code) * var(--line-height-code) * $number-of-lines-short + 2px);

        @media (max-width: media.$max-width-mobile) {
            height: calc(var(--font-size-code) * var(--line-height-code) * $number-of-lines-mobile + 2px);
        }

        &.cp-code-snippet-short {
            height: calc(var(--font-size-code) * var(--line-height-code) * $number-of-lines-short + 2px);

            @media (max-width: media.$max-width-mobile) {
                height: calc(var(--font-size-code) * var(--line-height-code) * $number-of-lines-mobile + 2px);
            }
        }
    }

    @media (min-width: media.$min-width-tablet) and (max-width: media.$max-width-tablet) {
        flex-direction: column;
        gap: 16px;

        &:not(&:first-child) {
            margin-top: 18px;
        }
    }

    @media (max-width: media.$max-width-mobile) {
        flex-direction: column;
        gap: 8px;
        margin-top: 12px;
    }
}
