<article tdPageBackground planet="blue_pink">
  <div *ngIf="page" class="article-content">
    <section class="page-section page-intro-section">
      <td-heading-with-highlights [value]="page.introTitle" level="h1" />

      <div class="rt-details subsection-margin">
        <div class="card rt-form-card">
          <h3><strong>Submit Company Info</strong></h3>
          <div id="hubspot-form-holder"></div>
          <p>
            By submitting your personal data, you consent to emails from Vaticle. See our
            <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
          </p>
        </div>
        <div class="rt-details-text">
          <td-p-with-highlights [value]="page.details.title" class="rt-details-title" level="p1" />
          <td-rich-text [value]="page.details.body" />
        </div>
      </div>
    </section>
  </div>
</article>
