@use "mixins";

@keyframes flow {
    0% { background-position-x: 0; }
    100% { background-position-x: 680px; }
}

td-section-core.td-intro ::ng-deep td-heading-with-highlights h1 {
    @include mixins.text-gradient(#03D0BF, #AC79EE);
    animation: 8s linear 0s infinite flow;
}

td-link-panels {
    margin-top: var(--section-margin);
}
