@use "colors";
@use "mixins";

//@keyframes flow {
//    0% { background-position-x: 0; }
//    100% { background-position-x: 680px; }
//}
//
//td-section-core.td-intro ::ng-deep td-heading-with-highlights h1 {
//    @include mixins.text-gradient(#03D0BF, #AC79EE);
//    animation: 8s linear 0s infinite flow;
//}

td-link-panels {
    margin-top: var(--section-margin);
}

td-organisation-logos {
    margin-top: var(--section-margin);
}

.td-inverted-colors-section {
    margin-top: var(--section-margin);
    @include mixins.light-source-gradient(colors.$white, colors.$secondary-extra-light-grey);

    td-section-core ::ng-deep {
        h2, p {
            color: colors.$black;
        }

        h2 {
            font-weight: var(--font-weight-bold);
        }

        p {
            font-weight: var(--font-weight-regular);
        }
    }

    td-section-core {
        margin-top: 0;
    }
}

.td-benefits-4-to-6 {

}

.td-benefits-5-and-6 {
    display: flex;

    td-section-core {
        margin-top: 0;
    }

    td-section-core ::ng-deep .td-root {
        text-align: start;
    }

    td-section-core ::ng-deep td-actions {
        justify-content: flex-start;

        td-button a {
            padding-left: 0;
        }
    }
}

td-integrations-grid {
    display: block;
    margin-top: var(--subtitle-margin-l);
}
