.button {
  padding: 0 20px;
  display: table;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  border: none;
  @media screen and (max-width: $smallScreen) {
    font-size: 14px;
  }
  &--red {
    background-color: $textPink;
    border: 1px solid $textPink;
    color: white;
    &:hover {
      background-color: $textRed;
    }
  }

  &--green {
    background-color: $textGreen;
    color: white;
  }

  &--charcoal {
    background-color: $textCharcoal;
    color: white;
  }

  &--white {
    background-color: #fff;
    border: 1px solid $textPink;
    color: $textPink;

    &:hover {
      color: white;
      background-color: $textPink;
    }
  }

  &--transparent {
    color: $textPink;
    border: 1px solid $textPink;
    &:hover {
      color: white;
      background-color: $textPink;
    }
  }
}

button {
  outline: none;
  border: none;
}