.footer {
  background-color: $backgroundPurple;
  
  &__container {
    padding: 40px 0;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    @media screen and (max-width: $smallScreen) {
      width: 80%;
    }
  }
  .footer__container:nth-child(1) {
    padding-bottom: 0;
  }
  
  &__social {
    text-align: left;
    &__buttons {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 0;
      text-align: left;
      @media screen and (max-width: $smallScreen) {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
      }
      > a {
        display: inline-block;
        position: relative;
        width: 44px;
        height: 44px;
        background-color: white;
        text-align: center;
        font-size: 1.2rem;
        border-radius: 5px;
        border: 1px solid $borderColor;
        color: $textCharcoal;
        margin-right: 0.5rem;
        > i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &__signup {
      display: inline-block;
      width: auto;
      vertical-align: middle;
      float: right;
      @media screen and (max-width: $smallScreen) {
        display: block;
        margin: 0 auto;
        float: none;
        width: 100%;
      }
      > * {
        display: inline-block;
        vertical-align: middle;
        outline: none;  
      }
      > input {
        height: 44px;
        width: 200px;
        font-size: 0.8rem;
        color: $textLight;
        padding: 0 0.5rem;
        @media screen and (max-width: $smallScreen){
          width: calc(100% - 120px);
        }
      }
      > button {
        height: 47px;
        font-size: 0.8rem;
        min-width: 100px;
        border-radius: 0 5px 5px 0;
        border: none;
        margin-left: -2px;
      }
    }
  }
  &__block {
    display: inline-block;
    width: 18%;
    vertical-align: top;
    text-align: left;
    &__header {
      font-size: 16px;
      color: $textCharcoal;
      padding-bottom: 1rem;
      font-weight: 600;
    }
    &__links {
      > a {
        font-size: 16px;
        color: $textLight;
        display: block;
        line-height: 2.6;
        text-decoration: none;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
        }
        > img {
          width: 28px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.5rem;
        }
        > i {
          font-size: 25px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 1rem;
        }
      }
      &--github {
        font-weight: 300;
        margin-left: -10px;
        > img {
          width: 38px !important;
        }
        > strong {
          font-weight: 600;
          color: black;
          text-decoration: underline;
        }
      }
      &--slack {
        font-weight: 300;
        margin-left: -4px;        
        > img {
          margin-right: 0.8rem !important;
        }
        > strong {
          font-weight: 600;
          color: $textRed;
          text-decoration: underline;
        }
      }

      &--address {
        line-height: 2.0;
        font-size: 16px;
        color: $textLight;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
        }
        > span {
          display: block;
          > i {
            font-size: 25px;
            margin-right: 1rem;
            vertical-align: middle;
            padding-left: 5px;
          }
        }
        > span:nth-child(2) {
          margin-left: 2.2rem;
        }
        > a {
          color: $textBlue;
          display: block;
          text-decoration: none;
          margin-left: 2.2rem;
        }      
      }
    }
    @media screen and (max-width: $smallScreen) {
      width: 60%;
      padding-bottom: 50px;
    }
  }
  &__block:nth-child(1) {
    width: 36%;
    @media screen and (max-width: $smallScreen) {
      display: block;
      width: 100%;
      padding-bottom: 50px;
    }
  }
  &__block:nth-child(5) {
    width: 10%;
  }

  &__block:nth-child(3),&__block:nth-child(5) {
    @media screen and (max-width: $smallScreen) {
      width: 40%;
    }
  }
  &__block:nth-child(4),&__block:nth-child(5) {
    @media screen and (max-width: $smallScreen) {
      padding-bottom: 0;
    }
  }
}