.ReactModal {
  &__Overlay {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75) !important;
  }

  &__Body--open {
    overflow: hidden;
  }
  &__Closebtn {
    right: 1rem;
    top: 1rem;
    display: block;
    text-align: right;
    padding: 1rem;
    cursor: pointer;
    &:before {
      font-size: 1.5rem;
      color: $textCharcoal;  
    }
  }

  &__Content {
    border-radius: 5px !important;
    top: 50% !important;
    left: 50% !important;
    width: $smallScreen;
    transform: translate(-50%, -50%);    
    height: fit-content;
    padding: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    @media screen and (max-width: $smallScreen) {
      width: 90%;
      height: 90%;      
    }
    @media screen and (max-height: $mediumScreenWidth) {
      max-height: 90%;
    }
    > .support-form {
      width: 80%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__splash {
      height: 200px;
      position: relative;
      background: url('/assets/svg/community-splash.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left center;
      &__container {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);    
        position: absolute;
        text-align: center;
        width: 100%;
        > span {
          display: block;
          font-family: 'Titillium' !important;
          color:white;
        }
      }
      &__header {
        font-size: 30px;
        @media screen and (max-width: $smallScreen) {
          font-size: 16px;
        }
      }
      &__text {
        font-size: 18px;
        @media screen and (max-width: $smallScreen) {
          font-size: 14px;
        }
      }
    }
  }
}
