$navHeight: 70px;
$navShadow: 0 0 26px 0 rgba(221, 221, 221, 0.64);
.nav {
  height: $navHeight;
  line-height: $navHeight;
  padding: 0 2rem;
  position: fixed;
  width: stretch;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid $borderColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $smallScreen) {
    padding: 0 1rem;
  }
  > .container {
    width: 100%;
    height: 100%;
  }
  &__logo {
    width: 160px;
    display: inline-block;
    vertical-align: middle;
    > img {
      display: block;
    }
  }
  &__links {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    right: 0;
  }
  &__link {
    color: $textNav;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px;
    position: relative;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    > .fa {
      display: inline;
      vertical-align: middle;
      color: black;
    }
    &__inline {
      line-height: 1;
      padding-bottom: 5px;
    }
    &__button {
      color: $textGreen;
      border: 1px solid $textGreen;
      padding: 10px 15px;
      border-radius: 5px;
      &:hover {
        background-color: $textGreen;
        color: white;
      }
    }
    &__dropdown {
      position: relative;
      display: inline-block;
      .fa {
        padding-left: 0.5rem;
        vertical-align: top;
        color: $textCharcoal;
      }
      &__content {
        display: none;
        position: absolute;
        background-color: white;
        top: 55px;
        width: max-content;
        border-radius: 5px;
        padding: 0.9rem 0.5rem;
        padding-bottom: 0;
        left: 0;
        text-align: left;
        min-width: 80px;
        border: 1px solid $borderColor;
        margin-left: -12px;
        &__item {
          display: block;
          line-height: 1;
          padding-bottom: 4px;
          margin-bottom: 1rem;
          color: $textNav;
          font-size: 14px;
          font-weight: 300;
          margin-left: 7px;
        }
      }
      &:hover, &:active {
        .nav__link__dropdown__content {
          display: block;
        }
      }
    }
  }
  &__hamburger {
    display: block;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: $navHeight;
    top: 0;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    background: white;
    padding: 1rem 10px 0 1rem;
    > .nav__link {
      display: block;
      user-select: none;
      line-height: 1;
      padding-bottom: 4px;
      margin-bottom: 1rem;
      width: inherit;
      &__button {
        padding: 10px 15px;
        width: max-content;
        margin-left: 0px;
      }
      > &__icon {
        display: block;
        padding-top: 0.5rem;
      }
    }
    &--open {
      display: block;
      transform: translateX(0%);
      
    }
    &__button {
      float: right;
      padding: 0;
      margin-top: 24px;
      line-height: 1;
      height: fit-content;
    }
    &__secondary {
      display: block;
      min-height: 286px;
      transform: translateX(100%);
      transition: transform 0.2s ease-in-out;
      position: fixed;
      left: 0;
      right: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: $navHeight;
      border-top: 1px solid $borderColor;      
      border-bottom: 1px solid $borderColor;
      background: white;
      padding: 1rem 10px 0 1rem;
      top: 0;
      > .nav__link {
        display: block;
        user-select: none;
        line-height: 1;
        padding-bottom: 4px;
        margin-bottom: 1rem;
        width: inherit;
        > &__icon {
          display: block;
          padding-top: 0.5rem;
        }
      }
      &--open {
        transform: translateX(0%);        
      }
      &__back {
        > i {
          color: $textCharcoal !important;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.hamburger {
  &-inner {
    height: 2px;
    width: 35px;
    color: $textCharcoal;    
    &:before, &:after {
      height: 2px;
      width: 35px;    
      color: $textCharcoal;      
    }
  }
}