$navHeight: 70px;
$navShadow: 0 0 26px 0 rgba(221, 221, 221, 0.64);
.nav {
  height: $navHeight;
  line-height: $navHeight;
  padding: 0 2rem;
  position: fixed;
  width: stretch;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid $borderColor;
  @media screen and (max-width: $smallScreen) {
    padding: 0 1rem;
  }

  &__logo {
    width: 160px;
    display: inline-block;
    vertical-align: middle;
    > img {
      display: block;
    }
  }
  &__links {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    right: 0;
  }
  &__link {
    color: $textNav;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px;
    position: relative;
    text-align: left;
    > .fa {
      display: inline;
      vertical-align: middle;
      color: black;
    }
  }
  &__hamburger {
    display: none;
    margin-top: 75px;
    margin-left: 11px;
    width: 100%;
    background-color: white;
    padding: 1rem 0;
    border: 1px solid $borderColor;
    border-radius: 5px;
    text-align: right;
    > .nav__link {
      display: block;
      line-height: 2.5rem;
      user-select: none;
      margin-left: 1rem;
      margin-right: 1rem;
      > .fa {
        display: block;
        padding-top: 0.5rem;
      }
    }
    &--open {
      display: block;
    }
    &__button {
      padding-top: 1.4rem;
      float: right;    
    }
  }
}