$supportFormColor: #a8a9b0;

.support-form {
  display: block;
  background-color: white;
  width: 75%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 50px;
  @media screen and (max-width: $smallScreen){
    width: initial;
    padding: 30px 20px;
  }
  &__button {
    margin-top: 1rem;
    outline: none;
    width: 300px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: $smallScreen){
      width: 100%;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
  &__error {
    font-size: 14px;
    color: $textRed;
    font-weight: 600px;
    font-family: 'Titillium';
  }
  &__input {
    display: block;
    height: 50px;
    border: 1px solid $borderColor;
    border-radius: 5px;
    font-size: 14px;
    width: calc(100% - 2rem);
    outline: none;
    padding: 0 1rem;
    color: $supportFormColor;
    background-color: white;
    &::placeholder{
      color: $supportFormColor;
    }
    &--invalid {
      border: 1px solid $textRed;
    }
    &__select {
      width: 100%;
      appearance: none;
    }
    &__textarea {
      height: 300px;
      resize: none;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &__checkbox {
      width: 20px;
      height: 20px;
      &:checked {
        background: #3dce8c;        
      }
    }
    &__group {
      display: block;
      > * {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  &__label {
    font-size: 14px;
    color: $supportFormColor;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    display: block;
    @media screen and (max-width: $smallScreen) {
      display: none;
    }
    &--modified {
      padding-top: 1.6rem;
      @media screen and (max-width: $smallScreen) {
        display: block;
      }
    }
    &--checkbox {
      font-size: 15px;
      text-transform: capitalize;
      display: inline-block;
    }
  }
  &__row {
    padding-bottom: 1.6rem;
    &--modified {
      padding-bottom: 0;
    }
    &__item {
      display: inline-block;
      vertical-align: top;
      width: calc(50% - 30px);
      position: relative;
      @media screen and (max-width: $smallScreen){
        width: 100%;
        display: block;
      }
      &__select {
          &:before {
            content: '\f0d7';
            font-family: FontAwesome;
            color: $supportFormColor;
            display: inline-block;
            position: absolute;
            right: 18px;
            top: 18px;
            pointer-events: none;
          }
      }
    }
    > div:nth-child(2) {
      margin-left: 60px;
      @media screen and (max-width: $smallScreen){
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
  &__section {
    padding: 90px 0;
    background-image: url('/assets/img/support_form-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: $smallScreen) {
      padding: 50px 0;     
    }
    &__header {
      display: block;
      text-align: center;
      color: white;
      font-size: 32px;
      font-weight: 300;
      padding-bottom: 50px;
      @media screen and (max-width: $smallScreen) {
        font-size: 22px;
        padding-bottom: 30px;
      }
      &--with-tag {
        padding-bottom: 0.8rem;
      }
    }
    &__tag {
      display: block;
      font-size: 20px;
      margin-bottom: 3rem;
      font-weight: 300;
      color: $textLight;
      text-align: center;
      @media screen and (max-width: $smallScreen) {
        font-size: 16px;
        margin-bottom: 2rem;
      }
    }
  }
}