.support-form {
  background-color: white;
  border-radius: 5px;
  padding: 50px;
  @media screen and (max-width: $smallScreen){
    padding: 20px;
  }
  &__row {
    padding-bottom: 1.6rem;
    &__item {
      display: inline-block;
      width: calc(50% - 30px);
      @media screen and (max-width: $smallScreen){
        width: 100%;
        display: block;
      }
    }
    > div:nth-child(2) {
      margin-left: 60px;
      @media screen and (max-width: $smallScreen){
        margin-left: 0;
        padding-top: 20px;
      }
    }
  }
}