.visualiser {
  width: 900px;
  margin: 0 auto;
  position: absolute;
  bottom: -287px;
  height: 574px;
  background-color: #2f3544;
  border-radius: 5px;
  box-shadow: 1.7px 6.8px 30px 0 rgba(119, 119, 119, 0.7);
  margin-left: calc(50% - 450px);
  @media screen and (max-width: $smallScreen) {
    width: 90%;
    margin-left: 5%;
  }
  &__tabs {
    &__list {
      display: flex;
      padding: 0;
      margin: 0;
      height: 60px;
      background: black;
      border-radius: 5px 5px 0 0;
      line-height: 60px;
      list-style: none;
      &__item {
        width: 20%;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.8px;
        text-align: center;
        color: #4a4d52;
        font-weight: 400;
        cursor: pointer;
        &--active {
          color: #7897f5;
          border-bottom: 1px solid #7897f5;         
        }
      }
    }
  }
  &__content {
    height: calc(100% - 60px);
    border-radius: 0 0 5px 5px;
    > div {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    &__graph {
      background-color: #3b4254;;
    }
    &__code {
      > pre {
        padding: 1rem 2rem;
        > code {
          //Default colour for everything.
          color: #8c8c92;
          font-size: 18px;
          line-height: 1.43;          
        }
      }
    }
  }
}

.gutter {
  background-color: #505e72;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 5px;
  position: relative;
  > img {
    position: absolute;
    top: 210px;
    margin-left: -18px;
  }
}


// Prism CSS
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #505e72;
}

.token.punctuation {
    color: #f8f8f2;
}

.token.special {
  color: white;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #f8f8f2;
}
.token.string {
  color: #46cc90;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #f2bd5f;
}

.token.keyword {
    color: #7897f2;
}

.token.variable {
    color: #f8765f;
}

.token.regex,
.token.important {
    color: #fd971f;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
