@use "media";

$post-content-width: 700px;

::ng-deep .bp-site-title p {
    color: var(--body-heading-color);
    font-weight: var(--font-weight-bold);
}

.bp-intro-hr {
    margin: 0;
}

.bp-intro-section {
    max-width: $post-content-width;

    @media (max-width: media.$max-width-tablet) {
        max-width: var(--section-max-width);
    }

    ::ng-deep h1 {
        padding: 48px 0 24px;

        @media (max-width: media.$max-width-mobile) {
            padding: 12px 0 0;
        }
    }

    td-rich-text {
        margin-top: 1.25em;

        @media (max-width: media.$max-width-mobile) {
            margin-top: 0.75em;
        }
    }
}

.bp-post-section {
    margin-top: 40px;
    border-top: 1px solid var(--content-border-color);

    @media (max-width: media.$max-width-mobile) {
        margin-top: 16px;
    }
}

::ng-deep .bp-short-description .rt-reading-time {
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
}

.bp-author-section {
    @media (max-width: media.$max-width-tablet) {
        max-width: var(--section-max-width);
    }
}

.bp-author-section-hr {
    margin-top: 24px;
    border-top: 1px solid var(--content-border-color);
}

.bp-featured-image {
    width: 100%;
    display: block;
    border-radius: var(--border-radius);
    border: 1px solid var(--content-border-color);
}

.bp-author-title {
    margin-top: 16px;
}

.bp-authorship {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bp-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 40px;

    @media (max-width: media.$max-width-mobile) {
        gap: 8px;
    }

    h3 {
        font-weight: var(--font-weight-semi-bold);
    }
}

.bp-author-name {
    margin-left: 8px;
}

.bp-avatar {
    display: block;
    width: 56px;
    height: 56px;
    border: 1px solid var(--content-border-color);
    border-radius: var(--border-radius);

    @media (max-width: media.$max-width-mobile) {
        width: 40px;
        height: 40px;
    }
}

.bp-authored-date {
    padding: 4px 0 4px 32px;
    border-left: 1px solid var(--content-border-color);
}

.bp-content-section {
    margin-top: 40px;
    display: flex;
    gap: 125px;

    @media (max-width: media.$max-width-mobile) {
        margin-top: 24px;
        display: block;
    }
}

.bp-content {
    flex: 0 1 $post-content-width;
    width: $post-content-width;
    max-width: var(--section-max-width);
}

.bp-sidebar {
    flex: 1;

    @media (max-width: media.$max-width-mobile) {
        margin-top: 32px;
    }

    > * {
        margin-bottom: 64px;

        @media (max-width: media.$max-width-mobile) {
            margin-bottom: 32px;
        }
    }
}

.bp-sharing-links {
    margin-top: 24px;
    display: flex;
    gap: 16px;

    a img {
        width: 40px;
        height: 40px;
    }
}

.bp-newsletter-section p {
    margin: 16px 0 24px;
}

.bp-sharing-section h4,
.bp-newsletter-section h4,
.bp-related-post-group-heading {
    color: var(--body-font-color);
    font-weight: var(--font-weight-semi-bold);
    padding-bottom: 8px;
    border-bottom: 1px solid var(--content-border-color);
}

.bp-related-post {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

    & + .bp-related-post {
        border-top: 1px solid var(--content-border-color);
    }
}

.bp-related-post-title {
    margin-top: 2px;

    a {
        color: #fff;
        font-weight: var(--font-weight-bold);

        &:hover {
            color: var(--color-green);
            text-decoration: underline;
        }
    }
}

td-aspect-ratio {
    border: 1px solid var(--content-border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.bp-img {
    transition: transform 250ms ease;

    &:hover {
        transform: scale(1.015);
    }
}

.bp-related-post-author {
    font-weight: var(--font-weight-bold);
}
