body.banner-showing {
	$bannerHeight: 65px;
	.nav {
		margin-top: $bannerHeight;
  }
  
  [class$="-page"], .o-landingpage, .o-eventpage {
    padding-top: $navHeight + $bannerHeight;
  }

  @media (max-width: 1012px) {
  	$bannerHeight: 203px;

    .nav, .nav__hamburger {
		  margin-top: $bannerHeight;
    }

    .nav__hamburger {
      margin-top: $bannerHeight + $navHeight;
    }

    [class$="-page"], .o-landingpage, .o-eventpage {
      padding-top: $navHeight + $bannerHeight;
    }
  }
}

.banner-cosmos-container {
  height: 65px;
  width: 100%;

  cursor: pointer;

  position: fixed;
  z-index: 999;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #0a0926;
  }

  &:before {
    height: 100%;
    width: 100%;

    background-image: linear-gradient(180deg, #0f0a32 0%, #2f1d77 100%);
    background-position: center center;
    background-size: 100%;
    content: "";

    position: absolute;
    z-index: -1;
  }

  .banner-bg {
    height: 100%;
    width: 100%;

    background-image: url("/assets/img/banners/cosmos/banner-cosmos-bg-left.svg"),
      url("/assets/img/banners/cosmos/banner-cosmos-bg-right.svg");
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;

    position: absolute;
    z-index: -1;
  }

  .banner-content {
    height: 100%;
    width: 1160px;

    align-items: center;
    justify-content: space-between;

    display: flex;
    margin: 0 auto;

    .banner-logo {
      height: 30px;
    }

    .banner-text {
      font-size: 18px;
      font-family: "Titillium";
      font-weight: 400;

      &--color-white {
        color: white;
      }
      &--color-brand {
        color: #05e9a8;
      }
    }

    .tablet-text {
      display: none;

      .banner-text {
        font-size: 17px;
        text-align: center;
      }
    }

    .banner-button {
      height: 30px;
      width: 150px;

      background: linear-gradient(251.36deg, #1aeca7 0%, #1de9ae 100%);
      border-radius: 5px;
      color: #0a0926;
      cursor: pointer;
      font-family: "Titillium";
      font-weight: 600;
      line-height: 30px;
      text-align: center;
    }
  }

  .banner-btn-close {
    height: 32px;
    width: 32px;

    background-image: url("/assets/img/banners/banner-close.svg");
    background-repeat: no-repeat;
    cursor: pointer;

    position: absolute;
    top: 17px;
    right: 50px;
    z-index: 9999;
  }

  @media (max-width: 1390px) {
    .banner-bg {
      display: none;
    }
    .banner-content {
      width: 880px;
    }
    .banner-content .banner-text {
      display: none;
    }
    .banner-content .tablet-text {
      display: block;
      .banner-text {
        display: block;
      }
    }
    .banner-btn-close {
      right: 17px;
    }
  }

  @media (max-width: 1012px) {
    height: auto;

    .banner-content {
      width: 100%;
      text-align: center;
      display: block;
      padding-bottom: 17px;

      .banner-button {
        margin: 0 auto;
      }
    }

    // .banner-content .banner-text {
    //   .banner-text {
    //     font-size: 17px;
    //     line-height: 10px;
    //     text-align: center;
    //   }
    //   display: block;
    // }

    .banner-content .tablet-text {
      .banner-text {
        margin-top: 17px;
      }
    }

    .content-item {
      margin-top: 17px !important;
    }
  }
}
