<article>
    <div *ngIf="page">
        <td-title-body-actions-section class="intro-section" [title]="page.introSection.title" [body]="page.introSection.body" [actions]="page.introSection.actions"></td-title-body-actions-section>
        <td-organisation-logos [organisations]="page.introSection.userLogos" class="fp-user-logos"></td-organisation-logos>
        <ng-container *ngFor="let section of page.coreSections; index as idx">
            <td-features-page-technicolor-block [section]="section" [page]="page" [index]="idx"></td-features-page-technicolor-block>
            <td-content-panel-grid [panels]="section.panels"></td-content-panel-grid>
        </ng-container>
        <div class="yellow planet"></div>
    </div>
</article>
