@import "colors";
@import "mixins";
@import "sizes";

.kpt-table {
    tr {
        height: 137px;
    }

    th,
    td {
        @include card-padding;
    }

    th {
        background: $color-vaticle-deep-purple;
        width: 140px;

        @media (max-width: $media-max-width-mobile) {
            width: 72px;
            vertical-align: top;
            padding-top: 31px;
        }

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    td > div > * + * {
        margin-top: 8px;
    }

    img {
        width: 48px;
        height: 48px;

        @media (max-width: $media-max-width-mobile) {
            width: 32px;
            height: 32px;
        }
    }

    td-aspect-ratio {
        width: 100%;

        td-illustration {
            height: 100%;
        }
    }
}
