@use "colors";
@use "mixins";
@use "media";

//@keyframes flow {
//    0% { background-position-x: 0; }
//    100% { background-position-x: 680px; }
//}
//
//td-section-core.td-intro ::ng-deep td-heading-with-highlights h1 {
//    @include colors.text-gradient(#03D0BF, #AC79EE);
//    animation: 8s linear 0s infinite flow;
//}

.td-intro {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 800px;

    ::ng-deep td-actions {
        justify-content: center;
    }
}

td-link-panels {
    margin-top: var(--section-margin);
}

td-organisation-logos {
    margin-top: var(--section-margin);
}

.td-drivers-section {
    td-section-core {
        margin-top: 0;
        padding-top: 0;
    }
}

td-key-point-panels-2x2 ::ng-deep {
    display: flex;

    td-section-core {
        margin-top: 0;
    }

    td-section-core .td-text {
        text-align: start;
    }

    td-section-core td-actions {
        justify-content: flex-start;

        td-button a {
            padding-left: 0;
        }
    }
}

td-integrations-grid {
    display: block;
    margin: var(--subtitle-margin-l) auto 0;
}
