@use "colors";
@use "mixins";
@use "media";

//@keyframes flow {
//    0% { background-position-x: 0; }
//    100% { background-position-x: 680px; }
//}
//
//td-section-core.td-intro ::ng-deep td-heading-with-highlights h1 {
//    @include colors.text-gradient(#03D0BF, #AC79EE);
//    animation: 8s linear 0s infinite flow;
//}

.td-intro ::ng-deep {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 800px;

    td-actions {
        justify-content: center;
    }

    .button-frameless {
        color: var(--color-white);

        &:hover {
            color: var(--color-secondary-light-grey);
        }
    }

    .td-illustration-wrapper {
        @media (max-width: media.$max-width-mobile) {
            transform: scale(0.86);
        }
    }

    td-illustration {
        flex: unset !important;
        box-shadow: 0 0 6px 3px rgba(colors.$secondary-blue, 0.35);
        animation-play-state: running !important;
        position: relative;
        max-height: unset !important;
        aspect-ratio: unset !important;
        @include colors.border-gradient(#AC79EE, #03D0BF, var(--body-background));

        @media (min-width: media.$min-width-tablet) {
            margin-top: 32px;
            padding: 12px;

            td-code-snippet {
                .cs-line-numbers, code {
                    font-size: 20px;
                    line-height: 32px;
                }
            }
        }
    }

    td-illustration td-code-snippet {
        text-align: start;
    }
}

@media (max-width: media.$max-width-mobile) {
    .td-intro .td-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

td-link-panels {
    margin-top: var(--section-margin);
}

td-organisation-logos {
    margin-top: var(--section-margin);
}

.td-drivers-section {
    td-section-core {
        margin-top: 0;
        padding-top: 0;
    }
}

td-key-point-panels-2x2 ::ng-deep {
    display: flex;

    td-section-core {
        margin-top: 0;
    }

    td-section-core .td-root {
        text-align: start;
    }

    td-section-core td-actions {
        justify-content: flex-start;

        td-button a {
            padding-left: 0;
        }
    }
}

td-integrations-grid {
    display: block;
    margin: var(--subtitle-margin-l) auto 0;
}
