@use "shapes";
@use "colors";
@use "mixins";

:host {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    border: shapes.$border;

    &.il-image-illustration {
        border-radius: 0;
    }

    &.sp-pane, &.td-frameless {
        border: none;
    }

    &.il-blur {
        user-select: none;

        > * {
            filter: blur(5px);
        }
    }

    &.is-code-snippet {
        ::ng-deep td-code-snippet {
            padding: 12px;
        }
        animation-play-state: running !important;

        &.is-typeql-snippet {
            box-shadow: 0 0 6px 3px rgba(colors.$secondary-blue, 0.35);
            @include colors.border-gradient(#AC79EE, #03D0BF, var(--color-black));
        }
    }
}

.il-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

td-polyglot-snippet {
    height: 100%;
}
