@use "media";

:host {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

table {
    overflow: hidden;
    table-layout: fixed;
    text-align: start;
    height: 0; // trick to make div fill cell height
    border-collapse: separate;
    border-spacing: 20px 0;
    background: none;
    box-shadow: none;
}

tr td {
    background: var(--color-deep-purple);
    border: 1px solid var(--color-light-purple);
    border-width: 0 1px;
}

tr:first-of-type td {
    border-top-width: 1px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

tr:last-of-type td {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-bottom-width: 1px;
}

td {
    padding: 24px;

    &:nth-of-type(2) h3 {
        color: var(--color-green);
    }

    &:nth-of-type(3) h3 {
        background: linear-gradient(105deg, #F96480, #FDD257);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:nth-of-type(3) td-button ::ng-deep a {
        border: none;
        height: 41px;
        position: relative;
        overflow: hidden;
        --box-border--border: linear-gradient(105deg, #F96480 0%, #FDD257 100%);

        /* classic 9-slide-scaling with 2px border 4px rounded corners. change `rx` and `ry` parameters to adjust border-radius */
        --box--border__top-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='1' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");
        --box--border__top: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='1' x2='101' y2='1' stroke='black' stroke-width='1'/></svg>");
        --box--border__top-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='1' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");
        --box--border__left: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='1' y1='-1' x2='1' y2='101' stroke='black' stroke-width='1'/></svg>");
        --box--border__right: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='9' y1='-1' x2='9' y2='101' stroke='black' stroke-width='1'/></svg>");
        --box--border__bottom-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='-9' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");
        --box--border__bottom: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='9' x2='101' y2='9' stroke='black' stroke-width='1'/></svg>");
        --box--border__bottom-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='-9' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--box-border--border);
            mask:
                var(--box--border__top-left) 0 0 / .625rem .625rem,
                var(--box--border__top) .625rem 0 / calc(100% - 1.25rem) .625rem,
                var(--box--border__top-right) 100% 0 / .625rem .625rem,
                var(--box--border__left) 0 .625rem / .625rem calc(100% - 1.25rem),
                var(--box--border__right) 100% .625rem / .625rem calc(100% - 1.25rem),
                var(--box--border__bottom-left) 0 100% / .625rem .625rem,
                var(--box--border__bottom) .625rem 100% / calc(100% - 1.25rem) .625rem,
                var(--box--border__bottom-right) 100% 100% / .625rem .625rem;
            mask-repeat: no-repeat;
        }

        &:hover {
            --box-border--border: linear-gradient(105deg, #FBA2B3 0%, #FEE9AB 100%);
        }
    }
}

hr {
    width: 100%;
    margin: 16px 0;
}

.pp-cell-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pp-body-text {
    margin-top: 24px;
}

.pp-button-row td {
    padding: 16px 24px;
}

.td-key-points {
    td {
        vertical-align: top;
    }

    ul {
        list-style: none;
        text-align: start;
    }

    li {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    li + li {
        margin-top: 6px;
    }

    i {
        color: var(--color-secondary-light-grey);
    }

    td:nth-of-type(2) i {
        color: var(--color-green);
    }

    td:nth-of-type(3) i {
        background: linear-gradient(105deg, #F96480, #FDD257);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (max-width: media.$max-width-mobile) {
    table {
        border-collapse: collapse;

        tr:not(:first-child) {
            border-top-width: 0;
        }
    }

    td {
        padding: 12px;
    }

    hr {
        margin: 8px 0;
    }

    .pp-body-text {
        margin-top: 12px;
    }

    .pp-button-row td {
        padding: 12px;
    }
}