<article tdPageBackground nebula="deploy" planet="green">
  @if (page$ | async; as page) {
    <div class="article-content">
      @if (page.introSection) {
        <td-support-page-core-section [block]="page.introSection" [page]="page" />
        <td-link-panels [panels]="page.introSection.panels" />
      }
      @if (page.featureTableSection) {
        <td-support-page-core-section [block]="page.featureTableSection" [page]="page" />
        <td-feature-table [table]="page.featureTableSection.featureTable" />
      }
      @if (page.testimonialsSection) {
        <td-support-page-core-section [block]="page.testimonialsSection" [page]="page" />
        <td-testimonials-carousel [testimonials]="page.testimonialsSection.testimonials" />
      }
      @if (page.contactSection) {
        <td-support-page-core-section [block]="page.contactSection" [page]="page" />
        <td-contact-panel />
      }
    </div>
  }
</article>
