@use "colors";
@use "sass:color";

:host {
    margin: 16px;
    width: 372px;
    border-radius: var(--border-radius);
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;

    &.ok {
        background: color.mix(colors.$green, colors.$black-purple, 15%);
        box-shadow: inset 0 0 0 1px var(--color-green);

        .mat-icon {
            color: var(--color-green);
        }
    }

    &.error {
        background: color.mix(colors.$red, colors.$black-purple, 15%);
        box-shadow: inset 0 0 0 1px var(--color-red);

        .mat-icon {
            color: var(--color-red);
        }
    }
}

:host-context(.mat-mdc-snack-bar-handset) {
    width: 100%;
    margin: 0;
}

.sb-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--color-white);

    .mat-icon {
        flex-shrink: 0;
    }
}

.sb-button .mat-icon {
    color: rgba(colors.$white, 0.8);
}
