@use "media";
@use "mixins" as *;
@use "shapes";

:host {
    overflow-x: visible;
    display: flex;
    gap: 32px;
}

td-heading-with-highlights {
    display: block;
    flex: 0 0 400px;
}

.td-cards {
    display: flex;
    gap: 24px;
}

.td-card {
    @include card-appearance;
    flex: 0 0 360px;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.td-hero {
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-bottom: 1px solid var(--content-border-color);
}

.td-card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
