.section-newsletter {
  position: relative; }
  .section-newsletter .bg {
    background: #100638;
    background: linear-gradient(180deg, #100638 0%, #090642 100%); }
  .section-newsletter .wave {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(/events/img/newsletter-wave.svg);
    background-position: top; }
  .section-newsletter-logo {
    width: 198px;
    height: 149px; }
  .section-newsletter form.newsletter {
    width: 550px;
    max-width: 100%;
    height: 50px;
    padding: 0;
    position: relative;
    margin: 0 auto; }
    .section-newsletter form.newsletter label.error, .section-newsletter form.newsletter label.success {
      width: 100%;
      font-family: "Titillium Web";
      text-align: left;
      margin-top: 70px; }
    .section-newsletter form.newsletter label.error {
      color: #e74c3c; }
    .section-newsletter form.newsletter label.success {
      display: none; }
    .section-newsletter form.newsletter input {
      width: calc(100% - 140px);
      height: 50px;
      background-color: #190d47;
      border: 1px solid #BDB5FF;
      border-right: none;
      border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      outline: none;
      letter-spacing: 1px;
      line-height: 50px;
      padding: 5px 20px;
      position: absolute;
      left: 0; }
      @media (max-width: 576px) {
        .section-newsletter form.newsletter input {
          width: calc(100% - 100px);
          padding: 3px 10px;
          letter-spacing: 0; } }
      .section-newsletter form.newsletter input:-ms-input-placeholder {
        color: #BDB5FF;
        font-size: 1rem; }
      .section-newsletter form.newsletter input::-ms-input-placeholder {
        color: #BDB5FF;
        font-size: 1rem; }
      .section-newsletter form.newsletter input::placeholder {
        color: #BDB5FF;
        font-size: 1rem;
        opacity: 1;
        -moz-opacity: 1;
        -webkit-opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        /* IE 8 */
        filter: alpha(opacity=100);
        /* IE 5-7 */ }
    .section-newsletter form.newsletter button {
      width: 140px;
      height: 50px;
      border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      -webkit-border-radius: 0 5px 5px 0;
      position: absolute;
      top: 0;
      right: 0; }
      @media (max-width: 576px) {
        .section-newsletter form.newsletter button {
          width: 100px; } }
      .section-newsletter form.newsletter button .spinner-border {
        display: block;
        color: #240F61;
        margin: 0 auto; }
    .section-newsletter form.newsletter .form-messages {
      width: 100%;
      height: fit-content;
      padding: 10px 5px;
      position: absolute;
      top: 50px; }
      .section-newsletter form.newsletter .form-messages .response {
        font-size: 0.85rem;
        text-align: left; }
        .section-newsletter form.newsletter .form-messages .response.error {
          color: #e74c3c; }
  .section-newsletter .container {
    position: relative; }
  .section-newsletter .m-planet-pink {
    width: 70px;
    height: 110px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(/events/img/planet-pink-medium.svg);
    background-position: left;
    top: 20px;
    right: 0;
    z-index: -1; }
  .section-newsletter .m-spaceship {
    width: 90px;
    height: 190px;
    background-size: 129px 190px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(/events/img/spaceship.svg);
    background-position: right;
    top: 20px;
    left: 0;
    z-index: -1; }
  .section-newsletter .planet-pink {
    width: 138px;
    height: 138px;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    background-image: url(/events/img/planet-pink-medium.svg);
    background-position: center center;
    bottom: 100px;
    right: 40px;
    z-index: -1; }
  .section-newsletter .spaceship {
    width: 160px;
    height: 190px;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0px;
    background-image: url(/events/img/spaceship.svg);
    background-position: center center;
    top: 20px;
    left: 60px;
    z-index: -1; }

main {
  padding-top: 70px; }
  main:before {
    background-color: #190d47;
    content: "";
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0; }

header {
  background-color: #190d47 !important;
  display: block !important; }

.page-schedule {
  background: linear-gradient(180deg, #0a0926 0%, #100638 100%); }
  .page-schedule .schedule-header {
    width: 700px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .page-schedule .schedule-header {
        width: 94%; } }
    @media (max-width: 576px) {
      .page-schedule .schedule-header {
        width: 86%; } }
    .page-schedule .schedule-header .day-switcher {
      width: 100%;
      margin-left: 70px; }
      @media (max-width: 1024px) {
        .page-schedule .schedule-header .day-switcher {
          margin-left: 0; } }
      .page-schedule .schedule-header .day-switcher .day-one,
      .page-schedule .schedule-header .day-switcher .day-two {
        width: 50%;
        border: 1px solid #13EBA8;
        cursor: pointer;
        padding-top: 5px; }
        .page-schedule .schedule-header .day-switcher .day-one p,
        .page-schedule .schedule-header .day-switcher .day-two p {
          color: #13EBA8;
          margin-bottom: 5px !important; }
        .page-schedule .schedule-header .day-switcher .day-one.selected,
        .page-schedule .schedule-header .day-switcher .day-two.selected {
          background-color: #13EBA8; }
          .page-schedule .schedule-header .day-switcher .day-one.selected p,
          .page-schedule .schedule-header .day-switcher .day-two.selected p {
            color: #0a0926; }
      .page-schedule .schedule-header .day-switcher .day-one {
        border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px; }
      .page-schedule .schedule-header .day-switcher .day-two {
        border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        border-left: none; }
  .page-schedule .schedule-container {
    max-width: 1160px; }
    @media (max-width: 1024px) {
      .page-schedule .schedule-container {
        width: 94%; } }
    @media (max-width: 576px) {
      .page-schedule .schedule-container {
        width: 86%; } }
    .page-schedule .schedule-container .schedule-note {
      width: 100%;
      font-size: 13px;
      color: #BDB5FF;
      text-align: left;
      margin-left: 140px !important; }
      @media (max-width: 1024px) {
        .page-schedule .schedule-container .schedule-note {
          margin-left: 0 !important; } }
    .page-schedule .schedule-container .schedule-content-header {
      padding-left: 140px; }
      .page-schedule .schedule-container .schedule-content-header p {
        width: 33%;
        line-height: 120px; }
      .page-schedule .schedule-container .schedule-content-header p.great-hall {
        color: #ff4095; }
      .page-schedule .schedule-container .schedule-content-header p.small-hall {
        color: #ffbf00; }
      .page-schedule .schedule-container .schedule-content-header p.council-chamber {
        color: #00e0ff; }
    .page-schedule .schedule-container .schedule-content {
      width: 100%; }
      .page-schedule .schedule-container .schedule-content p.schedule-time {
        min-width: 120px;
        color: #13EBA8;
        font-family: "Titillium Web";
        font-weight: 400;
        font-size: 1.5em;
        line-height: 140px;
        text-align: center;
        margin: 0 20px 0 0; }
        @media (max-width: 1024px) {
          .page-schedule .schedule-container .schedule-content p.schedule-time {
            line-height: inherit;
            margin-bottom: 10px; }
            .page-schedule .schedule-container .schedule-content p.schedule-time:first-child {
              margin-top: 40px; } }
      .page-schedule .schedule-container .schedule-content .schedule-sessions {
        width: calc(100% - 140px);
        margin-bottom: 10px; }
        @media (max-width: 1024px) {
          .page-schedule .schedule-container .schedule-content .schedule-sessions {
            width: 100%; } }
        .page-schedule .schedule-container .schedule-content .schedule-sessions .break {
          width: 100%;
          background-color: #140F34;
          box-shadow: 0 6px 10px 0 #0D082D; }
          .page-schedule .schedule-container .schedule-content .schedule-sessions .break p {
            line-height: 140px; }
        .page-schedule .schedule-container .schedule-content .schedule-sessions .session {
          width: 510px;
          background-color: #140F34;
          box-shadow: 0 6px 10px 0 #0D082D;
          padding: 20px;
          margin-right: 10px;
          position: relative; }
          .page-schedule .schedule-container .schedule-content .schedule-sessions .session:last-child {
            margin-right: 0; }
          @media (max-width: 1024px) {
            .page-schedule .schedule-container .schedule-content .schedule-sessions .session {
              width: 100%;
              margin-bottom: 10px; }
              .page-schedule .schedule-container .schedule-content .schedule-sessions .session:last-child {
                margin-bottom: 15px; } }
          .page-schedule .schedule-container .schedule-content .schedule-sessions .session .speaker-frame {
            height: 70px;
            width: 70px;
            background: url(/events/img/speaker-frame.svg) no-repeat;
            background-size: 70px 70px;
            background-position: top center;
            padding: 5px; }
            .page-schedule .schedule-container .schedule-content .schedule-sessions .session .speaker-frame img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
              display: block; }
          .page-schedule .schedule-container .schedule-content .schedule-sessions .session .details {
            width: calc(100% - 100px);
            margin-left: 30px; }
            .page-schedule .schedule-container .schedule-content .schedule-sessions .session .details .title {
              max-height: 7.5em;
              position: relative;
              padding-bottom: 5px; }
              @media (max-width: 576px) {
                .page-schedule .schedule-container .schedule-content .schedule-sessions .session .details .title {
                  max-height: 5.5em; } }
            .page-schedule .schedule-container .schedule-content .schedule-sessions .session .details .footer {
              float: left;
              text-align: left;
              display: flex;
              align-items: center; }
              .page-schedule .schedule-container .schedule-content .schedule-sessions .session .details .footer p {
                display: inline-block; }
          .page-schedule .schedule-container .schedule-content .schedule-sessions .session .room.color-pink {
            color: #ff4095; }
          .page-schedule .schedule-container .schedule-content .schedule-sessions .session .room.color-yellow {
            color: #ffbf00; }
          .page-schedule .schedule-container .schedule-content .schedule-sessions .session .room.color-blue {
            color: #00e0ff; }
          .page-schedule .schedule-container .schedule-content .schedule-sessions .session.border-left-color-pink {
            border-left: 1px solid #ff4095; }
          .page-schedule .schedule-container .schedule-content .schedule-sessions .session.border-left-color-yellow {
            border-left: 1px solid #ffbf00; }
          .page-schedule .schedule-container .schedule-content .schedule-sessions .session.border-left-color-blue {
            border-left: 1px solid #00e0ff; }
          .page-schedule .schedule-container .schedule-content .schedule-sessions .session.is-keynote {
            width: 100%; }

/*# sourceMappingURL=schedulePage.css.map */
