@use "media";

.cp-contact-policy {
    height: 0;
    display: flex;
    align-items: flex-end;
    max-width: calc(100% - 202px - 16px);

    @media (max-width: media.$max-width-mobile) {
        height: auto;
        max-width: none;
        margin-top: 12px;
    }
}

.mat-mdc-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.field-multi-checkbox {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    height: 160px;
    gap: 2px;
}

.field-multi-checkbox-option {
    display: flex;
    align-items: center;
    gap: 4px;
}

td-form-actions {
    margin-top: 40px;
    align-self: flex-end;
    width: unset;

    @media (max-width: media.$max-width-mobile) {
        align-self: stretch;
    }
}

aside {
    position: absolute;
    bottom: 24px;
    left: 24px;

    @media (max-width: media.$max-width-mobile) {
        bottom: 64px;
    }
}
