@use "media";

:host {
    display: block;
    padding: 32px;
    position: relative;

    ::ng-deep .submitted-message {
        margin-bottom: 50px;
    }
}

.cp-contact-policy {
    margin-top: 20px;

    @media (max-width: media.$max-width-mobile) {
        margin-top: 12px;
    }
}

.mat-mdc-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
