:host,
.ib-root {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.ib-root {
    &:hover,
    &:focus {
        svg path {
            fill: #fff;
        }

        [class^="ib-tooltip"] {
            opacity: 1;
        }
    }
}

svg {
    cursor: pointer;
}

::ng-deep .ib-root .ib-tooltip-text-box {
    transform: translateX(-50%) translateX(9px); // centre inside parent container, then offset half the info button width
}
