@import "src/styles/colors";

:host {
    display: inline-flex;
    align-items: center;
    position: relative;
    color: $color-vaticle-secondary-grey;
    font-size: 24px;

    &:hover,
    &:focus {
        color: $color-vaticle-white;

        [class^="ib-tooltip"] {
            opacity: 1;
        }
    }

    ::ng-deep .ib-tooltip-text-box {
        transform: translateX(-50%) translateX(9px); // centre inside parent container, then offset half the info button width
    }
}

svg {
    cursor: pointer;
    width: 1em;
    height: 1em;
}
