@use "@angular/material" as mat;
@use "colors";
@use "shapes";
@use "typography";

@include mat.core();
$purple-palette: (
    50: colors.$secondary-purple,
    100: colors.$secondary-purple,
    200: colors.$secondary-purple,
    300: colors.$secondary-purple,
    400: colors.$secondary-purple,
    500: colors.$secondary-purple,
    600: colors.$secondary-purple,
    700: colors.$secondary-purple,
    800: colors.$secondary-purple,
    900: colors.$secondary-purple,
    A100: colors.$secondary-purple,
    A200: colors.$secondary-purple,
    A400: colors.$secondary-purple,
    A700: colors.$secondary-purple,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    )
);
$green-palette: (
    50: colors.$green,
    100: colors.$green,
    200: colors.$green,
    300: colors.$green,
    400: colors.$green,
    500: colors.$green,
    600: colors.$green,
    700: colors.$green,
    800: colors.$green,
    900: colors.$green,
    A100: colors.$green,
    A200: colors.$green,
    A400: colors.$green,
    A700: colors.$green,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    )
);
$red-palette: (
    50: colors.$red,
    100: colors.$red,
    200: colors.$red,
    300: colors.$red,
    400: colors.$red,
    500: colors.$red,
    600: colors.$red,
    700: colors.$red,
    800: colors.$red,
    900: colors.$red,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    )
);
$typedb-primary: mat.define-palette($green-palette, 700, 300, 900);
$typedb-accent: mat.define-palette($purple-palette, 300, 100, 500);
$typedb-warn: mat.define-palette($red-palette, 700);
$typedb-typography: mat.define-typography-config(
    $font-family: typography.$font-family-default,
);
$typedb-theme: mat.define-dark-theme((
    color: (
        primary: $typedb-primary,
        accent: $typedb-accent,
        warn: $typedb-warn,
    ),
    typography: $typedb-typography,
));
@include mat.all-component-themes($typedb-theme);
@include mat.all-component-densities(-1);

/* Material CSS overrides */
/* Mostly copied from typedb-web */
body {
    /* Button toggle */
    .mat-button-toggle-group, .mat-button-toggle {
        --mat-standard-button-toggle-divider-color: #{colors.$light-purple};
        --mat-standard-button-toggle-background-color: #{colors.$deep-purple};
        --mat-standard-button-toggle-selected-state-background-color: #{colors.$secondary-purple};
        --mat-standard-button-toggle-selected-state-text-color: #{colors.$green};
        --mat-standard-button-toggle-disabled-state-background-color: #{colors.$secondary-deep-grey};
        --mat-standard-button-toggle-disabled-selected-state-background-color: #{colors.$secondary-mid-deep-grey};
    }

    .mat-button-toggle:hover button:not([disabled]) {
        color: colors.$green;
    }

    .mat-button-toggle-appearance-standard.mat-button-toggle-disabled.mat-button-toggle-checked button:disabled {
        color: var(--mat-standard-button-toggle-disabled-selected-state-text-color);
        background-color: var(--mat-standard-button-toggle-disabled-selected-state-background-color);
    }

    /* CDK */
    .cdk-overlay-container {
        position: fixed;
        z-index: 1000;
    }

    .cdk-overlay-container, .cdk-global-overlay-wrapper {
        pointer-events: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .cdk-overlay-backdrop {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        pointer-events: auto;
        -webkit-tap-highlight-color: transparent;
        transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
        opacity: 0;
        background: rgba(0, 0, 0, 0.32);

        &.cdk-overlay-backdrop-showing {
            opacity: 1;

            &.cdk-overlay-transparent-backdrop {
                opacity: 0;
            }
        }
    }

    .cdk-global-overlay-wrapper {
        display: flex;
        position: absolute;
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }

    .cdk-visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
        outline: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        left: 0;
    }

    .cdk-overlay-pane {
        position: absolute;
        pointer-events: auto;
        box-sizing: border-box;
        z-index: 1000;
        display: flex;
        max-width: 560px;
        max-height: 100%;
    }

    /* Checkbox */
    .mdc-checkbox__background {
        border-radius: 3px;
    }

    /* Chips */
    .mat-mdc-chip.mat-mdc-standard-chip {
        --mdc-chip-elevated-container-color: #{colors.$secondary-purple};
        --mdc-chip-label-text-size: 15px;
        --mdc-chip-label-text-tracking: var(--body-letter-spacing);
        --mdc-chip-container-height: 40px;
        --mdc-chip-focus-state-layer-opacity: 1;
        @include shapes.standard-border;
        transition: 100ms border-color ease;

        &:hover, &.cdk-focused {
            border-color: colors.$secondary-grey;
        }

        &.mat-mdc-chip-selected.mat-primary {
            --mdc-chip-label-text-color: #{colors.$purple};
            border-color: #{colors.$green};
            --mdc-chip-with-icon-selected-icon-color: #{colors.$purple};
        }
    }

    .mat-mdc-chip-focus-overlay {
        opacity: 0 !important; /* overrides Angular Material styles */
    }

    .mdc-evolution-chip-set .mdc-evolution-chip-set__chips {
        margin: 0;
        gap: 12px;
    }

    .mdc-evolution-chip-set .mdc-evolution-chip {
        margin: 0;
    }

    .mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic  {
        .mdc-evolution-chip__graphic {
            padding-left: 8px;
            padding-right: 8px;
        }
        .mdc-evolution-chip__action--primary {
            padding-right: 16px;
        }
    }

    /* Dialog */
    .mdc-dialog {
        --mdc-dialog-container-color: #{colors.$deep-purple};
        --mdc-dialog-subhead-color: #{colors.$white};
        --mdc-dialog-supporting-text-color: #{colors.$white};
        --mdc-dialog-supporting-text-weight: var(--font-weight-light);
        --mdc-dialog-supporting-text-tracking: var(--body-letter-spacing);

        .mdc-dialog__surface {
            padding: 24px;
            border-radius: shapes.$border-radius;
            background-color: var(--mdc-dialog-container-color);
        }

        .mdc-dialog__title {
            padding: 0 0 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &::before {
                display: none;
            }
        }

        .mdc-dialog__content {
            padding: 0;
        }
    }

    .mat-mdc-dialog-container .mdc-dialog__surface {
        border: shapes.$border;
        box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.3), 0px 24px 38px 3px rgba(0, 0, 0, 0.21), 0px 9px 46px 8px rgba(0, 0, 0, 0.18);

        @media (max-width: 450px) {
            border-radius: 0;
        }
    }

    /* Expansion */
    mat-expansion-panel {
        --mat-expansion-header-text-size: 17px;
        --mat-expansion-header-expanded-state-height: 44px;
        --mat-expansion-container-text-size: 15px;
    }

    .mat-expansion-panel-body {
        padding: 0 28px 28px;
    }

    /* Form field */
    .mat-mdc-form-field {
        --mat-form-field-container-text-tracking: var(--body-letter-spacing);
        --mdc-outlined-text-field-label-text-size: 15px;
        --mdc-outlined-text-field-label-text-weight: var(--font-weight-light);
        --mdc-outlined-text-field-label-text-tracking: var(--body-letter-spacing);
        --mat-form-field-subscript-text-tracking: var(--body-letter-spacing);
        font-size: 15px;
        --mat-select-trigger-text-size: 15px;

        &:not(.form-field-dense) {
            @include mat.private-form-field-density(-2);

            &.mat-mdc-form-field-type-mat-select {
                height: 48px;
            }
        }

        &.form-field-dense {
            @include mat.private-form-field-density(-5);
        }
    }

    .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
        -webkit-font-smoothing: auto;
    }

    .mat-mdc-form-field-bottom-align::before {
        content: unset;
    }

    .mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
        position: static;
    }

    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
        top: 22px;
    }

    .mat-mdc-form-field.form-field-dense .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
        --mat-mdc-form-field-label-transform: translateY(-27px) scale(.75);
    }

    .mat-mdc-form-field-error {
        font-size: 14px;
        letter-spacing: normal;
    }

    .mat-mdc-text-field-wrapper {
        height: 100%;
    }

    /* Icon */
    .mat-icon {
        width: 1em;
        height: 1em;

        svg {
            display: block;
        }
    }

    /* Icon button */
    .mdc-fab {
        --mdc-fab-container-color: #{colors.$secondary-purple};
        --mat-fab-foreground-color: #{colors.$dark-white};
        --mat-fab-disabled-state-container-color: #{colors.$secondary-purple};
        --mat-fab-disabled-state-foreground-color: #{colors.$secondary-mid-deep-grey};
        --mdc-fab-container-shape: #{shapes.$border-radius};
        --mdc-fab-small-icon-size: 16px;
        border: shapes.$border;

        .mat-icon {
            font-size: unset;
        }

        &.disabled {
            cursor: not-allowed;
            background-color: var(--mat-fab-disabled-state-container-color);
            color: var(--mat-fab-disabled-state-foreground-color);

            .mat-mdc-button-persistent-ripple {
                display: none;
            }
        }

        .mdc-button__label {
            display: flex;
        }
    }

    .mat-mdc-fab {
        width: 40px;
        height: 40px;

        .mat-mdc-button-touch-target {
            width: 40px;
            height: 40px;
        }
    }

    .mat-mdc-mini-fab {
        width: 32px;
        height: 32px;

        .mat-mdc-button-touch-target {
            width: 32px;
            height: 32px;
        }
    }

    /* Input */
    .mdc-text-field {
        --mdc-outlined-text-field-input-text-color: #{colors.$white};
        --mdc-outlined-text-field-outline-color: #{colors.$light-purple};
        --mdc-outlined-text-field-hover-outline-color: #{colors.$secondary-grey};
        --mdc-outlined-text-field-label-text-color: #{rgba(#fff, 0.5)};
        border-radius: shapes.$border-radius;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled) {
        background-color: #{colors.$secondary-purple};
    }

    .mat-mdc-form-field-input-control {
        -webkit-font-smoothing: auto !important; // overrides hacky Angular Material style
    }

    /* Menu */
    .mat-mdc-menu-panel {
        --mat-menu-container-color: #{colors.$secondary-purple};
        --mat-menu-item-label-text-font: #{typography.$font-family-default};
        --mat-menu-item-label-text-size: 15px;
        --mat-menu-item-label-text-tracking: var(--body-letter-spacing);
    }

    .mat-mdc-menu-item {
        min-height: 40px;

        .mat-mdc-menu-item-text {
            display: flex;
            align-items: center;
        }

        mat-checkbox {
            margin-left: -8px;
        }
    }

    button.mat-mdc-menu-item:disabled {
        color: var(--mat-menu-item-label-text-color); /* overrides button:disabled color */
    }

    /* Paginator */
    mat-paginator {
        --mat-paginator-container-background-color: transparent;
        --mat-paginator-container-text-color: #{rgba(colors.$white, 0.7)};
        --mat-paginator-container-text-font: #{typography.$font-family-default};
        --mat-paginator-container-text-size: 15px;
        --mat-paginator-container-text-tracking: var(--body-letter-spacing);
    }

    /* Progress spinner */
    .mat-mdc-progress-spinner {
        --mdc-circular-progress-active-indicator-color: #{colors.$dark-white};
    }

    /* Select */
    .mat-mdc-select {
        --mat-select-trigger-text-tracking: var(--body-letter-spacing);
        -webkit-font-smoothing: auto;
    }

    .mat-mdc-select-panel {
        --mat-select-panel-background-color: #{colors.$secondary-purple};
        --mat-option-label-text-size: 15px;
        border: shapes.$border;

        &.select-panel-dense {
            mat-pseudo-checkbox.mat-pseudo-checkbox-checked::after {
                width: 12px;
                height: 5px;
            }

            .mat-mdc-option {
                min-height: 40px;
            }
        }
    }

    mat-select-trigger > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0; // without this, the text in a flex container won't shrink
    }

    .mat-mdc-option {
        --mat-option-label-text-tracking: var(--body-letter-spacing);
        padding-left: 32px; // makes padding consistent whether or not the option is part of an optgroup

        .mdc-list-item__primary-text {
            width: 100%;
            display: inline-flex;

            > span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .mat-pseudo-checkbox, .mat-pseudo-checkbox-minimal {
            position: absolute;
            margin-left: -24px;
        }
    }

    .mat-mdc-optgroup {
        --mat-optgroup-label-text-tracking: var(--body-letter-spacing);
    }

    /* Sidenav */
    .mat-sidenav-container {
        --mat-sidenav-container-background-color: #{colors.$deep-purple};
        --mat-sidenav-container-divider-color: #{colors.$light-purple};
        --mat-sidenav-content-background-color: #{colors.$black-purple};
        --mat-sidenav-scrim-color: #{rgba(#000, 0.4)};

        height: 100%;
    }

    .mat-sidenav-content {
        display: flex;
        flex-direction: column;
    }

    /* Slider */
    .mat-mdc-slider {
        --mdc-slider-handle-width: 8px;
        --mdc-slider-handle-shape: 2px;
    }

    /* Snack bar */
    .mat-mdc-snack-bar-container {
        --mdc-snackbar-supporting-text-size: 16px;
        --mdc-snackbar-supporting-text-line-height: 24px;

        .mdc-snackbar__surface {
            padding: 0;
            background: transparent;
            box-shadow: none;

            &::before {
                display: none;
            }
        }
        .mdc-snackbar__label {
            padding: 0;
        }
    }

    /* Stepper */
    mat-stepper {
        --mat-stepper-container-color: transparent;
        --mat-stepper-header-label-text-size: 15px;
        --mat-stepper-header-selected-state-label-text-size: 17px;
        --mat-stepper-header-focus-state-layer-color: transparent;
        --mat-stepper-header-hover-state-layer-color: transparent;
    }

    .mat-horizontal-stepper-wrapper {
        height: 100%;
    }

    .mat-step-header {
        pointer-events: none;
    }

    .mat-horizontal-stepper-header {
        border-radius: shapes.$border-radius;
        --mat-icon-color: #{colors.$purple};
        --mat-stepper-header-icon-foreground-color: #{colors.$purple};
        --mat-stepper-header-selected-state-icon-foreground-color: #{colors.$purple};
    }

    .mat-horizontal-content-container {
        flex: 1;
        overflow: visible;
    }

    .mat-horizontal-stepper-content {
        height: 100%;
    }

    /* Table */
    .mat-mdc-table {
        --mat-table-background-color: transparent;
        --mat-table-header-container-height: 48px;
        --mat-table-header-headline-color: #{colors.$white};
        --mat-table-header-headline-size: 15px;
        --mat-table-header-headline-weight: #{typography.$semi-bold};
        --mat-table-row-item-container-height: 48px;

        thead {
            background: colors.$secondary-purple;
        }

        tbody tr {
            background: rgba(colors.$purple, 0.5);
        }

        tr th, tr td {
            border-top: shapes.$border;
            border-bottom: shapes.$border;
            border-right: shapes.$border;

            &:first-child {
                border-left: shapes.$border;
                border-radius: shapes.$border-radius 0 0 shapes.$border-radius;
            }

            &:last-child {
                border-right: shapes.$border;
                border-radius: 0 shapes.$border-radius shapes.$border-radius 0;
            }
        }

        tr.table-row-clickable {
            cursor: pointer;
        }

        tr.table-row-clickable:hover {
            th, td {
                border-top-color: colors.$secondary-grey;
                border-bottom-color: colors.$secondary-grey;

                &:first-child {
                    border-left-color: colors.$secondary-grey;
                }

                &:last-child {
                    border-right-color: colors.$secondary-grey;
                }
            }
        }
    }

    .mdc-data-table__table {
        border-spacing: 0 12px;
        white-space: nowrap;
    }

    .mdc-data-table__cell, .mdc-data-table__header-cell {
        padding: 0 14px 0 14px;
    }

    .mat-mdc-cell {
        --mat-table-row-item-label-text-tracking: var(--body-letter-spacing);
    }

    .mdc-data-table__row:last-child .mat-mdc-cell {
        border-bottom: shapes.$border;
    }

    .mat-column-select {
        width: 48px;
    }

    .mat-column-actions {
        width: 44px;
        max-width: 44px;
        padding: 0;
        overflow: visible;
        position: relative;

        .mat-mdc-fab {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: auto;
            height: auto;
            border-width: 0;
            box-shadow: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            font-size: 24px;
            background-color: transparent;

            .mdc-fab__ripple {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .mat-column-status {
        width: 48px;
        padding: 0 12px;
    }

    .mat-column-avatar {
        width: 34px;
    }

    /* Toolbar */
    .mat-toolbar {
        --mat-toolbar-container-background-color: #{colors.$deep-purple};

        flex-shrink: 0;
        border-bottom: shapes.$border;
    }

    /* Tooltip */
    .mdc-tooltip {
        --mdc-plain-tooltip-supporting-text-size: 12px;
        --mdc-plain-tooltip-supporting-line-height: 20px;
        --mdc-plain-tooltip-supporting-text-tracking: var(--body-letter-spacing);
    }

    .mdc-tooltip__surface {
        padding: 6px 10px;
    }
}
