@import "colors";
@import "mixins";
@import "sizes";

:host {
    display: block;
    overflow: hidden;
}

.tc-carousel {
    position: relative;
    height: 304px;
    perspective: 1400px;
    transform-style: preserve-3d;

    @media (max-width: $media-max-width-mobile) {
        height: 264px;
    }
}

.tc-card {
    position: absolute;
    width: 560px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    @include card-appearance;
    opacity: 1;
    box-shadow: 0 8px 6px rgba(6, 4, 20, 0.601481);
    transition-property: transform, opacity;
    transition-duration: 750ms;
    transition-timing-function: ease;

    @media (max-width: $media-max-width-mobile) {
        width: 311px;
        transition-duration: 400ms;
    }
}

.tc-card-content {
    height: 100%;
    width: 100%;
    background: $color-vaticle-purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include card-padding;
    border-radius: $border-radius;
}

.tc-details {
    border-top: 1px solid $color-vaticle-light-purple;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $media-max-width-mobile) {
        padding-top: 16px;
    }
}

.tc-person {
    display: flex;
    flex-direction: row;
    gap: 16px;

    img {
        width: 54px;
        height: 54px;
        border-radius: $border-radius;

        @media (max-width: $media-max-width-mobile) {
            width: 40px;
            height: 40px;
        }
    }
}

.tc-person-job {
    margin-top: 2px;

    @media (max-width: $media-max-width-mobile) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 160px;
    }
}

.tc-logo {
    height: 48px;

    @media (max-width: $media-max-width-mobile) {
        height: 28px;
    }
}

.tc-control-panel {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 61px;

    @media (max-width: $media-max-width-tablet) {
        margin-top: 40px;
    }

    @media (max-width: $media-max-width-mobile) {
        margin-top: 24px;
        gap: 24px;
    }
}

.tc-controls-btn {
    width: 45px;
    height: 45px;
    border: 1px solid $color-vaticle-green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;

    @media (max-width: $media-max-width-mobile) {
        width: 30px;
        height: 30px;

        img {
            width: 10px;
            height: 10px;
        }
    }
}

.tc-beads {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.tc-bead {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $color-vaticle-light-purple;
    transition: transform 150ms ease;

    &.tc-bead-focused {
        transform: scale(1.5);
        background: $color-vaticle-green;
    }
}
