<ng-container [ngSwitch]="cols">
  <div class="section lc-root-cols-3" *ngSwitchCase="3">
    <ng-container *ngFor="let panel of panels">
      <a
        *ngIf="$any(panel).iconURL; else panelWithoutIcon"
        class="card lc-card lc-card-cols-3 lc-icon-card"
        [class.hoverable]="!!panel.button.link && !panel.button.comingSoon"
        [tdLink]="panel.button.comingSoon ? undefined : panel.button.link"
      >
        <aside *ngIf="panel.button.comingSoon" class="lp-coming-soon">coming soon</aside>
        <div><img class="lc-icon" [src]="$any(panel).iconURL" alt="" /></div>
        <div class="lc-flex-container">
          <h3 class="lc-title">{{ panel.title }}</h3>
          <div [innerHtml]="panel.body | html" class="lc-body-text"></div>
          <ng-container [ngSwitch]="ctaStrength">
            <div class="hide-mobile flex"></div>
            <p *ngSwitchCase="'weak'" class="link-tertiary lc-cta-weak">{{ panel.button.text }}</p>
          </ng-container>
        </div>
      </a>
      <ng-template #panelWithoutIcon>
        <a
          class="card lc-card lc-card-cols-3 lc-card-compact"
          [attr.role]="panel.button.comingSoon || !panel.button.link ? 'button' : undefined"
          [attr.aria-disabled]="panel.button.comingSoon || !panel.button.link ? true : undefined"
          [class.hoverable]="!!panel.button.link && !panel.button.comingSoon"
          [tdLink]="panel.button.comingSoon ? undefined : panel.button.link"
          (mouseenter)="setPanelHovered(panel, true)"
          (mouseleave)="setPanelHovered(panel, false)"
        >
          <aside *ngIf="panel.button.comingSoon" class="lp-coming-soon">coming soon</aside>
          <h3>{{ panel.title }}</h3>
          <div [innerHtml]="panel.body | html" class="lc-body-text"></div>
          <td-button
            [button]="panel.button"
            size="small"
            buttonWidth="100%"
            [noComingSoonTooltip]="true"
            [containerHovered]="isPanelHovered(panel)"
          ></td-button>
        </a>
      </ng-template>
    </ng-container>
  </div>
  <div class="section lc-root-cols-4" *ngSwitchCase="4">
    <a *ngFor="let panel of panels" [tdLink]="panel.button.link" class="hoverable card lc-card lc-card-cols-4">
      <h3>{{ panel.title }}</h3>
      <div [innerHtml]="panel.body | html" class="lc-body-text"></div>
      <div class="flex"></div>
      <p class="link-tertiary">{{ panel.button.text }}</p>
    </a>
  </div>
</ng-container>
