@import "../../styles/colors";
@import "../../styles/sizes";

.lp-root {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.lp-panel {
    flex: 1;
    border-radius: $border-radius;
    background-color: $color-purple;
    border: 1px solid $color-light-purple;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

td-button {
    margin-top: 24px;
}
