<div class="section lc-root-cols-3">
  <ng-container *ngFor="let panel of panels">
    <a
      class="card lc-card lc-card-cols-3 lc-icon-card"
      [class.hoverable]="!!panel.button.link && !panel.button.comingSoon"
      [tdLink]="panel.button.comingSoon ? undefined : panel.button.link"
    >
      <aside *ngIf="panel.button.comingSoon" class="lp-coming-soon">coming soon</aside>
      <div><img class="lc-icon" [src]="panel.iconURL" alt="" /></div>
      <div class="lc-flex-container">
        <h3 class="lc-title">{{ panel.title }}</h3>
        <td-rich-text [value]="panel.body" class="flex" />
        <p class="link-tertiary lc-cta-weak">{{ panel.button.text }}</p>
      </div>
    </a>
  </ng-container>
</div>
