@import "../../styles/colors";
@import "../../styles/sizes";

table {
    text-align: center;
}

td {
    padding: 24px;
}

td-rich-text {
    display: block;
}

.pp-body-text {
    height: 120px;
}

.pp-button-row {
    background: $color-vaticle-deep-purple;
}

td-button {
    margin-top: 24px;
}
