<ng-container [ngSwitch]="cols">
  <div class="section lc-root-cols-3" *ngSwitchCase="3">
    <ng-container *ngFor="let resource of resources">
      <a
        class="card lc-card lc-card-cols-3 lc-card-compact"
        [attr.role]="resource.link ? undefined : 'button'"
        [attr.aria-disabled]="resource.link ? undefined : true"
        [class.hoverable]="!!resource.link"
        [tdLink]="resource.link"
      >
        <aside *ngIf="!resource.link" class="lp-coming-soon">coming soon</aside>
        <h3>{{ resource.title }}</h3>
        <td-rich-text [value]="resource.description" />
      </a>
    </ng-container>
  </div>
  <div class="section lc-root-cols-4" *ngSwitchCase="4">
    <a
      *ngFor="let resource of resources"
      [tdLink]="resource.link"
      class="card lc-card lc-card-cols-4"
      [class.hoverable]="!!resource.link"
    >
      <aside *ngIf="!resource.link" class="lp-coming-soon">coming soon</aside>
      <h3>{{ resource.title }}</h3>
      <td-rich-text [value]="resource.description" />
      <div class="flex"></div>
      <p class="link-tertiary">Learn More</p>
    </a>
  </div>
</ng-container>
