@import "../../styles/colors";
@import "../../styles/sizes";

$card-content-width: 320px;

.wp-root {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: $media-max-width-mobile) {
        flex-direction: column;
        gap: 16px;
    }
}

.wp-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 20px;
    position: relative;

    &:not(.hoverable) {
        cursor: initial;
    }

    img {
        width: $card-content-width - 2px;
        height: 166px;
        border: 1px solid $color-vaticle-light-purple;
        border-radius: $border-radius;
    }

    h2, p {
        max-width: $card-content-width;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .lp-coming-soon {
        position: absolute;
        top: 0;
        right: 0;
        width: 98px;
        height: 32px;
        background-color: $color-vaticle-secondary-purple;
        border-left: 1px solid $color-vaticle-light-purple;
        border-bottom: 1px solid $color-vaticle-light-purple;
        border-bottom-left-radius: $border-radius;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

td-button {
    margin-top: 24px;
}
