<div class="section wp-root">
  <a
    *ngFor="let webinar of webinars"
    class="card wp-card"
    [class]="webinar.comingSoon ? '' : 'hoverable'"
    [tdLink]="webinar.registrationButton().link"
    (mouseenter)="setPanelHovered(webinar, true)"
    (mouseleave)="setPanelHovered(webinar, false)"
  >
    <div *ngIf="webinar.registrationButton().comingSoon" class="text-14-21 lp-coming-soon">coming soon</div>
    <td-aspect-ratio ratio="16:9">
      <img [src]="webinar.imageURL" alt="" />
    </td-aspect-ratio>
    <div>
      <h2 class="text-24-32 text-22-33-tablet text-18-26-mobile">
        {{ webinar.title | plainText }}
      </h2>
      <h3>
        <strong class="text-important">{{ webinar.listSpeakers() }}</strong>
      </h3>
      <p class="text-quiet text-weight-light">
        {{ webinar.listSpeakerJobs() }}
      </p>
    </div>
    <td-button
      [button]="webinar.registrationButton()"
      size="small"
      buttonWidth="100%"
      [noComingSoonTooltip]="true"
      [containerHovered]="isPanelHovered(webinar)"
    ></td-button>
  </a>
</div>
