@use "media";

.mdc-dialog__content {
    max-height: none;
    min-height: 506px;
    overflow: visible;
}

aside {
    position: absolute;
    bottom: 24px;
    left: 24px;

    @media (max-width: media.$max-width-mobile) {
        position: static;
        margin-top: 12px;
    }
}

.mat-mdc-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
