@import "../../styles/sizes";
@import "../../styles/colors";
@import "../background";

article {
    @include page-background("features_02june 1.png", "planet-yellow-green.png");
}

.wp-primary-placeholder {
    width: 1080px;
    height: 720px;
}

.wp-img {
    border: 1px solid $color-vaticle-light-purple;
    border-radius: $border-radius;
}

.wp-img-primary {
    width: 1080px;
    max-width: calc(100vw - 48px);
}

.wp-primary-webinar-summary {
    @media (min-width: $media-min-width-tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.wp-webinar-title {
    color: $color-vaticle-white;
    font-weight: $font-weight-semi-bold;
}

.wp-webinar-description {
    height: $line-height-xs * 2;
    width: 840px;
    max-width: calc(100vw - 48px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media (max-width: $media-max-width-mobile) {
        height: $line-height-xxs * 3;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
}

.wp-primary-webinar-actions {
    align-self: flex-end;

    @media (max-width: $media-max-width-mobile) {
        margin-top: 24px;
    }
}

.wp-webinar-list {
    list-style: none;
}

.wp-webinar-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    @media (min-width: $media-min-width-tablet) {
        height: 146px;
        padding: 24px;
    }

    @media (max-width: $media-max-width-mobile) {
        padding: 12px;
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
    }

    &:not(:first-child) {
        border-top: 1px solid $color-vaticle-light-purple;
    }

    .wp-speaker {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;

        > span:not(:first-child) {
            margin-left: 16px;
        }
    }

    .wp-webinar-datetime {
        margin-right: 24px;
    }
}

.wp-img-tertiary-container {
    @media (max-width: $media-max-width-mobile) {
        display: flex;
        gap: 12px;
    }
}

.wp-img-tertiary {
    width: 150px;

    @media (max-width: $media-max-width-mobile) {
        width: 100px;
    }
}

.wp-webinar-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.wp-timing {
    > span {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }

    img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
}
