@import "colors";
@import "mixins";
@import "sizes";

.wp-primary-placeholder {
    padding-bottom: calc(100% * 2 / 3);
}

.wp-img {
    border: 1px solid $color-vaticle-light-purple;
    border-radius: $border-radius;
}

.wp-primary-webinar {
    padding: 40px;

    @media (max-width: $media-max-width-mobile) {
        padding: 12px;
    }
}

.wp-primary-webinar-summary {
    margin-top: 40px;

    @media (max-width: $media-max-width-mobile) {
        margin-top: 20px;
    }
}

.wp-webinar-title-container {
    color: $color-vaticle-dark-white;
}

.wp-title-separator {
    margin: 0 8px;
}

.wp-webinar-title {
    color: $color-vaticle-white;
    font-weight: $font-weight-semi-bold;
}

.wp-webinar-text-container {
    margin-top: 16px;
    display: flex;
    gap: 40px;

    @media (max-width: $media-max-width-mobile) {
        margin-top: 8px;
        flex-direction: column;
        gap: 20px;
    }
}

.wp-webinar-description {
    @include line-clamp(2);
    max-height: 24px * 2;

    @media (max-width: $media-max-width-mobile) {
        @include line-clamp(3);
        max-height: 21px * 3;
    }
}

.wp-primary-webinar-actions {
    align-self: flex-end;

    @media (max-width: $media-max-width-mobile) {
        margin-top: 24px;
    }
}

.wp-webinar-list {
    list-style: none;
}

.wp-webinar-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 24px;

    & + & {
        border-top: 1px solid $color-vaticle-light-purple;
    }

    @media (max-width: $media-max-width-mobile) {
        padding: 16px 12px;
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
    }

    .wp-speaker {
        @include line-clamp(1);

        > span + span {
            margin-left: 16px;
        }
    }

    td-button {
        width: 126px;

        @media (max-width: $media-max-width-mobile) {
            width: auto;
        }
    }
}

.wp-img-tertiary-container {
    display: flex;
    gap: 12px;
}

.wp-img-tertiary {
    width: 150px;
    flex-shrink: 0;

    @media (max-width: $media-max-width-mobile) {
        width: 100px;
    }
}

.wp-webinar-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.wp-timing {
    display: flex;
    gap: 24px;

    > span {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .mat-icon {
        font-size: 16px;
    }
}
