<article>
    <div *ngIf="page">
        <div class="section">
            <td-title-body-actions-section [isIntroSection]="true" [title]="page.introSection.title" [body]="page.introSection.body"></td-title-body-actions-section>
            <div class="subsection-margin wp-primary-webinar card card-padding">
                <div *ngIf="!primaryWebinar" class="wp-primary-placeholder"></div>
                <ng-container *ngIf="primaryWebinar">
                    <div>
                        <img [src]="primaryWebinar.imageURL" class="wp-img wp-img-primary" [alt]=""/>
                    </div>
                    <div class="wp-primary-webinar-summary text-margin-l">
                        <div class="wp-primary-webinar-text">
                            <p class="text-m text-s-mobile"><span class="wp-webinar-title">{{ primaryWebinar.title }}</span> | <span>{{ primaryWebinar.datetime | ordinalDate }}</span></p>
                            <td-rich-text class="wp-webinar-description text-xs text-xxs-mobile text-margin-s" [value]="primaryWebinar.description"></td-rich-text>
                        </div>
                        <div class="wp-primary-webinar-actions">
                            <td-button [button]="primaryWebinar.registrationButton()"></td-button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <ng-container *ngIf="page.featuredWebinarsSection && secondaryWebinars && secondaryWebinars.length">
            <td-technicolor-block [block]="page.featuredWebinarsSection" [index]="1" [noLeadingLine]="true"></td-technicolor-block>
            <td-webinar-panels [webinars]="secondaryWebinars"></td-webinar-panels>
        </ng-container>
        <ng-container *ngIf="page.exploreWebinarsSection">
            <td-technicolor-block [block]="page.exploreWebinarsSection" [index]="2"></td-technicolor-block>
            <section class="card">
                <ul class="wp-webinar-list">
                    <li *ngFor="let webinar of allWebinars" class="wp-webinar-list-item">
                        <div class="wp-img-tertiary-container">
                            <img [src]="webinar.imageURL" class="wp-img wp-img-tertiary" [alt]=""/>
                            <p class="text-m text-s-mobile wp-webinar-title hide-gt-mobile">{{ webinar.title }}</p>
                        </div>
                        <div class="wp-webinar-text">
                            <p class="text-m wp-webinar-title hide-mobile">{{ webinar.title }}</p>
                            <p class="wp-speaker"><span *ngFor="let speaker of webinar.speakers"><span class="text-important">{{ speaker.name }}, </span>{{ speaker.jobDescription() }}</span></p>
                            <p class="wp-timing">
                                <span class="wp-webinar-datetime" *ngIf="!webinar.isFinished()"><img src="/assets/icon/calendar.svg" alt="Date/Time:" class="wp-img-calendar"/> {{ webinar.datetime | ordinalDate }}, {{ webinar.datetime | date:"HH:mm z" }} </span>
                                <span><img src="/assets/icon/time.svg" alt="Duration:"/> {{ webinar.durationMins | eventDuration }}</span>
                            </p>
                        </div>
                        <div class="flex"></div>
                        <td-button [button]="webinar.registrationButton()"></td-button>
                    </li>
                </ul>
            </section>
        </ng-container>
    </div>
</article>
