Options +MultiViews
RewriteEngine on
<FilesMatch "(error_log|php\.ini|index\.php\.swp)$">
  Order deny,allow
  Deny from all
</FilesMatch>

<FilesMatch ".(eot|ttf|otf|woff)">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>

RewriteCond %{HTTP_HOST} ^mindmaps\.io$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mindmaps\.io$
RewriteRule ^chat$ "https\:\/\/gitter\.im\/mindmapsdb\/mindmapsdb" [R=301,L]

RewriteCond %{HTTP_HOST} ^mindmaps\.io$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mindmaps\.io$
RewriteRule ^discuss$ "http\:\/\/discuss\.mindmaps\.io\/" [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]