Options +MultiViews
RewriteEngine on
<FilesMatch "(error_log|php\.ini|index\.php\.swp)$">
  Order deny,allow
  Deny from all
</FilesMatch>

<FilesMatch ".(eot|ttf|otf|woff)">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>

# Redirect for mindmaps.io/discuss
RewriteCond %{HTTP_HOST} ^mindmaps\.io$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mindmaps\.io$
RewriteRule ^discuss$ "http://discuss.mindmaps.io/" [R=301,L]

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.mindmaps\.io$
RewriteRule ^(.*)$ "https://mindmaps.io/$1" [R=301,L]

# Redirect to https
RewriteCond %{HTTP_HOST} ^mindmaps\.io [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$  "https://mindmaps.io/$1" [R=301,L]

# Redirect for Mindmaps release archive
Redirect /download/latest "https://github.com/mindmapsdb/mindmapsdb/releases/download/v0.1.0-SNAPSHOT/mindmaps-dist-0.1.0-SNAPSHOT-dist.zip"
Redirect /download "https://github.com/mindmapsdb/mindmapsdb/releases/"
Redreict /docs "/pages/index.html"
Redirect /install "/pages/documentation/get-started/setup-guide.html"

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
