@import "colors";
@import "sizes";

.ep-root {
    display: flex;
    gap: 40px;

    @media (max-width: $media-max-width-mobile) {
        flex-direction: column;
        gap: 16px;
    }
}

.ep-card {
    flex: 1;
    min-width: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: $media-max-width-tablet) {
        gap: 20px;
    }

    @media (max-width: $media-max-width-mobile) {
        padding: 12px;
        gap: 12px;
    }

    td-aspect-ratio {
        border: 1px solid $color-vaticle-light-purple;
        border-radius: $border-radius;
    }

    h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        margin-top: 16px;
    }
}
