<div class="cs-root cs-root-resizable text-code">
  <div *ngIf="snippet.language !== 'typedb-console'" class="cs-line-numbers">
    <ol>
      <li *ngFor="let lineNumber of lineNumbers">{{ lineNumber }}</li>
    </ol>
  </div>
  <div class="cs-code-area">
    <pre><code [class]="'language-' + snippet.language">{{ snippet.code }}</code></pre>
  </div>
</div>
<div #scrollbarX class="cs-scrollbar cs-scrollbar-x">
  <div class="cs-scrollbar-thumb"></div>
</div>
<div #scrollbarY class="cs-scrollbar cs-scrollbar-y">
  <div class="cs-scrollbar-thumb"></div>
</div>
