@import "../../styles/colors";
@import "../../styles/sizes";

:host {
    display: block;
    height: 100%;
}

.cs-root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    overflow-y: scroll;
}

.cs-line-numbers {
    width: 32px;
    min-width: 32px;
    padding-right: 4px;
    background-color: $color-vaticle-black-purple;
    font-family: 'Ubuntu Mono', monospace;
    color: #66637F;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $border-radius 0 0 $border-radius;
}

.cs-code-area {
    flex: 1;
    min-height: calc(100% - 2px);
    display: flex;
    flex-direction: column;
}

ol {
    list-style: none;
}

pre {
    background-color: $color-vaticle-black-purple;
    width: 100%;
    flex: 1;
}
