@import "colors";
@import "sizes";

:host {
    display: block;
    height: 100%;
    overflow: auto;
    background-color: $color-vaticle-black-purple;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.cs-root {
    min-height: 100%;
    width: 100%;
    display: flex;
    gap: 4px;
}

.cs-line-numbers {
    flex-shrink: 0;
    padding: 0 7px;
    font-family: "Monaco", monospace;
    color: #66637f;
    overflow: hidden;
}

.cs-code-area {
    flex: 1;
    padding-right: 14px;
    cursor: text;

    &:first-child {
        padding: 2px 14px 2px 8px;
    }
}

ol {
    list-style: none;
    height: 0;
}

.cs-scrollbar {
    position: absolute;

    &.cs-scrollbar-x {
        left: 6px;
        bottom: 3px;
        right: 6px;
        height: 8px;

        .cs-scrollbar-thumb {
            min-width: 16px;
        }
    }

    &.cs-scrollbar-y {
        top: 6px;
        right: 3px;
        bottom: 6px;
        width: 8px;

        .cs-scrollbar-thumb {
            min-height: 16px;
        }
    }

    &:hover {
        .cs-scrollbar-thumb {
            opacity: 0.6;
        }
    }

    .cs-scrollbar-thumb {
        position: relative;
        width: 100%;
        height: 100%;
        background: $color-vaticle-light-purple;
        opacity: 0.3;
        border-radius: 4px;
        transition: opacity 200ms;

        &.td-active {
            opacity: 0.6;
        }
    }
}
