@import "../../styles/colors";
@import "../../styles/sizes";

:host {
    display: block;
    height: 100%;
    overflow-y: auto;
    background-color: $color-vaticle-black-purple;
}

.cs-root {
    min-height: 100%;
    width: 100%;
    display: flex;
    gap: 4px;
}

.cs-line-numbers {
    flex-shrink: 0;
    padding: 0 7px;
    font-family: "Ubuntu Mono", monospace;
    color: #66637f;
    overflow: hidden;
}

.cs-code-area {
    flex: 1;
}

ol {
    list-style: none;
    height: 0;
}
