@import "colors";
@import "sizes";

.ft-root {
    height: 100%;
    width: 100%;
}

.ft-snippet-container {
    position: relative;
    height: calc(100% - 42px);
    width: 100%;
    overflow: auto;
}

.ft-tabs-container {
    border-bottom: 1px solid $content-border-color;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background: $color-vaticle-deep-purple;
}

.ft-tabs {
    height: 42px;
    display: flex;
    flex-direction: row;
}

.ft-tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;

    &:not(:first-child) {
        border-left: 1px solid $content-border-color;
    }

    @media (hover: hover) {
        &:hover h5 {
            color: $color-vaticle-green;
            text-decoration: underline;
        }
    }
}

.ft-tab-selected,
.ft-tab-selected h5 {
    color: $color-vaticle-green;
    background: $color-vaticle-purple;
}

.ft-graphic {
    flex: 1;
}

.ft-text-area {
    width: 366px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

td-scroll-shadow {
    ::ng-deep .ss-container {
        height: calc(100% + 4px);
    }
}
