/* PrismJS 1.23.0 https://prismjs.com/download.html#themes=prism */

$color-blue-100: #86AAFF;
$color-yellow-300: #F6C94C;
$color-pink-200: #F28DD7;
$color-green-300: #02DAC9;
$color-red-100: #FF8888;
$color-grey-300: #7F83AF;

code[class*="language-"],
pre[class*="language-"] {
    color: $color-pink-200;
}

.token.comment {
    color: $color-grey-300;
}

.token.super {
    color: $color-yellow-300;
}

.token.string {
    color: $color-green-300;
}

.token.operator,
.token.keyword {
    color: $color-blue-100;
}

.token.variable {
    color: $color-red-100;
}
