/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 * Modified by alexjpwalker
 */

$color-blue-100: #86AAFF;
$color-yellow-300: #F6C94C;
$color-pink-200: #F28DD7;
$color-green-300: #02DAC9;
$color-red-100: #FF8888;

code[class*="language-"],
pre[class*="language-"] {
    color: $color-pink-200;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted,
.token.super {
    color: $color-yellow-300;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: $color-green-300;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: $color-blue-100;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: $color-blue-100;
}

.token.function,
.token.class-name {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: $color-red-100;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
