<article tdPageBackground nebula="solutions" planet="pink">
  <div class="article-content">
    <section *ngIf="site$ | async as site" class="page-section">
      <a tdLink="/blog">
        <td-p-with-highlights
            [value]="site.name | paragraphWithHighlights"
            class="bp-site-title text-56-64 text-48-60-tablet text-28-36-mobile"
        />
      </a>
    </section>

    <div *ngIf="post$ | async as post" class="section-background-solid subsection-margin">
      <hr class="bp-intro-hr" />

      <section>
        <div class="bp-intro-section">
          <div class="bp-categories">
            <p *ngFor="let category of postCategories(post)">{{ category.name }}</p>
          </div>
          <h1 class="text-56-64 text-48-60-tablet text-28-36-mobile">{{ post.title }}</h1>
          <div
            class="bp-excerpt text-24-32 text-16-24-tablet text-14-21-mobile text-weight-light"
            [innerHtml]="post.excerpt"
          ></div>
        </div>
      </section>

      <section>
        <div class="bp-author-section">
          <img class="bp-featured-image subsection-margin" [src]="post.featured_image" alt="" />
          <td-blog-authorship-bar [post]="post" size="medium" />
          <hr />
        </div>
      </section>

      <section class="bp-content-section">
        <div class="bp-content" [innerHtml]="post.content"></div>
        <div class="bp-sidebar">
          <div class="bp-sharing-links">
            <a><img src="/assets/icon/social/twitter-rectangle.svg" alt="Twitter" /></a>
            <a><img src="/assets/icon/social/github-rectangle.svg" alt="TODO" /></a>
            <a><img src="/assets/icon/social/linkedin-rectangle.svg" alt="LinkedIn" /></a>
            <a><img src="/assets/icon/social/github-rectangle.svg" alt="TODO" /></a>
          </div>
          <aside *ngFor="let relatedPostGroup of relatedPostGroups$ | async">
            <h2 class="text-18-26 text-12-18-mobile bp-related-post-group-heading">
              More on {{ relatedPostGroup.tag.name }}
            </h2>
            <div class="bp-related-post" *ngFor="let relatedPost of relatedPostGroup.posts">
              <a [tdLink]="readPostLink(relatedPost)">
                <td-aspect-ratio ratio="16:9">
                  <img [src]="relatedPost.featured_image" [alt]="" class="bp-img" />
                </td-aspect-ratio>
              </a>
              <h2 class="text-24-32 text-22-33-tablet text-16-24-mobile bp-related-post-title">
                <a [tdLink]="readPostLink(relatedPost)">{{ relatedPost.title }}</a>
              </h2>
              <div
                class="bp-related-post-description text-16-24 text-14-21-mobile"
                [innerHtml]="relatedPost.excerpt"
              ></div>
              <div>
                <h3 class="text-14-21 text-12-18-mobile bp-related-post-author">{{ relatedPost.author.name }}</h3>
              </div>
            </div>
          </aside>
        </div>
      </section>

      <hr class="subsection-margin" />
    </div>
  </div>
</article>
