<article tdPageBackground nebula="solutions">
  <div class="article-content article-content-no-planet">
    <section *ngIf="site$ | async as site" class="page-section bp-nebula-section">
      <a tdLink="/blog">
        <td-heading-with-highlights [value]="site.name | paragraphWithHighlights" class="bp-site-title" level="h2" />
      </a>
    </section>

    <div class="section-background-solid bp-post-section">
      <hr class="bp-intro-hr" />

      <nav td-blog-navbar variant="postPage"></nav>

      <ng-container *ngIf="post$ | async as post">
        <section>
          <div class="bp-intro-section">
            <td-blog-category-chips [categories]="postCategories(post)" />
            <h1>{{ post.title }}</h1>
            <div class="text-p1 bp-excerpt text-weight-light" [innerHtml]="post.excerpt"></div>
          </div>
        </section>

        <section>
          <div class="bp-author-section">
            <td-blog-authorship-bar [post]="post" size="medium" />
          </div>
          <hr class="bp-author-section-hr" />
        </section>

        <section class="bp-content-section">
          <div class="bp-content">
            <figure><img class="bp-featured-image" [src]="heroImageURL(post)" alt="" /></figure>
            <div [innerHtml]="post.content"></div>
          </div>
          <div class="bp-sidebar">
            <div class="bp-sharing-section">
              <h4>Share this article</h4>
              <div class="bp-sharing-links">
                <a [href]="shareOnTwitterURL(post)" target="_blank">
                  <mat-icon svgIcon="twitter_rectangle" class="td-icon-xl" />
                </a>
                <a [href]="shareOnFacebookURL(post)" target="_blank">
                  <mat-icon svgIcon="facebook_rectangle" class="td-icon-xl" />
                </a>
                <a [href]="shareOnLinkedInURL(post)" target="_blank">
                  <mat-icon svgIcon="linkedin_rectangle" class="td-icon-xl" />
                </a>
                <a [href]="shareOnRedditURL(post)" target="_blank">
                  <mat-icon svgIcon="reddit_rectangle" class="td-icon-xl" />
                </a>
              </div>
            </div>
            <div class="bp-newsletter-section">
              <h4>TypeDB Newsletter</h4>
              <p>Stay up to date with the latest TypeDB announcements and events.</p>
              <td-button [button]="subscribeToNewsletterButton" />
            </div>
            <ng-container *ngFor="let relatedPostGroup of relatedPostGroups$ | async">
              <aside *ngIf="relatedPostGroup.posts.length">
                <h4 class="bp-related-post-group-heading">
                  More on <span [innerHtml]="relatedPostGroup.category.name"></span>
                </h4>
                <div class="bp-related-post" *ngFor="let relatedPost of relatedPostGroup.posts">
                  <a [tdLink]="readPostLink(relatedPost)">
                    <td-aspect-ratio ratio="16:9">
                      <img [src]="heroImageURL(relatedPost)" [alt]="" class="bp-img" />
                    </td-aspect-ratio>
                  </a>
                  <h3 class="bp-related-post-title">
                    <a [tdLink]="readPostLink(relatedPost)">{{ relatedPost.title }}</a>
                  </h3>
                  <div class="bp-related-post-description" [innerHtml]="relatedPost.excerpt"></div>
                  <aside class="bp-related-post-author">{{ relatedPost.author.name }}</aside>
                </div>
              </aside>
            </ng-container>
          </div>
        </section>
      </ng-container>

      <div class="subsection-margin"></div>
    </div>
  </div>
</article>
