@import "colors";
@import "mixins";
@import "sizes";

:host {
    font-weight: $font-weight-semi-bold;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 4px;

    a {
        padding: 2px 8px;
        background: $color-vaticle-purple;
        border: 1px solid $color-vaticle-light-purple;
        border-radius: $border-radius;
        color: $color-vaticle-secondary-pink;
    }

    @media (max-width: $media-max-width-mobile) {
        margin-top: 16px;
    }
}
