<article tdPageBackground nebula="solutions">
  <div class="article-content article-content-no-planet">
    <section *ngIf="site$ | async as site" class="page-section bp-title-section">
      <a tdLink="/blog"><td-heading-with-highlights [value]="site.name | paragraphWithHighlights" level="h1" /></a>
      <td-rich-text [value]="site.description | richText" class="narrow-section subtitle-l" level="p1" />
    </section>

    <div class="section-background-solid subsection-margin bp-blog-list">
      <hr class="bp-intro-hr" />

      <nav td-blog-navbar variant="listPage"></nav>

      <section *ngIf="posts$ | async as posts">
        <div class="bp-primary-post">
          <a class="bp-primary-img-link" [tdLink]="readPostLink(posts[0])">
            <td-aspect-ratio ratio="16:9">
              <img [src]="heroImageURL(posts[0])" alt="" class="bp-img" />
            </td-aspect-ratio>
          </a>
          <div class="bp-primary-post-summary">
            <td-blog-category-chips [categories]="postCategories(posts[0])" />
            <a [tdLink]="readPostLink(posts[0])">
              <h1 class="bp-post-title bp-primary-post-title">{{ posts[0].title }}</h1>
            </a>
            <div class="bp-primary-post-description" [innerHtml]="posts[0].excerpt"></div>
            <td-blog-authorship-bar [post]="posts[0]" />
          </div>
        </div>

        <hr class="hide-mobile" />

        <div class="bp-secondary-posts">
          <ng-container *ngFor="let post of [posts[1], posts[2]]">
            <div class="bp-secondary-post" *ngIf="post">
              <a [tdLink]="readPostLink(post)">
                <td-aspect-ratio ratio="16:9"><img [src]="heroImageURL(post)" alt="" class="bp-img" /></td-aspect-ratio>
              </a>
              <div class="bp-secondary-post-summary">
                <td-blog-category-chips [categories]="postCategories(post)" />
                <h2 class="bp-post-title">
                  <a [tdLink]="readPostLink(post)">{{ post.title }}</a>
                </h2>
                <div class="bp-secondary-post-description" [innerHtml]="post.excerpt"></div>
                <td-blog-authorship-bar [post]="post" />
              </div>
            </div>
          </ng-container>
        </div>

        <hr class="hide-mobile" />

        <div class="bp-posts-list-section">
          <ul class="bp-posts-list">
            <li *ngFor="let post of posts.slice(3)" class="bp-post-list-item">
              <div class="bp-img-tertiary-container">
                <a class="bp-tertiary-img-link" [tdLink]="readPostLink(post)">
                  <td-aspect-ratio ratio="16:9" class="bp-img-tertiary">
                    <img [src]="heroImageURL(post)" class="bp-img" [alt]="" loading="lazy" />
                  </td-aspect-ratio>
                </a>
              </div>
              <div class="bp-post-text-tertiary">
                <td-blog-category-chips [categories]="postCategories(post)" />
                <h3 class="bp-post-title">
                  <a [tdLink]="readPostLink(post)">{{ post.title }}</a>
                </h3>
                <div class="bp-tertiary-post-description" [innerHtml]="post.excerpt"></div>
                <td-blog-authorship-bar [post]="post" />
              </div>
            </li>
          </ul>
        </div>
      </section>

      <div class="subsection-margin"></div>
    </div>
  </div>
</article>
