<div class="tb-background"></div>
<div class="tb-main">
  <div class="tb-icon-area">
    <div class="tb-icon-bg-paper"></div>
    <a class="tb-icon-bg-halo" [tdLink]="'#' + section.sectionId">&nbsp;</a>
    <img class="tb-icon" [src]="section.iconURL" alt="" />
  </div>
  <td-heading-with-highlights [value]="section.title" [id]="section.sectionId" [themeColorHex]="themeColorHex" [level]="level"/>
  <div></div>
  <div>
    @if (section.body && !noBody) {
      <td-rich-text [value]="section.body" class="text-p1" />
    }
    @if (section.actions) {
      <td-actions [actions]="section.actions" />
    }
    @if (organisationLogos?.length) {
      <td-organisation-logos appearance="transparent" [organisations]="organisationLogos!"/>
    }
  </div>
</div>
