@use "media";

@media (max-width: media.$max-width-mobile) {
    td-actions {
        width: 100%;
    }
}

:host ::ng-deep h1 {
    font-weight: var(--font-weight-bold);
}

td-actions ::ng-deep .button-frameless {
    padding: 0;
}
