@use "media";
@use "shapes";
@use "mixins";

.ep-primary-event {
    padding: 40px;

    @media (max-width: media.$max-width-mobile) {
        padding: 12px;
    }
}

.ep-img {
    border: shapes.$border;
    border-radius: var(--border-radius);
}

.ep-primary-event-summary {
    margin-top: 40px;

    @media (max-width: media.$max-width-mobile) {
        margin-top: 20px;
    }
}

.ep-event-title-container {
    color: var(--body-font-color);
}

.ep-event-title {
    font-weight: var(--font-weight-regular);
}

.ep-title-separator {
    margin: 0 8px;
}

.ep-event-text-container {
    margin-top: 16px;
    display: flex;
    gap: 40px;

    @media (max-width: media.$max-width-mobile) {
        margin-top: 8px;
        flex-direction: column;
        gap: 20px;
    }
}

.ep-event-description {
    @include mixins.line-clamp(2);
    max-height: 24px * 2;

    @media (max-width: media.$max-width-mobile) {
        @include mixins.line-clamp(3);
        max-height: 21px * 3;
    }
}

.ep-grid {
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}

.ep-grid-item {
    flex: 1 1 400px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: solid var(--content-border-color);
    border-width: 1px 0 0 1px;
    margin: -1px 0 0 -1px;

    @media (max-width: media.$max-width-mobile) {
        padding: 12px;
        gap: 12px;
    }
}

.ep-img-and-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: auto;

    @media (max-width: media.$max-width-mobile) {
        flex-direction: row;
        align-items: flex-start;
        gap: 12px;
    }
}

.ep-img-secondary-container {
    @media (max-width: media.$max-width-mobile) {
        width: 100px;
        flex-shrink: 0;
    }
}

.ep-grid-item-title {
    font-weight: var(--font-weight-regular);
}

.ep-grid-item-description {
    margin-bottom: 8px;
    display: flex;
    flex-flow: row wrap;
    gap: 0 8px;

    @media (max-width: media.$max-width-mobile) {
        margin-bottom: 0;
    }
}
