<article tdPageBackground nebula="cloud" planet="blue_pink">
  <div *ngIf="event$ | async; let event" class="article-content">
    <section class="page-section page-intro-section">
      <td-heading-with-highlights [value]="event.title" level="h1" />
      <ul class="ed-subtitle text-p1">
        <li>
          <mat-icon svgIcon="calendar" />
          <span class="cdk-visually-hidden">Date/Time:</span>
          <ng-container [ngSwitch]="!event.dateOptions.dateTBC && !!event.dateOptions.startDate">
            <time *ngSwitchCase="true" [dateTime]="event.dateOptions.startDate!.toISOString()">
              {{ event.dateOptions | eventDate }}
            </time>
            <span *ngSwitchCase="false">{{ event.dateOptions | eventDate }}</span>
          </ng-container>
        </li>
        <li *ngIf="event.dateOptions.endDate">
          <mat-icon svgIcon="time" />
          <span class="cdk-visually-hidden">Duration:</span>
          {{ event.dateOptions | eventDuration }}
        </li>
        <li>
          <mat-icon svgIcon="location" />
          <span class="cdk-visually-hidden">Location:</span>
          {{ event.venue }}
        </li>
      </ul>
      <div class="subsection-margin ed-details-area">
        <div class="card ed-form-card">
          <h3>
            <strong>Register to {{ event.tag }}</strong>
          </h3>
          <td-aspect-ratio ratio="16:9">
            <img [src]="getEventImageUrl(event)" class="ed-img" alt="" />
          </td-aspect-ratio>
          <td-button *ngIf="event.externalUrlButton" [button]="event.externalUrlButton" buttonWidth="100%" />
        </div>
        <div class="ed-description-container">
          <td-rich-text [value]="event.description" />
          <ul class="ed-speakers subsection-margin">
            <li *ngFor="let speaker of event.speakers">
              <td-person-info [person]="speaker" />
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</article>
