@keyframes float-right {
    0%, 25%, 75%, 100% {transform: translateX(0);}
    40%, 60% {transform: translateX(350%);}
}

@keyframes float-left {
    0%, 25%, 75%, 100% {transform: translateX(0);}
    40%, 60% {transform: translateX(-300%);}
}

.advantages{
    &-goo{
        position: absolute;
        top: 0;
        right: 110%;
    }
    
    &-wrapper{
        h3{
            margin: 0 0 1rem 0;
        }

        .illustration{
            height: 110px;
            margin-bottom: 3rem;
        }
    }

    &-code{
        background-color: rgba($black-brand, 0.05);
        border-radius: 3px;

        p{
            height: 5rem;
            color: $black-brand;
            padding: 1rem;
            display: block;
            font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
            margin-bottom: 0;
        }
    }

    &-realtime{
        height: 100%;

        svg{
            text{
                stroke: transparent;
                stroke-width: 0;
                fill: $black-brand;
                font-size: 0.5rem;
                font-weight: 600;
            }

            line,
            path{
                fill: transparent;
                stroke: $black-brand;
                stroke-width: 1.3px;
            }

            .lines{
                path{
                    &:nth-child(1){
                        stroke: $red;
                    }
                    &:nth-child(2){
                        stroke: $blue-brand;
                    }
                }
            }
        }
    }

    &-flexible{
        height: 100%;
        position: relative;

        .shape{
            position: absolute;
            top: 50%;
            width: 10%;
            height: 0;

            div{
                position: absolute;
                top: 0;
                left: 0;

                div{
                    background-color: lighten($black-brand, 65%);
                    width: 100%;
                    height: 100%;
                    animation: rotate360 4s linear infinite;
                }
            }

            >div{
                width: 100%;
                padding-top: 100%;
                height: 0;
                margin: -50% 0 0 -50%;
            }

            &.n1{
                left: 15%;
                animation: float-right 8000ms + random(4000) infinite ease-in-out;
                animation-delay: 0ms - random(4000);

                >div{
                    transform: translateY(50%) rotateZ(90deg);
                    
                    div{
                        width: 150%;
                        margin-left: -75%;
                        animation-duration: 2000ms + random(2000);
                    }
                }
            }

            &.n2{
                left: 50%;

                >div{
                    div{
                        animation-duration: 2000ms + random(2000);
                    }
                }
            }

            &.n3{
                left: 85%;
                animation: float-left 8000ms + random(4000) infinite ease-in-out;
                animation-delay: 0ms - random(2000);

                >div{
                    div{
                        width: 150%;
                        margin-left: -75%;
                        animation-duration: 2000ms + random(2000);
                    }
                }
            }
        }
    }

    &-discover{
        height: 100%;

        svg{
            width: 100%;
            height: 100%;

            circle,
            polyline{
                stroke: $black-brand;
                stroke-width: 1.3px;
                fill: transparent;
            }

            .maskVisible{
                stroke: lighten($black-brand, 60%);
                stroke-width: 3px;
            }

            .foreground{
                polyline{
                    stroke: $red;
                }
                circle{
                    stroke: transparent;
                    stroke-width: 0;
                    fill: $red;
                }
            }

            .background{
                polyline,
                line{
                    stroke: $blue-brand;
                    stroke-dasharray: 5;
                    animation: svg-dash 1s linear infinite;
                }
                circle{
                    stroke: $blue-brand;
                }
            }
        }
    }
}
