.button{
    cursor: pointer;
    border-radius: 3px;
    padding: 0 1.2rem;
    line-height: 3rem;
    height: 3rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    transition: transform 100ms ease-in-out;
    font-family: 'Geogrotesque', Helvetica, Arial, sans-serif;
    text-decoration: none;

    svg{
        display: inline-block;
        width: 12px;
        height: 12px;
        vertical-align: middle;
        margin-top: -0.15rem;

        use{
            fill: transparent;
            stroke: $black-brand;
            stroke-width: 1px;
        }
    }

    &:hover{
        svg{
            use{
                stroke: $white;
            }
        }
    }

    &.color{

        &-red{
            color: $white;
            background-color: $red;

            &.hollow{
                color: $red;
                border: 1px solid $red;
            }
            svg{
                use{
                    stroke: $white;
                }
            }
        }

        &-black{
            color: $white;
            background-color: $black-brand;

            &.hollow{
                color: $black-brand;
                border: 1px solid $black-brand;

                &:hover{
                    background-color: $black-brand;
                    color: $white;
                }
            }
        }

        &-white{
            color: $black-brand;
            background-color: $white;

            &.hollow{
                color: $white;
                border: 1px solid $white;

                &:hover{
                    color: $black-brand;
                    background-color: $white;
                    svg{
                        use{
                            stroke: $black-brand;
                        }
                    }
                }
                svg{
                    use{
                        stroke: $white;
                    }
                }
            }
        }
    }

    &.hollow{
        background-color: transparent;
    }

    &:active{
        transform: scale(0.97);
    }
}

.button.support.color-black.hollow{
    cursor: pointer;
    border-radius: 3px;
    padding: 0 1rem;
    line-height: 2.6rem;
    height: 2.5rem;
    display: inline-block;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    transition: transform 100ms ease-in-out;
    font-family: 'Geogrotesque', Helvetica, Arial, sans-serif;
    text-decoration: none;
}