.careers{
    &-wrapper{

        padding-bottom: 2rem;

        ul{
            padding: 0;
            margin: 0 0 0.5rem 0;
            list-style: disc inside;
        }

        &.header{
            &.active{
                padding-bottom: 0;

                h2{
                    margin-bottom: 0;
                }
            }
        }
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .careers{
        &-wrapper{
            ul{
                margin-top: 1rem;
            }
        }
    }
}

@media (min-width: 750px) {
    .careers{
        &-wrapper{
            
            padding-bottom: 2.75rem;

            ul{
                margin-top: 1.5rem;
            }
        }
    }
}