@keyframes rainbow-svg-stroke{
    0%, 100% {stroke: lighten(#ff0000, 25%);}
    14.5%    {stroke: lighten(#ff7f00, 25%);}
    29%      {stroke: lighten(#ffff00, 25%);}
    43.5%    {stroke: lighten(#00ff00, 25%);}
    58%      {stroke: lighten(#0000ff, 25%);}
    72.5%    {stroke: lighten(#4b0082, 25%);}
    87.5%    {stroke: lighten(#8b00ff, 25%);}
}

@keyframes rainbow-svg-fill{
    0%, 100% {fill: lighten(#ff0000, 25%);}
    14.5%    {fill: lighten(#ff7f00, 25%);}
    29%      {fill: lighten(#ffff00, 25%);}
    43.5%    {fill: lighten(#00ff00, 25%);}
    58%      {fill: lighten(#0000ff, 25%);}
    72.5%    {fill: lighten(#4b0082, 25%);}
    87.5%    {fill: lighten(#8b00ff, 25%);}
}

@keyframes rainbow-circle-sparkle{
    0%, 100% {border-color: lighten(#ff0000, 25%);}
    14.5%    {border-color: lighten(#ff7f00, 25%);}
    29%      {border-color: lighten(#ffff00, 25%);}
    43.5%    {border-color: lighten(#00ff00, 25%);}
    58%      {border-color: lighten(#0000ff, 25%);}
    72.5%    {border-color: lighten(#4b0082, 25%);}
    87.5%    {border-color: lighten(#8b00ff, 25%);}
}

@keyframes rainbow-cross-sparkle{
    0%, 100% {background-color: lighten(#ff0000, 25%);}
    14.5%    {background-color: lighten(#ff7f00, 25%);}
    29%      {background-color: lighten(#ffff00, 25%);}
    43.5%    {background-color: lighten(#00ff00, 25%);}
    58%      {background-color: lighten(#0000ff, 25%);}
    72.5%    {background-color: lighten(#4b0082, 25%);}
    87.5%    {background-color: lighten(#8b00ff, 25%);}
}

@keyframes cross-sparkle-left{
    0% {transform-origin: center right; transform: scaleX(0);}
    30% {transform-origin: center right; transform: scaleX(0.25);}
    59.99% {transform-origin: center right; transform: scaleX(1);}
    60% {transform-origin: center left; transform: scaleX(1);}
    99.99% {transform-origin: center left; transform: scaleX(0);}
    100% {transform-origin: center right; transform: scaleX(0);}
}

@keyframes cross-sparkle-right{
    0% {transform-origin: center left; transform: scaleX(0);}
    30% {transform-origin: center left; transform: scaleX(0.25);}
    59.99% {transform-origin: center left; transform: scaleX(1);}
    60% {transform-origin: center right; transform: scaleX(1);}
    99.99% {transform-origin: center right; transform: scaleX(0);}
    100% {transform-origin: center left; transform: scaleX(0);}
}

@keyframes sparkle-scale{
    0% {transform: scale(0); opacity: 1;}
    90% {transform: scale(1); opacity: 1;}
    100% {transform: scale(1); opacity: 0;}
}

@keyframes unicorn-opacity{
    0%, 5%, 100% {opacity: 0;}
    10%, 25% {opacity: 1;}
    30% {opacity: 0;}
}

.community{
    &-header{
        height: 50vh;
        box-sizing: border-box;

        .background{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            background: url(/img/community.jpg) no-repeat center center;
            background-size: cover;
            opacity: 0.2;
        }

        .row{
            position: relative;
            z-index: 1;
            height: 100%;

            .columns{
                height: 100%;
                white-space: nowrap;
                text-align: center;

                &:before {
                    content: '';
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }

                .vertically-centered{
                    margin: 0;
                    white-space: normal;
                    padding: 0 2rem;
                    color: $white;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }

    &-wrapper{
        .tickets{
            padding-top: 80%;
            position: relative;

            .sparkles{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;

                span{
                    display: block;
                    position: absolute;

                    &.circle{
                        border-radius: 50%;
                        border: 2px solid $black-brand;
                        animation: sparkle-scale 4s linear infinite, rainbow-circle-sparkle 2s linear infinite;
                        
                        @for $i from 1 through 5 {
                            &:nth-child(#{$i}){
                                $j: 10 + random(10);
                                
                                width: $j + px;
                                height: $j + px;
                                top: 15 + random(70) + %;
                                left: 15 + random(70) + %;

                                $j: 500ms + random(1500);
                                $k: 1000ms + random(1000);

                                animation-duration: $j, $k;
                                animation-delay: 0ms - random(1000), 0ms - random(800);
                            }
                        }
                    }

                    &.cross{
                        >div{
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            height: 2px;

                            &:nth-child(1){
                                transform: translateY(-1px) rotateZ(45deg);
                            }

                            &:nth-child(2){
                                transform: translateY(-1px) rotateZ(-45deg);
                            }

                            &:before,
                            &:after{
                                position: absolute;
                                top: 0;
                                content: '';
                                width: 50%;
                                height: 100%;
                                background-color: $black-brand;
                            }

                            &:before{
                                left: 0;
                                animation: cross-sparkle-left 4s linear infinite, rainbow-cross-sparkle 2s linear infinite;
                            }
                            &:after{
                                right: 0;
                                animation: cross-sparkle-right 4s linear infinite, rainbow-cross-sparkle 2s linear infinite;
                            }
                        }
                        
                        @for $i from 6 through 10 {
                            &:nth-child(#{$i}){
                                $j: 10 + random(10);
                                
                                width: $j + px;
                                height: $j + px;
                                top: 15 + random(70) + %;
                                left: 15 + random(70) + %;

                                >div{
                                    $j: 500ms + random(1500);
                                    $k: 1000ms + random(1000);
                                        
                                    &:before{
                                        animation-duration: $j, $k;
                                        animation-delay: 0, 0ms - random(2000);
                                    }
                                    &:after{
                                        animation-duration: $j, $k;
                                        animation-delay: 0, 0ms - random(2000);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            svg{
                position: absolute;

                &.unicorn{
                    display: none;
                    width: 25%;
                    height: 25%;
                    right: 0;
                    bottom: 0;
                    animation: rotate360 4s linear infinite reverse, unicorn-opacity 4s linear infinite;
                    transform-origin: -100% 150%;

                    path{
                        animation: rainbow-svg-fill 3s linear infinite;
                    }

                    .stars{
                        path{
                            animation-duration: 900ms;

                            @for $i from 1 through 3 {
                                &:nth-child(#{$i}){
                                    animation-delay: -$i * 300ms;
                                }
                            }
                        }
                    }
                }
                
                &.rainbow{
                    top: -10%;
                    left: -5%;
                    width: 110%;
                    height: 110%;
                    opacity: 0;
                    animation: rotate360 10s linear infinite;
                    transition: opacity 100ms ease-in-out;

                    path{
                        fill: transparent;
                        stroke: lighten($black-brand, 40%);
                        stroke-width: 1.5px;
                    }
                }

                &.ticket{
                    width: 50%;
                    top: 50%;
                    left: 50%;
                    transition: transform 100ms ease-in-out;

                    .body{
                        fill: $white;
                        stroke: $black-brand;
                        stroke-width: 1.5px;
                    }

                    .bg{
                        &-pattern{
                            //clip-path: url("#ticketMask");

                            polygon{
                                fill: transparent;
                                stroke: lighten($black-brand, 60%);
                                stroke-width: 1.5px;
                            }
                        }

                        &-wrapper{
                            fill: transparent;
                            stroke: lighten($black-brand, 60%);
                            stroke-width: 1.5px;
                        }
                    }

                    .logo{
                        polygon,
                        polyline{
                            fill: transparent;
                            stroke: $black-brand;
                            stroke-width: 1.5px;
                        }
                    }

                    &.n1{
                        transform-origin: 70% 80%;
                        transform: translateX(-50%) translateY(-60%) rotateZ(-22deg);
                    }

                    &.n2{
                        transform-origin: 50% 80%;
                        transform: translateX(-30%) translateY(-60%) rotateZ(-7deg);
                    }
                }
            }

            &:hover{
                .sparkles{
                    display: block;
                }

                svg{

                    &.unicorn{
                        display: block;
                    }
                    
                    &.rainbow{
                        opacity: 1;
                    }

                    &.ticket{
                        .bg{
                            &-pattern{
                                polygon{
                                    animation: rainbow-svg-stroke 1.5s linear infinite;

                                    @for $i from 1 through 27 {
                                        &:nth-child(#{$i}){
                                            animation-delay: -$i * 100ms;
                                        }
                                    }
                                }
                            }

                            &-wrapper{
                                animation: rainbow-svg-stroke 2s linear infinite;
                            }
                        }
                        
                        &.n1{
                            transform: translateX(-52%) translateY(-60%) rotateZ(-27deg);
                        }

                        &.n2{
                            transform: translateX(-28%) translateY(-60%) rotateZ(-2deg);
                        }

                        .logo{
                            polygon{
                                animation: rainbow-svg-stroke 1.5s linear infinite;
                            }
                            polyline{
                                animation: rainbow-svg-stroke 1.5s linear infinite;
                            }
                        }
                    }
                }
            }
        }
    }

    &-schedule{
        ul{
            padding: 0 0 0 30px;
            margin: 0;
            list-style: none;

            >li{
                position: relative;

                h3{
                    margin: 0 0 1rem 0;
                }

                &:before,
                &:after{
                    content: '';
                    position: absolute;
                    background-color: lighten($black-brand, 40%);
                }

                &:before{
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    top: 0.4rem;
                    left: -24px;
                }
                
                &:after{
                    width: 2px;
                    height: 101%;
                    left: -21px;
                    top: 0.7rem;
                }

                &:last-child{
                    &:after{
                        display: none;
                    }
                }

                p{
                    &.date{
                        opacity: 0.6;
                    }
                }

                .button{
                    margin: 1rem 0 3rem 0;
                }
            }
        }
    }
}

@media (min-width: 550px) {
    .community{
        &-wrapper{
            padding-bottom: 2rem;
        }

        &-schedule{
            ul{
                >li{
                    .button{
                        margin: 0 0 3rem 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 750px) {
    .community{
        &-schedule{
            ul{
                >li{
                    h3{
                        margin: 1rem 0 1.2rem 0;
                    }

                    &:before{
                        top: 0.5rem;
                    }

                    &:after{
                        height: 108%;
                        top: 0.7rem;
                    }

                    .button{
                        margin: 0.8rem 0 3rem 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    .community{
        &-schedule{
            ul{
                >li{
                    h3{
                        margin: 1rem 0 1.6rem 0;
                    }

                    &:after{
                        height: 107%;
                        top: 0.7rem;
                    }
                }
            }
        }
    }
}