.modal{
    &-underlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        background-color: rgba(0,0,0,0.4);
        pointer-events: none;
        display: none;
        opacity: 0;
        text-align: center;
        white-space: nowrap;
        transition: opacity 200ms ease-in-out;

        &:before{
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        &.display{
            display: block;
            pointer-events: auto;
        }
        
        &.active{
            opacity: 1;

            .modal-window{
                transform: scale(1);
            }
        }
    }

    &-window{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        min-width: 50vw;
        max-width: 80vw;
        text-align: left;
        padding: 1rem 1.5rem;
        box-sizing: border-box;
        transition: transform 200ms ease-in-out;
        transform: scale(0.8);
        background: $white url(bg_black.svg) no-repeat center center;
        background-size: cover;
    }

    &-close{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        cursor: pointer;

        &:before,
        &:after{
            content: '';
            width: 60%;
            height: 1px;
            background-color: $black-brand;
            position: absolute;
            top: 50%;
            left: 20%;
            transform : rotate(45deg);
            transition: transform 200ms ease-in-out;
        }

        &:after{
            transform: rotateZ(-45deg);
        }

        &:hover{
            &:before{
                transform: rotateZ(135deg);
            }

            &:after{
                transform: rotateZ(45deg);
            }
        }

        &:active{
            transform: scale(0.9);
        }
    }

    &-inside{
        &.subscribe-form{
            white-space: normal;
            
            .row{
                margin-bottom: 1.4rem;

                &.message{
                    margin-bottom: 1rem;
                }
            }
            
            h2{
                margin-top: 40px;
                margin-bottom: 1rem;
                text-align: center;
            }

            .intro{
                font-size: 1rem;
                line-height: 1.5rem;
                margin-bottom: 1rem;
                text-align: center;
            }

            label{
                display: block;
                font-size: 0.9rem;
                margin-bottom: 0.4rem;
                font-weight: 500;
            }

            input,
            textarea{
                display: block;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                width: 100%;
                outline: none;
            }

            input{
                padding: 0;
                background-color: $white;
                border: none;
                border-bottom: 1px solid $gray-light-4;
                color: $black-brand;
                font: 1rem/2rem 'DIN', Helvetica, Arial, sans-serif;
            }

            textarea{
                padding: 0;
                font: 1rem/2rem 'DIN', Helvetica, Arial, sans-serif;
                border: none;
                border-bottom: 1px solid $gray-light-4;
                resize: none;
                min-height: 4.3rem;
            }

            .submit{
                text-align: center;
                margin-bottom: 0;
                
                >.sendButton{
                    width: 50px;
                    height: 50px;
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    overflow: hidden;

                    svg{
                        use{
                            stroke-width: 0.4;
                            stroke: $black-brand;
                            fill: $black-brand;
                            transition: fill 100ms ease-in-out;
                        }
                    }

                    .state{
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: 300%;
                        transition: right 100ms ease-in-out;

                        >span{
                            display: block;
                            float: left;
                            height: 100%;
                            width: 33.33%;
                            position: relative;
                            opacity: 0;
                            transition: opacity 50ms ease-in-out;

                            &:before,
                            &:after{
                                content: '';
                                position: absolute;
                                background-color: $white;
                                transition: background-color 100ms ease-in-out;
                            }

                            &.active{
                                opacity: 1;
                                
                                &:before,
                                &:after{
                                    width: 25%;
                                    height: 1px;
                                    top: 50%;
                                    right: 38%;
                                    transform-origin: right center;
                                    transform : translateY(-1px) rotate(45deg);
                                }

                                &:after{
                                    transform: translateY(-1px) rotate(-45deg);
                                }
                            }

                            &.processing{
                                animation: rotate360 1s linear infinite;

                                &:before{
                                    width: 40%;
                                    height: 1px;
                                    top: 50%;
                                    left: 30%;
                                    transform: rotate(45deg);
                                }
                            }

                            &.done{
                                &:before,
                                &:after{
                                    width: 34%;
                                    height: 1px;
                                    top: 50%;
                                    left: 46%;
                                    transform-origin: left center;
                                    transform: translateY(6px) rotate(-45deg);
                                }

                                &:after{
                                    width: 17%;
                                    transform-origin: right center;
                                    left: auto;
                                    right: 54%;
                                    transform: translateY(6px) rotateZ(45deg);
                                }
                            }
                        }
                    }

                    &:hover,
                    &.disabled{
                        svg{
                            use{
                                fill: transparent;
                            }
                        }

                        .state{
                            >span{
                                &:before,
                                &:after{
                                    background-color: $black-brand;
                                }
                            }
                        }
                    }

                    &.disabled{
                        .state{
                            right: -100%;

                            >span{
                                &.processing{
                                    opacity: 1;
                                }
                                &.active{
                                    opacity: 0;
                                }
                            }
                        }
                    }

                    &.done{
                        .state{
                            right: -200%;

                            >span{
                                &.done{
                                    opacity: 1;
                                }
                                &.processing,
                                &.active{
                                    opacity: 0;
                                }
                            }
                        }
                    }
                    
                    svg{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    input{
                        opacity: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}