@import "../../styles/colors";
@import "../../styles/sizes";

table {
    @media (max-width: $media-max-width-mobile) {
        table-layout: fixed;
    }
}

col:not(:first-child) {
    @media (min-width: $media-min-width-tablet) {
        width: 266px;
    }
}

col:first-child {
    @media (max-width: $media-max-width-mobile) {
        width: 114px;
    }
}

thead {
    background: $color-vaticle-deep-purple;
}

th:first-of-type {
    text-align: start;
}

tr:last-of-type {
    background: $color-vaticle-deep-purple;
}

thead th {
    font-weight: $font-weight-semi-bold;
}

tbody th {
    font-weight: $font-weight-regular;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

td {
    text-align: center;
}

th,
td {
    height: 80px;
}

th {
    padding: 0 24px;
    color: $color-vaticle-white;

    @media (max-width: $media-max-width-mobile) {
        padding: 0 6px;
    }
}
