@import "../../styles/colors";
@import "../../styles/sizes";

.ftc-root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;

    @media (max-width: $media-max-width-mobile) {
        padding: 0 4px;
    }

    &.ftc-unchecked {
        background: $color-vaticle-deep-purple;
    }
}

.mat-icon.td-large {
    color: $color-vaticle-green;

    @media (max-width: $media-max-width-mobile) {
        font-size: 24px;
    }
}

td-button {
    flex-grow: 1;

    @media (max-width: $media-max-width-mobile) {
        ::ng-deep a {
            height: 32px;
            font-size: 12px;

            line-height: 14px;
            text-align: center;
        }
    }
}
