<table class="section">
  <colgroup>
    <col *ngFor="let header of table.headerRow" />
  </colgroup>
  <thead>
    <tr>
      <th *ngFor="let header of table.headerRow" class="text-p1">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of table.bodyRows">
      <th>
        <div class="ft-row-header">
          <span>{{ row.heading }}</span>
          <td-info-button *ngIf="row.description" [tooltipText]="row.description" />
        </div>
      </th>
      <td *ngFor="let cell of row.cells"><td-feature-table-cell [cell]="cell" /></td>
    </tr>
  </tbody>
</table>
