@import "../../styles/colors";
@import "../../styles/sizes";

.ftc-root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;

    &.ftc-unchecked {
        background: $color-vaticle-deep-purple;
    }

    @media (max-width: $media-max-width-mobile) {
        padding: 0 4px;

        ::ng-deep td-button,
        ::ng-deep td-button a {
            height: 32px;
            font-size: $font-size-tiny !important;
            width: 100% !important;
        }
    }
}
