@use "media";

:host {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    &.td-layout-content-text {
        flex-direction: row;
    }

    &.td-layout-text-content {
        flex-direction: row-reverse;
    }

    @media (max-width: media.$max-width-tablet) {
        padding: 32px;
        gap: 32px;
    }

    @media (max-width: media.$max-width-mobile) {
        padding: 12px;
        gap: 20px;
    }

    &.cp-in-tab {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

$number-of-lines: 20;
$number-of-lines-mobile: 12;

td-aspect-ratio {
    flex: 0 0 calc((var(--font-size-code) * var(--line-height-code) * $number-of-lines + 2px) * 16 / 9);
    max-width: 100%;

    @media (min-width: media.$min-width-tablet) and (max-width: media.$max-width-tablet) {
        flex-basis: 476px;
    }

    @media (max-width: media.$max-width-mobile) {
        height: calc(var(--font-size-code) * var(--line-height-code) * $number-of-lines-mobile + 2px);
    }

    td-illustration {
        height: 100%;
    }
}

td-illustration.cp-code-snippet {
    flex: 0 0 calc((var(--font-size-code) * var(--line-height-code) * $number-of-lines + 2px) * 16 / 9);
    max-width: 100%;
    height: calc(var(--font-size-code) * var(--line-height-code) * $number-of-lines + 2px);

    @media (max-width: media.$max-width-tablet) {
        flex: 1 0 476px;
    }

    @media (max-width: media.$max-width-mobile) {
        height: calc(var(--font-size-code) * var(--line-height-code) * $number-of-lines-mobile + 2px);
    }
}

.cp-text-area {
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cp-learn-more {
    margin-top: 16px;
    align-self: flex-start;
    line-height: 32px;
}
