<article>
  @if (page$ | async; as page) {
    @if (page.background === "floatingDots") {
      <td-floating-dots-background />
    }
    @for (item of page.sections; track item.key; let idx = $index; let isFirst = $first) {
      @switch (item.type) {
        @case ("coreSection") {
          <td-section-core [section]="item.section" [level]="isFirst ? 'h1' : 'h2'" [isIntroSection]="isFirst"
            [class.narrow-section]="item.section.width === 'narrow'" />
        }
        @case ("titleBodyIllustrationSection") {
          <td-section-core [section]="item.section" [level]="isFirst ? 'h1' : 'h2'" [isIntroSection]="isFirst"
            [flexDirection]="flexDirectionOf(item.section, isFirst)"
            [class.narrow-section]="item.section.width === 'narrow'" />
        }
        @case ("titleBodyPanelSection") {
          <td-section-core [section]="item.section" [class.narrow-section]="item.section.width === 'narrow'" />
          <td-content-panel [panel]="item.section.panel" [panelId]="'section-' + idx" />
        }
        @case ("keyPointsSection") {
          <td-section-core [section]="item.section" [class.narrow-section]="item.section.width === 'narrow'" />
          <td-key-point-panels-2x2 [keyPoints]="item.section.keyPoints" />
        }
        @case ("linkPanelsSection") {
          <td-section-core [section]="item.section" [class.narrow-section]="item.section.width === 'narrow'" />
          <td-link-panels [panels]="item.section.panels" [sectionId]="item.section.sectionId" />
        }
        @case ("simpleLinkPanelsSection") {
          <td-section-core [section]="item.section" [class.narrow-section]="item.section.width === 'narrow'" />
          <td-simple-link-panels [panels]="item.section.panels" [sectionId]="item.section.sectionId" />
        }
        @case ("conclusionSection") {
          <td-section-core [section]="item.section" [class.narrow-section]="item.section.width === 'narrow'" />
          <td-conclusion-panel [panel]="item.section.panel" />
        }
        @case ("hotTopicsSection") {
          <div class="hot-topics-section">
            <td-hot-topics [title]="item.section.title" [resources]="item.section.hotTopics" [actions]="item.section.actions" />
          </div>
        }
      }
    }
  }
</article>
