@use "colors";

/* Back to Top Button styles */
.back-to-top-button {
    position: fixed;
    bottom: 1.5rem; /* bottom-6 */
    right: 1.5rem; /* right-6 */
    z-index: 50; /* z-50 */
    padding: 0.75rem; /* p-3 */
    border-radius: 9999px; /* rounded-full */
    border: 1px solid var(--content-border-color);
    background-color: colors.$purple; /* bg-blue-600 */
    color: colors.$white; /* text-white */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 3px 26px 0 rgba(colors.$purple, 0.4);

    &:hover {
        transform: translateY(0);
        background-color: var(--color-light-purple);
        box-shadow: 0 3px 26px 0 rgba(colors.$secondary-light-grey, 0.2);
    }

    i {
        width: 20px; /* w-6 */
        height: 20px; /* h-6 */
        font-size: 20px;
    }

    &:focus {
        outline: none;
    }
}
