<article tdPageBackground nebula="features" planet="yellow_green">
  <div *ngIf="learningCenter" class="article-content">
    <td-title-body-actions-section
      [isIntroSection]="true"
      [title]="learningCenter.introSection.title"
      [body]="learningCenter.introSection.body"
      [actions]="learningCenter.introSection.actions"
    />
    <ng-container *ngFor="let section of learningCenter.resourceSections; index as idx">
      <td-learning-center-block [section]="section" [index]="idx" />
      <td-resource-panels-cols-2 [resources]="section.resources" />
    </ng-container>
    <td-learning-center-block
      [section]="learningCenter.finalSection"
      [index]="learningCenter.resourceSections.length"
    />
    <td-conclusion-panel [panel]="learningCenter.finalSection.panel" />
  </div>
</article>
