@use "media";

.kpp-root {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    margin: 40px auto 0;
    max-width: 1240px;

    @media (max-width: media.$max-width-tablet) {
        gap: 32px;
    }

    @media (max-width: media.$max-width-mobile) {
        gap: 12px;
    }
}

.kpp-panel {
    padding: 32px;
    flex: 0 1 560px;

    @media (min-width: media.$min-width-tablet) and (max-width: media.$max-width-tablet) {
        padding: 20px;
    }

    @media (max-width: media.$max-width-mobile) {
        padding: 12px;
    }
}

td-rich-text {
    margin-top: 8px;
}
