@import "../../styles/sizes";

article {
    &.planet-blue-pink {
        background: no-repeat center top / 1920px url("/assets/image/cloud_02june (2) 1.png"),
                    no-repeat center bottom url("/assets/image/planet-blue-pink.jpg");
    }

    &.planet-pink {
        background: no-repeat center top / 1920px url("/assets/image/studio_02june (5) 1.png"),
                    no-repeat center bottom url("/assets/image/planet-pink.jpg");
    }
}

.fp-user-logos {
    margin-top: $section-margin;
}
