//Backgrounds
$backgroundCharcoal: #393F4C;
$backgroundPurple: #f3f4fa;
//Text
$textCharcoal: #4a4c52;
$textLight: #8c8f92;
$textExtraLight: #a6abac;
$textNav: #647380;
$textPink: #f75e61;
$textRed: #d30d0c;
$textBlue: #50bcf4;
$textPurple: #9685ff;


