
// GEOGROTESQUE
// fonts examples: https://www.myfonts.com/assets/fonts/emtype/geogrotesque/

// Thin
@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/opensans/OpenSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/opensans/OpenSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/opensans/OpenSans-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/opensans/OpenSans-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/opensans/OpenSans-ExtraBold.ttf');
    font-weight: 800;
}