body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

// Imports
@import './fonts';
@import './colours';
@import './breakpoints';

// Imports - external libs
@import "~slick-carousel/slick/slick.css";
//@import "~slick-carousel/slick/slick-theme.css";

// Imports - Components
@import './components/nav';
@import './components/footer';

// Imports - Containers
@import './pages/home';


// Libs

.app {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.main {
  height: 100%;
}
iframe {
  min-height: calc(100vh - 90px);
  width: 100%;
  border: none;
  overflow-y: hidden;
}
.container {
  position: relative;
  max-width: $mediumScreen;
  margin: 0 auto;
}