
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

// Imports
@import './fonts';
@import './colours';
@import './breakpoints';
@import './universal';

// Imports - Libs
@import "./external/hamburgers.css";

// Imports - Components
@import './components/nav';
@import './components/footer';
@import './components/buttons';
@import './components/visualiser';
@import './components/paging';
@import './components/testimonials';
@import './components/support-form';
@import './components/modal';
@import './components/kgms-features';
@import './components/company-logos';

// Imports - Containers
@import './pages/home';
@import './pages/slack';
@import './pages/about';
@import './pages/careers';
@import './pages/community';
@import './pages/nopage';
@import './pages/services';
@import './pages/support';
@import './pages/grakn';
@import './pages/deployment';
@import './pages/usecase';
@import './pages/kgms';
@import './pages/downloads';
@import './pages/privacypolicy';

