body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

// Imports
@import './fonts';
@import './colours';

// Imports - Components
@import './components/nav';

// Imports - Containers
@import './containers/home';


// Libs

.app {
  font-size: 14px;
  font-family: 'Geogrotesque', sans-serif;
}
.main {
  height: 100%;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}