@import "colors";
@import "mixins";
@import "sizes";

.fg-grid {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.fg-grid-item,
.fg-illustration-row {
    border: 0 solid $content-border-color;
    border-width: 1px 0 0 1px;
    margin: -1px 0 0 -1px;
}

.fg-grid-item {
    display: flex;
    flex-direction: column;

    .fg-grid:not(.fg-row-size-1) & {
        > td-aspect-ratio,
        > .fg-code-snippet {
            margin-top: 28px;

            @media (max-width: $media-max-width-tablet) {
                margin-top: 16px;
            }
        }
    }
}

@for $i from 1 through 4 {
    .fg-row-size-#{$i} .fg-grid-item {
        width: calc(100% / #{$i});

        @media (max-width: $media-max-width-mobile) {
            width: 100%;
        }
    }
}

.fg-illustration-row {
    width: 100%;
}

$number-of-lines: 20;
$number-of-lines-short: 13;
$number-of-lines-mobile: 10;

td-illustration.fg-code-snippet {
    max-width: 100%;
    height: calc($font-size-code * $line-height-code * $number-of-lines + 2px);

    @media (max-width: $media-max-width-mobile) {
        height: calc($font-size-code * $line-height-code * $number-of-lines-mobile + 2px);
    }

    &.fg-code-snippet-short {
        height: calc($font-size-code * $line-height-code * $number-of-lines-short + 2px);

        @media (max-width: $media-max-width-mobile) {
            height: calc($font-size-code * $line-height-code * $number-of-lines-mobile + 2px);
        }
    }
}

td-aspect-ratio {
    td-illustration {
        height: 100%;
    }
}

.fg-feature-title-section {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;

    img {
        margin-right: 10px;
        width: 48px;
        height: 48px;

        @media (max-width: $media-max-width-mobile) {
            width: 32px;
            height: 32px;
        }
    }

    @media (min-width: $media-min-width-tablet) and (max-width: $media-max-width-tablet) {
        margin-bottom: 18px;
    }

    @media (max-width: $media-max-width-mobile) {
        margin-bottom: 12px;
    }
}

td-rich-text {
    margin-bottom: auto;
}

.fg-links-section {
    display: flex;
    margin-top: 20px;
    gap: 24px;
}

.fg-blur {
    user-select: none;
    overflow: hidden !important;

    > * {
        filter: blur(4px);
    }
}

.fg-code-short {
    display: block;
    flex: 1;
    min-width: 0;
    overflow: auto;
    padding: 1.25rem 3rem 1.25rem 1.25rem;
    border-radius: $border-radius;
    border: 1px solid $content-border-color;
    background: $color-vaticle-black-purple;
    hyphens: none;

    @media (max-width: $media-max-width-mobile) {
        padding: 12px;
    }
}

.fg-code-short-container {
    position: relative;
    margin-top: 20px;
}

.fg-copy-button {
    visibility: hidden;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.clicked .fg-copy-toast {
        opacity: 1;
        transition: none;
    }

    .fg-code-short-container:hover & {
        visibility: visible;
    }
}

.fg-copy-icon {
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath d='M9.333 14.667h-2.96A2.382 2.382 0 014 12.293v-5.92A2.382 2.382 0 016.373 4h5.92a2.382 2.382 0 012.374 2.373v2.96h2.666A2.667 2.667 0 0120 12v5.333A2.667 2.667 0 0117.333 20H12a2.667 2.667 0 01-2.667-2.667v-2.666zm0-1.778V12A2.667 2.667 0 0112 9.333h.889v-2.96a.596.596 0 00-.596-.595h-5.92a.596.596 0 00-.595.595v5.92a.596.596 0 00.595.596h2.96zm2.038-1.518a.889.889 0 01.629-.26h5.333a.889.889 0 01.89.889v5.333a.889.889 0 01-.89.89H12a.889.889 0 01-.889-.89V12c0-.236.094-.462.26-.629z'/%3E%3C/svg%3E");
}

.fg-copy-toast {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease 0.5s;
    background: $color-vaticle-light-purple;
    border-radius: $border-radius;
    padding: 0.25rem 0.5rem;
    position: absolute;
    top: 100%;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        border: 0.55em solid transparent;
        border-left: 0.55em solid $content-border-color;
        transform: rotate(-90deg) translateX(50%) translateY(50%);
        transform-origin: left;
    }
}
