@import "colors";
@import "mixins";
@import "sizes";

.kpt-table {
    table-layout: fixed;

    @media (max-width: $media-max-width-mobile) {
        &,
        tr,
        th,
        td {
            display: block;
        }

        tr {
            height: unset !important;
            margin-bottom: 16px;
        }
    }

    tr {
        height: 137px;
    }

    th,
    td {
        vertical-align: top;

        > div {
            display: block;
            @include card-padding;
        }
    }

    th {
        background: $color-vaticle-deep-purple;
        width: 140px;

        @media (max-width: $media-max-width-mobile) {
            width: 72px;
            vertical-align: top;
            padding-top: 31px;
        }

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    td-rich-text {
        margin-top: 8px;
    }

    td > div > td-aspect-ratio,
    td > div > td-illustration.cp-code-snippet {
        @media (max-width: $media-max-width-mobile) {
            margin-top: 16px !important;
        }
    }

    img {
        width: 48px;
        height: 48px;

        @media (max-width: $media-max-width-mobile) {
            width: 32px;
            height: 32px;
        }
    }

    $number-of-lines: 20;
    $number-of-lines-short: 13;
    $number-of-lines-mobile: 10;

    td-aspect-ratio {
        flex: 0 0 calc(($font-size-code * $line-height-code * $number-of-lines + 2px) * 16 / 9);
        max-width: 100%;

        @media (min-width: $media-min-width-tablet) and (max-width: $media-max-width-tablet) {
            flex-basis: 476px;
        }

        @media (max-width: $media-max-width-mobile) {
            height: calc($font-size-code * $line-height-code * $number-of-lines-mobile + 2px);
        }

        td-illustration {
            height: 100%;
        }
    }

    td-illustration.cp-code-snippet {
        flex: 0 0 calc(($font-size-code * $line-height-code * $number-of-lines + 2px) * 16 / 9);
        max-width: 100%;
        height: calc($font-size-code * $line-height-code * $number-of-lines + 2px);

        @media (max-width: $media-max-width-tablet) {
            flex-basis: 476px;
        }

        @media (max-width: $media-max-width-mobile) {
            height: calc($font-size-code * $line-height-code * $number-of-lines-mobile + 2px);
        }

        &.cp-code-snippet-short {
            height: calc($font-size-code * $line-height-code * $number-of-lines-short + 2px);

            @media (max-width: $media-max-width-mobile) {
                height: calc($font-size-code * $line-height-code * $number-of-lines-mobile + 2px);
            }
        }
    }

    .kpt-row-size-1 > td > div {
        display: flex;
        gap: 24px;

        td-aspect-ratio {
            flex: 1 0 552px;
        }
    }

    .kpt-row-size-1:nth-child(even) > td > div {
        flex-direction: row-reverse;
    }

    .kpt-row-size-2 td-aspect-ratio,
    .kpt-row-size-3 td-aspect-ratio {
        width: 100%;
    }

    .kpt-row-size-2 td-rich-text {
        height: $font-size-p2 * $line-height-p2 * 5;
    }

    .kpt-row-size-3 td-rich-text {
        height: $font-size-p2 * $line-height-p2 * 7;
    }

    .kpt-row-size-4 td-rich-text {
        height: $font-size-p2 * $line-height-p2 * 7;
    }

    pre.kpt-code-short {
        display: block;
        -webkit-box-flex: 1;
        flex: 1;
        min-width: 0;
        overflow: auto;
        padding: 1.25rem 3rem 1.25rem 1.25rem;
        border-radius: $border-radius;
        border: 1px solid $color-vaticle-light-purple;
        background: $color-vaticle-black-purple;
        hyphens: none;
        margin-top: 16px !important; // overrides margin-top from style on * + * in this component

        @media (max-width: $media-max-width-mobile) {
            padding: 12px;
        }
    }

    tr.kpt-illustration-row td-illustration {
        border: none;
    }
}

.kpt-feature-title-section {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        margin-right: 10px;
    }
}

.kpt-links-section {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.kpt-blur {
    filter: blur(4px);
    user-select: none;
    overflow: hidden !important;
}
