<table class="section kpt-table">
  <tr *ngFor="let featureRow of featureRows" [ngClass]="'kpt-row-size-' + columnIndexes.length">
    <td *ngFor="let idx of columnIndexes">
      <div *ngIf="featureRow[idx] as feature">
        <div>
          <div class="kpt-feature-title-section">
            <h3>{{ feature.title }}</h3>
            <td-tag-chips [tags]="feature.tags" />
          </div>
          <td-rich-text *ngIf="feature.body" [value]="$any(feature.body)" />
        </div>
        <td-aspect-ratio *ngIf="hasMediaIllustration(feature)" ratio="16:9">
          <td-illustration [illustration]="$any(feature.illustration)" [isBlurred]="feature.isIllustrationBlurred" />
        </td-aspect-ratio>
        <pre
          *ngIf="hasShortCodeSnippet(feature)"
          [class]="'kpt-code-short language-' + $any(feature.illustration).language"
          >{{ $any(feature.illustration).code }}</pre
        >
        <td-illustration
          class="cp-code-snippet cp-code-snippet-short"
          *ngIf="hasCodeSnippetIllustration(feature)"
          [illustration]="$any(feature.illustration)"
          [isBlurred]="feature.isIllustrationBlurred"
        />
      </div>
    </td>
  </tr>
  <tr *ngIf="illustration" class="kpt-illustration-row">
    <td [attr.colspan]="columnIndexes.length">
      <td-aspect-ratio ratio="16:9">
        <td-illustration [illustration]="illustration" />
      </td-aspect-ratio>
    </td>
  </tr>
</table>
