@import "colors";
@import "mixins";
@import "sizes";

:host {
    font-weight: $font-weight-semi-bold;
    display: flex;
    flex-direction: row;
    gap: 8px;

    aside {
        padding: 2px 8px;
        background: $color-vaticle-purple;
        border: 1px solid $content-border-color;
        border-radius: $border-radius;
        color: $color-vaticle-secondary-pink;
    }
}
