@use "shapes";

:host {
    font-weight: var(--font-weight-semi-bold);
    display: flex;
    flex-direction: row;
    gap: 8px;

    aside {
        padding: 2px 8px;
        background: var(--color-purple);
        border: shapes.$border;
        border-radius: var(--border-radius);
        color: var(--color-secondary-pink);
    }
}
