@import "colors";
@import "sizes";

table {
    overflow: hidden;
    table-layout: fixed;
    text-align: center;
    height: 0; // trick to make div fill cell height
}

td {
    padding: 24px;

    @media (max-width: $media-max-width-mobile) {
        padding: 12px;
    }
}

hr {
    width: 100%;
    margin: 16px 0;

    @media (max-width: $media-max-width-mobile) {
        margin: 8px 0;
    }
}

.pp-cell-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pp-body-text {
    margin-top: 24px;

    @media (max-width: $media-max-width-mobile) {
        margin-top: 12px;
    }
}

.pp-button-row {
    background: var(--color-primary-deep-purple);

    td {
        padding: 16px 24px;

        @media (max-width: $media-max-width-mobile) {
            padding: 12px;
        }
    }
}
