<table class="section hide-mobile">
    <tr>
        <td *ngFor="let panel of panels">
            <div class="pp-cell-content">
                <h2 class="text-28-43 text-24-32-tablet">{{ panel.title }}</h2>
                <td-rich-text [value]="panel.body" class="text-16-24 pp-body-text"></td-rich-text>
                <div class="flex"></div>
                <hr />
                <td-rich-text [value]="panel.secondaryBody" class="text-16-24"></td-rich-text>
            </div>
        </td>
    </tr>
    <tr class="pp-button-row">
        <td *ngFor="let panel of panels">
            <td-button [button]="panel.button" size="small" buttonWidth="100%"></td-button>
        </td>
    </tr>
</table>
<table role="presentation" class="section hide-gt-mobile">
    <ng-container *ngFor="let panel of panels">
        <tr>
            <td>
                <div class="pp-cell-content">
                    <h2 class="text-20-32">{{ panel.title }}</h2>
                    <td-rich-text [value]="panel.body" class="text-12-18 pp-body-text"></td-rich-text>
                    <div class="flex"></div>
                    <hr />
                    <td-rich-text [value]="panel.secondaryBody" class="text-12-18"></td-rich-text>
                </div>
            </td>
        </tr>
        <tr class="pp-button-row">
            <td>
                <td-button [button]="panel.button" size="small" buttonWidth="100%"></td-button>
            </td>
        </tr>
    </ng-container>
</table>
