@import "../../styles/colors";
@import "../../styles/sizes";

table {
    table-layout: fixed;
    text-align: center;
}

td {
    padding: 24px;
}

td-rich-text {
    display: block;
}

.pp-body-text {
    @media (min-width: $media-min-width-tablet) {
        height: 120px;
    }

    @media (max-width: $media-max-width-mobile) {
        text-align: start;
    }
}

.pp-button-row {
    background: $color-vaticle-deep-purple;
}

td-button {
    margin-top: 24px;
}
