<table class="section hide-mobile">
  <tr>
    <td *ngFor="let panel of panels">
      <div class="pp-cell-content">
        <h3>{{ panel.title }}</h3>
        <td-rich-text [value]="panel.body" class="pp-body-text" />
        <div class="flex"></div>
        <hr />
        <td-rich-text [value]="panel.secondaryBody" />
      </div>
    </td>
  </tr>
  <tr class="pp-button-row">
    <td *ngFor="let panel of panels">
      <td-button [button]="panel.button" size="small" buttonWidth="100%" />
    </td>
  </tr>
</table>
<table role="presentation" class="section hide-gt-mobile">
  <ng-container *ngFor="let panel of panels">
    <tr>
      <td>
        <div class="pp-cell-content">
          <h3>{{ panel.title }}</h3>
          <td-rich-text [value]="panel.body" class="pp-body-text" />
          <div class="flex"></div>
          <hr />
          <td-rich-text [value]="panel.secondaryBody" />
        </div>
      </td>
    </tr>
    <tr class="pp-button-row">
      <td><td-button [button]="panel.button" size="small" buttonWidth="100%" /></td>
    </tr>
  </ng-container>
</table>
