@import "../../styles/colors";
@import "../../styles/sizes";

:host {
    display: flex;
    align-items: center;
    height: 34px;
    border-bottom: 1px solid $color-vaticle-secondary-deep-grey;
    box-shadow: 2px 2px 1px -1px rgba(0,0,0,0.2), 2px 2px 3px 0px rgba(0,0,0,0.14), 2px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: $color-vaticle-secondary-purple;
    text-align: center;

    @media (max-width: $media-max-width-mobile) {
        height: 30px;
    }

    a {
        flex: 1;
    }
}
