<!--@if ((media.isDesktop$ | async)) {-->
  <div class="td-polyglot-comparison">
    <div class="td-sticky-column">
      <h3 class="td-language-chip">{{ polyglotSnippet.snippets[0].tabText || polyglotSnippet.snippets[0].language }}</h3>
      <td-illustration [illustration]="polyglotSnippet.snippets[0]" />
    </div>
    <div class="td-scrollable-column">
      @for (snippet of polyglotSnippet.snippets.slice(1); track snippet) {
        <div class="td-code-block">
          <h3 class="td-language-chip">{{ snippet.tabText || snippet.language }}</h3>
          <td-illustration [illustration]="snippet" />
        </div>
      }
    </div>
  </div>
<!--} @else {-->
<!--  <td-polyglot-snippet [snippet]="polyglotSnippet" [id]="polyglotSnippetID"/>-->
<!--}-->
