@use "colors";
@use "shapes";
@use "media";

.td-polyglot-comparison {
    @media (min-width: media.$min-width-tablet) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: fit-content;
    }

    margin: 0 auto;
    position: relative;
    min-height: 100vh;

    @media (min-width: 1300px) {
        gap: 80px;
    }
}

.td-sticky-column {
    @media (min-width: media.$min-width-tablet) {
        position: sticky;
        top: 144px;
        width: 576px;
        flex-shrink: 0;
        will-change: transform;
        transition: transform 0.3s ease-out;
        transform: translateY(calc(var(--scroll-amount, 0) * 0.5px));
        backface-visibility: hidden;
    }
}

.td-scrollable-column {
    @media (min-width: media.$min-width-tablet) {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

td-illustration {
    @media (min-width: media.$min-width-tablet) {
        position: relative;
        width: 576px;
        height: 324px;
        overflow: auto;
        background: colors.$black;
    }

    @media (max-width: media.$max-width-mobile) {
        aspect-ratio: 4 / 3;
    }
}

.td-language-chip {
    background-color: transparent;
    color: colors.$black-purple;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    border: none;
    margin-bottom: 16px;
    display: inline-block;

    @media (max-width: media.$max-width-mobile) {
        margin-top: 64px;
    }
}
