/* PrismJS 1.23.0 https://prismjs.com/download.html#themes=prism */

$color-blue: #7BA0FF;
$color-yellow: #FFE4A7;
$color-pink-200: #F28DD7;
$color-green: #55EAE2;
$color-orange: #FFA187;
$color-red: #F66B65;
$color-grey: #7F83AF;

code[class*="language-"],
pre[class*="language-"] {
    color: $color-pink-200;
}

.token.comment {
    color: $color-grey;
}

.token.super {
    color: $color-yellow;
}

.token.string {
    color: $color-green;
}

.token.operator,
.token.keyword {
    color: $color-blue;
}

.token.variable {
    color: $color-orange;
}

.token.special {
    color: $color-blue;
}

.token.error {
    color: $color-red;
}