.body {
    margin-left: 0;
}

@media screen and (min-width: 1024px) {
  .body {
    display: flex;
    margin-left: 290px;
    overflow: scroll;
      margin-top: 40px;
      position: fixed;
      width: 100%;
      height: calc(100% - 140px);
  }
}

@media screen and (min-width: 1300px) {
    .body {
        margin-left: 0;
        justify-content: center;
    }
}
