<article tdPageBackground nebula="features" planet="yellow_green">
  @if (page$ | async; as page) {
    <div class="article-content">
      <td-title-body-actions-section
        [isIntroSection]="true" [title]="page.introSection.title" [body]="page.introSection.body"
        [actions]="page.introSection.actions"
      />
      @for (section of page.featureSections; track section; let idx = $index) {
        <td-section-core [section]="section"/>
        <td-feature-grid [layout]="section.featureGridLayout" [featureRows]="section.features" [illustration]="section.illustration"/>
      }
      <td-section-core [section]="page.finalSection"/>
      <td-conclusion-panel [panel]="page.finalSection.panel"/>
    </div>
  }
</article>
