@import "../../styles/sizes";

.ac-root {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: $subsection-margin;

    @media (max-width: $media-max-width-mobile) {
        margin-top: $text-margin-m;
        flex-direction: column;
    }
}
