@use "media";

.ac-root {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 40px;

    @media (max-width: media.$max-width-mobile) {
        flex-direction: column;
        margin-top: 24px;
    }
}
