@import "colors";
@import "mixins";
@import "sizes";

.sm-root {
    display: flex;
    flex-direction: row;
    @include card-appearance;
}

.sm-panel {
    flex: 1;
    @include card-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    & + & {
        border-left: 1px solid var(--content-border-color);
    }

    .mat-icon {
        color: var(--color-primary-white);
        font-size: 48px;

        @media (max-width: $media-max-width-mobile) {
            font-size: 32px;
        }
    }
}
