@use "media";
@use "shapes";
@use "mixins";

.sm-root {
    display: flex;
    flex-direction: row;
    @include mixins.card-appearance;
}

.sm-panel {
    flex: 1;
    @include mixins.card-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    & + & {
        border-left: shapes.$border;
    }

    .mat-icon {
        color: var(--color-white);
        font-size: 48px;

        @media (max-width: media.$max-width-mobile) {
            font-size: 32px;
        }
    }
}
