$color-vaticle-white: #ffffff;
$color-vaticle-dark-white: #e1dfed;
$color-vaticle-light-purple: #2d2a46;
$color-vaticle-purple: #1a182a;
$color-vaticle-deep-purple: #151322;
$color-vaticle-black-purple: #0e0d17;
$color-vaticle-green: #02dac9;
$color-vaticle-red: #e96464;

$color-vaticle-secondary-light-grey: #958fa8;
$color-vaticle-secondary-grey: #63607c;
$color-vaticle-secondary-deep-grey: #383649;
$color-vaticle-secondary-purple: #232135;
$color-vaticle-secondary-yellow: #ffe49e;
$color-vaticle-secondary-pink: #ff87dc;
$color-vaticle-secondary-blue: #7ba0ff;
