$border-radius: 5px;

$section-width: 1160px;
$section-max-width: calc(100vw - 40px);
$section-padding-tablet: 32px;
$section-width-tablet: 1024px - $section-padding-tablet * 2;
$section-max-width-tablet: calc(100vw - $section-padding-tablet * 2);
$section-width-mobile: 375px;
$section-max-width-mobile: calc(100vw - 24px);

$intro-section-margin: 280px;
$intro-section-margin-tablet: 224px;
$intro-section-margin-mobile: 120px;
$section-margin: 144px;
$section-margin-mobile: 64px;
$subsection-margin: 64px;
$subsection-margin-tablet: 56px;
$subsection-margin-mobile: 24px;

$subtitle-margin-l: 32px;
$subtitle-margin: 24px;
$subtitle-margin-mobile: 16px;

$text-margin-s: 16px;

$font-weight-bold: 600;
$font-weight-semi-bold: 400;
$font-weight-regular: 300;
$font-weight-light: 200;

$topbar-height: 80px;
$topbar-height-mobile: 48px;

$banner-height: 34px;
$banner-height-mobile: 30px;

$media-max-width-mobile: 767px;
$media-min-width-tablet: 768px;
$media-max-width-tablet: 1199px;
$media-min-width-desktop: 1200px;

$font-size-base: 17px;

$font-size-h1: 51px;
$line-height-h1: calc(59px / $font-size-h1);
$font-size-h1-mobile: 31px;
$line-height-h1-mobile: calc(39px / $font-size-h1-mobile);

$font-size-h2: 39px;
$line-height-h2: calc(47px / $font-size-h2);
$font-size-h2-mobile: 25px;
$line-height-h2-mobile: calc(33px / $font-size-h2-mobile);

$font-size-h3: 25px;
$line-height-h3: calc(33px / $font-size-h3);
$font-size-h3-mobile: 19px;
$line-height-h3-mobile: calc(27px / $font-size-h3-mobile);

$font-size-h4: 21px;
$line-height-h4: calc(29px / $font-size-h4);
$font-size-h4-mobile: 17px;
$line-height-h4-mobile: calc(25px / $font-size-h4-mobile);

$font-size-p1: 21px;
$line-height-p1: calc(29px / $font-size-p1);
$font-size-p1-mobile: 17px;
$line-height-p1-mobile: calc(25px / $font-size-p1-mobile);

$font-size-p2: 17px;
$line-height-p2: calc(25px / $font-size-p2);
$font-size-p2-mobile: 15px;
$line-height-p2-mobile: calc(23px / $font-size-p2-mobile);

$font-size-aside: 15px;
$line-height-aside: calc(23px / $font-size-aside);
$font-size-aside-mobile: 13px;
$line-height-aside-mobile: calc(21px / $font-size-aside-mobile);

$font-size-code: 14px;
$line-height-code: calc(22px / $font-size-code);

$card-padding: 28px;
$card-padding-tablet: 20px;
$card-padding-mobile: 12px;
