$color-vaticle-white: #FFFFFF;
$color-vaticle-grey: #D7D4E5;
$color-vaticle-light-purple: #2D2A46;
$color-vaticle-purple: #1A182A;
$color-vaticle-deep-purple: #151322;
$color-vaticle-black-purple: #0E0D17;
$color-vaticle-green: #02DAC9;
$color-vaticle-red: #E96464;

$color-vaticle-secondary-light-grey: #958FA8;
$color-vaticle-secondary-grey: #63607C;
$color-vaticle-secondary-deep-grey: #383649;
$color-vaticle-secondary-purple: #232135;
$color-vaticle-secondary-yellow: #FFE49E;
$color-vaticle-secondary-pink: #FF87DC;
$color-vaticle-secondary-blue: #7BA0FF;
