$color-white: #FFFFFF;
$color-grey: #D7D4E5;
$color-light-purple: #2D2A46;
$color-purple: #1A182A;
$color-deep-purple: #151322;
$color-black-purple: #0E0D17;
$color-green: #02DAC9;
$color-red: #E96464;

$color-secondary-light-grey: #958FA8;
$color-secondary-grey: #63607C;
$color-secondary-deep-grey: #383649;
$color-secondary-purple: #232135;
$color-secondary-yellow: #FFE49E;
$color-secondary-pink: #FF87DC;
$color-secondary-blue: #7BA0FF;
