$color-prism-white: #D5CCFF;
$color-prism-cyan: #55EAE2;
$color-prism-green: #4DC97C;
$color-prism-red: #FF8080;
$color-prism-pink: #FF7ABD;
$color-prism-blue: #82B6FF;
$color-prism-orange: #FFA187;
$color-prism-yellow: #FFE4A7;
$color-prism-grey: #978ABA;

code[class*="language-"],
pre[class*="language-"] {
    color: $color-prism-white;
}

.token.comment {
    color: $color-prism-green;
}

.token.super,
.token.type {
    color: $color-prism-cyan;
    font-style: italic;
}

.token.variable {
    color: $color-prism-cyan;
}

.token.modifier {
    color: $color-prism-blue;
    font-style: italic;
}

.token.class-name,
.token.function {
    color: $color-prism-white;
}

.token.constant,
.token.number,
.token.string {
    color: $color-prism-yellow;
}

.token.operator,
.token.keyword,
.token.punctuation,
.token.special {
    color: $color-prism-pink;
}

.token.error {
    color: $color-prism-red;
}
