$color-white: #D5CCFF;
$color-cyan: #55EAE2;
$color-green: #4DC97C;
$color-red: #FF8080;
$color-pink: #FF7ABD;
$color-blue: #82B6FF;
$color-orange: #FFA187;
$color-yellow: #FFE4A7;
$color-grey: #978ABA;

code[class*="language-"],
pre[class*="language-"] {
    color: $color-white;
}

.token.comment {
    color: $color-green;
}

.token.super,
.token.type {
    color: $color-cyan;
    font-style: italic;
}

.token.variable {
    color: $color-cyan;
}

.token.modifier {
    color: $color-blue;
    font-style: italic;
}

.token.class-name,
.token.function {
    color: $color-white;
}

.token.constant,
.token.number,
.token.string {
    color: $color-yellow;
}

.token.operator,
.token.keyword,
.token.punctuation,
.token.special {
    color: $color-pink;
}

.token.error {
    color: $color-red;
}
