@import "colors";

@media (pointer: fine) {
    $scrollbar-breadth: 7px;
    $scrollbar-thumb-breadth: 3px;
    $scrollbar-breadth-html: 12px;
    $scrollbar-thumb-breadth-html: 6px;
    $scrollbar-color: $color-vaticle-secondary-light-grey;
    $scrollbar-color-hover: $color-vaticle-secondary-grey;
    $scrollbar-background-html: $color-vaticle-white;

    @supports (scrollbar-width: thin) {
        html {
            scrollbar-color: $scrollbar-color $scrollbar-background-html;
        }

        body * {
            scrollbar-width: thin;
            scrollbar-color: $scrollbar-color transparent;
        }
    }

    html::-webkit-scrollbar {
        background-color: $scrollbar-background-html;
        height: $scrollbar-breadth-html;
        width: $scrollbar-breadth-html;
    }

    body ::-webkit-scrollbar {
        height: $scrollbar-breadth;
        width: $scrollbar-breadth;
    }

    ::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: $scrollbar-color;
        border: solid transparent;
        border-width: calc(($scrollbar-breadth-html - $scrollbar-thumb-breadth-html) / 2);
        border-radius: $scrollbar-breadth-html;
    }

    body ::-webkit-scrollbar-thumb {
        border-width: calc(($scrollbar-breadth - $scrollbar-thumb-breadth) / 2);
        border-radius: $scrollbar-breadth;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: $scrollbar-color-hover;
    }
}
