$border-radius: 5px;

$section-width: 1160px;

$section-margin: 144px;
$subsection-margin: 64px;

$subtitle-margin-l: 32px;
$subtitle-margin: 24px;

$text-margin-l: 32px;
$text-margin-m: 24px;
$text-margin-s: 16px;
$text-margin-xs: 8px;

$font-size-xxl: 56px;
$line-height-xxl: 64px;
$font-size-xl: 40px;
$line-height-xl: 54px;
$font-size-l: 32px;
$line-height-l: 44px;
$font-size-ml: 28px;
$line-height-ml: 36px;
$font-size-m: 24px;
$line-height-m: 32px;
$font-size-s: 18px;
$line-height-s: 26px;
$font-size-xs: 16px;
$line-height-xs: 24px;
$line-height-xs-sparse: 28px;
$font-size-xxs: 14px;
$line-height-xxs: 21px;

$font-weight-bold: 700;
$font-weight-semi-bold: 600;
