@use "@angular/material" as mat;

@import "colors";
@import "fonts";
@import "mixins";
@import "sizes";
@import "prism";

$default-typography: mat.define-typography-level(
    $font-size: inherit,
);

$custom-typography: mat.define-typography-config(
    $font-family: (
        "Titillium Web",
        sans-serif,
    ),
    $headline-1: $default-typography,
    $headline-2: $default-typography,
    $headline-3: $default-typography,
    $headline-4: $default-typography,
    $headline-5: $default-typography,
    $headline-6: $default-typography,
    $subtitle-1: $default-typography,
    $subtitle-2: $default-typography,
    $body-1: $default-typography,
    $body-2: $default-typography,
    $caption: $default-typography,
    $button: $default-typography,
    $overline: $default-typography,
);

@include mat.core();
@include mat.dialog-typography($custom-typography);
@include mat.snack-bar-typography($custom-typography);

$default-background: $color-vaticle-black-purple;
$default-text-color: $color-vaticle-dark-white;

html,
body {
    color-scheme: dark;
    height: 100%;
    background-color: $default-background;
    color: $default-text-color;
    font-size: $font-size-base;
    font-weight: $font-weight-light;
    line-height: calc(25 / 17);
    letter-spacing: 0.016em;

    // TODO: import this from npm @fontsource/titillium-web
    font-family: "Titillium Web", sans-serif;

    margin: 0;
    scroll-padding-top: $topbar-height;

    @media (max-width: $media-max-width-mobile) {
        scroll-padding-top: $topbar-height-mobile;
        font-size: 14px;
    }

    * {
        box-sizing: border-box;
    }
}

pre,
code {
    font-family: "Monaco", monospace;
}

article {
    min-height: 1080px;

    > .article-content {
        display: flex;
        flex-direction: column;
        padding-bottom: 584px;
        position: relative;

        &.article-content-no-planet {
            padding-bottom: 0;
        }

        @media (max-width: $media-max-width-tablet) {
            padding-bottom: 315px;

            &.article-content-no-planet {
                padding-bottom: 0;
            }
        }

        @media (max-width: $media-max-width-mobile) {
            padding-bottom: 250px;

            &.article-content-no-planet {
                padding-bottom: 0;
            }
        }
    }
}

section,
.section {
    position: relative;
    z-index: 1;
    @include section-width($offset: 0px);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: $font-size-h1;
    line-height: $line-height-h1;

    @media (max-width: $media-max-width-mobile) {
        font-size: $font-size-h1-mobile;
        line-height: $line-height-h1-mobile;
    }
}

h2 {
    font-size: $font-size-h2;
    line-height: $line-height-h2;

    @media (max-width: $media-max-width-mobile) {
        font-size: $font-size-h2-mobile;
        line-height: $line-height-h2-mobile;
    }
}

h3 {
    font-size: $font-size-h3;
    line-height: $line-height-h3;

    @media (max-width: $media-max-width-mobile) {
        font-size: $font-size-h3-mobile;
        line-height: $line-height-h3-mobile;
    }
}

h4 {
    font-size: $font-size-h4;
    line-height: $line-height-h4;

    @media (max-width: $media-max-width-mobile) {
        font-size: $font-size-h4-mobile;
        line-height: $line-height-h4-mobile;
    }
}

h5 {
    font-size: $font-size-h5;
    line-height: $line-height-h5;

    @media (max-width: $media-max-width-mobile) {
        font-size: $font-size-h5-mobile;
        line-height: $line-height-h5-mobile;
    }
}

.text-p1,
.text-p1 p {
    font-size: $font-size-p1;
    line-height: $line-height-p1;

    @media (max-width: $media-max-width-mobile) {
        font-size: $font-size-p1-mobile;
        line-height: $line-height-p1-mobile;
    }
}

p,
.text-p2 {
    font-size: $font-size-p2;
    line-height: $line-height-p2;

    @media (max-width: $media-max-width-mobile) {
        font-size: $font-size-p2-mobile;
        line-height: $line-height-p2-mobile;
    }
}

aside,
.text-aside {
    font-size: $font-size-aside;
    line-height: $line-height-aside;
    font-weight: $font-weight-regular;

    @media (max-width: $media-max-width-mobile) {
        font-size: $font-size-aside-mobile;
        line-height: $line-height-aside-mobile;
    }
}

pre,
code,
.text-code {
    font-size: $font-size-code;
    line-height: $line-height-code;
}

p code,
p .text-code {
    hyphens: none;
    color: $color-vaticle-secondary-pink;
    background: $color-vaticle-black-purple;
    border-radius: $border-radius;
    border: 1px solid $content-border-color;
    padding: 6px 6px 3px;
}

.narrow-section {
    max-width: 870px;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, pre {
    margin: 0;
    padding: 0;
}

/* prettier-ignore */
h1, h2, h3, h4 {
    color: $color-vaticle-white;
}

/* prettier-ignore */
h5, h6 {
    color: $color-vaticle-dark-white;
}

aside {
    /* prettier-ignore */
    h1, h2, h3, h4, h5, h6 {
        color: $color-vaticle-dark-white;
    }
}

/* prettier-ignore */
h1, h2 {
    font-weight: $font-weight-bold;
}

/* prettier-ignore */
h3, h4 {
    font-weight: $font-weight-semi-bold;
}

/* prettier-ignore */
h5, h6 {
    font-weight: $font-weight-regular;
}

dd {
    font-weight: $font-weight-regular;
}

a {
    cursor: pointer;
    color: $color-vaticle-white;
    text-decoration: none;

    p {
        color: $color-vaticle-dark-white;
    }
}

p,
aside {
    a,
    a:visited {
        color: $color-vaticle-green;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.link-tertiary,
.link-tertiary:visited {
    color: $color-vaticle-white;
    font-weight: $font-weight-semi-bold;

    &:hover,
    &:focus {
        color: $color-vaticle-green;
        text-decoration: underline;
    }
}

strong {
    font-weight: $font-weight-semi-bold;
}

button,
input[type="text"],
input[type="email"] {
    font-family: "Titillium Web", sans-serif;
}

address {
    font-style: normal;
}

[hidden] {
    display: none !important;
}

.hide-mobile {
    @media (max-width: $media-max-width-mobile) {
        display: none !important;
    }
}

.hide-gt-mobile {
    @media (min-width: $media-min-width-tablet) {
        display: none !important;
    }
}

.hide-desktop {
    @media (min-width: $media-min-width-desktop) {
        display: none !important;
    }
}

.flex {
    flex: 1;
}

table {
    background: $color-vaticle-purple;
    border-radius: $border-radius;
    border-collapse: collapse;
    box-shadow: 0 0 0 1px $content-border-color;

    thead + tbody,
    tr:not(:first-child) {
        border-top: 1px solid $content-border-color;
    }

    th,
    td {
        &:not(:first-child) {
            border-left: 1px solid $content-border-color;
        }
    }
}

hr {
    border: 0;
    border-top: 1px solid $content-border-color;
}

.page-section {
    margin-top: $section-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (max-width: $media-max-width-mobile) {
        margin-top: $section-margin-mobile;
    }

    &.page-intro-section {
        margin-top: $intro-section-margin;

        @media (max-width: $media-max-width-tablet) {
            margin-top: $intro-section-margin-tablet;
        }

        @media (max-width: $media-max-width-mobile) {
            margin-top: $intro-section-margin-mobile;
        }
    }
}

.section-margin {
    margin-top: $section-margin;

    @media (max-width: $media-max-width-mobile) {
        margin-top: $section-margin-mobile;
    }
}

.subsection-margin {
    margin-top: $subsection-margin;

    @media (max-width: $media-max-width-tablet) {
        margin-top: $subsection-margin-tablet;
    }

    @media (max-width: $media-max-width-mobile) {
        margin-top: $subsection-margin-mobile;
    }
}

.subtitle-l {
    margin-top: $subtitle-margin-l;

    @media (max-width: $media-max-width-mobile) {
        margin-top: $subtitle-margin-mobile;
    }
}

.subtitle {
    margin-top: $subtitle-margin;

    @media (max-width: $media-max-width-mobile) {
        margin-top: $subtitle-margin-mobile;
    }
}

.text-important {
    color: $color-vaticle-white;
    font-weight: 600;
}

.text-quiet {
    color: $color-vaticle-secondary-light-grey;
}

.section-background-solid {
    background-color: $color-vaticle-black-purple;
}

.card {
    @include card-appearance;
    @include card-padding;
    transition: border-color 150ms ease;

    &.hoverable:hover {
        border-color: $color-vaticle-green;

        .link-tertiary {
            color: $color-vaticle-green;
            text-decoration: underline;
        }
    }
}

.card-appearance {
    @include card-appearance;
}

.card-padding {
    @include card-padding;
}

.hs-form label {
    color: $color-vaticle-white;
}

.hs-form ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
    margin-top: 12px;
}

.hs-form input[type="text"],
input[type="email"],
select {
    width: 100% !important; // overrides media query from Hubspot
    padding: 0 8px;
    background-color: $color-vaticle-purple;
    color: $default-text-color;
    border: 1px solid $content-border-color;
    caret-color: $default-text-color;
    border-radius: $border-radius;
    font-size: 16px;
    line-height: 46px;
    height: 48px;
    font-family: "Titillium Web", sans-serif;
}

.hs-form input,
select,
textarea {
    &::placeholder {
        color: rgba($color-vaticle-secondary-light-grey, 0.8);
        font-style: italic;
    }
}

.hs-form select {
    appearance: none;
}

.hs-fieldtype-select .input {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        width: 48px;
        height: 46px;
        border: none;
        top: 1px;
        bottom: 1px;
        right: 0;
        border-left: 1px solid $content-border-color;
        background: no-repeat center url("/assets/icon/chevron-down.svg");
        pointer-events: none;
    }
}

.hs-form input[type="checkbox"]:focus {
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

.hs-form input[type="checkbox"] {
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid $color-vaticle-dark-white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px !important;
    height: 17px;
    cursor: pointer;
    position: relative;
    top: 5px;
    margin-right: 12px;
}

.hs-form input[type="checkbox"]:checked {
    background: url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==")
        1px 1px no-repeat;
}

.hs-form-field {
    text-align: start;
}

body .hs-form fieldset {
    max-width: unset;
}

body .hs-form fieldset.form-columns-2 > div:first-of-type .input {
    @media (min-width: $media-min-width-tablet) {
        margin-right: 32px;
    }
}

body .hs-form fieldset.form-columns-1 .hs-input {
    width: 100%;
}

.hs-form fieldset + fieldset,
.hs-form > .hs-form-field + .hs-form-field {
    margin-top: 16px;
}

.hs-form fieldset.form-columns-2 .hs-form-field + .hs-form-field {
    @media (max-width: $media-max-width-mobile) {
        margin-top: 16px;
    }
}

.hs_support_request__multi_check_box_ {
    @media (min-width: $media-min-width-tablet) {
        width: 50%;
        float: left;
    }

    > label {
        display: none;
    }

    ul {
        height: 160px;
    }
}

.hs-form textarea {
    width: 100%;
    background-color: $color-vaticle-purple;
    color: $default-text-color;
    border: 1px solid $content-border-color;
    caret-color: $default-text-color;
    border-radius: $border-radius;
    font-size: 16px;
    font-family: "Titillium Web", sans-serif;
    padding: 8px;
    height: 136px;
}

.hs_support_request__full_details_ div.input {
    position: relative;

    > textarea {
        position: absolute;
        height: 264px;

        @media (max-width: $media-max-width-mobile) {
            margin-top: 200px;
            height: 124px;
        }
    }
}

.hs-form {
    .hs-error-msgs,
    .hs_error_rollup {
        display: none;
    }

    .hs-input.error {
        border-color: $color-vaticle-red;
    }
}

#hubspot-form-holder-contact,
#hubspot-form-holder-contact-section {
    .hs-submit {
        @media (max-width: $media-max-width-mobile) {
            margin-top: 100px;
        }
    }

    input[type="submit"].hs-button {
        @media (min-width: $media-min-width-tablet) {
            width: 202px;
            float: right;
        }
    }
}

input[type="submit"].hs-button {
    margin-top: 46px;
    @include button;
    @include button-primary;
    font-size: 16px;

    &.hs-button {
        width: 100%;
    }
}

.cc-window {
    background: $color-vaticle-purple;
    border-top: 1px solid $content-border-color;
    font-family: inherit;
    transition-duration: 150ms;

    .cc-link {
        text-decoration: none;
        color: $color-vaticle-green;
    }

    .cc-btn {
        @include button;
        @include button-primary;

        &.cc-btn {
            height: auto;
            width: auto;
        }
    }
}

.markdown pre {
    background: transparent;
}

// @angular/material styles
body {
    .mat-icon {
        width: 1em;
        height: 1em;

        svg {
            display: block;
        }
    }

    .mat-mdc-icon-button {
        padding: 0.25em;
        margin: -0.25em;
        width: 1.5em;
        height: 1.5em;

        .mat-icon {
            display: block;
            font-size: inherit;
        }

        svg {
            width: auto;
            height: auto;
        }
    }

    .mat-icon,
    .mat-mdc-icon-button {
        font-size: 24px;

        &.td-icon-small {
            font-size: 20px;
        }

        &.td-icon-large {
            font-size: 32px;
        }

        &.td-icon-xl {
            font-size: 40px;
        }
    }

    .mdc-dialog {
        --mdc-dialog-container-color: #{$color-vaticle-purple};
        --mdc-dialog-supporting-text-color: #{$color-vaticle-white};

        .mdc-dialog__surface {
            padding: 24px;
        }

        .mdc-dialog__title {
            padding: 0 0 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &::before {
                display: none;
            }

            h1 {
                font-size: 24px;
                line-height: 32px;
                font-weight: $font-weight-bold;
            }
        }

        .mdc-dialog__content {
            padding: 0;
        }
    }

    .mat-mdc-snack-bar-container {
        .mdc-snackbar__surface {
            padding: 0;
            background: transparent;
            box-shadow: none;

            &::before {
                display: none;
            }
        }
        .mdc-snackbar__label {
            padding: 0;
        }
    }

    .mat-mdc-progress-bar {
        --mdc-linear-progress-active-indicator-color: #{$color-vaticle-green};
    }
}
