@use "@angular/material" as mat;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "prism";
@import "colors";
@import "sizes";

$default-background: $color-vaticle-black-purple;
$default-text-color: $color-vaticle-grey;

html, body {
    height: 100%;
    background-color: $default-background;
    color: $default-text-color;
    font-size: 16px;

    // smoother edges on browsers running on Mac OS
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // TODO: import this from npm @fontsource/titillium-web
    font-family: 'Titillium Web', sans-serif;

    margin: 0;
    scroll-padding-top: 80px;

    * {
        box-sizing: border-box;
    }
}

pre, code {
    font-family: 'Ubuntu Mono', monospace;
}

typedb-website {
    height: 100%;

    article {
        min-height: 1080px;
    }

    article > div {
        display: flex;
        flex-direction: column;
        padding-bottom: 558px;
    }

    section, .section {
        width: 1160px;
        max-width: calc(100vw - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

.narrow-section {
    width: 870px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, pre {
    margin: 0;
    padding: 0;
    font-size: unset;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-vaticle-white;
}

h1 {
    font-weight: $font-weight-bold;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    cursor: pointer;
    color: $color-vaticle-white;
    text-decoration: none;

    p {
        color: $color-vaticle-grey;
    }
}

p, aside {
    a, a:visited {
        color: $color-vaticle-green;
    }
}

a.link-tertiary, a.link-tertiary:visited {
    color: $color-vaticle-white;
    font-weight: $font-weight-bold;

    &:hover, &:focus {
        color: $color-vaticle-green;
        text-decoration: underline;
    }
}

strong {
    font-weight: $font-weight-bold;
}

button, input[type="text"], input[type="email"], [class^='mat-'], [class*=' mat-'] {
    font-family: 'Titillium Web', sans-serif;
}

address {
    font-style: normal;
}

[hidden] {
    display: none !important;
}

.flex {
    flex: 1;
}

table {
    background: $color-vaticle-purple;
    border-radius: $border-radius;
    border-collapse: collapse;
    box-shadow: 0 0 0 1px $color-vaticle-light-purple;

    thead + tbody, tr:not(:first-child) {
        border-top: 1px solid $color-vaticle-light-purple;
    }

    th, td {
        &:not(:first-child) {
            border-left: 1px solid $color-vaticle-light-purple;
        }
    }
}

hr {
    border: 0;
    border-top: 1px solid $color-vaticle-light-purple;
}

.page-section {
    margin-top: $section-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &.page-intro-section {
        margin-top: 280px;
    }
}

.subsection-margin {
    margin-top: $subsection-margin;
}

.subtitle-l {
    margin-top: $subtitle-margin-l;
}

.subtitle {
    margin-top: $subtitle-margin;
}

.text-xxl {
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
}
.text-xl {
    font-size: $font-size-xl;
    line-height: $line-height-xl;
}
.text-l {
    font-size: $font-size-l;
    line-height: $line-height-l;
}
.text-ml {
    font-size: $font-size-ml;
    line-height: $line-height-ml;
    &.text-sparse {
        line-height: $line-height-ml-sparse;
    }
}
.text-m {
    font-size: $font-size-m;
    line-height: $line-height-m;
}
.text-s {
    font-size: $font-size-s;
    line-height: $line-height-s;
}
.text-xs {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    &.text-sparse {
        line-height: $line-height-xs-sparse;
    }
}
.text-xxs {
    font-size: $font-size-xxs;
    line-height: $line-height-xxs;
}

.text-weight-light {
    font-weight: $font-weight-light;
}

.header-margin-s {
    margin-top: 14px;
}

.text-margin-l {
    margin-top: $text-margin-l;
}

.text-margin-m {
    margin-top: $text-margin-m;
}

.text-margin-s {
    margin-top: $text-margin-s;
}

.text-margin-xs {
    margin-top: $text-margin-xs;
}

.text-margin-xxs {
    margin-top: $text-margin-xxs;
}

.text-quiet {
    color: $color-vaticle-secondary-light-grey;
}

.card {
    border-radius: $border-radius;
    background-color: $color-vaticle-purple;
    border: 1px solid $color-vaticle-light-purple;
    transition: border-color 150ms ease;

    &.hoverable:hover {
        border-color: $color-vaticle-green;

        a.link-tertiary {
            color: $color-vaticle-green;
            text-decoration: underline;
        }
    }
}

.hs-form label {
    color: $color-vaticle-white;
}

.hs-form ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
    margin-top: 12px;
}

.hs-form input[type='text'], input[type='email'], select {
    width: 100%;
    padding: 0 8px;
    background-color: $color-vaticle-purple;
    color: $default-text-color;
    border: 1px solid $color-vaticle-light-purple;
    caret-color: $default-text-color;
    border-radius: $border-radius;
    font-size: $font-size-xs;
    line-height: 46px;
    height: 48px;
    font-family: 'Titillium Web', sans-serif;

    &::placeholder {
        color: $color-vaticle-secondary-grey;
        font-style: italic;
    }
}

.hs-form select {
    appearance: none;
}

.hs-fieldtype-select .input {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 48px;
        height: 46px;
        border: none;
        top: 1px;
        bottom: 1px;
        right: 0;
        border-left: 1px solid $color-vaticle-light-purple;
        background: no-repeat center url("/assets/icon/chevron-down.svg");
        pointer-events: none;
    }
}

.hs-form input[type=checkbox]:focus
{
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

.hs-form input[type=checkbox]
{
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid $color-vaticle-grey;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px !important;
    height: 17px;
    cursor: pointer;
    position: relative;
    top: 5px;
    margin-right: 12px;
}

.hs-form input[type=checkbox]:checked
{
    background: url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 1px 1px no-repeat;
}

.hs-form-field {
    text-align: start;
}

// TODO: embedded hubspot forms malfunction in production - this hack patches out the bug
body > .hs-form, body > .hbspt-form {
    display: none;
}

body .hs-form fieldset {
    max-width: unset;
}

body .hs-form fieldset.form-columns-2 > div:first-of-type .input {
    margin-right: 32px;
}

body .hs-form fieldset.form-columns-1 .hs-input {
    width: 100%;
}

.hs-form fieldset + fieldset {
    margin-top: 16px;
}

.hs_support_request__multi_check_box_ {
    width: 50%;
    float: left;

    ul {
        height: 160px;
    }
}

.hs_support_request__full_details_ div.input {
    position: relative;

    > textarea {
        position: absolute;
        height: 264px;
        width: 100%;
        background-color: $color-vaticle-purple;
        color: $default-text-color;
        border: 1px solid $color-vaticle-light-purple;
        caret-color: $default-text-color;
        border-radius: $border-radius;
        font-size: $font-size-xs;
        font-family: 'Titillium Web', sans-serif;
        padding: 8px;
    }
}

input[type='submit'].hs-button {
    margin-top: 46px;
    display: flex;
    height: 48px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: $border-radius;
    justify-content: center;
    align-items: center;
    font-size: $font-size-xs;
    font-weight: $font-weight-semi-bold;
    line-height: $line-height-xs;
    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background: $color-vaticle-green;
    color: $color-vaticle-purple;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;

    &:hover {
        background-color: #0B939F;
    }
}

#hubspot-form-holder-contact input[type='submit'].hs-button {
    width: 202px;
    float: right;
    margin-top: 32px;
}

// TODO: these styles should only apply to a "success" popup
.mat-snack-bar-container {
    background: rgb(1, 52, 50);
    color: $color-vaticle-white;
    border-radius: $border-radius;
    border: 1px solid $color-vaticle-green;
}

.mat-simple-snackbar {
    gap: 12px;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
}

.mat-simple-snackbar::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url("/assets/icon/check-circle.svg");
}

.mat-simple-snackbar-action {
    margin-left: 0 !important; // overrides inline style
    color: transparent;
    background: no-repeat center center url("/assets/icon/close-large.svg");
}

.mat-dialog-container {
    padding: 32px;
    background: $color-vaticle-purple;
}

.mat-dialog-title {
    margin-bottom: 28px !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: $font-size-m;
        line-height: $line-height-m;
        font-weight: $font-weight-bold;
    }

    img {
        width: 40px;
        height: 40px;
        margin-top: -4px;
    }
}

.mat-dialog-content {
    display: flex !important;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
    }
}
body .mat-dialog-content {
    overflow: visible;
}

.mat-form-field-infix {
    padding: 0 !important;
}
.mat-form-field-appearance-outline .mat-form-field-label {
    margin-top: -15px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    background: $color-vaticle-secondary-purple;
}
body .mat-form-field-label {
    color: $color-vaticle-secondary-grey;
    font-style: italic;
}
body .mat-focused .mat-form-field-label {
    font-style: normal;
}
.mat-form-field-appearance-outline.mat-focused {
    .mat-form-field-outline, .mat-form-field-label {
        color: $color-vaticle-green !important;
    }
}
body .mat-form-field-appearance-outline .mat-form-field-outline-start,
body .mat-form-field-appearance-outline .mat-form-field-outline-end,
body .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    border-color: $color-vaticle-secondary-deep-grey;
}
body .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-start,
body .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-end,
body .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-gap {
    border-color: $color-vaticle-green;
}
.mat-form-field-wrapper {
    padding-bottom: 14px;
}
.mat-form-field-label-wrapper {
    top: -10px;
    padding-top: 10px;
    overflow: visible !important;
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-21px) translateX(-4px) scale(.75);
    width: 133.33333%;
    font-style: italic;
}
body .mat-input-element {
    line-height: 32px;
    margin-bottom: 8px;
    caret-color: $color-vaticle-green;
}
body textarea.mat-input-element {
    line-height: $line-height-xs;
    margin-bottom: 8px;
}
body select.mat-input-element {
    margin-bottom: -9px;
}
body .mat-form-field.mat-warn .mat-input-element,
body .mat-form-field-invalid .mat-input-element,
body .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    caret-color: $color-vaticle-red;
    color: $color-vaticle-red;
}
body .mat-form-field-type-mat-native-select .mat-form-field-infix::after {
    width: 48px;
    height: 46px;
    border: none;
    top: -3px;
    bottom: 1px;
    right: 0;
    border-left: 1px solid $color-vaticle-light-purple;
    background: no-repeat center url("/assets/icon/chevron-down.svg");
}
.mat-form-field-type-mat-native-select.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0;
}
.mat-form-field-type-mat-native-select .mat-input-element {
    padding: 1em .75em 9px;
    margin-bottom: -18px;
}
.mat-form-field-type-mat-native-select .mat-form-field-label {
    padding-left: 18px;
}
body .mat-checkbox-inner-container {
    margin-left: 4px;
    margin-right: 12px;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background-color: $color-vaticle-green;
}

.markdown pre {
    background: transparent;
}
