@use "@angular/material" as mat;
@use "media";
@use "mixins" as *;
@use "shapes";

@import "base";
@import "fonts";
@import "form";
@import "material";
@import "prism";
@import "reset";
@import "scrollbars";
@import "vars";

$default-typography: mat.define-typography-level(
    $font-size: inherit,
);

$custom-typography: mat.define-typography-config(
    $font-family: var(--default-font-family),
    $headline-1: $default-typography,
    $headline-2: $default-typography,
    $headline-3: $default-typography,
    $headline-4: $default-typography,
    $headline-5: $default-typography,
    $headline-6: $default-typography,
    $subtitle-1: $default-typography,
    $subtitle-2: $default-typography,
    $body-1: $default-typography,
    $body-2: $default-typography,
    $caption: $default-typography,
    $button: $default-typography,
    $overline: $default-typography,
);

@include mat.core();
@include mat.dialog-typography($custom-typography);
@include mat.snack-bar-typography($custom-typography);

article {
    min-height: 1080px;

    > .article-content {
        display: flex;
        flex-direction: column;
        padding-bottom: 584px;
        position: relative;

        &.article-content-no-planet {
            padding-bottom: 5em;
        }

        @media (max-width: media.$max-width-tablet) {
            padding-bottom: 315px;
        }

        @media (max-width: media.$max-width-mobile) {
            padding-bottom: 250px;
        }
    }
}

section,
.section {
    position: relative;
    z-index: 1;
    @include section-width($offset: 0px);
    margin-left: auto;
    margin-right: auto;
}

.narrow-section {
    max-width: 870px;
}

.nebula-section,
.page-section.nebula-section {
    margin-top: 120px;

    @media (max-width: media.$max-width-mobile) {
        margin-top: 48px;

        td-website.has-banner & {
            margin-top: calc(48px + var(--banner-height));
        }
    }

    + article {
        margin-top: 40px;
        border-top: shapes.$border;

        section:first-of-type {
            margin-top: 64px;

            @media (max-width: media.$max-width-mobile) {
                margin-top: 24px;
            }
        }
    }
}

.resource-section {
    margin-top: 40px;
    border-top: shapes.$border;
    background: var(--color-black-purple);

    @media (max-width: media.$max-width-mobile) {
        margin-top: 16px;
    }
}

.link-tertiary,
.link-tertiary:visited {
    color: var(--color-white);
    font-weight: var(--font-weight-semi-bold);

    &:hover,
    &:focus {
        color: var(--color-green);
        text-decoration: underline;
    }
}

table {
    background: var(--color-purple);
    border-radius: var(--border-radius);
    border-collapse: collapse;
    box-shadow: 0 0 0 1px var(--content-border-color);

    thead + tbody,
    tr:not(:first-child) {
        border-top: shapes.$border;
    }

    th,
    td {
        &:not(:first-child) {
            border-left: shapes.$border;
        }
    }
}

.page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &.page-intro-section {
        margin-top: var(--intro-section-margin);
    }
}

.page-section,
.section-margin {
    margin-top: var(--section-margin);
}

.subsection-margin {
    margin-top: var(--subsection-margin);
}

.subtitle-l {
    margin-top: var(--subtitle-margin-l);
}

.subtitle {
    margin-top: var(--subtitle-margin);
}

.section-background-solid {
    background-color: var(--color-black-purple);
}

.cc-window {
    background: var(--color-purple);
    border-top: shapes.$border;
    font-family: inherit;
    transition-duration: 150ms;

    .cc-link {
        text-decoration: none;
        color: var(--color-green);
    }

    .cc-btn {
        @include button;
        @include button-primary;

        &.cc-btn {
            height: auto;
            width: auto;
        }
    }
}

.markdown pre {
    background: transparent;
}

.atcb-list {
    font-family: var(--default-font-family);
}
