@import "colors";
@import "sizes";

.st-table {
    border-radius: var(--border-radius);
    border: 1px solid var(--content-border-color);
}

.st-row {
    display: flex;

    @media (max-width: $media-max-width-mobile) {
        flex-direction: column;
    }

    & + & {
        border-top: 1px solid var(--content-border-color);
    }
}

.st-cell-icon {
    flex: 0 0 268px;
    border-right: 1px solid var(--content-border-color);
    background: var(--color-primary-deep-purple);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $media-max-width-mobile) {
        flex-basis: 104px;
    }

    img {
        height: 96px;
        width: 96px;

        @media (max-width: $media-max-width-tablet) {
            height: 72px;
            width: 72px;
        }

        @media (max-width: $media-max-width-mobile) {
            height: 56px;
            width: 56px;
        }
    }
}

.st-cell-text {
    background: var(--color-primary-purple);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: $media-max-width-mobile) {
        padding: 16px;
    }
}

.st-title-description {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: $media-max-width-mobile) {
        align-items: center;
    }
}

.st-check-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    gap: 8px 32px;
    color: var(--color-primary-white);

    &.st-check-list-two-columns {
        grid-template-columns: repeat(2, fit-content(100%));
    }

    @media (max-width: $media-max-width-tablet) {
        grid-template-columns: repeat(2, fit-content(100%));
    }

    @media (max-width: $media-max-width-mobile) {
        &,
        &.st-check-list-two-columns {
            grid-template-columns: 1fr;
        }
    }
}

.st-check-item {
    display: flex;
    gap: 8px;
    align-items: center;

    .mat-icon {
        flex-shrink: 0;
        color: var(--color-primary-green);
    }
}
