<div class="st-table section">
  <div *ngFor="let keyPoint of keyPoints" class="st-row">
    <div class="st-cell-icon">
      <img [src]="keyPoint.iconURL" alt="" />
    </div>
    <div class="st-cell-text">
      <div class="st-title-description">
        <h3>{{ keyPoint.title }}</h3>
        <div [innerHtml]="keyPoint.body | html"></div>
      </div>
      <ul
        *ngIf="keyPoint.checklist.length"
        class="st-check-list"
        [class.st-check-list-two-columns]="keyPoint.checklist.length === 4"
      >
        <li *ngFor="let checkText of keyPoint.checklist" class="st-check-item">
          <mat-icon svgIcon="check" />
          {{ checkText }}
        </li>
      </ul>
    </div>
  </div>
</div>
