<div class="st-table section">
  @for (keyPoint of keyPoints; track keyPoint) {
    <div class="st-row">
      <div class="st-cell-icon">
        <img [src]="keyPoint.iconURL" alt="" />
      </div>
      <div class="st-cell-text">
        <div class="st-title-description">
          <h3>{{ keyPoint.title }}</h3>
          <td-rich-text [value]="keyPoint.body" />
        </div>
        @if (keyPoint.checklist.length) {
          <ul
            class="st-check-list"
            [class.st-check-list-two-columns]="keyPoint.checklist.length === 4"
            >
            @for (checkText of keyPoint.checklist; track checkText) {
              <li class="st-check-item">
                <mat-icon svgIcon="check" />
                {{ checkText }}
              </li>
            }
          </ul>
        }
      </div>
    </div>
  }
</div>
