@import "sizes";
@import "colors";

.wd-form-card {
    position: relative;
    padding: 32px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 12px 32px;
    text-align: start;

    @media (max-width: $media-max-width-mobile) {
        padding: 12px;
        flex-flow: column-reverse nowrap;
    }

    > * {
        flex: 1;
        min-width: 0;

        @media (max-width: $media-max-width-mobile) {
            flex-basis: 100%;
        }
    }
}

.wd-description {
    text-align: start;
    columns: 2;

    @media (max-width: $media-max-width-mobile) {
        columns: 1;
    }
}

.wd-img {
    border: 1px solid $color-vaticle-light-purple;
    border-radius: $border-radius;

    @media (max-width: $media-max-width-mobile) {
        max-width: 100%;
    }
}

#hubspot-form-holder {
    margin: 24px 0;

    @media (max-width: $media-max-width-mobile) {
        margin: 20px 0;
    }
}

.mat-mdc-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
