<article tdPageBackground nebula="studio" planet="pink">
  <div *ngIf="whitePaper" class="article-content">
    <section class="page-section page-intro-section">
      <td-heading-with-highlights class="narrow-section" [value]="whitePaper.title" level="h1" />
      <div class="section subsection-margin card wd-form-card">
        <td-aspect-ratio ratio="17:22">
          <img [src]="whitePaper.portraitImageURL" class="wd-img" [alt]="whitePaper.title" />
        </td-aspect-ratio>
        <div>
          <h3><strong>Get the white paper</strong></h3>
          <div id="hubspot-form-holder"></div>
          <p>
            By submitting your personal data, you consent to emails from Vaticle. See our
            <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
          </p>
          <mat-progress-bar *ngIf="isSubmitting" mode="indeterminate" />
        </div>
      </div>
      <td-rich-text class="subsection-margin wd-description" [value]="whitePaper.description" />
    </section>
    <ng-container *ngIf="whitePaper.furtherReading">
      <td-technicolor-block [block]="whitePaper.furtherReading" [index]="1" [noLeadingLine]="true" />
      <td-link-panels [panels]="whitePaper.furtherReading.links" [cols]="3" />
    </ng-container>
  </div>
</article>
