<article>
    <div *ngIf="whitePaper">
        <section class="page-section page-intro-section">
            <h1 class="text-xxl narrow-section">{{ whitePaper.title }}</h1>
            <div class="subsection-margin card wd-landscape-img-card">
                <img [src]="whitePaper.landscapeImageURL" class="wd-img wd-img-landscape" [alt]=""/>
            </div>
            <td-rich-text class="text-m subsection-margin wd-description" [value]="whitePaper.description"></td-rich-text>
            <div class="subsection-margin card wd-form-card">
                <img [src]="whitePaper.portraitImageURL" class="wd-img wd-img-portrait" [alt]="whitePaper.title"/>
                <div>
                    <h2 class="text-m"><strong>Get the white paper</strong></h2>
                    <div id="hubspot-form-holder"></div>
                    <p class="text-margin-l">By submitting your personal data, you consent to emails from Vaticle. See our <a href="/privacy-policy">Privacy Policy</a>.</p>
                </div>
            </div>
        </section>
    </div>
</article>
