@import "../../styles/sizes";
@import "../../styles/colors";
@import "../background";

article {
    @include page-background(
        "studio_02june( 5) 1.png",
        "planet-yellow-green.png"
    );
}

.wd-form-card {
    padding: 32px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 12px 32px;
    text-align: start;

    @media (max-width: $media-max-width-mobile) {
        padding: 12px;
    }

    > * {
        flex: 1;
        min-width: 0;

        @media (max-width: $media-max-width-mobile) {
            flex-basis: 100%;
        }
    }
}

.wd-description {
    text-align: start;
    columns: 2;

    @media (max-width: $media-max-width-mobile) {
        columns: 1;
    }
}

.wd-img {
    border: 1px solid $color-vaticle-light-purple;
    border-radius: $border-radius;
}

#hubspot-form-holder {
    margin: 24px 0;

    @media (max-width: $media-max-width-mobile) {
        margin: 20px 0;
    }
}
