@import "../../styles/colors";
@import "../../styles/sizes";

[class^="ib-tooltip"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $color-vaticle-light-purple;
    transition: opacity 100ms ease;

    &.ib-tooltip-visible {
        opacity: 1;
    }
}

.ib-tooltip-text-box {
    top: -36px;
    z-index: 50;
    border-radius: 4px;
    height: 28px;
    text-align: center;
    color: $color-vaticle-white;
    width: max-content;
    padding: 4px 8px;
}

.ib-tooltip-arrowhead {
    top: -12px;
    width: 8px;
    height: 8px;
    border-bottom-right-radius: 2px;
    z-index: 25;
    transform: rotate(45deg);
}
