<article tdPageBackground nebula="deploy" planet="yellow_green">
  <div *ngIf="page" class="article-content">
    <td-deployment-page-technicolor-block
      [block]="page.introSection"
      [index]="0"
      class="dp-intro-block"
    ></td-deployment-page-technicolor-block>
    <td-product-table [panels]="page.introSection.productPanels"></td-product-table>

    <td-deployment-page-technicolor-block
      [block]="page.featureTableSection"
      [index]="1"
    ></td-deployment-page-technicolor-block>
    <td-feature-table [table]="page.featureTableSection.featureTable"></td-feature-table>

    <td-deployment-page-technicolor-block
      [block]="page.finalSection"
      [index]="2"
    ></td-deployment-page-technicolor-block>
    <td-conclusion-panel [panel]="page.finalSection.panel"></td-conclusion-panel>
  </div>
</article>
