article {
    background: no-repeat center top / 1920px url("/assets/image/deploy_02june (2) 1.png"),
                no-repeat center bottom url("/assets/image/planet-yellow-green.jpg");
}

.dp-intro-block {
    display: inline-block;
    margin-top: 318px;
}
