article {
    background: no-repeat center 0 url("/assets/image/nebula-large-green.jpg"),
                no-repeat center bottom url("/assets/image/planet-yellow-green.jpg");
}

.dp-intro-block {
    display: inline-block;
    margin-top: 318px;
}
