@import "../background";

article {
    @include page-background(
        // prettier-ignore
        "deploy_02june (2) 1.png",
        "planet-yellow-green.png"
    );
}

.dp-intro-block {
    display: inline-block;
    margin-top: 318px;

    @media (max-width: $media-max-width-mobile) {
        margin-top: 136px;
    }
}
