<div class="section cp-root">
    <div class="cp-main-area card-padding">
        <h2 class="text-l"><strong>{{ panel.title }}</strong></h2>
        <td-rich-text class="text-xs text-sparse text-margin-s" [value]="panel.body"></td-rich-text>
        <div class="flex"></div>
        <td-actions [actions]="panel.actions"></td-actions>
    </div>
    <div class="cp-resources-area card-padding">
        <h3 class="text-m">{{ panel.resourceListTitle }}</h3>
        <ul class="text-margin-m">
            <li *ngFor="let resource of panel.resources">
                <a [tdLink]="resource" class="link-tertiary">{{ resource.text }}</a>
            </li>
        </ul>
    </div>
</div>
