@import "../../styles/colors";
@import "../../styles/sizes";

.cp-root {
    border: 1px solid $color-vaticle-light-purple;
    border-radius: $border-radius;
    display: flex;

    @media (max-width: $media-max-width-mobile) {
        flex-direction: column;
    }
}

.cp-main-area {
    background: $color-vaticle-purple;
    border-radius: $border-radius 0 0 $border-radius;
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: $media-max-width-mobile) {
        border-radius: $border-radius $border-radius 0 0;
        padding: 16px;
        gap: 8px;
    }

    ::ng-deep .ac-root {
        margin-top: 16px;
    }
}

.cp-resources-area {
    background: $color-vaticle-deep-purple;
    border-radius: 0 $border-radius $border-radius 0;
    border-left: 1px solid $color-vaticle-light-purple;
    padding: 40px;

    @media (max-width: $media-max-width-mobile) {
        border-radius: 0 0 $border-radius $border-radius;
        border-top: 1px solid $color-vaticle-light-purple;
        border-left: none;
        width: auto;
        padding: 16px;
    }

    ul {
        margin-top: 26px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;

        @media (max-width: $media-max-width-mobile) {
            margin-top: 16px;
        }

        a {
            line-height: 32px;
        }
    }
}
