@import "../../styles/colors";
@import "../../styles/sizes";

.cp-root {
    border: 1px solid $color-vaticle-light-purple;
    border-radius: $border-radius;
    display: flex;

    @media (max-width: $media-max-width-mobile) {
        flex-direction: column;
    }
}

.cp-main-area {
    display: flex;
    flex-direction: column;
    background: $color-vaticle-purple;
    border-radius: $border-radius 0 0 $border-radius;

    @media (min-width: $media-min-width-tablet) {
        width: 800px;
    }
}

.cp-resources-area {
    flex: 1;
    background: $color-vaticle-deep-purple;
    border-radius: 0 $border-radius $border-radius 0;

    @media (min-width: $media-min-width-tablet) {
        border-left: 1px solid $color-vaticle-light-purple;
    }

    @media (max-width: $media-max-width-mobile) {
        border-top: 1px solid $color-vaticle-light-purple;
    }

    ul {
        list-style: none;
        font-size: $font-size-xs;

        @media (max-width: $media-max-width-mobile) {
            font-size: $font-size-xxs;
        }

        li:not(:first-child) {
            margin-top: $text-margin-xs;
        }

        a {
            line-height: 32px;
        }
    }
}
