<div mat-dialog-title>
    <h1>Get in touch</h1>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <img src="/assets/icon/close.svg" alt="Close"/>
    </button>
</div>
<div mat-dialog-content>
    <form #formEl>
        <div class="cd-row">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input type="text" name="firstName" [(ngModel)]="form.firstName" autocomplete="given-name" matNativeControl required/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input type="text" name="lastName" [(ngModel)]="form.lastName" autocomplete="family-name" matNativeControl required/>
            </mat-form-field>
        </div>
        <div class="cd-row">
            <mat-form-field appearance="outline">
                <mat-label>Work email</mat-label>
                <input type="email" name="email" [(ngModel)]="form.email" autocomplete="email" matNativeControl required/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Company name</mat-label>
                <input type="text" name="companyName" [(ngModel)]="form.companyName" autocomplete="organization" matNativeControl required/>
            </mat-form-field>
        </div>
        <div class="cd-row">
            <div class="cd-fieldset">
                <mat-form-field appearance="outline">
                    <mat-label>Job function</mat-label>
                    <select matNativeControl required>
                        <option value="" selected disabled></option>
                        <option tdOption="Tech Executive (CIO, CTO, VP Engineering, etc.)"></option>
                        <option tdOption="Business Executive (CEO, COO, CMO, etc.)"></option>
                        <option tdOption="Architect"></option>
                        <option tdOption="Business Development / Alliance Manager"></option>
                        <option tdOption="DBA"></option>
                        <option tdOption="Technical Operations"></option>
                        <option tdOption="Director / Development Manager"></option>
                        <option tdOption="Product / Project Manager"></option>
                        <option tdOption="Software Developer / Engineer"></option>
                        <option tdOption="Business Analyst"></option>
                        <option tdOption="Data Scientist"></option>
                        <option tdOption="Academic (Student, Teacher, Professor)"></option>
                        <option tdOption="Other"></option>
                    </select>
                </mat-form-field>
                <h2 class="text-xs">What can we help you with?</h2>
                <ul>
                    <li *ngFor="let topic of allTopics">
                        <mat-checkbox [(ngModel)]="form.topics[topic]" [name]="topic">{{ topic }}</mat-checkbox>
                    </li>
                </ul>
            </div>
            <mat-form-field appearance="outline" class="cd-tell-us-more">
                <mat-label>Tell us more about how we can help</mat-label>
                <textarea name="tellUsMore" [(ngModel)]="form.body" matNativeControl rows="10"></textarea>
            </mat-form-field>
        </div>
        <div class="cd-actions-row">
            <td-button [button]="{ style: 'primary', text: 'Submit' }" (buttonClick)="onSubmit()"></td-button>
            <p>By submitting your personal data, you consent to emails from Vaticle. See our <a href="/privacy-policy">Privacy Policy</a>.</p>
        </div>
    </form>
</div>
