@import "../../styles/colors";

$block-gap: 144px;

.tb-root {
    background-repeat: no-repeat;
    background-position-y: 72px;
}

.tb-margin-top {
    height: $block-gap;
    display: flex;
    flex-direction: column;
}

.tb-core {
    display: flex;
    gap: 38px;
}

.tb-graphic {
    width: 100px;
    padding: 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tb-graphic-icon-area {
    width: 72px;
    height: 72px;
    position: relative;
}

.tb-graphic-icon-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(15px);
    border-radius: 50%;
}

.tb-graphic-icon-bg-green {
    background: rgba(2, 218, 201, 0.15);
}

.tb-graphic-icon-bg-pink {
    background: rgba(255, 133, 219, 0.15);
}

.tb-graphic-icon-bg-yellow {
    background: rgba(254, 170, 116, 0.15);
}

.tb-graphic-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    z-index: 1;
}

.tb-graphic-line {
    width: 3px;
}

@mixin graphic-line-gradient($base-color) {
    background: linear-gradient(transparent 0%, rgba($base-color, .08) 10%, $base-color 50%, rgba($base-color, .08) 90%, transparent 100%);
}

.tb-graphic-line-green {
    @include graphic-line-gradient($color-vaticle-green);
}

.tb-graphic-line-pink {
    @include graphic-line-gradient($color-vaticle-secondary-pink);
}

.tb-graphic-line-yellow {
    @include graphic-line-gradient($color-vaticle-secondary-yellow);
}

.tb-graphic-line-top {
    height: $block-gap;

    &.tb-long-upper-chain {
        height: $block-gap + 100px;
        margin-top: -100px;
    }
}

.tb-body {
    flex: 1;

    &.tb-body-wide {
        max-width: 660px;
    }
    &.tb-body-narrow {
        max-width: 560px;
    }
}

.tb-body-margin-bottom {
    margin-bottom: 72px;
}
