<div class="tb-background"></div>
<div class="tb-main">
  <div class="tb-icon-area">
    <div class="tb-icon-bg-paper"></div>
    <a class="tb-icon-bg-halo" [tdLink]="'#' + block.sectionId">&nbsp;</a>
    <img class="tb-icon" [src]="block.iconURL" alt="" />
  </div>
  <td-heading-with-highlights [value]="block.title" [id]="block.sectionId" [themeColorHex]="themeColorHex" [level]="level"/>
  <div></div>
  <div>
    @if (block.body && !noBody) {
      <td-rich-text [value]="block.body" class="text-p1" />
    }
    @if (block.actions) {
      <td-actions [actions]="block.actions" />
    }
    @if (organisationLogos?.length) {
      <td-organisation-logos appearance="transparent" [organisations]="organisationLogos!"/>
    }
  </div>
</div>
