@use "colors";
@use "media";

$icon-size: 72px;

@mixin graphic-line-gradient($base-color) {
    background: linear-gradient(
        transparent 0%,
        rgba($base-color, 0.1) 7%,
        $base-color 20%,
        $base-color 80%,
        rgba($base-color, 0.1) 93%,
        transparent 100%
    );
}

:host {
    display: block;
    position: relative;

    &.tb-no-upper {
        margin-top: 120px;

        &.tb-level-h1 {
            margin-top: 256px;
        }

        @media (max-width: media.$max-width-mobile) {
            margin-top: 64px;

            &.tb-level-h1 {
                margin-top: 116px;
            }
        }
    }

    &:not(.tb-no-upper) .tb-main {
        padding-top: 144px;
    }

    &.tb-green {
        .tb-icon-area {
            color: var(--color-green);
        }
        .tb-background {
            @include graphic-line-gradient(colors.$green);
        }
    }

    &.tb-pink {
        .tb-icon-area {
            color: var(--color-secondary-pink);
        }
        .tb-background {
            @include graphic-line-gradient(colors.$secondary-pink);
        }
    }

    &.tb-yellow {
        .tb-icon-area {
            color: var(--color-secondary-yellow);
        }
        .tb-background {
            @include graphic-line-gradient(colors.$secondary-yellow);
        }
    }

    &.tb-no-upper .tb-background {
        top: 35px;
    }

    &.tb-long-upper .tb-background {
        top: -100px;
    }
}

.tb-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35px;
    width: 3px;
    z-index: -1;

    @media (max-width: media.$max-width-mobile) {
        width: 2px;
    }
}

.tb-main {
    display: grid;
    grid-template-columns: 120px minmax(auto, 660px);
    padding-bottom: 64px;

    @media (max-width: media.$max-width-tablet) {
        padding-bottom: 56px;
    }

    @media (max-width: media.$max-width-mobile) {
        padding-bottom: 24px;
        grid-template-columns: 84px auto;
    }
}

.tb-icon-area {
    position: relative;

    .tb-icon-bg-paper,
    .tb-icon-bg-halo,
    .tb-icon {
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    .tb-icon-bg-paper {
        position: absolute;
        width: $icon-size + 32px;
        height: $icon-size + 32px;
        margin-left: -16px;
        border-radius: var(--border-radius);
        filter: blur(8px);
        background: var(--color-black-purple);
    }

    .tb-icon-bg-halo {
        position: absolute;
        width: $icon-size + 32px;
        height: $icon-size + 32px;
        margin-left: -16px;
        border-radius: 50%;
        filter: blur(15px);
        opacity: 0.15;
        background: currentColor;
        z-index: 4;
        transition: opacity 200ms ease;

        &:hover {
            opacity: 0.35;
        }
    }

    .tb-icon {
        position: absolute;
        width: $icon-size;
        height: $icon-size;
        z-index: 3;
    }
}

.tb-graphic-dot {
    display: none !important; // temporary patch to hide dot pending QA review
    position: absolute;
    width: 9px;
    height: 9px;
    background: currentColor;
    border-radius: 50%;
    top: 0;
    opacity: 0;
    left: -3px;
    pointer-events: none;

    @media (max-width: media.$max-width-mobile) {
        left: -2px;
        width: 6px;
        height: 6px;
    }

    .tb-graphic-dot-blur {
        position: absolute;
        top: -8px;
        left: -8px;
        width: 25px;
        height: 25px;
        background: currentColor;
        border-radius: 50%;
        filter: blur(15px);

        @media (max-width: media.$max-width-tablet) {
            top: -7px;
            left: -7px;
            width: 23px;
            height: 23px;
        }

        @media (max-width: media.$max-width-mobile) {
            top: -5px;
            left: -5px;
            width: 16px;
            height: 16px;
        }
    }
}

td-heading-with-highlights {
    display: block;
    margin: 24px 0;

    @media (max-width: media.$max-width-mobile) {
        margin: 16px 0;
    }
}

td-organisation-logos {
    display: block;
    margin-top: 40px;
}
