@import "../../styles/colors";
@import "../../styles/sizes";

$block-gap: 144px;
$block-gap-tablet: 128px;
$block-gap-mobile: 64px;

.tb-root {
    background-repeat: no-repeat;
    background-position-y: 72px;
    z-index: 0;
}

.tb-margin-top {
    height: $block-gap;
    display: flex;
    flex-direction: column;

    @media (max-width: $media-max-width-tablet) {
        height: $block-gap-tablet;
    }

    @media (max-width: $media-max-width-mobile) {
        height: $block-gap-mobile;
    }
}

.tb-core {
    display: flex;
    gap: 38px;

    @media (max-width: $media-max-width-mobile) {
        gap: 0;
    }
}

.tb-graphic {
    width: 100px;
    padding: 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $media-max-width-mobile) {
        width: 48px;
        padding: 0;
        margin-left: -12px;
    }
}

@mixin graphic-line-gradient($base-color) {
    background: linear-gradient(
        transparent 0%,
        rgba($base-color, 0.08) 10%,
        $base-color 50%,
        rgba($base-color, 0.08) 90%,
        transparent 100%
    );
}

.tb-graphic-green {
    color: $color-vaticle-green;

    .tb-graphic-line {
        @include graphic-line-gradient($color-vaticle-green);
    }
}

.tb-graphic-pink {
    color: $color-vaticle-secondary-pink;

    .tb-graphic-line {
        @include graphic-line-gradient($color-vaticle-secondary-pink);
    }
}

.tb-graphic-yellow {
    color: $color-vaticle-secondary-yellow;

    .tb-graphic-line {
        @include graphic-line-gradient($color-vaticle-secondary-yellow);
    }
}

.tb-graphic-icon-area {
    width: 72px;
    height: 72px;
    position: relative;

    @media (max-width: $media-max-width-mobile) {
        width: 48px;
        height: 48px;
    }
}

.tb-graphic-icon-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(15px);
    border-radius: 50%;
    opacity: 0.15;
    background: currentColor;
}

.tb-graphic-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    z-index: 1;

    @media (max-width: $media-max-width-mobile) {
        width: 24px;
        height: 24px;
    }
}

.tb-graphic-line {
    width: 3px;
    position: relative;

    @media (max-width: $media-max-width-mobile) {
        width: 2px;
    }
}

.tb-graphic-dot {
    position: absolute;
    width: 9px;
    height: 9px;
    background: currentColor;
    border-radius: 50%;
    top: 0;
    opacity: 0;
    left: -3px;
    transition: 200ms;
    pointer-events: none;

    @media (max-width: $media-max-width-mobile) {
        left: -2px;
        width: 6px;
        height: 6px;
    }

    .tb-graphic-dot-blur {
        position: absolute;
        top: -7px;
        left: -7px;
        width: 25px;
        height: 25px;
        background: currentColor;
        border-radius: 50%;
        filter: blur(15px);

        @media (max-width: $media-max-width-tablet) {
            width: 23px;
            height: 23px;
        }

        @media (max-width: $media-max-width-mobile) {
            width: 16px;
            height: 16px;
        }
    }
}

.tb-graphic-line-top {
    height: $block-gap;

    @media (max-width: $media-max-width-tablet) {
        height: $block-gap-tablet;
    }

    @media (max-width: $media-max-width-mobile) {
        height: $block-gap-mobile;
    }

    &.tb-long-upper-chain {
        height: $block-gap + 100px;
        margin-top: -100px;

        @media (max-width: $media-max-width-tablet) {
            height: $block-gap-tablet + 100px;
            margin-top: -100px;
        }

        @media (max-width: $media-max-width-mobile) {
            margin-top: -61px;
            height: $block-gap-mobile + 61px;
        }
    }
}

.tb-body {
    flex: 1;

    &.tb-body-wide {
        max-width: 660px;

        @media (max-width: $media-max-width-tablet) {
            max-width: 600px;
        }
    }
    &.tb-body-narrow {
        max-width: 560px;
    }
}

.tb-text-l {
    margin-top: 32px;

    @media (max-width: $media-max-width-tablet) {
        margin-top: 16px;
    }
}

.tb-text-m {
    margin-top: 24px;

    @media (max-width: $media-max-width-mobile) {
        margin-top: 16px;
    }
}

.tb-body-margin-bottom {
    margin-bottom: 72px;

    @media (max-width: $media-max-width-tablet) {
        margin-bottom: 56px;
    }

    @media (max-width: $media-max-width-mobile) {
        margin-bottom: 24px;
    }
}

td-h1-with-highlights {
    display: block;
}
