<article tdPageBackground nebula="deploy" planet="yellow_green">
  @if (page$ | async; as page) {
    <div class="article-content">
      <td-section-core [section]="page.introSection"/>
      <td-product-table [panels]="page.introSection.productPanels"/>

      <td-section-core [section]="page.featureTableSection"/>
      <td-feature-table [table]="page.featureTableSection.featureTable"/>

      @if (page.linkPanelsSection) {
        <td-section-core [section]="page.linkPanelsSection"/>
        <td-link-panels [panels]="page.linkPanelsSection.panels"/>
      }

      <td-section-core [section]="page.finalSection"/>
      <td-conclusion-panel [panel]="page.finalSection.panel"/>
    </div>
  }
</article>
