@import "../../styles/colors";
@import "../../styles/sizes";

.ft-root {
    display: flex;
    flex-direction: column;
}

.ft-tabs-container {
    border: 1px solid $color-vaticle-light-purple;
    border-bottom: none;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background: $color-vaticle-deep-purple;
}

.ft-tabs {
    height: 52px;
    display: flex;
    flex-direction: row;

    @media (max-width: $media-max-width-mobile) {
        height: 48px;
    }
}

.ft-tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;

    &:not(:first-child) {
        border-left: 1px solid $color-vaticle-light-purple;
    }

    @media (hover: hover) {
        &:hover p {
            color: $color-vaticle-green;
            text-decoration: underline;
        }
    }
}

.ft-tab-selected,
.ft-tab-selected h5 {
    color: $color-vaticle-green;
    background: $color-vaticle-purple;
}

.ft-graphic {
    flex: 1;
}

.ft-text-area {
    width: 366px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
