.button{
    cursor: pointer;
    border-radius: 3px;
    padding: 0 1.2rem;
    line-height: 3rem;
    height: 3rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    transition: transform 100ms ease-in-out;
    font-family: 'Blender', Helvetica, Arial, sans-serif;
    text-decoration: none;

    &.color{
        
        &-red{
            color: $white;
            background-color: $red;

            &.hollow{
                color: $red;
                border: 1px solid $red;
            }
        }

        &-black{
            color: $white;
            background-color: $black-brand;

            &.hollow{
                color: $black-brand;
                border: 1px solid $black-brand;
            }
        }

        &-white{
            color: $black-brand;
            background-color: $white;

            &.hollow{
                color: $white;
                border: 1px solid $white;
            }
        }
    }

    &.hollow{
        background-color: transparent;
    }

    &:active{
        transform: scale(0.97);
    }
}