.button{
    cursor: pointer;
    border-radius: 3px;
    padding: 0 1.2rem;
    line-height: 3rem;
    height: 3rem;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    transition: transform 100ms ease-in-out;
    font-family: 'Blender', Helvetica, Arial, sans-serif;
    text-decoration: none;

    &.color{
        
        &-red{
            color: $white;
            background-color: $red;
        }
    }

    &:active{
        transform: scale(0.97);
    }
}