$white: #ffffff;
$black-brand: #383838;
$blue-brand: #4da5c5;
$green-brand: #89b870;
$gray-dark: #212121;
$gray-light-1: #2c2c2c;
$gray-light-2: #4d4d4d;
$gray-light-3: #f1f2f2;
$gray-light-4: #bbbcbc;
$red: #ff7878;
$pale-yellow: #f3f8f0;

$window-red: #fd625c;
$window-green: #febe40;
$window-yellow: #2fc946;