svg{
    path,
    polygon{
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    
    &.icon{
        &-core{
            line,
            polygon{
                fill: $transparent;
                stroke: $blackc;
                stroke-width: 1px;
            }

            line{
                stroke-dasharray: 5;
            }
        }

        &-migration{
            polyline,
            rect,
            polygon{
                stroke: $blackc;
                stroke-width: 1px;
                fill: $transparent;
            }

            polyline{
                &:not(.solid){
                    stroke-dasharray: 5;
                }
            }
        }

        &-visualiser{
            polygon,
            line{
                stroke: $blackc;
                stroke-width: 1px;
                fill: transparent;
            }

            .solid{
                stroke-width: 0;
                fill: $blackc;
            }

            .dash{
                stroke-dasharray: 5;
            }
        }

        &-analytics{
            polygon,
            line{
                stroke: $blackc;
                stroke-width: 1px;
                fill: transparent;
            }
        }

        &-reasoner{
            .line{
                stroke: $blackc;
                stroke-width: 1px;
                stroke-dasharray: 80, 20, 60, 10;
                fill: transparent;
            }
        }

        &-graql{
            polyline,
            line{
                stroke: $blackc;
                stroke-width: 1px;
                fill: transparent;
            }

            .dash{
                stroke-dasharray: 5;
            }
        }

        &-graph{
            polyline,
            polygon{
                stroke: $blackc;
                stroke-width: 1px;
                fill: $transparent;
            }

            .mindmaps{
                polyline{
                    stroke-dasharray: 5;
                }
            }
        }
    }
}

.icon{
    &.small{
        svg{
            *{
                stroke-width: 0.8px;
            }

            &.icon{
                &-graph{
                    .mindmaps{
                        polyline{
                            stroke-dasharray: 3;
                        }
                    }
                }

                &-graql{
                    .dash{
                        stroke-dasharray: 2;
                    }
                }

                &-reasoner{
                    .line{
                        stroke-dasharray: 40, 5, 20, 5;
                    }
                }

                &-migration{
                    polyline{
                        &:not(.solid){
                            stroke-dasharray: 3;
                        }
                    }
                }

                &-visualiser{
                    .dash{
                        stroke-dasharray: 2;
                    }
                }

                &-core{
                    line{
                        stroke-dasharray: 3;
                    }
                }
            }
        }
    }
}