.promoSlider{
    height: calc(100vh - 40px);

    ul{
        margin: 0;
        padding: 0;
    }
    
    .content{
        width: 100%;
        height: calc(100% - 40px);
        overflow: hidden;

        ul{
            width: 100%;
            height: 100%;
            padding-bottom: 50px;
            overflow-x: scroll;
            position: relative;
            list-style: none;

            li{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;

                @for $i from 0 through 4 {
                    &:nth-child(#{$i+1}){
                        left: $i*100%;
                    }
                }
            }
        }
    }
    
    .controls{
        height: 40px;
        position: relative;
        
        .scrollbar{
            height: 1px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($black-brand, 0.4);

            span{
                height: 2px;
                background-color: $black-brand;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        ul{
            list-style: none;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;

            li{
                font-family: 'Blender', Helvetica, Arial, sans-serif;
                cursor: pointer;
                opacity: 0.4;
                padding-top: 10px;
                height: 30px;
                text-align: center;
                font-size: 0.7rem;
                width: 20%;
                flex: 0 1 auto;
                white-space: pre;
                overflow: hidden;
                transform: translateZ(0);

                &:before{
                    content: '•';
                    font-size: 1.2rem;
                }

                span{
                    pointer-events: none;
                    display: none;

                    i{
                        font-style: normal;

                        &:before{
                            content: '\A';
                        }
                    }

                }
            }
        }
    }
}

@media (min-width: 400px) {
    .promoSlider{
        .controls{
            ul{
                li{
                    &:before{
                        display: none;
                    }

                    span{
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media (min-width: 750px) {
    .promoSlider{
        height: 60vh;

        .content{
            height: calc(100% - 50px);
        }

        .controls{
            height: 50px;

            ul{
                li{
                    padding-top: 12px;
                    height: 38px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    .promoSlider{
        .content{
            height: calc(100% - 60px);
        }

        .controls{
            height: 60px;

            ul{
                li{
                    padding-top: 12px;
                    height: 48px;
                    font-size: 1.1rem;
                }
            }
        }
    }
}