.promoSlider{
    height: calc(100vh - 40px);

    ul{
        margin: 0;
        padding: 0;
    }
    
    .content{
        width: 100%;
        height: calc(100% - 40px);
        overflow: hidden;

        ul{
            width: 100%;
            height: 100%;
            padding-bottom: 50px;
            overflow-x: scroll;
            position: relative;
            list-style: none;

            li{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;

                @for $i from 0 through 4 {
                    &:nth-child(#{$i+1}){
                        left: $i*100%;
                    }
                }
            }
        }
    }
    
    .controls{
        height: 40px;
        position: relative;
        
        .scrollbar{
            height: 1px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($black-brand, 0.4);

            span{
                height: 2px;
                background-color: $black-brand;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        ul{
            list-style: none;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;

            li{
                padding-top: 13px;
                height: 27px;
                text-align: center;
                font-size: 0.6rem;
                width: 20%;
                flex: 0 1 auto;
            }
        }
    }
}