<td-form [formGroup]="form" [isSubmitting$]="isSubmitting$" (doSubmit)="onSubmit()">
  <td-form-input [form]="form" field="name" label="Name" autocomplete="name" [required]="true"/>
  <td-form-input [form]="form" field="email" label="Email" autocomplete="email" [required]="true"/>
  <td-form-input [form]="form" field="company" label="Company" autocomplete="organization" [required]="true"/>
  <td-form-input [form]="form" field="country" label="Country" autocomplete="country-name"/>
  <td-form-textarea [form]="form" field="contact_request_body" label="Message" [rows]="4"/>

  @if (showPersonalDataNotice) {
    <aside>
      By submitting personal data, you consent to emails from TypeDB. See our
      <a href="/legal/privacy-policy" target="_blank">Privacy Policy</a>.
    </aside>
  }
  <td-form-actions buttonIdPrefix="provideFeedback" [isSubmitting]="isSubmitting$ | async" submitText="Submit" [submitDisabled]="!form.dirty"/>
</td-form>
