@use "media";
@import "mixins";

:host {
    display: block;
}

:host ::ng-deep {
    > :first-child {
        margin-top: 0;
    }

    /* prettier-ignore */
    h1, h2, h3, h4, h5, h6 {
        font-weight: var(--font-weight-bold);
        margin: 1.5em 0 1em -0.66em;
        padding-left: 0.66em;
        position: relative;

        > a.anchor {
            /* copied from Antora */
            position: absolute;
            visibility: hidden;
            left: 0;
            font-size: 0.8em;
            font-weight: normal;
            line-height: normal;

            &::before {
                content: "§";
            }
        }

        &:hover a.anchor {
            visibility: visible;
        }
    }

    h2 > a.anchor {
        margin-top: -0.1em;
    }

    /* prettier-ignore */
    p, ul, ol {
        margin: 1em 0 0;
    }

    ul,
    ol {
        padding-inline-start: 2em;
    }

    /* prettier-ignore */
    figure, pre, blockquote {
        margin: 40px auto;

        @media (max-width: media.$max-width-mobile) {
            margin: 16px auto;
        }
    }

    pre {
        border-radius: var(--border-radius);
        border: 1px solid var(--content-border-color);
        background: var(--color-purple);
        padding: 20px;
        overflow: auto;

        @media (max-width: media.$max-width-mobile) {
            padding: 12px;
        }
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        img {
            display: block;
            border-radius: var(--border-radius);
            border: 1px solid var(--content-border-color);
            max-width: 100%;
            height: 100%;
        }

        figcaption {
            margin-top: 8px;
            font-style: italic;
            font-size: 20px;

            @media (min-width: media.$min-width-tablet) and (max-width: media.$max-width-tablet) {
                font-size: 14px;
            }

            @media (max-width: media.$max-width-mobile) {
                font-size: 12px;
            }
        }
    }

    blockquote {
        padding-left: 24px;
        border-left: 2px solid var(--color-green);

        p {
            font-size: var(--font-size-p1);
            line-height: var(--line-height-p1);
        }

        cite::before {
            content: "—";
            margin-right: 6px;
        }
    }

    table {
        width: 100%;
        @include content-table;
    }

    a {
        color: var(--color-green);

        &:hover {
            text-decoration: underline;
        }
    }

    hr {
        margin: 1.5em 0;
    }
}
