@import "../../styles/sizes";

:host {
    display: block;
}

p + p {
    margin-top: 24px;
}

ul {
    margin-left: 1em;
}

.rt-em {
    font-style: italic;
}

.rt-strong {
    font-weight: $font-weight-bold;
}

.rt-underline {
    text-decoration: underline;
}
