<div class="mp-root">
    <div *ngFor="let column of columns" class="mp-column">
        <h3 class="text-xxs"><strong>{{ column.title }}</strong></h3>
        <ul *ngIf="isListColumn(column)">
            <li *ngFor="let item of column.items">
                <a [tdLink]="item.link">
                    <h4 class="text-s">{{ item.title }}</h4>
                    <p class="text-xxs mp-list-column-description">{{ item.description }}</p>
                </a>
            </li>
        </ul>
        <div *ngIf="isVideoColumn(column)">
            TODO: Video
        </div>
    </div>
</div>
