@import "../../styles/colors";
@import "../../styles/sizes";

:host {
    margin-top: 24px;
    display: block;
    padding-left: 16px;
    border-left: 1px solid $color-vaticle-light-purple;

    @media (max-width: $media-max-width-mobile) {
        margin-top: 16px;
    }
}

.mm-column {
    padding: 16px 0;
    border-top: 1px solid $color-vaticle-light-purple;

    &:first-of-type {
        padding-top: 0;
        border-top: none;
    }

    &:last-of-type {
        padding-bottom: 0;
    }
}

ul,
li {
    list-style: none;
}

ul {
    margin-top: $text-margin-s;
    display: flex;
    flex-direction: column;
    gap: $text-margin-s;
}

h4 {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $color-vaticle-white;
}

.mp-coming-soon {
    cursor: default;
    opacity: 0.5;
}

a:hover,
a:focus {
    .mm-list-column-item-name {
        color: $color-vaticle-green;
        text-decoration: underline;
    }
}

.mm-column-title {
    color: $color-vaticle-white;
    font-weight: $font-weight-semi-bold;
}

.mm-list-column-item-name {
    display: flex;
    align-items: center;
    color: $color-vaticle-white;
}

.mm-list-column-description {
    color: $color-vaticle-secondary-light-grey;
    margin-top: 4px;
    text-decoration: none;
    font-weight: $font-weight-regular;
}

.tb-external-link-icon {
    font-size: 20px;
}
