@import "colors";
@import "sizes";

:host {
    position: absolute;
    top: 80px;
}

.mp-root {
    width: 100%;
    border-top: 1px solid $color-vaticle-secondary-purple;
    box-shadow: 0 8px 30px rgba($color-vaticle-black-purple, 0.58);
    padding-left: 186px;
    display: flex;
    flex-direction: row;
}

.mp-column {
    padding: 32px 40px;

    &:not(:first-child) {
        border-left: 1px solid $color-vaticle-light-purple;
    }

    ul,
    li,
    dl {
        list-style: none;
    }

    ul,
    dl {
        margin: 32px 0;
        display: grid;
        grid-auto-flow: dense;
        grid-auto-columns: 280px;
        gap: 32px;
    }

    li {
        @for $i from 1 through 3 {
            &:nth-of-type(n + #{1 + 4 * ($i - 1)}) {
                grid-column: $i;
            }
        }

        h4 {
            font-weight: $font-weight-semi-bold;
            position: relative;
            width: fit-content;
        }

        .mp-coming-soon {
            cursor: default;

            h4 span,
            p {
                opacity: 0.5;
            }
        }
    }
}

.mp-column-title {
    color: $color-vaticle-white;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-vaticle-light-purple;
    font-weight: $font-weight-semi-bold;
}

.mp-list-column-item-name {
    color: $color-vaticle-white;
}

.mp-list-column-description {
    color: $color-vaticle-secondary-light-grey;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mp-coming-soon,
a {
    color: $color-vaticle-white;

    .tb-external-link-icon {
        margin-left: 4px;
        margin-right: -24px;
        margin-bottom: -4px;
        font-size: 20px;
        visibility: hidden;

        path {
            fill: $color-vaticle-green;
        }
    }
}

a:hover,
a:focus {
    .mp-list-column-item-name {
        color: $color-vaticle-green;
        text-decoration: underline;
    }

    .tb-external-link-icon {
        visibility: visible;
    }
}
