<ul class="tm-top-level-items tm-primary-area text-18-26 text-16-24-mobile">
  <li *ngFor="let item of topbar.mainArea">
    <button
      *ngIf="isMenuPanel(item)"
      tabindex="0"
      class="tb-menu-panel-header"
      [class.tm-expanded]="isMenuPanelVisible(item)"
      (click)="toggleMenuPanelVisible(item)"
    >
      {{ item.title }}
      <mat-icon svgIcon="arrow_down" class="tm-chevron" />
    </button>
    <a *ngIf="isTextLink(item)" [tdLink]="item" (mouseenter)="clearFocus()">
      {{ item.text }}
      <mat-icon *ngIf="item.type === 'external'" svgIcon="link" class="tm-external-link-icon" />
    </a>
    <td-topbar-menu-panel-mobile
      *ngIf="isMenuPanel(item)"
      [menuPanel]="item"
      [hidden]="!isMenuPanelVisible(item)"
      (itemclick)="onMenuItemClick()"
    ></td-topbar-menu-panel-mobile>
  </li>
</ul>
<ul class="tm-top-level-items tm-secondary-area text-18-26 text-16-24-mobile">
  <li class="flex">
    <td-button
      [button]="topbar.secondaryArea.button"
      size="small"
      buttonWidth="100%"
      (click)="onMenuItemClick()"
    ></td-button>
  </li>
  <li class="tm-secondary-link" *ngFor="let link of topbar.secondaryArea.links">
    <a [tdLink]="link" (click)="onMenuItemClick()">{{ link.text }}</a>
  </li>
  <li>
    <a [href]="githubURL" target="_blank" (click)="onMenuItemClick()">
      <mat-icon svgIcon="github" />
      <span class="cdk-visually-hidden">GitHub</span>
    </a>
  </li>
</ul>
