@import "colors";
@import "sizes";

:host {
    width: 530px;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-vaticle-purple;
    border: 1px solid $color-vaticle-secondary-purple;

    @media (max-width: $media-max-width-mobile) {
        width: 100%;
        padding: 0 20px;
        overflow-y: auto;
        border: none;
    }

    @media (min-width: $media-min-width-desktop) {
        display: none;
    }
}

.tm-top-level-items {
    li {
        list-style: none;
    }
}

.tm-primary-area {
    margin: 0 -32px;
    padding: 32px 32px 24px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: $media-max-width-mobile) {
        margin: 0 -20px;
        padding: 16px 20px;
        overflow-y: visible;
        gap: 16px;
    }

    li > a,
    li > .tb-menu-panel-header {
        margin: 0 -32px;
        padding: 8px 32px;
        box-sizing: content-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        color: $color-vaticle-white;
        cursor: pointer;

        @media (max-width: $media-max-width-mobile) {
            margin: 0 -20px;
            padding: 0 20px;
            gap: 16px;
        }

        &.tm-expanded {
            color: $color-vaticle-green;
            text-decoration: underline;

            @media (max-width: $media-max-width-mobile) {
                text-decoration: initial;
            }

            .tm-chevron {
                transform: rotate(180deg);
            }
        }
    }

    .tm-chevron {
        color: $color-vaticle-white;
        width: 20px;
        height: 20px;
    }
}

.tm-secondary-area {
    border-top: 1px solid $color-vaticle-light-purple;
    padding: 24px 0 32px;
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: $media-max-width-mobile) {
        padding: 16px 0;
        gap: 20px;
    }

    li {
        &:first-of-type {
            margin-right: 8px;

            @media (max-width: $media-max-width-mobile) {
                margin-right: -4px;
            }
        }

        &:last-of-type {
            margin-left: 8px;

            @media (max-width: $media-max-width-mobile) {
                margin-left: -4px;
            }
        }

        &.tm-secondary-link {
            display: flex;
        }
    }

    .mat-icon {
        font-size: 40px;
    }
}

.tm-github {
    display: flex;
}

.tm-external-link-icon {
    font-size: 16px;
}

button.tb-menu-panel-header {
    appearance: none;
    background: transparent;
    border: none;
}
