@import "../../styles/colors";

.tb-root, td-topbar-menu-panel {
    left: auto;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 1100;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid transparent;
    //transition-property: background-color, border-bottom-color;
    //transition-duration: 100ms;
    //transition-timing-function: ease;
}

.tb-root {
    top: 0;

    &.tb-solid, &:hover {
        background-color: rgba($color-purple, .8);
        border-bottom-color: $color-secondary-purple;
    }
}

td-topbar-menu-panel {
    top: 80px;
    border-bottom: 1px solid $color-secondary-purple;
}

nav {
    height: 80px;
    background-color: transparent;
    padding: 0 30px;
    display: flex;
    flex-direction: row;

    .tb-logo-container, .tb-desktop-items li > div[tabindex], .tb-desktop-items li > a {
        padding: 0 20px;

        &:hover, &:focus {
            color: $color-green;
            font-weight: 600;
            text-decoration: underline;
        }
    }

    .tb-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    ::ng-deep button {
        height: 40px;
        width: 118px;
    }

    .tb-desktop-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .tb-top-level-items {
            display: flex;
            flex-direction: row;

            li {
                list-style: none;
                display: flex;
                flex-direction: row;

                > * {
                    display: flex;
                    align-items: center;
                }

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

a {
    color: $color-white;
}
