<ng-container *ngIf="topbar">
  <header id="siteHeader" [ngClass]="rootNgClass">
    <td-site-banner *ngIf="siteBanner" [banner]="siteBanner" (click)="hideMobileMenu()"></td-site-banner>
    <nav>
      <a [routerLink]="['/']" class="tb-logo-container"
        ><img src="/assets/image/vaticle-typedb.svg" alt="Vaticle TypeDB"
      /></a>
      <div class="tb-desktop-items text-18-26">
        <ul class="tb-top-level-items">
          <li *ngFor="let item of topbar.mainArea">
            <div
              *ngIf="isMenuPanel(item)"
              tabindex="0"
              class="tb-menu-panel-header"
              (mouseenter)="onMenuItemMouseEnter(item)"
              (mouseleave)="onMenuItemMouseLeave(item)"
              (focus)="onMenuItemFocus(item)"
              (blur)="onMenuItemBlur(item)"
            >
              {{ item.title }}
            </div>
            <a *ngIf="isTextLink(item)" [tdLink]="item" (mouseenter)="clearFocus()">
              {{ item.text }}
              <mat-icon *ngIf="item.type === 'external'" svgIcon="link" class="tb-external-link-icon" />
            </a>
            <td-topbar-menu-panel
              *ngIf="isMenuPanel(item)"
              [menuPanel]="item"
              [hidden]="!isMenuPanelVisible(item)"
              (mouseenter)="onMenuPanelMouseEnter(item)"
              (mouseleave)="onMenuPanelMouseLeave(item)"
              (itemclick)="onMenuItemClick($event)"
            ></td-topbar-menu-panel>
          </li>
        </ul>
        <ul class="tb-top-level-items">
          <li *ngFor="let link of topbar.secondaryArea.links">
            <a [tdLink]="link">{{ link.text }}</a>
          </li>
          <li>
            <td-button [button]="topbar.secondaryArea.button" size="small"></td-button>
          </li>
          <li>
            <a [href]="githubURL" target="_blank">
              <mat-icon svgIcon="github" class="tb-big-icon" />
              <span class="cdk-visually-hidden">GitHub</span>
            </a>
          </li>
        </ul>
      </div>
      <button
        mat-icon-button
        class="tb-hamburger-button hide-desktop"
        [class.tb-opened]="mobileMenuIsOpen"
        aria-label="open links"
        (click)="toggleMobileMenu()"
      >
        <mat-icon class="tb-hamburger-tablet" svgIcon="burger_tablet" />
        <mat-icon class="tb-hamburger-mobile" svgIcon="burger_mobile" />
        <mat-icon class="tb-x-icon" svgIcon="close" />
      </button>
      <td-topbar-menu-mobile
        [hidden]="!mobileMenuIsOpen"
        [topbar]="topbar"
        [githubURL]="githubURL"
      ></td-topbar-menu-mobile>
    </nav>
  </header>
</ng-container>
