@import "colors";
@import "sizes";

header,
td-topbar-menu-panel {
    left: 0;
    right: 0;
    z-index: 700;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

header {
    position: fixed;
    top: 0;

    @media (hover: hover) {
        transition: background-color 100ms ease;

        &:hover {
            background-color: $color-vaticle-purple !important;
            border-bottom-color: $color-vaticle-secondary-deep-grey !important;
        }
    }

    &.tb-solid {
        background-color: $color-vaticle-purple !important;
        border-bottom-color: $color-vaticle-secondary-deep-grey !important;
    }
}

td-topbar-menu-mobile {
    position: fixed;
    bottom: 0;
    right: 0;
    top: $topbar-height;

    @media (max-width: $media-max-width-mobile) {
        top: $topbar-height-mobile;
    }

    header.has-banner & {
        top: $topbar-height + $banner-height;

        @media (max-width: $media-max-width-mobile) {
            top: $topbar-height-mobile + $banner-height-mobile;
        }
    }
}

nav {
    height: $topbar-height;
    background-color: transparent;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    @media (max-width: $media-max-width-tablet) {
        padding: 0 12px;
    }

    @media (max-width: $media-max-width-mobile) {
        height: $topbar-height-mobile;
        padding: 0;
    }

    .tb-logo-container,
    .tb-menu-panel-header,
    .tb-desktop-items li > a {
        color: $color-vaticle-white;
        padding: 0 20px;

        &:hover,
        &:focus {
            color: $color-vaticle-green;
            text-decoration: underline;
        }
    }

    .tb-desktop-items li > td-button {
        padding: 0 20px;
    }

    .tb-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            @media (max-width: $media-max-width-tablet) {
                height: 32px;
            }

            @media (max-width: $media-max-width-mobile) {
                height: 24px;
            }
        }
    }

    ::ng-deep td-button a {
        width: 118px;
    }

    .tb-desktop-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: $media-max-width-tablet) {
            display: none;
        }

        .tb-top-level-items {
            display: flex;
            flex-direction: row;

            > li {
                list-style: none;
                display: flex;
                flex-direction: row;

                > .tb-menu-panel-header,
                > a,
                > td-button {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

.tb-big-icon {
    color: $color-vaticle-white;
    font-size: 40px;
}

.tb-hamburger-button {
    margin-right: 16px;
    align-self: center;
    color: $color-vaticle-white;

    .tb-hamburger-mobile,
    .tb-x-icon {
        display: none;
    }

    @media (max-width: $media-max-width-mobile) {
        margin-right: 12px;

        .tb-hamburger-tablet {
            display: none;
        }

        &:not(.tb-opened) .tb-hamburger-mobile {
            display: inline-block;
        }

        &.tb-opened .tb-x-icon {
            display: inline-block;
        }
    }
}

td-topbar-menu-panel {
    top: $topbar-height;
    border-bottom: 1px solid $color-vaticle-secondary-deep-grey;
    background-color: rgba($color-vaticle-purple, 0.8);

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        backdrop-filter: blur(20px);
    }
}

a,
a:visited {
    color: $color-vaticle-white;
}

a .tb-external-link-icon {
    margin-left: 4px;
    margin-right: -24px;
    font-size: 20px;
    visibility: hidden;
}

a:hover .tb-external-link-icon,
a:focus .tb-external-link-icon {
    visibility: visible;
}

.tb-menu-panel-header {
    cursor: default;
}
