@import "sizes";

:host {
    margin-top: 24px;
    display: block;
    padding-left: 16px;
    border-left: 1px solid var(--content-border-color);

    @media (max-width: $media-max-width-mobile) {
        margin-top: 16px;
    }
}

.mm-column {
    padding: 16px 0;
    border-top: 1px solid var(--content-border-color);

    &:first-of-type {
        padding-top: 0;
        border-top: none;
    }

    &:last-of-type {
        padding-bottom: 0;
    }
}

ul,
li {
    list-style: none;
}

ul {
    margin-top: var(--text-margin-s);
    display: flex;
    flex-direction: column;
    gap: var(--text-margin-s);
}

h4 {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-white);
}

.mp-coming-soon {
    cursor: default;
    opacity: 0.5;
}

a:hover,
a:focus {
    .mm-list-column-item-name {
        color: var(--color-green);
        text-decoration: underline;
    }
}

.mm-column-title {
    color: var(--color-white);
    font-weight: var(--font-weight-semi-bold);
}

.mm-list-column-item-name {
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-weight: var(--font-weight-regular);
}

.mm-list-column-description {
    color: var(--color-secondary-light-grey);
    margin-top: 4px;
    text-decoration: none;
}

.tb-external-link-icon {
    font-size: 20px;
}
