@import "../../styles/colors";
@import "../../styles/sizes";

header, td-topbar-menu-panel {
    left: 0;
    right: 0;
    position: fixed;
    z-index: 700;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

header {
    top: 0;
    transition: background-color 100ms ease;

    &.tb-solid, &:hover {
        background-color: $color-vaticle-purple !important;
        border-bottom-color: $color-vaticle-secondary-purple !important;
    }
}

nav {
    height: $topbar-height;
    background-color: transparent;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: $media-min-width-tablet) and (max-width: $media-max-width-tablet) {
        padding: 0 12px;
    }

    @media (max-width: $media-max-width-mobile) {
        height: $topbar-height-mobile;
        padding: 0;
    }

    .tb-logo-container, .tb-desktop-items li > div[tabindex], .tb-desktop-items li > a {
        padding: 0 20px;

        &:hover, &:focus {
            color: $color-vaticle-green;
            text-decoration: underline;
        }
    }

    .tb-desktop-items li > td-button {
        padding: 0 20px;
    }

    .tb-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            @media (min-width: $media-min-width-tablet) and (max-width: $media-max-width-tablet) {
                height: 32px;
            }

            @media (max-width: $media-max-width-mobile) {
                height: 24px;
            }
        }
    }

    ::ng-deep td-button a {
        width: 118px;
    }

    .tb-desktop-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: $media-max-width-tablet) {
            display: none;
        }

        .tb-top-level-items {
            display: flex;
            flex-direction: row;

            li {
                list-style: none;
                display: flex;
                flex-direction: row;

                > * {
                    display: flex;
                    align-items: center;
                }

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .tb-hamburger-button {
        appearance: none;
        margin-right: 8px;
        margin-top: 2px;
    }
}

td-topbar-menu-panel {
    top: $topbar-height;
    left: auto;
    border-bottom: 1px solid $color-vaticle-secondary-purple;
    background-color: rgba($color-vaticle-purple, .8);

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        backdrop-filter: blur(20px);
    }
}

a, a:visited {
    color: $color-vaticle-white;
}

a .tb-external-link-icon {
    margin-left: 4px;
    margin-right: -24px;
    width: 20px;
    height: 20px;
    visibility: hidden;

    path {
        fill: $color-vaticle-green;
    }
}

a:hover .tb-external-link-icon, a:focus .tb-external-link-icon {
    visibility: visible;
}
