<header class="tb-root">
    <nav *ngIf="topbar">
        <a [routerLink]="['/']" class="tb-logo-container"><img src="/assets/image/vaticle-typedb.svg" alt="TypeDB"/></a>
        <div class="tb-desktop-items">
            <ul class="tb-menu text-s">
                <li *ngFor="let item of topbar.mainArea" [ngSwitch]="!!$any(item).title">
                    <ng-container *ngSwitchCase="true">{{ $any(item).title }}</ng-container>
                    <ng-container *ngSwitchDefault>{{ $any(item).text }}</ng-container>
                </li>
            </ul>
        </div>
    </nav>
</header>
