<div *ngFor="let column of columns" class="mm-column">
  <h3>
    <strong>{{ column.title }}</strong>
  </h3>
  <ul *ngIf="isListColumn(column)">
    <li *ngFor="let item of column.items" [ngSwitch]="!item.comingSoon">
      <a *ngSwitchCase="true" [tdLink]="item.link" (click)="onClick(item)">
        <ng-container *ngTemplateOutlet="linkContent; context: { item }" />
      </a>
      <div *ngSwitchCase="false" class="mp-coming-soon" (click)="onClick(item)">
        <ng-container *ngTemplateOutlet="linkContent; context: { item }" />
      </div>
    </li>
  </ul>
  <div *ngIf="isVideoColumn(column)">TODO: Video</div>
</div>

<ng-template #linkContent let-item="item">
  <h4>
    <span>{{ item.title }}</span>
    <mat-icon *ngIf="item.link?.isForExternalDomain()" svgIcon="link" class="tb-external-link-icon" />
  </h4>
  <p class="text-aside mm-list-column-description">{{ item.description }}</p>
</ng-template>
