<div *ngFor="let column of columns" class="mp-column">
  <h5 *ngIf="!isSpotlightColumn(column)" class="mp-column-title">{{ column.title }}</h5>
  <dl *ngIf="isListColumn(column)">
    <ng-container *ngFor="let item of column.items" [ngSwitch]="!item.comingSoon">
      <!-- eslint-disable-next-line -->
      <a
        *ngSwitchCase="true"
        [tdLink]="item.link"
        (mouseenter)="onMouseEnter(item)"
        (mouseleave)="onMouseLeave(item)"
        (click)="onItemClick()"
      >
        <ng-container *ngTemplateOutlet="linkContent; context: { item }" />
      </a>
      <!-- eslint-disable-next-line -->
      <div
        *ngSwitchCase="false"
        class="mp-coming-soon"
        (mouseenter)="onMouseEnter(item)"
        (mouseleave)="onMouseLeave(item)"
        (click)="onItemClick()"
      >
        <ng-container *ngTemplateOutlet="linkContent; context: { item }" />
      </div>
    </ng-container>
  </dl>
  <div *ngIf="isVideoColumn(column)">TODO: Video</div>
  <div *ngIf="isSpotlightColumn(column)" class="mp-spotlight-container">
    <!-- eslint-disable-next-line -->
    <a class="mp-spotlight" [tdLink]="column.link" (click)="onItemClick()">
      <div class="mp-spotlight-icon">
        <img [src]="column.iconURL" [alt]="column.title" />
      </div>
      <div class="mp-spotlight-title">
        <h4>{{ column.title }}</h4>
      </div>
    </a>
  </div>
</div>

<ng-template #linkContent let-item="item">
  <dt>
    <td-tooltip
      *ngIf="item.comingSoon"
      text="Coming soon!"
      [visible]="comingSoonPopupVisible.get(item) || false"
    ></td-tooltip>
    <span>{{ item.title }}</span>
    <mat-icon *ngIf="item.link?.isForExternalDomain()" svgIcon="link" class="tb-external-link-icon" />
  </dt>
  <dd class="text-aside">{{ item.description }}</dd>
</ng-template>
