<ng-container *ngIf="topbar">
    <header id="siteHeader" [ngClass]="rootNgClass">
        <nav>
            <a [routerLink]="['/']" class="tb-logo-container"><img src="/assets/image/vaticle-typedb.svg" alt="Vaticle TypeDB"/></a>
            <div class="tb-desktop-items text-s">
                <ul class="tb-top-level-items">
                    <li *ngFor="let item of topbar.mainArea">
                        <a *ngIf="isMenuPanel(item)" tabindex="0" (mouseenter)="onMenuItemMouseEnter(item)" (mouseleave)="onMenuItemMouseLeave(item)" (focus)="onMenuItemFocus(item)" (blur)="onMenuItemBlur(item)">
                            {{ item.title }}
                        </a>
                        <a *ngIf="isTextLink(item)" [tdLink]="item" (mouseenter)="clearFocus()">
                            {{ item.text }}
                            <svg *ngIf="item.type === 'external'" class="tb-external-link-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.6707 8.97635L6.64706 19L5 17.353L15.0237 7.3293H6.1889V5H19V17.8111H16.6707V8.97635Z" fill="white"/>
                            </svg>
                        </a>
                        <td-topbar-menu-panel *ngIf="isMenuPanel(item)" [menuPanel]="item" [hidden]="!isMenuPanelVisible(item)" (mouseenter)="onMenuPanelMouseEnter(item)" (mouseleave)="onMenuPanelMouseLeave(item)"></td-topbar-menu-panel>
                    </li>
                </ul>
                <ul class="tb-top-level-items">
                    <li *ngFor="let link of topbar.secondaryArea.links">
                        <a [tdLink]="link">{{ link.text }}</a>
                    </li>
                    <li><td-button [button]="topbar.secondaryArea.button" size="small"></td-button></li>
                    <li><a [href]="githubURL" target="_blank"><img src="/assets/icon/social/github.svg" alt="GitHub"/></a></li>
                </ul>
            </div>
        </nav>
    </header>
</ng-container>
