@import "colors";

:host {
    position: absolute;
    top: 80px;
}

.mp-root {
    width: 100%;
    border-top: 1px solid var(--color-secondary-deep-grey);
    box-shadow: 0 8px 30px rgba($color-black-purple, 0.58);
    padding-left: 186px;
    display: flex;
    flex-direction: row;
}

.mp-column {
    padding: 32px 40px;

    &:not(:first-child) {
        border-left: 1px solid var(--content-border-color);
    }

    ul,
    li,
    dl {
        list-style: none;
    }

    ul,
    dl {
        margin: 32px 0;
        display: grid;
        grid-auto-flow: dense;
        grid-auto-columns: 280px;
        gap: 32px;
    }

    li {
        @for $i from 1 through 3 {
            &:nth-of-type(n + #{1 + 4 * ($i - 1)}) {
                grid-column: $i;
            }
        }

        h4 {
            font-weight: var(--font-weight-semi-bold);
            position: relative;
            width: fit-content;
        }

        .mp-coming-soon {
            cursor: default;

            h4 span,
            p {
                opacity: 0.5;
            }
        }
    }
}

.mp-column-title {
    color: var(--color-white);
    padding-bottom: 8px;
    border-bottom: 1px solid var(--content-border-color);
    font-weight: var(--font-weight-semi-bold);
}

dt {
    color: var(--color-white);
    font-weight: var(--font-weight-regular);
}

dd {
    color: var(--color-secondary-light-grey);
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mp-coming-soon,
a {
    color: var(--color-white);

    .tb-external-link-icon {
        margin-left: 4px;
        margin-right: -24px;
        margin-bottom: -4px;
        font-size: 20px;
        visibility: hidden;

        path {
            fill: var(--color-green);
        }
    }
}

a:hover,
a:focus {
    dt {
        color: var(--color-green);
        text-decoration: underline;
    }

    .tb-external-link-icon {
        visibility: visible;
    }
}
