<div *ngFor="let column of columns" class="mm-column">
  <p class="mm-column-title" *ngIf="!isSpotlightColumn(column)">
    <strong>{{ column.title }}</strong>
  </p>
  <ul *ngIf="isListColumn(column)">
    <li *ngFor="let item of column.items" [ngSwitch]="!item.comingSoon">
      <!-- eslint-disable-next-line -->
      <a *ngSwitchCase="true" [tdLink]="item.link" (click)="onItemClick()">
        <ng-container *ngTemplateOutlet="linkContent; context: { item }" />
      </a>
      <!-- eslint-disable-next-line -->
      <div *ngSwitchCase="false" class="mp-coming-soon" (click)="onItemClick()">
        <ng-container *ngTemplateOutlet="linkContent; context: { item }" />
      </div>
    </li>
  </ul>
  <div *ngIf="isVideoColumn(column)">TODO: Video</div>
  <div *ngIf="isSpotlightColumn(column)" class="mp-spotlight-container">
    <!-- eslint-disable-next-line -->
    <a class="mp-spotlight" [tdLink]="column.link" (click)="onItemClick()">
      <div class="mp-spotlight-icon">
        <img [src]="column.iconURL" [alt]="column.title" />
      </div>
      <div class="mp-spotlight-title">
        <h4>{{ column.title }}</h4>
      </div>
    </a>
  </div>
</div>

<ng-template #linkContent let-item="item">
  <p class="mm-list-column-item-name">
    <span>{{ item.title }}</span>
    <mat-icon *ngIf="item.link?.isForExternalDomain()" svgIcon="link" class="tb-external-link-icon" />
  </p>
  <p class="text-aside mm-list-column-description">{{ item.description }}</p>
</ng-template>
