<ng-container *ngIf="topbar">
  <header id="siteHeader" [ngClass]="rootNgClass">
    <td-site-banner *ngIf="siteBanner" [banner]="siteBanner" (click)="hideMobileMenu()"></td-site-banner>
    <nav>
      <a [routerLink]="['/']" class="tb-logo-container"
        ><img src="/assets/image/vaticle-typedb.svg" alt="Vaticle TypeDB"
      /></a>
      <div class="tb-desktop-items text-18-26">
        <ul class="tb-top-level-items">
          <li *ngFor="let item of topbar.mainArea">
            <div
              *ngIf="isMenuPanel(item)"
              tabindex="0"
              class="tb-menu-panel-header"
              (mouseenter)="onMenuItemMouseEnter(item)"
              (mouseleave)="onMenuItemMouseLeave(item)"
              (focus)="onMenuItemFocus(item)"
              (blur)="onMenuItemBlur(item)"
            >
              {{ item.title }}
            </div>
            <a *ngIf="isTextLink(item)" [tdLink]="item" (mouseenter)="clearFocus()">
              {{ item.text }}
              <svg
                *ngIf="item.type === 'external'"
                class="tb-external-link-icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.6707 8.97635L6.64706 19L5 17.353L15.0237 7.3293H6.1889V5H19V17.8111H16.6707V8.97635Z"
                  fill="white"
                />
              </svg>
            </a>
            <td-topbar-menu-panel
              *ngIf="isMenuPanel(item)"
              [menuPanel]="item"
              [hidden]="!isMenuPanelVisible(item)"
              (mouseenter)="onMenuPanelMouseEnter(item)"
              (mouseleave)="onMenuPanelMouseLeave(item)"
              (itemclick)="onMenuItemClick($event)"
            ></td-topbar-menu-panel>
          </li>
        </ul>
        <ul class="tb-top-level-items">
          <li *ngFor="let link of topbar.secondaryArea.links">
            <a [tdLink]="link">{{ link.text }}</a>
          </li>
          <li>
            <td-button [button]="topbar.secondaryArea.button" size="small"></td-button>
          </li>
          <li>
            <a [href]="githubURL" target="_blank"><img src="/assets/icon/social/github.svg" alt="GitHub" /></a>
          </li>
        </ul>
      </div>
      <button
        mat-icon-button
        [disableRipple]="true"
        class="tb-hamburger-button hide-desktop"
        [class.tb-opened]="mobileMenuIsOpen"
        aria-label="open links"
        (click)="toggleMobileMenu()"
      >
        <svg
          class="tb-hamburger-tablet"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="currentColor"
        >
          <path
            d="M4 8.5C4 8.22386 4.28277 8 4.63158 8H27.3684C27.7172 8 28 8.22386 28 8.5C28 8.77614 27.7172 9 27.3684 9H4.63158C4.28277 9 4 8.77614 4 8.5Z"
          />
          <path
            d="M4 13.5C4 13.2239 4.28277 13 4.63158 13H27.3684C27.7172 13 28 13.2239 28 13.5C28 13.7761 27.7172 14 27.3684 14H4.63158C4.28277 14 4 13.7761 4 13.5Z"
          />
          <path
            d="M4 18.5C4 18.2239 4.28277 18 4.63158 18H27.3684C27.7172 18 28 18.2239 28 18.5C28 18.7761 27.7172 19 27.3684 19H4.63158C4.28277 19 4 18.7761 4 18.5Z"
          />
          <path
            d="M4 23.5C4 23.2239 4.28277 23 4.63158 23H27.3684C27.7172 23 28 23.2239 28 23.5C28 23.7761 27.7172 24 27.3684 24H4.63158C4.28277 24 4 23.7761 4 23.5Z"
          />
        </svg>
        <svg
          class="tb-hamburger-mobile"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path
            d="M3 4.5C3 4.22386 3.21208 4 3.47368 4H20.5263C20.7879 4 21 4.22386 21 4.5C21 4.77614 20.7879 5 20.5263 5H3.47368C3.21208 5 3 4.77614 3 4.5Z"
          />
          <path
            d="M3 9.5C3 9.22386 3.21208 9 3.47368 9H20.5263C20.7879 9 21 9.22386 21 9.5C21 9.77614 20.7879 10 20.5263 10H3.47368C3.21208 10 3 9.77614 3 9.5Z"
          />
          <path
            d="M3 14.5C3 14.2239 3.21208 14 3.47368 14H20.5263C20.7879 14 21 14.2239 21 14.5C21 14.7761 20.7879 15 20.5263 15H3.47368C3.21208 15 3 14.7761 3 14.5Z"
          />
          <path
            d="M3 19.5C3 19.2239 3.21208 19 3.47368 19H20.5263C20.7879 19 21 19.2239 21 19.5C21 19.7761 20.7879 20 20.5263 20H3.47368C3.21208 20 3 19.7761 3 19.5Z"
          />
        </svg>
        <img class="tb-x-icon" src="/assets/icon/close-large.svg" alt="X" />
      </button>
      <td-topbar-menu-mobile
        [hidden]="!mobileMenuIsOpen"
        [topbar]="topbar"
        [githubURL]="githubURL"
      ></td-topbar-menu-mobile>
    </nav>
  </header>
</ng-container>
