<article tdPageBackground nebula="studio" planet="green">
  @if (page$ | async; as page) {
    <div class="article-content">
      @if (page.introSection) {
        <td-services-page-core-section [block]="page.introSection" [page]="page" />
        <td-services-table [keyPoints]="page.introSection.keyPoints" />
      }
      @if (page.testimonialsSection) {
        <td-services-page-core-section [block]="page.testimonialsSection" [page]="page" />
        <td-testimonials-carousel [testimonials]="page.testimonialsSection.testimonials" />
      }
      @if (page.contactSection) {
        <td-services-page-core-section [block]="page.contactSection" [page]="page" />
        <td-contact-panel />
      }
    </div>
  }
</article>
