<article>
  @if (page$ | async; as page) {
    @if (page.introSection) {
      <td-section-core [section]="page.introSection"/>
      <td-services-table [keyPoints]="page.introSection.keyPoints" />
    }
    @if (page.testimonialsSection) {
      <td-section-core [section]="page.testimonialsSection"/>
      <td-testimonials-carousel [testimonials]="page.testimonialsSection.testimonials" sectionId="testimonials" />
    }
    @if (page.contactSection) {
      <td-section-core [section]="page.contactSection"/>
      <td-contact-panel class="section card" />
    }
  }
</article>
