<div class="section ft-root">
    <div class="ft-tabs">
        <a *ngFor="let featureTab of featureTabs" class="ft-tab text-s" [id]="tabID(featureTab)" [href]="'#' + tabID(featureTab)" (click)="setSelectedTab(featureTab)">
            <p [ngClass]="{'ft-tab-selected': selectedTab === featureTab}">{{ featureTab.title }}</p>
        </a>
    </div>
    <div *ngFor="let featureTab of featureTabs" class="ft-tab-content" [hidden]="selectedTab !== featureTab">
        <div class="ft-graphic"></div>
        <p *ngFor="let paragraph of featureTab.body.paragraphs" class="ft-body text-m" >
            <span *ngFor="let span of paragraph.spans" [ngStyle]="span.marks.includes('strong') ? { 'font-weight': '700' } : undefined">{{ span.text }}</span>
        </p>
    </div>
</div>
