<article tdPageBackground nebula="home" planet="green">
  <div *ngIf="page" class="article-content">
    <ng-container *ngIf="page.introSection">
      <td-home-page-technicolor-block
        [block]="page.introSection"
        [page]="page"
        variant="intro"
        [organisationLogos]="page.introSection.userLogos"
        class="hp-intro-block"
      />
      <td-content-tabs id="main" [tabs]="page.introSection.contentTabs" />
    </ng-container>
    <ng-container *ngIf="page.featuresSection">
      <td-home-page-technicolor-block [block]="page.featuresSection" [page]="page" />
      <td-content-tabs id="features" [tabs]="page.featuresSection.featureTabs" />
    </ng-container>
    <ng-container *ngIf="page.solutionsSection">
      <td-home-page-technicolor-block [block]="page.solutionsSection" [page]="page" />
      <td-link-panels [panels]="page.solutionsSection.solutions" [cols]="4" />
    </ng-container>
    <ng-container *ngIf="page.toolingSection">
      <td-home-page-technicolor-block [block]="page.toolingSection" [page]="page" />
      <td-link-panels [panels]="page.toolingSection.panels" [cols]="3" />
    </ng-container>
    <ng-container *ngIf="page.cloudSection">
      <td-home-page-technicolor-block [block]="page.cloudSection" [page]="page" />
      <td-key-point-table [keyPoints]="page.cloudSection.keyPoints" />
    </ng-container>
    <ng-container *ngIf="page.communitySection">
      <td-home-page-technicolor-block [block]="page.communitySection" [page]="page" />
      <td-social-media-panels [socialMediaLinks]="socialMediaLinks!" />
    </ng-container>
    <ng-container *ngIf="page.testimonialsSection">
      <td-home-page-technicolor-block [block]="page.testimonialsSection" [page]="page" />
      <td-testimonials-carousel [testimonials]="page.testimonialsSection.testimonials" />
    </ng-container>
    <ng-container *ngIf="page.conclusionSection">
      <td-home-page-technicolor-block [block]="page.conclusionSection" [page]="page" variant="conclusion" />
      <td-conclusion-panel [panel]="page.conclusionSection.panel" />
    </ng-container>
  </div>
</article>
