article {
    background: no-repeat center top url("/assets/image/nebula-large-with-rocket.jpg"),
                no-repeat center bottom url("/assets/image/planet-blue.jpg");
}

.hp-intro-block {
    display: inline-block;
    margin-top: 318px;
}
