article {
    background: no-repeat center top / 75% url("/assets/image/MainNebula31mai 1.png"),
                no-repeat center bottom url("/assets/image/planet-blue.jpg");
}

.hp-intro-block {
    display: inline-block;
    margin-top: 318px;
}
