@import "../../styles/colors";
@import "../../styles/sizes";

.uc-root {
    height: 796px;
    border: 1px solid $color-light-purple;
    border-radius: $border-radius;
    background: $color-purple;
    display: flex;
    flex-direction: row;
}

.uc-tabs {
    width: 202px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $color-light-purple;
    text-align: center;
}

.uc-tab {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px;

    &:not(:first-child) {
        border-top: 1px solid $color-light-purple;
    }

    @for $n from 2 through 5 {
        &:nth-child(#{$n}) {
            scroll-margin-top: calc(158px + 159px * (#{$n} - 2));
        }
    }
}

.uc-tab-selected {
    color: $color-green;
}

.uc-tab-content {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.uc-video {
    height: 480px;
}

.uc-text-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
