@import "../../styles/colors";
@import "../../styles/sizes";

.cp-root {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @media (max-width: $media-max-width-tablet) {
        padding: 32px;
        gap: 32px;
    }

    @media (max-width: $media-max-width-mobile) {
        padding: 12px;
        gap: 20px;
    }
}

$number-of-lines: 20;

td-aspect-ratio {
    flex: 0 0 calc(($font-size-code * $line-height-code * $number-of-lines + 2px) * 16 / 9);
    max-width: 100%;

    @media (max-width: $media-max-width-tablet) {
        flex-basis: 476px;
    }

    td-illustration {
        height: 100%;
    }
}

.cp-text-area {
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cp-learn-more {
    margin-top: 16px;
    align-self: flex-start;
    line-height: 32px;
}

.title-standalone {
    margin-bottom: 16px;
}
