<div [ngClass]="rootNgClass" [hidden]="hidden">
    <div class="cp-graphic" [ngClass]="graphicNgClass">
        <img src="/assets/image/illustration-generic.png" alt="Generic illustration"/>
    </div>
    <div *ngIf="contentTextPanel" class="cp-text-area">
        <div>
            <h2 *ngIf="position === 'standalone'" class="text-m title-standalone"><strong>{{ contentTextPanel.title }}</strong></h2>
            <p *ngFor="let paragraph of contentTextPanel.body.paragraphs" class="text-m" >
                <span *ngFor="let span of paragraph.spans" [ngStyle]="span.marks.includes('strong') ? { 'font-weight': '700' } : undefined">{{ span.text }}</span>
            </p>
        </div>
        <a [tdLink]="contentTextPanel.learnMoreLink" class="text-s cp-learn-more link-tertiary">Learn More</a>
    </div>
</div>
