@import "../../styles/colors";
@import "../../styles/sizes";

.cg-root {

}

.cg-portraits {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

td-content-panel:not(.cg-panel-1) {
    display: block;
    margin-top: 40px;
}
