$color-primary-white: #ffffff;
$color-primary-dark-white: #e1dfed;
$color-primary-light-purple: #2d2a46;
$color-primary-purple: #1a182a;
$color-primary-deep-purple: #151322;
$color-primary-black-purple: #0e0d17;
$color-primary-green: #02dac9;
$color-primary-red: #e96464;

$color-secondary-light-grey: #958fa8;
$color-secondary-grey: #63607c;
$color-secondary-deep-grey: #383649;
$color-secondary-purple: #232135;
$color-secondary-yellow: #ffe49e;
$color-secondary-pink: #ff87dc;
$color-secondary-blue: #7ba0ff;
