@use "media";
@use "mixins" as *;
@use "shapes";

@mixin styles($icon-path) {
    .td-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: shapes.$border;
        background: var(--color-purple);
    }

    .td-footer-section {
        // TODO: for some reason @include section-width($offset: 0px) doesn't work here
        width: var(--section-width);
        max-width: var(--section-max-width);
        padding: 40px 12px;

        @media (max-width: media.$max-width-mobile) {
            padding: 18px 12px;
        }

        &:not(:first-child) {
            border-top: shapes.$border;
        }
    }

    .td-footer-section-social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: media.$max-width-mobile) {
            flex-direction: column;
            gap: 24px;

            a {
                width: 100%;
            }
        }
    }

    .td-footer-social-links {
        display: flex;
        flex-direction: row;
        gap: 24px;
        height: 48px;

        @media (max-width: media.$max-width-mobile) {
            align-self: center;
            justify-content: center;
            height: 32px;
        }

        .td-footer-icon {
            width: 48px;
            height: 48px;

            @media (max-width: media.$max-width-mobile) {
                width: 32px;
                height: 32px;
            }
        }
    }

    .td-footer-section-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 32px;

        ul, li {
            list-style: none;
        }

        a, a:visited, a p {
            color: var(--link-muted-color);

            &:hover, &:focus {
                color: var(--link-hovered-color);
            }
        }

        a:hover p, a:focus p {
            color: var(--link-hovered-color);
        }
    }

    .td-footer-contact {
        ul {
            margin-top: 32px;
        }

        li:not(:first-child) {
            margin-top: 12px;
        }

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 32px;
        }

        .td-footer-icon {
            width: 32px;
            height: 32px;
        }
    }

    .td-footer-sitemap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 104px;

        @media (max-width: media.$max-width-tablet) {
            gap: 72px;
        }

        @media (max-width: media.$max-width-mobile) {
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 32px 24px;
        }

        ul {
            margin-top: 34px;

            @media (max-width: media.$max-width-tablet) {
                margin-top: 32px;
            }

            @media (max-width: media.$max-width-mobile) {
                margin-top: 16px;
                width: 144px;
            }
        }

        li:not(:first-child) {
            margin-top: 20px;

            @media (max-width: media.$max-width-mobile) {
                margin-top: 12px;
            }
        }
    }

    .td-footer-section-copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        @media (max-width: media.$max-width-mobile) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 16px;
        }
    }

    .td-footer-credits {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        line-height: 22px;

        .td-footer-icon {
            width: 16px;
            height: 16px;
        }

        img {
            width: 52px;
            height: unset;
        }
    }

    .td-footer-icon {
        display: inline-block;
        overflow: hidden;
        text-indent: 100%;
    }

    $socials: discord, meetup, twitter, youtube, linkedin;

    @each $social in $socials {
        .td-footer-icon-#{$social} {
            @include url-icon(url("#{$icon-path}/#{$social}-rectangle.svg"), var(--color-white));
        }
    }

    $contactMedias: (
        forum: "discourse-rectangle",
        discord: "discord-rectangle",
        contactForm: "mail",
        feedbackForm: "comment",
    );

    @each $name, $icon in $contactMedias {
        .td-footer-icon-#{$name} {
            @include url-icon(url("#{$icon-path}/#{$icon}.svg"), var(--color-white));
        }
    }
}
