@use "colors";

$border-radius: 16px;
$border: 1px solid colors.$light-purple;

$section-page-margin: 20px;
$section-width: 1536px;
$section-padding: 28px;
$section-page-margin-tablet: 32px;
$section-width-tablet: 1016px;
$section-page-margin-mobile: 0;
$section-padding-mobile: 12px;
$section-width-mobile: 100vw;
$blog-post-gap: 125px;
$blog-post-sidebar-width: 208px;
$blog-post-width: 700px;

$section-margin: 144px;
$first-section-margin: 72px;
$section-margin-mobile: 40px;
$first-section-margin-mobile: 16px;
$subsection-margin: 64px;
$subsection-margin-tablet: 56px;
$subsection-margin-mobile: 24px;
$blog-landing-strip-margin: 64px;
$blog-landing-strip-margin-mobile: 24px;

$subtitle-margin-l: 32px;
$subtitle-margin: 24px;
$subtitle-margin-mobile: 16px;

$text-margin-s: 16px;

$topbar-height: 72px;
$topbar-height-mobile: 72px;

$banner-height: 30px;
$banner-height-mobile: 26px;

$scroll-padding: 112px;
$scroll-padding-mobile: 64px;

$card-padding: 24px;
$card-padding-tablet: 24px;
$card-padding-mobile: 12px;

@mixin standard-border {
    border-radius: $border-radius;
    border: $border;
}
