$border-radius: 5px;

$section-page-margin: 20px;
$section-width: 1200px - $section-page-margin * 2;
$section-page-margin-tablet: 32px;
$section-width-tablet: 1024px - $section-page-margin-tablet * 2;
$section-page-margin-mobile: 12px;
$section-width-mobile: 375px;

$intro-section-margin: 280px;
$intro-section-margin-tablet: 224px;
$intro-section-margin-mobile: 120px;
$section-margin: 144px;
$section-margin-mobile: 64px;
$subsection-margin: 64px;
$subsection-margin-tablet: 56px;
$subsection-margin-mobile: 24px;

$subtitle-margin-l: 32px;
$subtitle-margin: 24px;
$subtitle-margin-mobile: 16px;

$text-margin-s: 16px;

$topbar-height: 80px;
$topbar-height-mobile: 48px;

$banner-height: 34px;
$banner-height-mobile: 30px;

$scroll-padding: 112px;
$scroll-padding-mobile: 64px;

$card-padding: 28px;
$card-padding-tablet: 20px;
$card-padding-mobile: 12px;
