@use "colors";
@use "media";
@use "mixins";
@use "shapes";

@mixin nav-dt {
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    display: flex;
    align-items: center;
}

@mixin nav-dd {
    font-size: 12px;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin styles($icon-path) {
    .td-topbar {
        font-size: 14px;
        position: relative;

        nav {
            height: var(--topbar-height);
            margin: 0 auto;
            padding: 0 8px;
            display: flex;
            justify-content: space-between;
            position: relative;
            max-width: 1216px;
        }

        li {
            list-style: none;
            display: flex;
        }
    }

    .td-topbar-content {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }

    .td-topbar-logo-container, .td-topbar-panel-header, .td-topbar-link, .td-topbar-link:visited {
        display: flex;
        align-items: center;
        padding: 0 20px;
        color: var(--color-white);
        cursor: pointer;
        transition: color 100ms;
        font-weight: var(--font-weight-regular);

        svg path {
            transition: fill 100ms;
        }

        &:hover {
            color: var(--color-secondary-light-grey);

            svg path {
                fill: var(--color-secondary-light-grey);
            }
        }
    }

    .td-topbar-logo-container {
        svg {
            margin-bottom: 2px;
            height: 42px;

            .tp-right-eye {
                animation: 90s linear 0s infinite winkWink;
                transform-origin: center;
            }
        }
    }

    @keyframes winkWink {
        0% { transform: scaleY(1); }
        99.8% { transform: scaleY(1); }
        99.9% { transform: translateY(20px) scaleY(0.01); }
        100% { transform: scaleY(1); }
    }

    .td-topbar-main-area, .td-topbar-secondary-area {
        display: flex;
    }

    .td-topbar-button {
        margin: 0 20px;
        align-self: center;
        width: unset !important; /* overrides media query */
        padding: 0 12px;
    }

    .td-topbar-menu-panel {
        position: absolute;
        top: 64px;
        z-index: 700;
        border: 1px solid var(--content-border-color);
        background-color: var(--color-deep-purple);
        border-radius: var(--border-radius);
        display: none;
        flex-direction: row;
        overflow: hidden;
        margin-left: -64px;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: inherit;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
        }

        dt {
            @include nav-dt;
        }

        dd {
            @include nav-dd;
        }

        @media (min-width: 960px) and (max-width: 1039px) {
            margin-left: -164px;
        }

        @media (min-width: 1040px) and (max-width: 1120px) {
            margin-left: -112px;
        }

        @media (max-width: 959px) {
            margin-left: 0;
        }
    }

    .td-topbar-chevron {
        margin: 0 -8px 0 8px;
        font-size: 12px;
        transition: transform 100ms;
    }

    .td-topbar-panel-opened {
        @media (min-width: 960px) {
            .td-topbar-chevron {
                transform: rotate(180deg);
            }

            .td-topbar-menu-panel, &.td-topbar-menu-panel {
                display: flex;
            }
        }
    }

    .td-topbar-columns {
        display: flex;
        padding: 16px;
    }

    .td-topbar-panel-item-group {
        padding: 8px 12px;

        dl {
            margin: 8px 0 !important; // overrides stylesheets that reset browser styles
            display: grid;
            grid-auto-flow: dense;
            gap: 6px;
        }

        a {
            color: var(--color-white);
            font-weight: var(--font-weight-light);
            display: flex;
            gap: 16px;
            padding: 6px 14px;
            margin-left: -12px;
            border-radius: var(--border-radius);
            transition: background-color 100ms;

            .td-icon-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                flex: 0 0 32px;

                i {
                    font-size: 24px;
                }
            }

            &:hover, &:focus {
                background: var(--color-light-purple);
            }
        }
    }

    .td-topbar-column-title {
        color: var(--color-white);
        padding-bottom: 0 !important; // overrides stylesheets that reset browser styles
        font-weight: var(--font-weight-regular);
        font-size: 12px;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 0.035em;
    }

    .td-topbar-bottom-links {
        border-top: 1px solid var(--color-light-purple);
        display: flex;

        a {
            flex: 1;
            display: block;
            padding: 12px 28px;
            transition: background-color 100ms;

            &:hover, &:focus {
                background: var(--color-light-purple);
            }
        }

        a + a {
            border-left: 1px solid var(--color-light-purple);
        }

        dt::after {
            margin-left: 6px;
            content: "";
            font-family: "Font Awesome 6 Pro";
            font-size: 90%;
            user-select: none;
            display: inline-block;
        }
    }

    .td-topbar-menu-panel-ctas {
        width: 212px;
        border-left: 1px solid var(--color-light-purple);
        display: flex;
        flex-direction: column;

        li {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 24px;

            h5 {
                @include nav-dt;
            }

            a {
                font-size: 12px;
                margin-top: 4px;
            }
        }

        li + li {
            border-top: 1px solid var(--color-light-purple);
        }
    }

    .td-topbar-external-icon {
        text-indent: 100%;
        @include mixins.url-icon(url("#{$icon-path}/link.svg"), currentColor);
        width: 16px;
        height: 16px;
        margin-left: 4px;
        margin-right: -24px;
        opacity: 0;
        transition: opacity 100ms;

        a:hover &, a:focus & {
            opacity: 1;
        }
    }

    .td-topbar-menu-button {
        appearance: none;
        background: none;
        border: none;
        outline: none;
        font-size: 24px;
        padding: 0.25em;
        margin: -0.25em;
        margin-right: 16px;
        align-self: center;
        cursor: pointer;
        display: none;
        --menu-icon-url: url("#{$icon-path}/burger-tablet.svg");

        &::before {
            content: "";
            display: block;
            width: 1em;
            height: 1em;

            @include mixins.url-icon(var(--menu-icon-url), var(--color-white));
        }
    }

    .td-topbar-github-logo {
        width: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    .td-topbar-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--banner-height);
        border-bottom: 1px solid var(--content-border-color);
        box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.2), 2px 2px 3px 0px rgba(0, 0, 0, 0.14),
            2px 1px 5px 0px rgba(0, 0, 0, 0.12);
        background-color: var(--color-secondary-blue);
        text-align: center;

        p {
            font-size: 12px;
            line-height: 18px;
            color: var(--color-purple);
            font-family: var(--font-family-code);

            @media (max-width: media.$max-width-mobile) {
                font-size: 10px;
            }
        }

        strong {
            font-weight: inherit;
        }
    }

    @media (max-width: 959px) {
        .td-topbar:not(.td-topbar-open) .td-topbar-content {
            display: none;
        }

        .td-topbar-open nav {
            background: var(--color-purple);
        }

        .td-topbar-logo-container {
            padding: 0 12px;
        }

        .td-topbar-menu-button {
            display: initial;
            --menu-icon-url: url("#{$icon-path}/burger-mobile.svg");
            margin-right: 12px;

            .td-topbar.td-topbar-open & {
                --menu-icon-url: url("#{$icon-path}/close.svg");
            }
        }

        .td-topbar-content {
            position: absolute;
            inset: var(--topbar-height) 0 auto 0;
            height: calc(100vh - 84px);
            z-index: 700;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: var(--color-purple);
            width: 100%;
            padding: 0 20px;
            overflow-y: auto;
            border: none;
            border-top: 1px solid var(--color-light-purple);
        }

        .td-topbar-chevron {
            display: none;
        }

        .td-topbar-main-area {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 16px 0;
            overflow-y: visible;
            gap: 24px;

            li {
                display: block;
            }
        }

        .td-topbar-panel-header, .td-topbar-link, .td-topbar-link:visited {
            font-size: 16px;
            font-weight: var(--font-weight-medium);
            box-sizing: content-box;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--color-white);
            cursor: pointer;
            margin: 0;
            padding: 0;
            gap: 16px;

            &:hover, &:focus {
                color: var(--color-secondary-light-grey);
                text-decoration: none;
            }

            li.td-topbar-panel-expanded & {
                text-decoration: initial;
            }

            li.td-topbar-panel-expanded & {
                color: var(--color-white);

                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        .td-topbar-panel-header::after {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            @include mixins.url-icon(url("#{$icon-path}/arrow-down.svg"), var(--color-white));
        }

        .td-topbar-menu-panel {
            position: relative;
            top: initial;
            left: initial;
            right: initial;
            z-index: initial;
            border: 0;
            background-color: initial;
            box-shadow: initial;
            margin-top: 16px;

            &::before {
                content: none;
            }

            &, li:not(.td-topbar-panel-opened) & {
                display: block;
            }

            li:not(.td-topbar-panel-expanded) & {
                display: none;
            }
        }

        .td-topbar-secondary-area {
            border: 0;
            display: flex;
            flex-direction: column;
            padding: 8px 0 24px;
            gap: 24px;
            flex: 1;

            li:last-of-type {
                position: fixed;
                inset: auto 0 0 0;
                height: 84px;
                border-top: 1px solid var(--color-light-purple);
                justify-content: center;
                align-items: center;
                background: var(--color-purple);
            }
        }

        .td-topbar-button {
            margin: 0 auto;
            align-self: unset;
        }

        .td-topbar-link {
            padding: 0;
        }

        .td-topbar-columns {
            flex-direction: column;
            padding: 0;
        }

        .td-topbar-panel-item-group {
            flex-direction: column;
            margin-top: 24px;
            padding: 0;

            &:first-of-type {
                padding-top: 0;
                border-top: none;
            }

            &:last-of-type {
                padding-bottom: 0;
            }

            &:not(:first-of-type) {
                border-left: 0;
            }

            dl {
                margin: 20px 0 0;
                gap: 16px;
                grid-auto-columns: initial;
            }

            dd {
                white-space: initial;
            }

            a {
                margin-left: 0;
                padding: 0;
            }
        }

        .td-topbar-column-title {
            padding-bottom: 0;
            font-weight: var(--font-weight-semi-bold);
        }

        .td-topbar-bottom-links {
            display: none;
            margin-top: 16px;
            border: 0;

            a {
                padding: 12px 0;
            }
        }

        .td-topbar-menu-panel-ctas {
            width: unset;
            border: 0;
            margin-top: 24px;

            li {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                padding: 16px 0;
                border-top: 1px solid var(--content-border-color);
            }

            li:last-of-type {
                border-bottom: 1px solid var(--content-border-color);
            }
        }
    }
}
