@use "colors";
@use "media";
@use "mixins" as *;
@use "shapes";

@mixin nav-dt {
    color: var(--body-heading-color);
    font-weight: var(--font-weight-light);
    font-size: 14px;
    display: flex;
    align-items: center;
}

@mixin nav-dd {
    color: var(--color-secondary-light-grey);
    font-size: 12px;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin styles($icon-path) {
    .td-topbar {
        position: fixed;
        inset: 0 0 auto 0;
        z-index: 700;
        font-size: 14px;
        font-weight: var(--font-weight-light);
        text-align: left;
        background: var(--color-purple);

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--color-purple);
            border-bottom: 1px solid var(--content-border-color);
            transition: opacity 100ms;
            z-index: -1;
        }

        nav {
            height: var(--topbar-height);
            padding: 0 30px;
            display: flex;
            justify-content: space-between;
            position: relative;

            @media (max-width: media.$max-width-tablet) {
                padding: 0 12px;
            }

            @media (max-width: media.$max-width-mobile) {
                padding: 0;
            }
        }

        li {
            list-style: none;
            display: flex;
        }
    }

    .td-topbar-content {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }

    .td-topbar-panel-header, .td-topbar-logo-container, .td-topbar-link, .td-topbar-link:visited {
        display: flex;
        align-items: center;
        padding: 0 20px;
        color: var(--color-white);
        transition: opacity 100ms;
        cursor: pointer;
        opacity: 0.8;

        &:hover, &:focus {
            opacity: 1;
        }
    }

    .td-topbar-logo-container {
        svg {
            margin-bottom: 2px;

            @media (min-width: media.$min-width-desktop) {
                height: 42px;
            }

            @media (max-width: media.$max-width-tablet) {
                height: 36px;
            }

            @media (max-width: media.$max-width-mobile) {
                height: 28px;
            }

            .tp-right-eye {
                animation: 90s linear 0s infinite winkWink;
                transform-origin: center;
            }
        }
    }

    @keyframes winkWink {
        0% { transform: scaleY(1); }
        99.8% { transform: scaleY(1); }
        99.9% { transform: translateY(20px) scaleY(0.01); }
        100% { transform: scaleY(1); }
    }

    .td-topbar-main-area, .td-topbar-secondary-area {
        display: flex;
    }

    .td-topbar-button {
        margin: 0 20px;
        align-self: center;
        width: unset !important; /* overrides media query */
        padding: 0 12px;
    }

    .td-topbar-menu-panel {
        position: absolute;
        top: 60px;
        z-index: 700;
        border: 1px solid var(--content-border-color);
        background-color: #232135;
        border-radius: var(--border-radius-large);
        display: none;
        flex-direction: row;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: inherit;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
        }

        dt {
            @include nav-dt;
        }

        dd {
            @include nav-dd;
        }
    }

    .td-topbar-chevron {
        margin-left: 8px;
        font-size: 12px;
        color: var(--color-secondary-light-grey);
        transition: transform 100ms;
    }

    .td-topbar-panel-opened {
        .td-topbar-chevron {
            transform: rotate(180deg);
        }

        .td-topbar-menu-panel, &.td-topbar-menu-panel {
            display: flex;
        }
    }

    .td-topbar-product-groups {
        display: flex;
        flex-flow: column wrap;
        max-height: 360px;
        padding: 16px;
    }

    .td-topbar-panel-column {
        padding: 8px 12px;

        dl {
            margin: 8px 0 !important; // overrides stylesheets that reset browser styles
            display: grid;
            grid-auto-flow: dense;
            grid-auto-columns: 250px;
            gap: 6px;
        }

        a {
            color: var(--body-heading-color);
            font-weight: var(--font-weight-light);
            display: flex;
            gap: 16px;
            padding: 4px 8px;
            margin-left: -8px;
            border-radius: 5px;
            transition: background-color 100ms;

            .td-icon-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                flex: 0 0 24px;
                color: var(--color-secondary-blue);

                i {
                    font-size: 24px;
                }
            }

            &:hover, &:focus {
                background: var(--color-light-purple);
                //dt {
                //    color: var(--color-green);
                //    text-decoration: underline;
                //}
            }
        }
    }

    .td-topbar-column-title {
        color: var(--body-heading-color);
        padding-bottom: 0 !important; // overrides stylesheets that reset browser styles
        font-weight: var(--font-weight-regular);
        font-size: 12px;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 0.035em;
    }

    .td-topbar-bottom-links {
        border-top: 1px solid var(--color-light-purple);
        display: flex;

        a {
            flex: 1;
            display: block;
            padding: 12px 28px;
            transition: background-color 100ms;

            &:hover, &:focus {
                background: var(--color-light-purple);
            }
        }

        a + a {
            border-left: 1px solid var(--color-light-purple);
        }

        dt::after {
            margin-left: 6px;
            content: "";
            font-family: "Font Awesome 6 Pro";
            font-size: 90%;
            user-select: none;
            display: inline-block;
        }
    }

    .td-topbar-menu-panel-ctas {
        width: 212px;
        border-left: 1px solid var(--color-light-purple);
        display: flex;
        flex-direction: column;

        li {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 24px;

            h5 {
                @include nav-dt;
            }

            a {
                font-size: 12px;
                margin-top: 4px;
            }
        }

        li + li {
            border-top: 1px solid var(--color-light-purple);
        }
    }

    .td-topbar-external-icon {
        text-indent: 100%;
        @include url-icon(url("#{$icon-path}/link.svg"), currentColor);
        width: 16px;
        height: 16px;
        margin-left: 4px;
        margin-right: -24px;
        opacity: 0;
        transition: opacity 100ms;

        a:hover &, a:focus & {
            opacity: 1;
        }
    }

    .td-topbar-menu-button {
        appearance: none;
        background: none;
        border: none;
        outline: none;
        font-size: 24px;
        padding: 0.25em;
        margin: -0.25em;
        margin-right: 16px;
        align-self: center;
        cursor: pointer;
        display: none;
        --menu-icon-url: url("#{$icon-path}/burger-tablet.svg");

        &::before {
            content: "";
            display: block;
            width: 1em;
            height: 1em;

            @include url-icon(var(--menu-icon-url), var(--color-white));
        }
    }

    .td-topbar-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--banner-height);
        border-bottom: 1px solid var(--content-border-color);
        box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.2), 2px 2px 3px 0px rgba(0, 0, 0, 0.14),
            2px 1px 5px 0px rgba(0, 0, 0, 0.12);
        background-color: var(--color-secondary-purple);
        text-align: center;

        p {
            font-size: 12px;
            line-height: 18px;
        }

        strong {
            color: var(--color-green);
            font-weight: inherit;
        }
    }

    @media (max-width: media.$max-width-tablet) {
        .td-topbar:not(.td-topbar-open) .td-topbar-content {
            display: none;
        }

        .td-topbar-menu-button {
            display: initial;
        }

        .td-topbar-content {
            position: fixed;
            bottom: 0;
            right: 0;
            top: var(--topbar-height);

            width: 530px;
            padding: 0 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: var(--color-purple);
            border: 1px solid var(--content-border-color);

            .td-topbar.td-topbar-has-banner & {
                top: calc(var(--topbar-height) + var(--banner-height));
            }
        }

        .td-topbar-main-area {
            margin: 0 -32px;
            padding: 32px 32px 24px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 24px;

            li {
                display: block;
            }
        }

        .td-topbar-panel-header {
            font-weight: var(--font-weight-regular);
            margin: 0 -32px;
            padding: 8px 32px;
            box-sizing: content-box;
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            color: var(--body-heading-color);
            cursor: pointer;

            &::after {
                content: "";
                display: block;
                width: 20px;
                height: 20px;

                @include url-icon(url("#{$icon-path}/arrow-down.svg"), var(--color-white));
            }

            li.td-topbar-panel-expanded & {
                color: var(--color-green);
                text-decoration: underline;

                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        .td-topbar-menu-panel {
            position: relative;
            top: initial;
            left: initial;
            right: initial;
            z-index: initial;
            border: solid var(--content-border-color);
            border-width: 0 0 0 1px;
            background-color: initial;
            box-shadow: initial;
            padding-left: 16px;
            margin-top: 24px;

            &::before {
                content: none;
            }

            &, li:not(.td-topbar-panel-opened) & {
                display: block;
            }

            li:not(.td-topbar-panel-expanded) & {
                display: none;
            }
        }

        .td-topbar-secondary-area {
            border-top: shapes.$border;
            padding: 24px 0 32px;
            display: flex;
            align-items: center;
            gap: 40px;

            li:nth-last-of-type(2) {
                flex: 1;
                order: -1;
                margin-right: 8px;
            }

            li:last-of-type {
                margin-left: 8px;
            }
        }

        .td-topbar-button {
            margin: 0;
        }

        .td-topbar-link {
            padding: 0;
        }

        .td-topbar-panel-header, .td-topbar-link {
            &:hover, &:focus {
                color: var(--body-heading-color);
                text-decoration: none;
            }
        }

        .td-topbar-panel-column {
            padding: 15px 20px;
            border-top: shapes.$border;

            &:first-of-type {
                padding-top: 0;
                border-top: none;
            }

            &:last-of-type {
                padding-bottom: 0;
            }

            &:not(:first-of-type) {
                border-left: 0;
            }

            dl {
                margin: 20px 0 0;
                gap: 20px;
                grid-auto-columns: initial;
            }

            dd {
                white-space: initial;
            }
        }

        .td-topbar-column-title {
            border-bottom: none;
            padding-bottom: 0;
            font-weight: var(--font-weight-semi-bold);
        }

        .td-topbar-external-icon {
            visibility: visible;
        }

        .td-topbar-spotlight {
            gap: 20px;
            padding: 16px;

            img {
                width: 48px;
                height: 48px;
            }
        }
    }

    @media (min-width: media.$min-width-tablet) and (max-width: media.$max-width-tablet) {
        .td-topbar-button {
            flex: 1;
        }
    }

    @media (max-width: media.$max-width-mobile) {
        .td-topbar-menu-button {
            --menu-icon-url: url("#{$icon-path}/burger-mobile.svg");
            margin-right: 12px;

            .td-topbar.td-topbar-open & {
                --menu-icon-url: url("#{$icon-path}/close.svg");
            }
        }

        .td-topbar-content {
            width: 100%;
            padding: 0 20px;
            overflow-y: auto;
            border: none;
        }

        .td-topbar-main-area {
            @media (max-width: media.$max-width-mobile) {
                margin: 0 -20px;
                padding: 16px 20px;
                overflow-y: visible;
                gap: 16px;
            }
        }

        .td-topbar-panel-header {
            margin: 0 -20px;
            padding: 0 20px;
            gap: 16px;

            li.td-topbar-panel-expanded & {
                text-decoration: initial;
            }
        }

        .td-topbar-menu-panel {
            margin-top: 16px;
        }

        .td-topbar-secondary-area {
            padding: 16px 0;
            gap: 20px;

            li:nth-last-of-type(2) {
                margin-right: -4px;
            }

            li:last-of-type {
                margin-left: -4px;
            }
        }
    }
}
