$font-family-default: "Darkmode", sans-serif;
$font-family-code: "Monaco", monospace;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;
$thin: 200;

$letter-spacing: 0.02em;

$h1: 64px;
$height-h1: calc(76px / $h1);
$h1-mobile: 30px;
$height-h1-mobile: calc(40px / $h1-mobile);

$h2: 40px;
$height-h2: calc(50px / $h2);
$h2-mobile: 26px;
$height-h2-mobile: calc(36px / $h2-mobile);

$h3: 24px;
$height-h3: calc(34px / $h3);
$h3-mobile: 20px;
$height-h3-mobile: calc(30px / $h3-mobile);

$h4: 20px;
$height-h4: calc(30px / $h4);
$h4-mobile: 16px;
$height-h4-mobile: calc(26px / $h4-mobile);

$h5: 16px;
$height-h5: calc(26px / $h5);
$h5-mobile: 14px;
$height-h5-mobile: calc(24px / $h5-mobile);

$p1: 20px;
$height-p1: calc(30px / $p1);
$p1-mobile: 16px;
$height-p1-mobile: calc(24px / $p1-mobile);

$p2: 16px;
$height-p2: calc(26px / $p2);
$p2-mobile: 14px;
$height-p2-mobile: calc(24px / $p2-mobile);

$blog: 18px;
$height-blog: calc(28px / $blog);
$blog-mobile: 16px;
$height-blog-mobile: calc(26px / $blog-mobile);

$aside: 14px;
$height-aside: calc(22px / $aside);
$aside-mobile: 12px;
$height-aside-mobile: calc(18px / $aside-mobile);

$code: 12px;
$height-code: calc(22px / $code);
$code-mobile: 12px;
$height-code-mobile: calc(22px / $code-mobile);
