//$font-family-default: "Titillium Web", sans-serif;
//$font-family-default: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
//$font-family-default: Roboto, sans-serif;
$font-family-default: "Open Sans", sans-serif;
$font-family-code: "Monaco", monospace;

$bold: 600;
$semi-bold: 400;
$regular: 300;
$light: 200;

$h1: 51px;
$height-h1: calc(59px / $h1);
$h1-mobile: 31px;
$height-h1-mobile: calc(39px / $h1-mobile);

$h2: 39px;
$height-h2: calc(47px / $h2);
$h2-mobile: 25px;
$height-h2-mobile: calc(33px / $h2-mobile);

$h3: 25px;
$height-h3: calc(33px / $h3);
$h3-mobile: 19px;
$height-h3-mobile: calc(27px / $h3-mobile);

$h4: 21px;
$height-h4: calc(29px / $h4);
$h4-mobile: 17px;
$height-h4-mobile: calc(25px / $h4-mobile);

$h5: 17px;
$height-h5: calc(25px / $h5);
$h5-mobile: 15px;
$height-h5-mobile: calc(23px / $h5-mobile);

$p1: 21px;
$height-p1: calc(29px / $p1);
$p1-mobile: 17px;
$height-p1-mobile: calc(25px / $p1-mobile);

$p2: 16px;
$height-p2: calc(25px / $p2);
$p2-mobile: 15px;
$height-p2-mobile: calc(23px / $p2-mobile);

$blog: 19px;
$height-blog: calc(29px / $blog);
$blog-mobile: 17px;
$height-blog-mobile: calc(27px / $blog-mobile);

$aside: 15px;
$height-aside: calc(23px / $aside);
$aside-mobile: 13px;
$height-aside-mobile: calc(21px / $aside-mobile);

$code: 13px;
$height-code: calc(21px / $code);
$code-mobile: 11px;
$height-code-mobile: calc(18px / $code-mobile);
