@use "colors";
@use "media";
@use "mixins";
@use "shapes";

html, body {
    color-scheme: dark;
    background-color: var(--body-background);
    color: var(--body-font-color);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-p2);
    letter-spacing: var(--body-letter-spacing);

    font-family: var(--font-family-default);

    margin: 0;
    scroll-padding-top: var(--scroll-padding);
}

*, *::before, *::after {
    box-sizing: border-box;
}

code, kbd, pre {
    font-family: var(--font-family-code);
}

@each $tag in (h1, h2, h3, h4, h5, h6) {
    #{$tag}, .text-#{$tag} {
        font-size: var(--font-size-#{$tag});
        line-height: var(--line-height-#{$tag});
    }

    #{$tag} code {
        font-size: 75%;
    }
}

.text-p1, .text-p1 p {
    font-size: var(--font-size-p1);
    line-height: var(--line-height-p1);
}

p, .text-p2 {
    font-size: var(--font-size-p2);
    line-height: var(--line-height-p2);
}

.text-blog, .text-blog p {
    font-size: var(--font-size-blog);
    line-height: var(--line-height-blog);
}

.text-blog {
    p code, li code, table code {
        font-size: 75%;
    }
}

aside, .text-aside {
    font-size: var(--font-size-aside);
    line-height: var(--line-height-aside);
}

pre, code, .text-code {
    font-size: var(--font-size-code);
    line-height: var(--line-height-code);
}

.text-important {
    color: var(--color-white);
    font-weight: 600;
}

.text-quiet {
    color: var(--color-secondary-light-grey);
}

button {
    font-family: var(--font-family-default);
}

input, select, textarea {
    font-family: var(--font-family-default);
    &::placeholder {
        color: rgba(colors.$secondary-light-grey, 0.8);
        font-style: italic;
    }
}

hr {
    border: 0;
    border-top: shapes.$border;
}

h1, h2, h3, h4, h5, h6, th {
    color: var(--body-heading-color);
}

aside {
    /* prettier-ignore */
    h1, h2, h3, h4 {
        color: var(--body-font-color);
    }
}

h1 {
    font-weight: var(--font-weight-medium);
}

h2 {
  font-weight: var(--font-weight-medium);
}

h3, h4 {
  font-weight: var(--font-weight-regular);
}

h5, h6 {
  font-weight: var(--font-weight-regular);
}

h1, h2, h3, h4, h5, h6 {
    text-wrap-style: balance;
}

dd {
    font-weight: var(--font-weight-light);
}

b, dt, strong, th {
    font-weight: var(--font-weight-semi-bold);
}

//h1 {
//    animation: 1000ms ease-in-out 0s fadeIn;
//}
//
//@keyframes fadeIn {
//    0% { opacity: 0; }
//    40% { opacity: 0; }
//    100% { opacity: 1; }
//}

//h1:hover {
//    text-shadow: 1px 1px 1px 1px #fff;
//}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

em em {
    font-style: normal;
}

strong strong {
    font-weight: normal;
}

summary {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

a {
    cursor: pointer;
    color: var(--color-white);
    text-decoration: none;

    p {
        color: var(--body-font-color);
    }
}

p, aside {
    a, a:visited {
        color: var(--color-green);

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

address {
    font-style: normal;
}

code {
    hyphens: none;
    color: var(--code-font-color);
    background: var(--code-background);
    border-radius: var(--border-radius);
    border: shapes.$border;
    padding: 6px 6px 3px;
}

pre code {
    color: var(--pre-font-color);
    background: none;
    border-radius: 0;
    border: none;
    padding: 0;
}

form,
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button, td-button {
    font-weight: var(--font-weight-regular);
}

::file-selector-button {
    border-radius: 4px;
    font-family: inherit;
    @include mixins.button-greenHollow;
}

[hidden] {
    display: none !important;
}

.hide-mobile {
    @media (max-width: media.$max-width-mobile) {
        display: none !important;
    }
}

.hide-gt-mobile {
    @media (min-width: media.$min-width-tablet) {
        display: none !important;
    }
}

.hide-lt-desktop {
    @media (max-width: media.$max-width-tablet) {
        display: none !important;
    }
}

.hide-desktop {
    @media (min-width: media.$min-width-desktop) {
        display: none !important;
    }
}

.flex {
    flex: 1;
}

.card {
    @include mixins.card-appearance;
    @include mixins.card-padding;
    transition: border-color 100ms;

    //&.hoverable:hover {
    //    border-color: var(--color-secondary-light-grey);
    //}
}

.card-appearance {
    @include mixins.card-appearance;
}

.card-padding {
    @include mixins.card-padding;
}

.button-greenHollow {
    @include mixins.button;
    @include mixins.button-greenHollow;
}

.button-water {
    @include mixins.button;
    @include mixins.button-water;
}

.button-fire {
    @include mixins.button;
    @include mixins.button-fire;
}

.button-frameless {
    @include mixins.button;
    @include mixins.button-frameless;
}

td-form-actions, .td-form-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
    column-gap: 14px;
    row-gap: 8px;
    margin-top: 20px;
}

.td-feedback-button {
    position: fixed;
    top: 50%;
    right: 0;
    transform: rotate(-90deg) translate(50%, -100%);
    transform-origin: right top;
    padding: 0 24px;
    z-index: 200;

    > * {
        display: block;
        border: none;
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-aside);
        transition: background-color 200ms ease-out, transform 200ms ease-out, box-shadow 200ms ease-out;
        transform: translateY(3px);
        outline: none;
        cursor: pointer;
        padding: 9px 26px;
        background-color: var(--color-deep-purple);
        color: var(--body-font-color);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        border: shapes.$border;
        box-shadow: 0 3px 26px 0 rgba(colors.$purple, 0.4);

        &:hover {
            transform: translateY(0);
            background-color: var(--color-light-purple);
            box-shadow: 0 3px 26px 0 rgba(colors.$secondary-light-grey, 0.2);
        }
    }

    @media (max-width: media.$max-width-mobile) {
        display: none;

        // top: 100%;
        // transform: rotate(-90deg) translate(100%, -100%);

        // > * {
        //     padding: 5px 15px;
        // }
    }
}

td-form .form-row {
    display: flex;
    gap: 16px;

    > * {
        flex: 1;
    }

    @media (max-width: media.$max-width-mobile) {
        flex-direction: column;
    }
}

.admonitionblock {
    --important-color: #{colors.$secondary-yellow};
    --important-background: #{rgba(colors.$secondary-yellow, 0.12)};
    --note-color: #{colors.$secondary-blue};
    --note-background: #{rgba(colors.$secondary-blue, 0.12)};
    --tip-color: #{colors.$green};
    --tip-background: #{rgba(colors.$green, 0.12)};
    --warning-color: #{colors.$red};
    --warning-background: #{rgba(colors.$red, 0.12)};

    position: relative;
    margin: 1.5rem 0 0;
    padding: 16px;
    border-radius: var(--border-radius);
    color: var(--color-white);
    width: 100%;

    @media (max-width: media.$max-width-mobile) {
        padding: var(--card-padding);
    }

    > table,
    > table > tbody,
    > table > tbody > tr,
    > table > tbody > tr > td {
        display: block;
        padding: 0;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 2px;
    }

    &.note {
        background: var(--note-background);

        .icon::after {
            content: "Note";
        }
    }

    &.note::before {
        background: var(--note-color);
    }

    &.important, &.attention {
        border-color: var(--important-color);
        background: var(--important-background);

        &::before {
            background: var(--important-color);
        }
    }

    &.important .icon::after {
        content: "Important";
    }

    &.attention .icon::after {
        content: "Attention";
    }

    &.tip {
        background: var(--tip-background);

        .icon::after {
            content: "Advanced";
        }
    }

    &.tip::before {
        background: var(--tip-color);
    }

    &.warning {
        background: var(--warning-background);

        .icon::after {
            content: "Warning";
        }
    }

    &.warning::before {
        background: var(--warning-color);
    }

    .icon {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 4px;

        &::after {
            font-weight: var(--font-weight-medium);
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: .5px;
        }
    }

    .content {
        margin-top: -0.5rem;
    }
}

.admonitionblock.attention i {
    color: colors.$secondary-yellow;
}

td-feedback-dialog {
    .hs-form-field > label {
        margin-bottom: 8px;
        display: inline-block;
    }

    aside {
        margin-top: 32px;
    }
}
