.hs-form {
    label {
        color: var(--body-heading-color);
    }

    ul {
        list-style: none;
        display: flex;
        flex-flow: column wrap;
        gap: 12px;
    }
}

.hs-form input[type="text"],
input[type="email"],
select {
    padding: 0 8px;
    background-color: var(--color-purple);
    color: var(--body-font-color);
    border: 1px solid var(--content-border-color);
    caret-color: var(--body-font-color);
    border-radius: var(--border-radius);
    font-size: 16px;
    line-height: 46px;
    height: 48px;
}

.hs-form select {
    appearance: none;
}

.hs-fieldtype-select .input {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        width: 48px;
        height: 46px;
        border: none;
        top: 1px;
        bottom: 1px;
        right: 0;
        border-left: 1px solid var(--content-border-color);
        background: no-repeat center url("/assets/icon/chevron-down.svg");
        pointer-events: none;
    }
}

.hs-form input[type="checkbox"]:focus {
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

.hs-form input[type="checkbox"] {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--color-dark-white);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px !important;
    height: 17px;
    cursor: pointer;
    position: relative;
    top: 5px;
    margin-right: 12px;
}

.hs-form input[type="checkbox"]:checked {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="4 4 16 16" fill="%23fff"><path d="M11.1249 14.118L17.0828 8L18 8.94102L11.1249 16L7 11.7647L7.9165 10.8237L11.1249 14.118Z"/></svg>');
}

.hs-form-field {
    text-align: start;
}

form.hs-form {
    .hs-form-field {
        margin-top: 16px;
        min-width: 200px;
    }

    > .hs-form-field:first-child {
        margin-top: 0;
    }

    > fieldset:first-child {
        margin-top: -16px;
    }

    fieldset {
        max-width: unset;

        &.form-columns-2 {
            display: flex;
            flex-wrap: wrap;
            gap: 0 32px;

            .input {
                margin-right: 0;
            }

            .hs-form-field .input .hs-input {
                width: 100%;
            }

            .hs-form-field {
                width: auto;
                float: none;
                flex: 1;
            }

            @media (max-width: media.$max-width-tablet) {
                gap: 0 16px;
            }
        }

        &.form-columns-1 {
            .input {
                margin-right: 0;
            }

            .hs-form-field .input .hs-input {
                width: 100%;
            }
        }
    }
}

.hs-form {
    &::after {
        content: "";
        display: block;
        clear: both;
    }

    .hs-error-msgs,
    .hs_error_rollup {
        display: none;
    }

    .hs-input.error {
        border-color: var(--color-red);
    }

    textarea {
        width: 100%;
        background-color: var(--color-purple);
        color: var(--body-font-color);
        border: 1px solid var(--content-border-color);
        caret-color: var(--body-font-color);
        border-radius: var(--border-radius);
        font-size: 16px;
        padding: 8px;
        height: 136px;
    }
}

input[type="submit"].hs-button {
    margin-top: 46px;
    @include button;
    @include button-primary;
    font-size: 16px;

    &.hs-button {
        width: 100%;
    }
}

[class*="hs_overall_rating"] ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 0;
    list-style-type: none;

    li {
        flex: 1;
        height: 48px;
        position: relative;

        &:first-of-type label,
        &:first-of-type input {
            border-radius: var(--border-radius) 0 0 var(--border-radius);
        }

        &:last-of-type label,
        &:last-of-type input {
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
        }
    }

    label,
    input {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
    }

    input[type="radio"] {
        appearance: none;
        z-index: 1;
        cursor: pointer;
        margin: 0;
        transition: background-color 100ms ease;

        &:checked {
            background: var(--color-secondary-grey);
        }
    }

    label {
        border: 1px solid var(--content-border-color);

        &:hover input[type="radio"] {
            background: var(--color-light-purple);

            &:checked {
                background: var(--color-secondary-light-grey);
            }
        }

        span {
            position: absolute;
            z-index: 2;
            cursor: pointer;
        }
    }
}
