body {
    .mat-icon {
        width: 1em;
        height: 1em;

        svg {
            display: block;
        }
    }

    .mat-mdc-icon-button {
        padding: 0.25em;
        margin: -0.25em;
        width: 1.5em;
        height: 1.5em;

        .mat-icon {
            display: block;
            font-size: inherit;
        }

        svg {
            width: auto;
            height: auto;
        }
    }

    .mat-icon,
    .mat-mdc-icon-button {
        font-size: 24px;

        &.td-icon-small {
            font-size: 20px;
        }

        &.td-icon-large {
            font-size: 32px;
        }

        &.td-icon-xl {
            font-size: 40px;
        }
    }

    .mdc-dialog {
        --mdc-dialog-container-color: #{var(--color-purple)};
        --mdc-dialog-supporting-text-color: var(--color-white);

        .mdc-dialog__surface {
            padding: 24px;
            border-radius: var(--border-radius);
            background-color: var(--mdc-dialog-container-color);
        }

        .mdc-dialog__title {
            padding: 0 0 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &::before {
                display: none;
            }

            h1 {
                font-size: 24px;
                line-height: 32px;
                font-weight: var(--font-weight-bold);
            }
        }

        .mdc-dialog__content {
            padding: 0;
        }
    }

    .mat-mdc-snack-bar-container {
        .mdc-snackbar__surface {
            padding: 0;
            background: transparent;
            box-shadow: none;

            &::before {
                display: none;
            }
        }
        .mdc-snackbar__label {
            padding: 0;
        }
    }

    .mat-mdc-progress-bar {
        --mdc-linear-progress-active-indicator-color: var(--color-green);
    }

    .cdk-overlay-container {
        position: fixed;
        z-index: 1000;
    }

    .cdk-overlay-container, .cdk-global-overlay-wrapper {
        pointer-events: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .cdk-overlay-backdrop {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        pointer-events: auto;
        -webkit-tap-highlight-color: transparent;
        transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
        opacity: 0;
        background: rgba(0, 0, 0, 0.32);

        &.cdk-overlay-backdrop-showing {
            opacity: 1;
        }
    }

    .cdk-global-overlay-wrapper {
        display: flex;
        position: absolute;
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }

    .cdk-visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
        outline: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        left: 0;
    }

    .cdk-overlay-pane {
        position: absolute;
        pointer-events: auto;
        box-sizing: border-box;
        z-index: 1000;
        display: flex;
        max-width: 560px;
        max-height: 100%;
    }
}
