@import 'colors';
@import 'sizes';

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin button {
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-semi-bold;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  transition-property: background-color, border, box-shadow, opacity;
  transition-duration: 100ms;
  transition-timing-function: ease;
  text-decoration: none !important; // overrides various styles that set an underline on anchors

  @media (min-width: $media-min-width-tablet) {
    height: 48px;
    width: 202px;
  }

  @media (max-width: $media-max-width-mobile) {
    height: 40px;
  }

  &.td-button-disabled {
    opacity: 50%;
    cursor: default;
  }

  &.td-button-size-s {
    height: 40px;
  }
}

@mixin button-primary {
  border-color: transparent;
  background: $color-vaticle-green;
  color: $color-vaticle-purple;

  &:not(.td-button-disabled) {
    &:hover,
    &.container-hover,
    :host-context(.td-button-container:hover) {
      box-shadow: 0 3px 26px 0 rgba($color-vaticle-green, 0.4);
    }

    &:active {
      background-color: mix($color-vaticle-green, $color-vaticle-purple);
    }
  }
}

@mixin button-secondary {
  border-color: $color-vaticle-green;
  background: transparent;
  color: $color-vaticle-green;

  &:not(.td-button-disabled) {
    &:hover,
    &.container-hover,
    :host-context(.td-button-container:hover) {
      background-color: $color-vaticle-green;
      color: $color-vaticle-purple;
    }
  }
}

@mixin card-appearance {
  border-radius: $border-radius;
  background-color: $color-vaticle-purple;
  border: 1px solid $content-border-color;
}

@mixin card-padding {
  padding: $card-padding;

  @media (min-width: $media-min-width-tablet) and (max-width: $media-max-width-tablet) {
    padding: $card-padding-tablet;
  }

  @media (max-width: $media-max-width-mobile) {
    padding: $card-padding-mobile;
  }
}
