@use "colors" as *;

code[class*="language-"],
pre[class*="language-"] {
    color: $prism-white;
}

.token.comment {
    color: $prism-green;
    font-style: italic;
}

.token.super,
.token.type {
    color: $prism-cyan;
    font-style: italic;
}

.token.variable {
    color: $prism-cyan;
}

.token.modifier {
    color: $prism-blue;
    font-style: italic;
}

.token.class-name,
.token.number,
.token.datetime {
    color: $prism-blue;
}

.token.function {
    color: $prism-light-green;
}

.token.string {
    color: $prism-yellow;
}

.token.operator,
.token.keyword,
.token.punctuation,
.token.special {
    color: $prism-pink;
}

.token.annotation,
.token.constant {
    color: $prism-orange;
}

.token.error {
    color: $prism-red;
}
