code[class*="language-"],
pre[class*="language-"] {
    color: var(--theme-prism-white);
}

.token.argument {
    color: var(--theme-prism-white);
    font-style: italic;
}

.token.comment {
    color: var(--theme-prism-very-grey);
    font-style: italic;
}

.token.super,
.token.type {
    color: var(--theme-prism-cyan);
    font-style: italic;
}

.token.variable {
    color: var(--theme-prism-cyan);
}

.token.modifier {
    color: var(--theme-prism-blue);
    font-style: italic;
}

.token.class-name,
.token.number,
.token.datetime,
.token.constant {
    color: var(--theme-prism-blue);
}

.token.function {
    color: var(--theme-prism-light-green);
}

.token.string {
    color: var(--theme-prism-yellow);
}

.token.operator,
.token.keyword,
.token.punctuation,
.token.special {
    color: var(--theme-prism-pink);
}

.token.constraint,
.token.local-name {
    color: var(--theme-prism-purple);
}

.token.object_label {
    color: var(--theme-prism-grey);
}

.token.irrelevant {
    color: var(--theme-prism-very-grey);
}

.token.annotation {
    color: var(--theme-prism-orange);
}

.token.command {
    color: var(--theme-prism-yellow-orange);
}

.token.intention {
    color: var(--theme-prism-orange);
    font-style: italic;
}

.token.console {
    color: var(--theme-prism-yellow-orange);
    font-style: italic;
}

.token.error {
    color: var(--theme-prism-red);
}
