@use "media";

td-pricing-page {
    @media (min-width: media.$min-width-tablet) {
        td-section-core.td-features td-section-core .tb-main {
            padding: 0 0 16px;
        }
    }

    @media (max-width: media.$max-width-mobile) {
        td-content-panel .cp-text-area {
            margin-top: -144px;
            z-index: 10;
        }
    }
}
