<article>
  @if (page$ | async; as page) {
    @if (page.introSection) {
      <td-section-core level="h1" [section]="page.introSection" class="td-intro"/>
    }
    @if (page.benefitsSection1) {
      <td-illustration-section [data]="page.benefitsSection1"/>
    }
    @if (page.benefitsSection2) {
      <td-illustration-section [data]="page.benefitsSection2" flexDirection="row-reverse"/>
    }
    @if (page.benefitsSection3) {
      <td-section-core [section]="page.benefitsSection3"/>
      <td-key-point-panels-2x2 [keyPoints]="page.benefitsSection3.keyPoints" />
    }
    @if (page.queryLanguageComparisonSection) {
      <section class="td-inverted-colors-section">
        <td-section-core [noSectionClass]="true" [section]="page.queryLanguageComparisonSection"/>
        <td-polyglot-comparison [snippet]="page.queryLanguageComparisonSection.content!" polyglotSnippetID="comparison"/>
      </section>
    }
    @if (page.benefitsSection4) {
      <td-illustration-section [data]="page.benefitsSection4" flexDirection="row-reverse"/>
    }
    @if (page.studioSection) {
      <td-illustration-section [data]="page.studioSection" flexDirection="column"/>
    }
  }
</article>
