<article>
  <canvas id="cyber-background"></canvas>
  @if (page$ | async; as page) {
    @if (page.introSection) {
      <td-illustration-section level="h1" [data]="page.introSection" [noWindowHeader]="true" textAlign="left" [hasPeekingBot]="true"/>
    }
    @if (page.benefitsSection1) {
      <td-illustration-section [data]="page.benefitsSection1" class="narrow-section"/>
      <td-link-panels class="narrow-section" [panels]="page.benefitsSection1.panels" sectionId="key-points-section" />
    }
    @if (page.hotTopicsSection) {
      <div class="hot-topics-section">
        <td-hot-topics [title]="page.hotTopicsSection.title" [resources]="page.hotTopicsSection.hotTopics"/>
      </div>
    }
    @if (page.benefitsSection2) {
      <td-illustration-section [data]="page.benefitsSection2" flexDirection="row"/>
    }
    @if (page.benefitsSection3) {
      <td-illustration-section [data]="page.benefitsSection3" flexDirection="row-reverse"/>
    }
    @if (page.queryLanguageComparisonSection) {
      <section class="td-inverted-colors-section">
        <td-section-core [noSectionClass]="true" [section]="page.queryLanguageComparisonSection"/>
        <td-polyglot-comparison [snippet]="page.queryLanguageComparisonSection.content!" polyglotSnippetID="comparison"/>
      </section>
    }
    @if (page.benefitsSection4) {
      <td-illustration-section [data]="page.benefitsSection4" flexDirection="column" textAlign="left" class="narrow-section"/>
    }
    @if (page.faqsSection) {
      <td-section-core [section]="page.faqsSection" textAlign="left"/>
    }
  }
</article>
