<header _ngcontent-njc-c136="" id="siteHeader">
    <nav _ngcontent-njc-c136="">
        <a _ngcontent-njc-c136="" class="tb-logo-container" href="/"><img _ngcontent-njc-c136="" src="https://typedb.com/assets/image/vaticle-typedb.svg" alt="Vaticle TypeDB"></a>
        <div _ngcontent-njc-c136="" class="tb-desktop-items text-s">
            <ul _ngcontent-njc-c136="" class="tb-top-level-items">
                <li _ngcontent-njc-c136="">
                    <a id="topbarMenuItem1" _ngcontent-njc-c136="" tabindex="0"> Technology </a><!----><!---->
                    <td-topbar-menu-panel id="topbarMenuPanel1" _ngcontent-njc-c136="" _nghost-njc-c137="" hidden="">
                        <div _ngcontent-njc-c137="" class="mp-root">
                            <div _ngcontent-njc-c137="" class="mp-column">
                                <h3 _ngcontent-njc-c137="" class="text-xxs"><strong _ngcontent-njc-c137="">Overview</strong></h3>
                                <ul _ngcontent-njc-c137="">
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" tabindex="0" href="/introduction">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">Introduction</span><!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">Discover the core concepts behind TypeDB</p>
                                        </a>
                                    </li>
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" tabindex="0" href="/features">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">Features</span><!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">See how TypeDB simplifies development</p>
                                        </a>
                                    </li>
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" tabindex="0" href="/cloud">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">Cloud</span><!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">Learn about the benefits of TypeDB Cloud</p>
                                        </a>
                                    </li>
                                    <!---->
                                </ul>
                                <!----><!---->
                            </div>
                            <!---->
                        </div>
                    </td-topbar-menu-panel>
                    <!---->
                </li>
                <li _ngcontent-njc-c136="">
                    <a id="topbarMenuItem2" _ngcontent-njc-c136="" tabindex="0"> Solutions </a><!----><!---->
                    <td-topbar-menu-panel id="topbarMenuPanel2" _ngcontent-njc-c136="" _nghost-njc-c137="" hidden="">
                        <div _ngcontent-njc-c137="" class="mp-root">
                            <div _ngcontent-njc-c137="" class="mp-column">
                                <h3 _ngcontent-njc-c137="" class="text-xxs"><strong _ngcontent-njc-c137="">Intelligent Infrastructure</strong></h3>
                                <ul _ngcontent-njc-c137="">
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" tabindex="0" href="/solutions/cybersecurity">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">Cybersecurity</span><!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">IAM, CTI, ASM and TDR</p>
                                        </a>
                                    </li>
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" tabindex="0" href="/solutions/platform-engineering">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">Platform Engineering</span><!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">IDP, CI/CD, Developer Portal, and Control Plane </p>
                                        </a>
                                    </li>
                                    <!---->
                                </ul>
                                <!----><!---->
                            </div>
                            <div _ngcontent-njc-c137="" class="mp-column">
                                <h3 _ngcontent-njc-c137="" class="text-xxs"><strong _ngcontent-njc-c137="">Intelligent Applications</strong></h3>
                                <ul _ngcontent-njc-c137="">
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" tabindex="0" href="/solutions/virtual-representations">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">Virtual Representations</span><!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">AMR, AR/VR, Smart Cities, Gaming</p>
                                        </a>
                                    </li>
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" tabindex="0" href="/solutions/knowledge-engineering">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">Knowledge Engineering</span><!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">Drug Discovery, Risk Management, and SCM</p>
                                        </a>
                                    </li>
                                    <!---->
                                </ul>
                                <!----><!---->
                            </div>
                            <!---->
                        </div>
                    </td-topbar-menu-panel>
                    <!---->
                </li>
                <li _ngcontent-njc-c136="">
                    <a id="topbarMenuItem3" _ngcontent-njc-c136="" tabindex="0"> Developers </a><!----><!---->
                    <td-topbar-menu-panel id="topbarMenuPanel3" _ngcontent-njc-c136="" _nghost-njc-c137="" hidden="">
                        <div _ngcontent-njc-c137="" class="mp-root">
                            <div _ngcontent-njc-c137="" class="mp-column">
                                <h3 _ngcontent-njc-c137="" class="text-xxs"><strong _ngcontent-njc-c137="">Documentation</strong></h3>
                                <ul _ngcontent-njc-c137="">
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" href="/docs/typedb/2.x/overview.html" target="">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">TypeDB</span><!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">TypeDB's technical documentation</p>
                                        </a>
                                    </li>
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" href="/docs/clients/2.x/clients.html" target="">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">TypeDB Clients</span><!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">Various clients to connect to TypeDB</p>
                                        </a>
                                    </li>
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" href="/docs/typeql/2.x/overview.html" target="">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">TypeQL</span><!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">TypeDB's query language</p>
                                        </a>
                                    </li>
                                    <!---->
                                </ul>
                                <!----><!---->
                            </div>
                            <div _ngcontent-njc-c137="" class="mp-column">
                                <h3 _ngcontent-njc-c137="" class="text-xxs"><strong _ngcontent-njc-c137="">Community</strong></h3>
                                <ul _ngcontent-njc-c137="">
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" href="https://forum.typedb.com" target="_blank">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">Discussion Forum</span>
                                                <svg _ngcontent-njc-c137="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="tb-external-link-icon">
                                                    <path _ngcontent-njc-c137="" d="M16.6707 8.97635L6.64706 19L5 17.353L15.0237 7.3293H6.1889V5H19V17.8111H16.6707V8.97635Z" fill="white"></path>
                                                </svg>
                                                <!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">Get answers to your TypeDB questions</p>
                                        </a>
                                    </li>
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" href="https://typedb.com/discord" target="_blank">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">Chat Server</span>
                                                <svg _ngcontent-njc-c137="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="tb-external-link-icon">
                                                    <path _ngcontent-njc-c137="" d="M16.6707 8.97635L6.64706 19L5 17.353L15.0237 7.3293H6.1889V5H19V17.8111H16.6707V8.97635Z" fill="white"></path>
                                                </svg>
                                                <!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">Connect with the TypeDB community</p>
                                        </a>
                                    </li>
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" href="https://www.meetup.com/pro/typedb/" target="_blank">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">Meetups</span>
                                                <svg _ngcontent-njc-c137="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="tb-external-link-icon">
                                                    <path _ngcontent-njc-c137="" d="M16.6707 8.97635L6.64706 19L5 17.353L15.0237 7.3293H6.1889V5H19V17.8111H16.6707V8.97635Z" fill="white"></path>
                                                </svg>
                                                <!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">Locate and attend TypeDB Meetups</p>
                                        </a>
                                    </li>
                                    <!---->
                                </ul>
                                <!----><!---->
                            </div>
                            <div _ngcontent-njc-c137="" class="mp-column">
                                <h3 _ngcontent-njc-c137="" class="text-xxs"><strong _ngcontent-njc-c137="">Learning</strong></h3>
                                <ul _ngcontent-njc-c137="">
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" tabindex="0" href="/webinars">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">Webinars</span><!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">Attend and view TypeDB webinars</p>
                                        </a>
                                    </li>
                                    <li _ngcontent-njc-c137="">
                                        <a _ngcontent-njc-c137="" tabindex="0" href="/white-papers">
                                            <h4 _ngcontent-njc-c137="" class="text-s">
                                                <!----><span _ngcontent-njc-c137="">White Papers</span><!---->
                                            </h4>
                                            <p _ngcontent-njc-c137="" class="text-xxs mp-list-column-description">Discover innovative uses for TypeDB</p>
                                        </a>
                                    </li>
                                    <!---->
                                </ul>
                                <!----><!---->
                            </div>
                            <!---->
                        </div>
                    </td-topbar-menu-panel>
                    <!---->
                </li>
                <li _ngcontent-njc-c136="">
                    <!---->
                    <a _ngcontent-njc-c136="" href="https://blog.vaticle.com" target="_blank">
                        Blog
                        <svg _ngcontent-njc-c136="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="tb-external-link-icon">
                            <path _ngcontent-njc-c136="" d="M16.6707 8.97635L6.64706 19L5 17.353L15.0237 7.3293H6.1889V5H19V17.8111H16.6707V8.97635Z" fill="white"></path>
                        </svg>
                        <!---->
                    </a>
                    <!----><!---->
                </li>
                <!---->
            </ul>
            <ul _ngcontent-njc-c136="" class="tb-top-level-items">
                <li _ngcontent-njc-c136=""><a _ngcontent-njc-c136="" tabindex="0" href="/?dialog=contact">Contact</a></li>
                <li _ngcontent-njc-c136=""><a _ngcontent-njc-c136="" href="https://cloud.typedb.com/" target="_blank">Cloud</a></li>
                <!---->
                <li _ngcontent-njc-c136="">
                    <td-button _ngcontent-njc-c136="" size="small" _nghost-njc-c99="">
                        <!----><a _ngcontent-njc-c99="" tabindex="0" class="secondary bt-size-s" href="/deploy"> Deploy
                    </a>
                    </td-button>
                </li>
                <li _ngcontent-njc-c136=""><a _ngcontent-njc-c136="" target="_blank" href="https://github.com/vaticle/typedb"><img _ngcontent-njc-c136="" src="https://typedb.com/assets/icon/social/github.svg" alt="GitHub"></a></li>
            </ul>
        </div>
    </nav>
</header>
