<header _ngcontent-too-c132="" id="siteHeader" ng-reflect-ng-class="[object Object]"><nav _ngcontent-too-c132=""><a _ngcontent-too-c132="" class="tb-logo-container" ng-reflect-router-link="/" href="/"><img _ngcontent-too-c132="" src="/assets/image/vaticle-typedb.svg" alt="Vaticle TypeDB"></a><div _ngcontent-too-c132="" class="tb-desktop-items text-s"><ul _ngcontent-too-c132="" class="tb-top-level-items"><li _ngcontent-too-c132=""><a _ngcontent-too-c132="" tabindex="0" id="topbarMenuItem1"> Technology </a><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><td-topbar-menu-panel id="topbarMenuPanel1" _ngcontent-too-c132="" _nghost-too-c133="" ng-reflect-menu-panel="[object Object]" hidden=""><div _ngcontent-too-c133="" class="mp-root"><div _ngcontent-too-c133="" class="mp-column"><h3 _ngcontent-too-c133="" class="text-xxs"><strong _ngcontent-too-c133="">Overview</strong></h3><ul _ngcontent-too-c133=""><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" tabindex="0" href="introduction"><h4 _ngcontent-too-c133="" class="text-s">Introduction</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">Discover the core concepts behind TypeDB</p></a></li><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" tabindex="0" href="features"><h4 _ngcontent-too-c133="" class="text-s">Features</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">See how TypeDB simplifies development</p></a></li><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" tabindex="0" href="cloud"><h4 _ngcontent-too-c133="" class="text-s">Cloud</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">Learn about the benefits of TypeDB Cloud</p></a></li><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div _ngcontent-too-c133="" class="mp-column"><h3 _ngcontent-too-c133="" class="text-xxs"><strong _ngcontent-too-c133="">Tools</strong></h3><ul _ngcontent-too-c133=""><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" tabindex="0" href="studio"><h4 _ngcontent-too-c133="" class="text-s">TypeDB Studio</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">Check out the desktop IDE for TypeDB</p></a></li><!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--></div></td-topbar-menu-panel><!--bindings={
  "ng-reflect-ng-if": "true"
}--></li><li _ngcontent-too-c132=""><a _ngcontent-too-c132="" tabindex="0" id="topbarMenuItem2"> Solutions </a><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><td-topbar-menu-panel id="topbarMenuPanel2" _ngcontent-too-c132="" _nghost-too-c133="" ng-reflect-menu-panel="[object Object]" hidden=""><div _ngcontent-too-c133="" class="mp-root"><div _ngcontent-too-c133="" class="mp-column"><h3 _ngcontent-too-c133="" class="text-xxs"><strong _ngcontent-too-c133="">Disruption</strong></h3><ul _ngcontent-too-c133=""><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" tabindex="0" href="solution/cybersecurity"><h4 _ngcontent-too-c133="" class="text-s">Cybersecurity</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">IAM, CTI, ASM and TDR</p></a></li><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" tabindex="0" href="solution/knowledge-engineering"><h4 _ngcontent-too-c133="" class="text-s">Platform engineering</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">IDPs, Developer portals, Control planes </p></a></li><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div _ngcontent-too-c133="" class="mp-column"><h3 _ngcontent-too-c133="" class="text-xxs"><strong _ngcontent-too-c133="">Innovation</strong></h3><ul _ngcontent-too-c133=""><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" tabindex="0" href="/solution/virtual-representations"><h4 _ngcontent-too-c133="" class="text-s">Solution: Virtual representations</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">AMR, AR/VR, Smart Cities, Gaming</p></a></li><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" tabindex="0" href="solution/knowledge-engineering"><h4 _ngcontent-too-c133="" class="text-s">Knowledge engineering</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">Drug discovery, Risk exposure, SCM</p></a></li><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--></div></td-topbar-menu-panel><!--bindings={
  "ng-reflect-ng-if": "true"
}--></li><li _ngcontent-too-c132=""><a _ngcontent-too-c132="" tabindex="0" id="topbarMenuItem3"> Developers </a><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><td-topbar-menu-panel id="topbarMenuPanel3" _ngcontent-too-c132="" _nghost-too-c133="" ng-reflect-menu-panel="[object Object]" hidden=""><div _ngcontent-too-c133="" class="mp-root"><div _ngcontent-too-c133="" class="mp-column"><h3 _ngcontent-too-c133="" class="text-xxs"><strong _ngcontent-too-c133="">Community</strong></h3><ul _ngcontent-too-c133=""><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" href="https://forum.vaticle.com/?__hstc=136849199.02a0d56018034d660883006eb34308f3.1686067696612.1686256633132.1686301581236.11&amp;__hssc=136849199.21.1686301581236&amp;__hsfp=595018479" target=""><h4 _ngcontent-too-c133="" class="text-s">Discussion Forum</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">Text placeholder</p></a></li><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" href="https://vaticle.com/discord?__hstc=136849199.02a0d56018034d660883006eb34308f3.1686067696612.1686256633132.1686301581236.11&amp;__hssc=136849199.21.1686301581236&amp;__hsfp=595018479" target="_blank"><h4 _ngcontent-too-c133="" class="text-s">Chat</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">Text placeholder</p></a></li><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" href="https://www.meetup.com/pro/typedb/" target="_blank"><h4 _ngcontent-too-c133="" class="text-s">Meetups</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">Text placeholder</p></a></li><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div _ngcontent-too-c133="" class="mp-column"><h3 _ngcontent-too-c133="" class="text-xxs"><strong _ngcontent-too-c133="">Resources</strong></h3><ul _ngcontent-too-c133=""><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" tabindex="0" href="webinars"><h4 _ngcontent-too-c133="" class="text-s">Webinars</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">Text placeholder</p></a></li><li _ngcontent-too-c133=""><a _ngcontent-too-c133="" ng-reflect-link="[object Object]" tabindex="0" href="white-papers"><h4 _ngcontent-too-c133="" class="text-s">White Papers</h4><p _ngcontent-too-c133="" class="text-xxs mp-list-column-description">Text placeholder</p></a></li><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--></div></td-topbar-menu-panel><!--bindings={
  "ng-reflect-ng-if": "true"
}--></li><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--></ul><ul _ngcontent-too-c132="" class="tb-top-level-items"><li _ngcontent-too-c132=""><a _ngcontent-too-c132="" ng-reflect-link="[object Object]" tabindex="0" href="?dialog=contact">Contact</a></li><li _ngcontent-too-c132=""><a _ngcontent-too-c132="" ng-reflect-link="[object Object]" tabindex="0" href="/solution/virtual-representations">Support</a></li><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><li _ngcontent-too-c132=""><td-button _ngcontent-too-c132="" size="small" _nghost-too-c98="" ng-reflect-size="small" ng-reflect-button="[object Object]"><a _ngcontent-too-c98="" tabindex="0" href="deploy" class="secondary bt-size-s" ng-reflect-ng-class="[object Object]" ng-reflect-link="[object Object]" ng-reflect-ng-style="[object Object]">Deploy</a></td-button></li><li _ngcontent-too-c132=""><a _ngcontent-too-c132="" href="https://github.com/vaticle/typedb"><img _ngcontent-too-c132="" src="/assets/icon/social/github.svg" alt="GitHub"></a></li></ul></div></nav></header>