@if (caption) {
  <h3 class="text-h3">{{ caption }}</h3>
}

<!-- Gradient definition for the third column's check icons (referenced from SCSS via stroke: url(#...)) -->
<svg width="0" height="0" style="position: absolute" aria-hidden="true" focusable="false">
  <defs>
    <linearGradient id="td-check-gradient" x1="0" y1="0" x2="1" y2="1">
      <stop offset="0%" stop-color="#F96480" />
      <stop offset="100%" stop-color="#FDD257" />
    </linearGradient>
  </defs>
</svg>

<table role="presentation" class="hide-mobile">
  <colgroup>
    <col style="width: 33.33%" />
    <col style="width: 33.33%" />
    <col style="width: 33.33%" />
  </colgroup>
  <tr>
    @for (panel of panels; track panel) {
      <td>
        <div class="pp-cell-content">
          <h3>{{ panel.title }}</h3>
          <td-rich-text [value]="panel.body" class="pp-body-text" />
          <div class="flex"></div>
          @if (panel.priceString) {
            <hr />
            <td-rich-text [value]="panel.priceString" />
          }
        </div>
      </td>
    }
  </tr>
  <tr class="pp-button-row">
    @for (panel of panels; track panel) {
      <td>
        <td-button [button]="panel.button" size="small" [linkId]="linkId(panel)" />
      </td>
    }
  </tr>
  <tr>
    @for (panel of panels; track panel) {
      <td class="td-bottom-link">
        @if (panel.bottomLink) {
          <div>
            <a class="link-tertiary" [tdLink]="panel.bottomLink">{{ panel.bottomLink.text }}</a>
          </div>
        }
      </td>
    }
  </tr>
  <tr class="td-key-points">
    @for (panel of panels; track panel) {
      <td>
        <div class="td-key-points-flex-container">
          <ul>
            @for (keyPoint of panel.keyPoints; track keyPoint) {
              <li>
                <td-icon icon="check" /> {{ keyPoint }}
              </li>
            }
          </ul>
        </div>
      </td>
    }
  </tr>
</table>

@for (panel of panels; track panel) {
  <table role="presentation" class="hide-gt-mobile">
    <tr>
      <td>
        <div class="pp-cell-content">
          <h3>{{ panel.title }}</h3>
          <td-rich-text [value]="panel.body" class="pp-body-text" />
          <div class="flex"></div>
          @if (panel.priceString) {
            <hr />
            <td-rich-text [value]="panel.priceString" />
          }
        </div>
      </td>
    </tr>
    <tr class="pp-button-row">
      <td><td-button [button]="panel.button" size="small" [linkId]="linkId(panel)" /></td>
    </tr>
    <tr>
      <td class="td-bottom-link">
        @if (panel.bottomLink) {
          <div>
            <a class="link-tertiary" [tdLink]="panel.bottomLink">{{ panel.bottomLink.text }}</a>
          </div>
        }
      </td>
    </tr>
    <tr class="td-key-points">
      <td>
        <ul>
          @for (keyPoint of panel.keyPoints; track keyPoint) {
            <li>
              <td-icon icon="check" /> {{ keyPoint }}
            </li>
          }
        </ul>
      </td>
    </tr>
  </table>
}
