<article>
  @if (page$ | async; as page) {
    <td-section-core sectionId="intro" [section]="page.introSection" />
    @for (section of page.featureSections; track section; let idx = $index) {
      <td-section-core [section]="section"/>
      <td-feature-grid
        [layout]="section.featureGridLayout" [featureRows]="section.features" [illustration]="section.illustration"
        [sectionId]="section.sectionId"
      />
    }
    <td-section-core [section]="page.finalSection"/>
    <td-conclusion-panel [panel]="page.finalSection.panel"/>
  }
</article>
