{
    "printWidth": 120,
    "singleQuote": false,
    "tabWidth": 4,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^@angular/(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
    "importOrderCaseInsensitive": true,
    "importOrderParserPlugins": ["typescript", "decorators-legacy"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
