[build]
ignore = "/bin/false"

[context.production]
command = "pnpm run style:verify && ENV=production pnpm run build && pnpm run prerender"
publish = "dist/static"

[context.master]
command = "pnpm run style:verify && ENV=staging pnpm run build"
publish = "dist/dynamic"

[context.development]
command = "pnpm run style:verify && ENV=development pnpm run build"
publish = "dist/dynamic"

[context.deploy-preview]
command = "pnpm run style:verify && ENV=development pnpm run build"
publish = "dist/dynamic"

[[redirects]]
from = "/discord"
to = "https://discord.com/invite/typedb"
status = 301

[[redirects]]
from = "/meetup"
to = "https://www.meetup.com/pro/typedb"
status = 301

[[redirects]]
from = "/github"
to = "https://github.com/vaticle/typedb"
status = 301

# TODO: delete these redirects once the old URLs are no longer indexed by Google
[[redirects]]
from = "/blog/inheritance-and-polymorphism-where-the-cracks-in-sql-begin-to-show-a795701af90e"
to = "/blog/inheritance-and-polymorphism-where-the-cracks-in-sql-begin-to-show"
status = 301

[[redirects]]
from = "/blog/typedb-for-identity-and-access-management-caeffa43f2f0"
to = "/blog/identity-and-access-management-with-typedb-part-i-polymorphism"
status = 301

[[redirects]]
from = "/blog/typedb-for-identity-and-access-management-6466dafb669e"
to = "/blog/identity-and-access-management-with-typedb-part-ii-transitivity"
status = 301

[[redirects]]
from = "/blog/typedb-for-identity-and-access-management-af995e4d5263"
to = "/blog/identity-and-access-management-with-typedb-part-iii-inference"
status = 301

[[redirects]]
from = "/webinars/polymoprhic-data-model"
to = "/lectures/polymorphic-data-model"
status = 301

[[redirects]]
from = "/lectures/polymoprhic-data-model"
to = "/lectures/polymorphic-data-model"
status = 301

[[redirects]]
from = "/docs"
to = "/docs/home/overview"
status = 301
force = true

[[redirects]]
from = "/docs/typedb/2.x/*"
to = "/docs/typedb/:splat"
status = 301

[[redirects]]
from = "/docs/typeql/2.x/*"
to = "/docs/typeql/:splat"
status = 301

[[redirects]]
from = "/docs/clients/2.x/*"
to = "/docs/clients/:splat"
status = 301

[[redirects]]
from = "/docs/typedb/quickstart-guide"
to = "/docs/home/quickstart"
status = 301

[[redirects]]
from = "https://typedb.com/docs/*"
to = "https://typedb-docs2.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://live-temp.typedb.com/docs/*"
to = "https://typedb-docs2.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://master.typedb.com/docs/*"
to = "https://typedb-docs2.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://development.typedb.com/docs/*"
to = "https://development--typedb-docs2.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://live-temp.typedb.com/*/data.json"
to = "https://live-temp.typedb.com/data.json"
status = 200

[[redirects]]
from = "https://typedb.com/*/data.json"
to = "https://typedb.com/data.json"
status = 200

[[redirects]]
from = "https://typedb.com/*"
to = "https://typedb.com/__fallback"
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[edge_functions]]
function = "airmeet-register"
path = "/api/airmeet/register"

[[context.production.plugins]]
  package = "@netlify/plugin-lighthouse"

  [context.production.plugins.inputs]
    # This option runs the plugin on a locally served version instead of a deploy permalink,
    # fixing an issue where a Netlify header would impact SEO score (https://github.com/netlify/netlify-plugin-lighthouse/issues/593).
    # Despite the name, it doesn't actually fail deploys, unless the 'threshold' option is also set.
    fail_deploy_on_score_thresholds = "true"
