[build]
ignore = "/bin/false"

[context.production]
command = "pnpm run style:verify; ENV=production pnpm run build && pnpm run prerender"
publish = "dist/static"

[context.master]
command = "pnpm run style:verify; ENV=staging pnpm run build"
publish = "dist/dynamic"

[context.development]
command = "pnpm run style:verify; ENV=development pnpm run build"
publish = "dist/dynamic"

[context.deploy-preview]
command = "pnpm run style:verify; ENV=development pnpm run build"
publish = "dist/dynamic"

# ALIASES
# Keep indefinitely
# N.B. the semantically correct status code is 303, but this code is not supported by Netlify

[[redirects]]
from = "/discord"
to = "https://discord.com/invite/typedb"
status = 301

[[redirects]]
from = "/github"
to = "https://github.com/vaticle/typedb"
status = 301

# PERMANENT RENAMES
# Keep indefinitely as they will be used by old blog posts and other articles on the Web

[[redirects]]
from = "/webinars/*"
to = "/lectures"
status = 301

[[redirects]]
from = "/introduction"
to = "/philosophy"
status = 301

[[redirects]]
from = "/white-papers/*"
to = "/papers"
status = 301

# TEMPORARILY DISABLED PATHS
# Keep until we re-enable their source path

[[redirects]]
from = "/meetup"
to = "/lectures"
status = 302

[[redirects]]
from = "/solutions/*"
to = "/philosophy"
status = 302

# ERRONEOUSLY INDEXED PATHS
# Paths in this section exist due to bugs that were later fixed
# Keep for one year, then delete. This gives time for search engines to delist them

[[redirects]]
from = "/blog/inheritance-and-polymorphism-where-the-cracks-in-sql-begin-to-show-a795701af90e"
to = "/blog/inheritance-and-polymorphism-where-the-cracks-in-sql-begin-to-show"
status = 301

[[redirects]]
from = "/blog/typedb-for-identity-and-access-management-caeffa43f2f0"
to = "/blog/identity-and-access-management-with-typedb-part-i-polymorphism"
status = 301

[[redirects]]
from = "/blog/typedb-for-identity-and-access-management-6466dafb669e"
to = "/blog/identity-and-access-management-with-typedb-part-ii-transitivity"
status = 301

[[redirects]]
from = "/blog/typedb-for-identity-and-access-management-af995e4d5263"
to = "/blog/identity-and-access-management-with-typedb-part-iii-inference"
status = 301

[[redirects]]
from = "/webinars/polymoprhic-data-model"
to = "/lectures/polymorphic-data-model"
status = 301

[[redirects]]
from = "/lectures/polymoprhic-data-model"
to = "/lectures/polymorphic-data-model"
status = 301

# DOCS BEHAVIOUR
# Keep indefinitely. These redirects are required for Docs to behave correctly

[[redirects]]
from = "/docs"
to = "/docs/home/overview"
status = 301
force = true

[[redirects]]
from = "https://typedb.com/docs/*"
to = "https://typedb-docs.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://master.typedb.com/docs/*"
to = "https://typedb-docs.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://development.typedb.com/docs/*"
to = "https://development--typedb-docs.netlify.app/:splat"
status = 200

# MAIN SITE BEHAVIOUR
# Keep indefinitely. These redirects are required for the main site to behave correctly

[[redirects]]
from = "https://typedb.com/*/data.json"
to = "https://typedb.com/data.json"
status = 200

[[redirects]]
from = "https://typedb.com/*"
to = "https://typedb.com/__fallback"
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[edge_functions]]
function = "get-calendar-link"
path = "/api/calendar-link"

[[context.production.plugins]]
  package = "@netlify/plugin-lighthouse"

  [context.production.plugins.inputs]
    # This option runs the plugin on a locally served version instead of a deploy permalink,
    # fixing an issue where a Netlify header would impact SEO score (https://github.com/netlify/netlify-plugin-lighthouse/issues/593).
    # Despite the name, it doesn't actually fail deploys, unless the 'threshold' option is also set.
    fail_deploy_on_score_thresholds = "true"
