[build]
ignore = "/bin/false"

[context.production]
command = "pnpm run style:verify && ENV=production pnpm run build && pnpm run prerender"
publish = "dist/static"

[context.master]
command = "pnpm run style:verify && ENV=staging pnpm run build"
publish = "dist/dynamic"

[context.development]
command = "pnpm run style:verify && ENV=development pnpm run build"
publish = "dist/dynamic"

[context.deploy-preview]
command = "pnpm run style:verify && ENV=development pnpm run build"
publish = "dist/dynamic"

[[redirects]]
from = "/discord"
to = "https://discord.com/invite/typedb"
status = 303

[[redirects]]
from = "/meetup"
to = "https://www.meetup.com/pro/typedb"
status = 303

[[redirects]]
from = "/github"
to = "https://github.com/vaticle/typedb"
status = 303

[[redirects]]
from = "/docs"
to = "/docs/typedb/2.x/overview.html"
status = 301

[[redirects]]
from = "https://typedb.com/docs/*"
to = "https://typedb-docs2.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://live-temp.typedb.com/docs/*"
to = "https://typedb-docs2.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://master.typedb.com/docs/*"
to = "https://typedb-docs2.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://development.typedb.com/docs/*"
to = "https://development--typedb-docs2.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://live-temp.typedb.com/*/data.json"
to = "https://live-temp.typedb.com/data.json"
status = 200

[[redirects]]
from = "https://typedb.com/*/data.json"
to = "https://typedb.com/data.json"
status = 200

[[redirects]]
from = "/*"
to = "/404"
status = 404

[[edge_functions]]
function = "webinars-register"
path = "/api/webinars/register"

[[context.production.plugins]]
  package = "@netlify/plugin-lighthouse"

  [context.production.plugins.inputs]
    # This option runs the plugin on a locally served version instead of a deploy permalink,
    # fixing an issue where a Netlify header would impact SEO score (https://github.com/netlify/netlify-plugin-lighthouse/issues/593).
    # Despite the name, it doesn't actually fail deploys, unless the 'threshold' option is also set.
    fail_deploy_on_score_thresholds = "true"
