[build]
ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF"

[context.production]
command = "pnpm run build-ci-prod"
publish = "dist/static"

[context.live-temp]
command = "pnpm run build-ci-prod"
publish = "dist/static"

[context.master]
command = "pnpm run build-ci-staging"
publish = "dist/dynamic"

[context.development]
command = "pnpm run build-ci-dev"
publish = "dist/dynamic"

[[redirects]]
from = "/discord"
to = "https://discord.com/invite/typedb"
status = 303

[[redirects]]
from = "https://typedb.com/docs/*"
to = "https://typedb-docs.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://live-temp.typedb.com/docs/*"
to = "https://typedb-docs.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://master.typedb.com/docs/*"
to = "https://typedb-docs.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://development.typedb.com/docs/*"
to = "https://development--typedb-docs.netlify.app/:splat"
status = 200

[[redirects]]
from = "https://typedb.com/typedb/2.x/overview.html"
to = "https://typedb.com/docs/typedb/2.x/overview.html"
status = 301
force = true

[[redirects]]
from = "https://live-temp.typedb.com/typedb/2.x/overview.html"
to = "https://live-temp.typedb.com/docs/typedb/2.x/overview.html"
status = 301
force = true

[[redirects]]
from = "https://master.typedb.com/typedb/2.x/overview.html"
to = "https://master.typedb.com/docs/typedb/2.x/overview.html"
status = 301
force = true

[[redirects]]
from = "https://development.typedb.com/typedb/2.x/overview.html"
to = "https://development.typedb.com/docs/typedb/2.x/overview.html"
status = 301
force = true

[[redirects]]
from = "https://live-temp.typedb.com/*/data.json"
to = "https://live-temp.typedb.com/data.json"
status = 200

[[redirects]]
from = "https://typedb.com/*/data.json"
to = "https://typedb.com/data.json"
status = 200

[[redirects]]
from = "https://typedb.com/*"
to = "https://typedb.com/index.html"
status = 200

[[redirects]]
from = "https://live-temp.typedb.com/*"
to = "https://live-temp.typedb.com/index.html"
status = 200

[[redirects]]
from = "https://master.typedb.com/*"
to = "https://master.typedb.com/index.html"
status = 200

[[redirects]]
from = "https://development.typedb.com/*"
to = "https://development.typedb.com/index.html"
status = 200

[[edge_functions]]
function = "webinars-primary"
path = "/api/webinars/primary"

[[edge_functions]]
function = "webinars-register"
path = "/api/webinars/register"
