@import "../../styles/sizes";
@import "../background";

article {
    @include page-background("typedp_02june_1 (2) 1.png", "planet-magenta.png");
}

.ip-long-text {
    @media (min-width: $media-min-width-tablet) {
        columns: 2;
    }
}
