@use "colors";
@use "media";
@use "shapes";
@import "mixins";

:host {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: var(--border-radius);
    height: 270px;

    @media (max-width: media.$max-width-mobile) {
        flex-direction: column;
    }
}

.ff-cell {
    @include card-padding;

    &.text-h2 {
        line-height: 27px;

        @media (max-width: media.$max-width-mobile) {
            line-height: 15px;
            margin-bottom: 4px;
        }
    }
}

.ff-content-cell {
    border-radius: var(--border-radius);
    border: 1px solid colors.$light-purple;
    @include light-source-gradient(colors.$purple, colors.$black-purple);
    transition: background 100ms ease, flex 300ms ease-in-out, transform 100ms ease;
    cursor: pointer;
    flex: 1;
    //transform-origin: center;

    &:hover {
        @include light-source-gradient(rgba(colors.$light-purple, 0.6), colors.$deep-purple);
        //transform: scale(1.1);
    }
}

.ff-gap + .ff-cell {
    @media (min-width: media.$min-width-tablet) {
        border-left: 1px solid var(--content-border-color);
    }

    @media (max-width: media.$max-width-mobile) {
        border-top: 1px solid var(--content-border-color);
    }
}

td-rich-text {
    margin-top: 24px;
    //max-height: 182px;
    //overflow: hidden;

    @media (min-width: media.$min-width-tablet) and (max-width: media.$max-width-tablet) {
        margin-top: 16px;
    }

    @media (max-width: media.$max-width-mobile) {
        margin-top: 12px;
    }
}
