@use "media";

td-actions {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    margin-top: 40px;

    > td-button:first-child > a.button-frameless {
        padding-left: 0;
    }

    @media (max-width: media.$max-width-mobile) {
        margin-top: 32px;
    }
}
