@import "src/styles/sizes";

:host {
    position: relative;
    background-image: url("/assets/background/deep-space.webp");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: repeat;
}

.pb-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
}

.pb-nebula {
    margin-top: 30px;
    width: $section-width * 1.5;
    flex-grow: 1;

    @media (max-width: $media-max-width-tablet) {
        width: $section-width-tablet * 1.5;
        max-width: calc((100vw - $section-padding-tablet * 2) * 1.5);
    }

    @media (max-width: $media-max-width-mobile) {
        width: $section-width-mobile * 2;
        max-width: calc((100vw - 24px) * 2);
        margin-right: -15%;
    }

    img {
        width: 100%;
    }
}

.pb-planet {
    width: $section-width * 1.5;
    flex-grow: 1;
    position: relative;

    @media (max-width: $media-max-width-tablet) {
        width: $section-width-tablet * 1.5;
        max-width: calc((100vw - $section-padding-tablet * 2) * 1.5);
    }

    @media (max-width: $media-max-width-mobile) {
        width: $section-width-mobile * 2;
        max-width: calc((100vw - 24px) * 2);
    }

    img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
}
