@use "media";

:host {
    position: relative;
}

.pb-container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
}

.pb-nebula, .pb-planet {
    width: 100%;
    flex-grow: 1;
    position: relative;

    @media (max-width: media.$max-width-tablet) {
        width: 1024px;
    }

    @media (max-width: media.$max-width-mobile) {
        width: 768px;
    }

    img {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
    }

    video {
        position: absolute;
        width: 100%;
        inset: auto 0;
    }
}

.pb-nebula {
    @media (max-width: media.$max-width-mobile) {
        &-cloud {
            margin-right: -140px;
        }
        &-features {
            margin-right: -340px;
        }
        &-home {
            margin-right: -140px;
        }
        &-intro {
            margin-right: -440px;
        }
        &-solutions {
            margin-right: -140px;
        }
        &-studio {
            margin-right: -240px;
        }
    }

    img {
        top: 0;
    }
}

.pb-planet {
    img {
        bottom: 0;
    }
}
