@import "colors";
@import "sizes";

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--content-border-color);
    background: var(--color-primary-purple);
}

a,
a:visited,
a p {
    color: var(--color-primary-white);

    &:hover,
    &:focus {
        color: var(--color-primary-green);
        text-decoration: underline;
    }
}

a:hover p,
a:focus p {
    color: var(--color-primary-green);
}

.ft-section {
    // TODO: for some reason @include section-width($offset: 0px) doesn't work here
    width: var(--section-width);
    max-width: var(--section-max-width);
    padding: 40px 0;

    @media (max-width: $media-max-width-mobile) {
        padding: 24px 0;
    }

    &:not(:first-child) {
        border-top: 1px solid var(--content-border-color);
    }
}

.ft-social-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $media-max-width-mobile) {
        flex-direction: column;
        gap: 24px;

        ::ng-deep td-button a {
            width: 100%;
        }
    }
}

.ft-social-links {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 48px;

    @media (max-width: $media-max-width-mobile) {
        align-self: stretch;
        justify-content: center;
        height: 32px;
    }

    .mat-icon {
        color: var(--color-primary-white);
        font-size: 48px;

        @media (max-width: $media-max-width-mobile) {
            font-size: 32px;
        }
    }
}

.ft-nav-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 32px 104px;

    ul,
    li {
        list-style: none;
    }
}

.ft-contact-section {
    ul {
        margin-top: 32px;
    }

    li:not(:first-child) {
        margin-top: 12px;
    }

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }
}

.ft-sitemap-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 104px;

    @media (max-width: $media-max-width-tablet) {
        gap: 72px;
    }

    @media (max-width: $media-max-width-mobile) {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 32px 24px;
    }

    ul {
        margin-top: 34px;

        @media (max-width: $media-max-width-tablet) {
            margin-top: 32px;
        }

        @media (max-width: $media-max-width-mobile) {
            margin-top: 16px;
            width: 144px;
        }
    }

    li:not(:first-child) {
        margin-top: 20px;

        @media (max-width: $media-max-width-mobile) {
            margin-top: 12px;
        }
    }
}

.ft-copyright-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: $media-max-width-mobile) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
    }
}

.ft-credits {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    line-height: 22px;

    .mat-icon {
        font-size: 16px;
    }

    .ft-icon-code {
        color: var(--color-primary-green);
    }

    .ft-icon-heart {
        color: var(--color-primary-red);
    }

    .ft-logo-vaticle {
        width: 52px;
        height: unset;
    }

    strong {
        margin-bottom: 2px;
    }
}
