<footer *ngIf="footer">
  <div class="ft-section ft-social-section">
    <td-button [button]="footer.button"></td-button>
    <div class="ft-social-links">
      <a *ngFor="let socialMediaLink of socialMediaLinks" class="sm-panel" target="_blank" [href]="socialMediaLink.link.destination">
        <span class="cdk-visually-hidden">{{ socialMediaLink.text }}</span>
        <mat-icon [svgIcon]="socialMediaLink.svgIcon" />
      </a>
    </div>
  </div>
  <nav class="ft-section ft-nav-section">
    <div class="ft-contact-section">
      <h3>{{ footer.contactSectionTitle }}</h3>
      <ul>
        <li *ngFor="let contactMediaLink of contactMediaLinks">
          <a [tdLink]="contactMediaLink.link">
            <mat-icon [svgIcon]="contactMediaLink.svgIcon" class="td-icon-large" />
            <p>{{ contactMediaLink.text }}</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="ft-sitemap-section">
      <div *ngFor="let column of footer.columns">
        <h3>{{ column.title }}</h3>
        <ul>
          <li *ngFor="let item of column.items">
            <a [tdLink]="item">{{ item.text }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="ft-section ft-copyright-section">
    <aside>
      © {{ copyrightYear }} Vaticle Ltd
      <br />
      Vaticle™, TypeDB™ and TypeQL™ are trademarks of Vaticle Ltd
    </aside>
    <aside class="ft-credits">
      <span class="cdk-visually-hidden"> Made </span>
      <mat-icon svgIcon="code" class="ft-icon-code" />
      with
      <span class="cdk-visually-hidden"> love </span>
      <mat-icon svgIcon="heart" class="ft-icon-heart" />
      by
      <img src="/assets/logo/vaticle-text-only.svg" alt="Vaticle" class="ft-logo-vaticle" />
    </aside>
  </div>
</footer>
