@use "colors";
@use "media";

:host {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 16px;
    margin-top: 16px;

    &[size="medium"] {
        margin-top: 24px;

        @media (max-width: media.$max-width-mobile) {
            margin-top: 16px;
        }
    }
}

.bp-author {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.bp-avatar-container {
    flex-shrink: 0;
    position: relative;
    border: 1px solid var(--content-border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.bp-avatar {
    display: block;
    width: 56px;
    height: 56px;

    &.bp-avatar-small {
        width: 40px;
        height: 40px;
    }

    @media (max-width: media.$max-width-mobile) {
        width: 40px;
        height: 40px;

        &.bp-avatar-small {
            width: 32px;
            height: 32px;
        }
    }
}

.bp-avatar-cover {
    display: none;

    position: absolute;
    inset: 0;
    opacity: 0;
    background: rgba(colors.$black-purple, 0.4);
    color: var(--color-white);
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.bp-author-text {
    flex: 1;
    width: 0;

    > p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (hover: hover) {
    a.bp-author {
        .bp-avatar-cover {
            display: flex;
        }

        &:hover {
            color: var(--color-green);

            .bp-avatar-container {
                border-color: var(--color-green);
            }

            .bp-avatar-cover {
                opacity: 1;
            }

            .bp-author-name {
                color: inherit;
            }
        }
    }
}

@media (max-width: media.$max-width-tablet) {
    a.bp-author {
        color: var(--color-green);

        .bp-author-name {
            color: inherit;
        }
    }
}
