@use "colors";
@use "media";

:host {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 16px;
    margin-top: 16px;

    &[size="medium"] {
        margin-top: 24px;

        @media (max-width: media.$max-width-mobile) {
            margin-top: 16px;
        }
    }
}

.bp-post-date {
    flex-shrink: 0;
}
