@use "media";

:host {
    height: 72px;
    margin-bottom: 8px;

    @media (max-width: media.$max-width-mobile) {
        height: 54px;
        margin-bottom: 0;
    }

    &.bn-variant-post-page {
        height: 58px;
        margin-bottom: 40px;

        @media (max-width: media.$max-width-mobile) {
            height: 40px;
        }
    }
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    list-style: none;
    border-bottom: 1px solid var(--content-border-color);
    white-space: nowrap;

    @media (min-width: media.$min-width-tablet) {
        justify-content: space-around;
    }

    @media (max-width: media.$max-width-mobile) {
        gap: 8px;
    }

    h3 {
        font-weight: var(--font-weight-semi-bold);
    }
}

a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;

    &:hover {
        color: var(--color-green);
        text-decoration: underline;
    }

    &.td-active {
        color: var(--color-green);
    }
}
