@use "media";

:host {
    height: 72px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--content-border-color);

    @media (max-width: media.$max-width-mobile) {
        height: 54px;
        margin-bottom: 0;
    }

    &.bn-variant-post-page {
        height: 58px;
        margin-bottom: 40px;

        @media (max-width: media.$max-width-mobile) {
            height: 40px;
        }
    }
}

td-scroll-shadow {
    height: 100%;
    --shadow-size: 24px;
}

ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style: none;
    white-space: nowrap;

    @media (max-width: media.$max-width-mobile) {
        padding: 0 8px;
    }

    li {
        flex: 1;
    }

    h3 {
        font-weight: var(--font-weight-semi-bold);
    }
}

a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;

    @media (max-width: media.$max-width-mobile) {
        padding: 0 16px;
    }

    &:hover {
        color: var(--color-green);
        text-decoration: underline;
    }

    &.td-active {
        color: var(--color-green);
    }
}
