@use "media";
@import "mixins";

hr {
    margin: 0;
}

.bp-blog-list ::ng-deep a:hover {
    h1,
    h2,
    h3 {
        color: var(--color-green);
        text-decoration: underline;
    }
}

.bp-title-section {
    margin-top: 160px;

    @media (max-width: media.$max-width-mobile) {
        margin-top: 54px;
    }
}

::ng-deep .rt-reading-time {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

.bp-posts-row {
    padding: 40px 0;
    border-bottom: 1px solid var(--content-border-color);
}

.bp-resource-panels-row {
    padding: 24px 0 40px;
    border-bottom: 1px solid var(--content-border-color);
}

.bp-primary-post {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 40px;

    @media (max-width: media.$max-width-tablet) {
        gap: 32px;
    }

    @media (max-width: media.$max-width-mobile) {
        display: block;
    }

    .bp-primary-img-link {
        flex: 0 0 60%;

        @media (max-width: media.$max-width-mobile) {
            flex-basis: auto;
        }
    }

    .bp-post-title {
        @include line-clamp(3);
    }
}

.bp-post-title {
    font-weight: var(--font-weight-bold);
    margin-top: 12px;

    &.bp-primary-post-title {
        margin-top: 12px;
    }

    a:hover {
        color: var(--color-green);
        text-decoration: underline;
    }
}

.bp-primary-post-description {
    font-weight: var(--font-weight-light);
    margin-top: 16px;
    @include line-clamp(5);

    @media (max-width: media.$max-width-tablet) {
        margin-top: 8px;
    }
}

.bp-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-top: 16px;

    @media (max-width: media.$max-width-mobile) {
        gap: 8px;
    }

    h3 {
        font-weight: var(--font-weight-semi-bold);
    }
}

.bp-avatar {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid var(--content-border-color);
    border-radius: var(--border-radius);

    @media (max-width: media.$max-width-mobile) {
        width: 32px;
        height: 32px;
    }
}

td-aspect-ratio {
    border: 1px solid var(--content-border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.bp-img {
    transition: transform 250ms ease;

    &:hover {
        transform: scale(1.015);
    }
}

.bp-secondary-posts {
    @media (min-width: media.$min-width-tablet) {
        display: flex;
        gap: 40px;
    }
}

.bp-secondary-post {
    flex: 0 0 calc(50% - 20px);
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: media.$max-width-mobile) {
        display: block;

        & + .bp-secondary-post {
            margin-top: 40px;
        }
    }

    .bp-post-title {
        @include line-clamp(2);
    }
}

.bp-secondary-post-summary {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bp-secondary-post-description {
    font-weight: var(--font-weight-light);
    margin-top: 16px;
    @include line-clamp(4);
}

.bp-posts-list-section {
    padding: 40px 0;
}

.bp-posts-list {
    list-style: none;
}

.bp-tertiary-post {
    @media (min-width: media.$min-width-tablet) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}

.bp-img-tertiary-container {
    flex: 11;
    display: flex;
    gap: 12px;
}

.bp-tertiary-img-link,
.bp-img-tertiary {
    width: 100%;
    flex-shrink: 0;
}

.bp-post-text-tertiary {
    flex: 21;
    display: flex;
    flex-direction: column;
    margin-top: 2px;

    .bp-post-title {
        @include line-clamp(1);
    }

    .bp-tertiary-post-description {
        font-weight: var(--font-weight-light);
        margin-top: 12px;
        @include line-clamp(3);
    }
}

td-heading-with-highlights + td-resource-panels {
    display: block;
    margin-top: 24px;
}
