@use "media";

:host {
    font-weight: var(--font-weight-semi-bold);
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 4px;

    a {
        padding: 2px 8px;
        background: var(--color-purple);
        border: 1px solid var(--content-border-color);
        border-radius: var(--border-radius);
        color: var(--color-secondary-pink);
    }

    @media (max-width: media.$max-width-mobile) {
        margin-top: 16px;
    }
}
