@import "colors";
@import "sizes";

.ol-root {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    @media (max-width: $media-max-width-tablet) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media (max-width: $media-max-width-mobile) {
        padding-left: 12px;
        padding-right: 12px;
    }

    &.ol-root-panel {
        padding: 48px 72px;
        border: 1px solid var(--content-border-color);
        background: var(--color-primary-purple);

        @media (max-width: $media-max-width-tablet) {
            padding: 32px;
        }

        @media (max-width: $media-max-width-mobile) {
            padding: 12px;
        }
    }

    &.ol-root-transparent {
        gap: 42px;
        width: 600px;
        opacity: 0.8;
    }
}

.ol-image {
    max-height: 66px;
    min-width: 0;

    @media (max-width: $media-max-width-mobile) {
        height: 34px;

        &:nth-child(n + 4) {
            display: none;
        }
    }
}
