@import "../../styles/colors";
@import "../../styles/sizes";

.ol-root {
    border-radius: $border-radius;
    padding-left: 72px;
    padding-right: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $media-max-width-mobile) {
        padding-left: 12px;
        padding-right: 12px;
    }

    &.ol-root-panel {
        height: 162px;
        padding-top: 48px;
        padding-bottom: 48px;
        border: 1px solid $color-vaticle-light-purple;
        background: $color-vaticle-purple;

        @media (max-width: $media-max-width-mobile) {
            height: 58px;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}

.ol-image {
    margin: auto;
    height: 66px;

    @media (max-width: $media-max-width-mobile) {
        height: 34px;

        &:nth-child(n+4) {
            display: none;
        }
    }
}
