@import "../../styles/colors";
@import "../../styles/sizes";

.ci-root {
    display: flex;
    gap: 64px;
}

.ci-illustration {
    flex: 0 0 700px;
    padding: 16px;
}

td-illustration {
    width: 100%;
}
