@import "../../styles/colors";
@import "../../styles/sizes";

.ci-root {
    display: flex;
    gap: 64px;
}

.ci-illustration {
    width: 700px;
    padding: 16px;
    background: $color-vaticle-purple;
    border-radius: $border-radius;
    border: 1px solid $color-vaticle-light-purple;
}

td-illustration {
    width: 100%;
}
