<div class="section ci-root">
    <div class="ci-illustration">
        <div class="ci-illustration-header">
            <img src="/assets/graphic/macos-window-traffic-lights.svg" alt="" />
        </div>
        <td-illustration
            class="il-image-illustration il-dynamic-height"
            [illustration]="illustration"
            [visible]="true"
        ></td-illustration>
        <div class="ci-illustration-footer"></div>
    </div>
    <td-rich-text [value]="caption" class="text-m"></td-rich-text>
</div>
