@import "../../styles/colors";
@import "../../styles/sizes";

:host {
    display: block;
    border-radius: $border-radius;
    position: relative;

    &:not(.il-dynamic-height) {
        height: 464px;
    }

    &:not(.sp-pane) {
        border: 1px solid $color-vaticle-light-purple;
    }
}
