@import "../../styles/colors";
@import "../../styles/sizes";

:host {
    display: block;
    border-radius: $border-radius;
    height: 464px;

    &:not(.sp-pane) {
        border: 1px solid $color-light-purple;
    }
}
