@import "../../styles/colors";
@import "../../styles/sizes";

:host {
    display: block;
    border-radius: $border-radius;
    position: relative;

    &.il-image-illustration {
        border-radius: 0;
    }

    &:not(.il-dynamic-height) {
        height: 464px;

        @media (max-width: $media-max-width-mobile) {
            height: 214px;
        }
    }

    &:not(.sp-pane) {
        border: 1px solid $color-vaticle-light-purple;
    }
}

.il-image {
    display: block;
    width: 100%;
}
