<article>
    <div *ngIf="webinar">
        <section class="page-section page-intro-section">
            <h1 class="text-xxl">{{ webinar.title }}</h1>
            <ul class="wd-subtitle text-l text-margin-l">
                <li>Webinar</li>
                <li><img src="/assets/icon/calendar.svg" alt="Date/Time:"/> {{ webinar.datetime | ordinalDate }}, {{ webinar.datetime | date:"shortTime" }} {{ localTimezoneAbbreviation }}</li>
                <li><img src="/assets/icon/time.svg" alt="Duration:"/> {{ webinar.durationMins | eventDuration }}</li>
            </ul>
            <div class="subsection-margin wd-details-area">
                <div>
                    <td-rich-text class="text-m" [value]="webinar.description"></td-rich-text>
                    <ul class="wd-speakers subsection-margin">
                        <li *ngFor="let speaker of webinar.speakers" class="wd-speaker">
                            <img [src]="speaker.headshotURL" alt=""/>
                            <div>
                                <h3 class="text-s">{{ speaker.name }}</h3>
                                <p class="text-xxs text-quiet">{{ speaker.jobTitle }},<br>{{ speaker.organisation.name }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card wd-form-card">
                    <h2 class="text-m"><strong>{{ webinar.isFinished() ? 'Watch Webinar' : 'Register to Webinar' }}</strong></h2>
                    <div id="hubspot-form-holder" (submit)="onSubmit()"></div>
                    <p *ngIf="webinar.isFinished() && !webinar.onDemandVideoURL">Sorry, this webinar is not available on-demand yet. Please try again later.</p>
                    <p class="text-margin-l" *ngIf="!webinar.isFinished() || webinar.onDemandVideoURL">By submitting your personal data, you consent to emails from Vaticle. See our <a href="/privacy-policy" target="_blank">Privacy Policy</a>.</p>
                </div>
            </div>
        </section>
        <ng-container *ngIf="webinar.furtherReading">
            <td-technicolor-block [block]="webinar.furtherReading" [index]="1" [noLeadingLine]="true"></td-technicolor-block>
            <td-link-panels [panels]="webinar.furtherReading.links" [cols]="3"></td-link-panels>
        </ng-container>
    </div>
</article>
