@import "../../styles/sizes";
@import "../../styles/colors";
@import "../background";

article {
    @include page-background("features_02june 1.png", "planet-yellow-green.png");
}

ul.wd-subtitle {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px 0;

    li:not(:last-child):after {
        content: "|";
        margin: 0 24px;

        @media (max-width: $media-max-width-mobile) {
            margin: 0 8px;
        }
    }

    img {
        margin-right: 8px;

        @media (max-width: $media-max-width-mobile) {
            width: 16px;
            height: 16px;
        }
    }
}

.wd-details-area {
    text-align: start;

    @media (min-width: $media-min-width-tablet) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 40px;

        > * {
            flex: 1;
        }
    }
}

ul.wd-speakers {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.wd-speaker {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    img {
        width: 88px;
        height: 88px;
        border: 1px solid $color-vaticle-light-purple;
        border-radius: $border-radius;

        @media (max-width: $media-max-width-mobile) {
            width: 54px;
            height: 54px;
        }
    }

    h3 {
        font-weight: $font-weight-semi-bold;
    }
}

.wd-speaker-job {
    margin-top: 2px;
}

.wd-form-card {
    padding: 32px;

    form {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
    }

    td-button {
        margin-top: 32px;
    }

    @media (max-width: $media-max-width-mobile) {
        margin-top: 32px;
        padding: 12px;
    }
}

#hubspot-form-holder {
    margin-top: $text-margin-m;
}
