<article tdPageBackground nebula="features" planet="blue_pink">
  <div *ngIf="webinar" class="article-content">
    <section class="page-section page-intro-section">
      <td-heading-with-highlights [value]="webinar.title" level="h1" />
      <ul class="wd-subtitle text-p1">
        <li>Webinar</li>
        <li>
          <mat-icon svgIcon="calendar" />
          <span class="cdk-visually-hidden">Date/Time:</span>
          <span *ngIf="webinar.isFinished()">On-Demand</span>
          <span *ngIf="!webinar.isFinished()">
            {{ webinar.datetime | ordinalDate }},
            {{ webinar.datetime | date: "shortTime" }}
            {{ localTimezoneAbbreviation }}
          </span>
        </li>
        <li>
          <mat-icon svgIcon="time" />
          <span class="cdk-visually-hidden">Duration:</span>
          {{ webinar.durationMins | eventDuration }}
        </li>
      </ul>
      <div class="subsection-margin wd-details-area">
        <div class="card wd-form-card">
          <h3>
            <strong>{{ webinar.isFinished() ? "Watch Webinar" : "Register for Webinar" }}</strong>
          </h3>
          <div id="hubspot-form-holder"></div>
          <p class="text-weight-light">
            By submitting your personal data, you consent to emails from Vaticle. See our
            <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
          </p>
          <mat-progress-bar *ngIf="isSubmitting" mode="indeterminate" />
        </div>
        <div>
          <td-rich-text [value]="webinar.description" />
          <ul class="wd-speakers subsection-margin">
            <li *ngFor="let speaker of webinar.speakers">
              <td-person-info [person]="speaker" />
            </li>
          </ul>
        </div>
      </div>
    </section>
    <ng-container *ngIf="webinar.furtherReading">
      <td-technicolor-block [block]="webinar.furtherReading" [index]="1" [noLeadingLine]="true" />
      <td-link-panels [panels]="webinar.furtherReading.links" [cols]="3" />
    </ng-container>
  </div>
</article>
