@import "../../styles/sizes";
@import "../../styles/colors";

ul.wd-subtitle {
    margin-top: 32px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 24px;

    @media (max-width: $media-max-width-tablet) {
        margin-top: 24px;
    }

    @media (max-width: $media-max-width-mobile) {
        margin-top: 16px;
        gap: 8px;
    }

    li:not(:last-child):after {
        content: "|";
        margin-left: 24px;

        @media (max-width: $media-max-width-mobile) {
            margin-left: 8px;
        }
    }

    img {
        margin-right: 16px;

        @media (max-width: $media-max-width-mobile) {
            margin-right: 8px;
            width: 16px;
            height: 16px;
        }
    }
}

.wd-details-area {
    text-align: start;
}

ul.wd-speakers {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.wd-form-card {
    margin-bottom: 32px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $media-min-width-tablet) {
        width: 560px;
        max-width: 50%;
        float: right;
        margin-left: 32px;
    }

    @media (max-width: $media-max-width-mobile) {
        padding: 12px;
        gap: 12px;
    }
}
