# the fontawesome authToken is hardcoded here (as opposed to being read from an env variable)
# because we are not concerned about exposing it, considering the developer productivity we gain
# by having it hardcoded
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=3E5136A5-AB66-4C98-9EBF-5CD7CEF4F26D